<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="ls.locale.pengaturan.pengaturan_otp.text2">
  </page-content-header>

  <div class="content p-24" *ngIf="!onLoad">
    <div class="ayo-main-wrapper mat-bg-white">
      <mat-divider></mat-divider>
      <div class="ayo-content-middle pb-48">

        <div *ngFor="let otp of otpSettings;let otpIdx = index;">
          <div class="faq" fxLayout="row wrap">
            <div class="title" fxFlex="100">{{otp.platform | toCapitalize}}</div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="30" *ngFor="let items of otp.action; let i = index;"
              [ngClass]="i%3 !== 2 ? 'line' : ''">
              <div class="question">{{items.nama | toCapitalize}}</div>
              <div class="answer">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="25" *ngFor="let item of items.value;let itemIdx = index;">
                    <div class="access-name">{{item.nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="item.value"
                      (change)="onToggleChange(otpIdx, i, itemIdx)">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isDetail" class="confirm pl-16 pt-8 pb-24" fxLayout="row">
        <button mat-raised-button type="password" type="button" class="confirmation-button" fxFlex="25"
          (click)="submit()">
          {{ ls.locale.global.button.save }}
        </button>
      </div>
    </div>
  </div>
</div>