<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="m-0" fxFlex="1 0 auto" fxLayout="row">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span>{{'global.label.upload' | translate}} {{fileType == 'video' ? ('global.label.video' | translate) : ('global.label.image2' | translate)}}</span>
      </div>

    </div>
    <!-- CLOSE DIALOG BUTTON -->
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog">
      <mat-icon>close</mat-icon>
    </button>
    <!-- / CLOSE DIALOG BUTTON -->

  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <div id="upload-image" ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files" accept="image/*"
      [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag" *ngIf="fileType == 'image'">
      <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon id="btnUploadImage" class="secondary-text s-48">add_photo_alternate_outline</mat-icon>
        <br>
        <span matPrefix [innerHTML]="('iklan_dalam_aplikasi.spanduk_online.drag_image' | translate)">
        </span>
        <span matPrefix>{{'dte.template_tugas.text38' | translate}}</span>
      </div>
    </div>
    <div id="upload-video" ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files" accept="video/mp4"
      [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag" *ngIf="fileType == 'video'" (fileChange)="onSelectFile($event)">
      <div class="p-24" fxLayout="column" fxLayoutAlign="center center" >
        <mat-icon id="btnUploadVideo" class="secondary-text s-48">add_photo_alternate_outline</mat-icon>
        <br>
        <span matPrefix [innerHTML]="('global.label.drag_video_or_select' | translate)">
        </span>
        <span matPrefix>{{'global.label.format_video_landscape' | translate}}</span>
      </div>
    </div>

    <div *ngIf="files && ['image/gif','image/png','image/jpeg'].indexOf(files.type) > -1" class="pt-48 pb-16">
      <div class="">
        <div class="deleteBanner">
          <mat-icon style="cursor: pointer;" (click)="removeImage()">cancel_outline</mat-icon>
        </div>
        <div class="previewBanner" [ngfBackground]="files"></div>
      </div>
    </div>
    <div *ngIf="files && files.type.indexOf('video') > -1" class="pt-48 pb-16">
      <div class="">
        <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video>
        <div fxLayout="column">
          <div>{{'global.label.name' | translate}}: {{files.name? files.name : '-'}}</div>
          <div>{{'global.label.type' | translate}}: {{files.type? files.type : '-'}}</div>
          <div>{{'global.label.size' | translate}}: {{files.size? files.size/1000000 + ' MB' : '-'}}</div>
          <mat-error *ngIf="files.size > 50000000">{{'global.label.video_size_limit' | translate}}</mat-error>
        </div>
      </div>
    </div>
  </div>

  <div class="border-top">
    <div class="p-16">
      <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
        fxFlex="1 0 auto">
        <button id="btnPilihUpload" type="button" mat-raised-button color="primary" (click)="submit()" [disabled]="!files">{{'global.label.select' | translate}}</button>
        <button id="btnBatalUpload" type="button" mat-stroked-button color="primary" (click)="onSelectFile(files)">{{'global.button.cancel' | translate}}</button> 
        <!-- dialogRef.close() -->
      </div>
    </div>
  </div>
</div>
