.rounded {
    border-radius: 8px;
}

.textbox-search {
    border: 1px solid #ececec;
    padding: 8px 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.icon-search {
    background-color: #eeeeee;
    height: 37.7px;
    width: 42px;
    top: -0.5px;
    position: relative;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mat-icon-search {
    position: relative;
    top: 8px;
}

mat-form-field.orders.dropdown {
    &.mat-form-field-infix {
        border-radius: 8px !important;
    }
}

.custom-select .mat-select-placeholder {
    color: rgba(black, 0.70) !important;
    font-size: .8em;
}

.custom-field .mat-form-field-label {
    visibility: hidden;
}

// mat-form-field.custom-field {
//     min-width: 150px !important;
//     max-width: 150px !important;

//     .mat-form-field-infix {
//         border-radius: 8px !important;
//         min-width: 150px !important;
//         max-width: 150px !important;
//     }
// }

.spv-icon {

    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;

    &.approve {
        background-color: #2ecc71;
    }

    &.reject {
        background-color: #e74c3c;
    }

    >.mat-button-wrapper {
        >.mat-icon {
            width: 18px !important;
            height: 18px !important;
            font-size: 18px !important;
            color: #ecf0f1;
        }
    }
}

.clickable {
    cursor: pointer;
}

.verified {
    color: #2ecc71;
}

.rejected {
    color: #e74c3c;
}

ngx-datatable.material.rounded {
    box-shadow: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

// ::ng-deep mat-form-field.custom-field {
//     min-width: 80px !important;
//     &.mat-form-field-infinix {
//         min-width: 80px !important;
//     }
// }
ngx-datatable {
    .datatable-body-row {
        &.inactive-row {
            position: relative;
        }
        &.inactive-row::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 9;
        }
    }
}

mat-form-field.min-150 {
    min-width: 150 !important;
    padding-bottom: 8px !important;
    &.dropdown {
      .mat-form-field-infix {
        border: 1px solid;
        border-radius: 1px;
        padding: 8px;
        min-width: 150px;
        border-color: #ececec;
      }
  
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
  
      .mat-form-field-underline {
        display: none;
      }
  
      .mat-select-value-text {
        font-size: 0.8em;
      }
    }
  
    &.datepicker {
      .mat-form-field-flex {
        border: 1px solid #ececec;
        max-height: 38px;
        padding: 8px;
        min-width: 150px;
      }
  
      .mat-form-field-infix {
        padding: 0;
        border-top: 0;
      }
  
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
  
      .mat-input-placeholder {
        padding-top: 20px;
        box-sizing: border-box;
      }
  
      .mat-input-element {
        font-size: 0.8em !important;
        font-weight: normal !important;
        padding-bottom: 1px !important;
      }
  
      .mat-form-field-underline {
        display: none;
      }
  
      // .mat-form-field-label-wrapper {
      //   display: none;
      // }
  
      .mat-input-ripple.mat-form-field-ripple {
        background-color: transparent;
      }
  
      .mat-form-field-can-float {
        display: block;
      }
    }
  
    &.status-active {
      .mat-form-field-infix {
        border: 1px solid;
        border-radius: 5px;
        padding: 3px 10px;
        min-width: 100px;
        width: 100px !important;
        border-color: green;
      }
  
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
  
      .mat-form-field-underline {
        display: none;
      }
  
      .mat-select-value-text {
        font-size: 0.8em;
        color: green;
      }
    }
    &.status-nonactive {
      .mat-form-field-infix {
        border: 1px solid;
        border-radius: 5px;
        padding: 3px 10px;
        min-width: 100px;
        width: 100px !important;
        border-color:red;
      }
  
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
  
      .mat-form-field-underline {
        display: none;
      }
  
      .mat-select-value-text {
        font-size: 0.8em;
        color: red;
      }
    }
    &.custom-field {
        min-width: 150px !important;
        max-width: 150px !important;
    
        .mat-form-field-infix {
            border-radius: 8px !important;
            min-width: 150px !important;
            max-width: 150px !important;
        }
    }
  }