<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="TRS Proposal">
    <div class="button-row" fxLayout="row">
      <button (click)="exportProposal()" mat-raised-button type="button" class="">
        <mat-icon>arrow_upward</mat-icon> Export XLS
      </button>
      <button *ngIf="permission.buat" style="width: 170px;" mat-raised-button aria-label="Login" type="button"
        [routerLink]="['/tactical-retail-sales','trs-proposal','create']">
        <mat-icon>add</mat-icon>{{ls.locale.global.button.add}}
      </button>

      <!-- <button style="width: 170px;" mat-raised-button aria-label="Login" type="button" class="is-danger">HAPUS</button> -->
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content" *ngIf="!onLoad">
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
      style="background-color: #585858;" fxLayoutAlign="end center" class="p-16 export">
    </div>
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">

        <h2 class="pl-8" *ngIf="!isShared">TRS Proposal</h2>

        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput [placeholder]="ls.locale.global.label.search" (keyup)="keyUp.next($event.target.value)"
              autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <form [formGroup]="formFilter" autoComplete="off">
        <div fxLayout="row wrap" fxLayout.lt-md="column" class="px-24 pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex="7%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
              <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all' ?
                'Semua
                Zona' :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="7%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name === 'all'
                ? 'Semua
                Regional'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="7%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all' ?
                'Semua
                Area'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="7%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name ===
                'all' ?
                'Semua
                Salespoint'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>


          <div fxFlex="1%" class=""></div>

          <mat-form-field fxFlex="7%" class="orders datepicker is-light">
            <input matInput #date_start [matDatepicker]="date_start" (focus)="date_start.open()" placeholder="{{ls.locale.dte.pengatur_jadwal_program.text5}}"
              formControlName="date_start" (dateChange)="setMinDate(formFilter.get('date_start').value)" readonly>
            <button mat-button *ngIf="formFilter.get('date_start').value" matSuffix mat-icon-button aria-label="Clear"
              (click)="formFilter.get('date_start').setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="date_start">
              <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #date_start></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="7%" class="orders datepicker is-light">
            <input matInput [matDatepicker]="date_end" (focus)="date_end.open()" [min]="minDate"
              placeholder="{{ls.locale.dte.pengatur_jadwal_program.text6}}" formControlName="date_end" readonly>
            <button mat-button *ngIf="formFilter.get('date_end').value" matSuffix mat-icon-button aria-label="Clear"
              (click)="formFilter.get('date_end').setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-datepicker-toggle matSuffix [for]="date_end">
              <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #date_end></mat-datepicker>
          </mat-form-field>

          <div fxFlex="1%" class=""></div>

          <mat-form-field fxFlex="10.5%" class="orders dropdown is-light form-primary">
            <mat-select placeholder="Status TRS Proposal" formControlName="status">
              <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </form>
      <ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows"
        [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
        [rowHeight]="'auto'" [scrollbarH]="true" [offset]="offsetPagination" [reorderable]="reorderable"
        [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
        (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)" [selectionType]="'checkbox'"
        [sorts]="[{prop: 'created_at', dir: 'desc'}]">

        <ngx-datatable-column name="Program Code" prop="program_code">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.program_code }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Area Name" prop="area_name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.area_name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Sales Office" prop="salespoint_name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.salespoint_name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Start Date" prop="start_date">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.start_date }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="End Date" prop="end_date">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.end_date }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Created At" prop="created_at">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.created_at }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Modified At" prop="modified_at">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.updated_at }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Status" prop="status">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.status }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="200" [name]="ls.locale.global.label.action" headerClass="textright"
          [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row pl-8">
              <button mat-icon-button color="" (click)="goDetail(row)" *ngIf="permission.lihat">
                <mat-icon class="secondary-text">visibility</mat-icon>
              </button>
              <button mat-icon-button color="" (click)="goEdit(row)" *ngIf="permission.ubah && row.status != 'finish' && row.status != 'cancel'">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="" (click)="getDetailOrder(row.program_code)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>