<div class="content p-24" *ngIf="!onLoad">
  <div class="table-wrapper">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
      <h2 class="pl-8">Nomor BIN</h2>
      <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>search</mat-icon>
        <mat-form-field class="is-light tab-search">
          <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
        </mat-form-field>
      </div>
    </div>
    <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
      [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
      (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)">

      <ngx-datatable-column name="Perusahaan" prop="name_company">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span class="row-name">{{row.name_company}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="BIN" prop="bin">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.bin}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="100" name="Tindakan" headerClass="textright" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
          style="justify-content: center !important">
          <div class="button-row pl-8">
            <button mat-icon-button color="" matTooltip="Ubah Perusahaan" (click)="directEdit(row)">
              <mat-icon class="secondary-text">edit</mat-icon>
            </button>
            <!-- <button mat-icon-button color="primary" (click)="deleteCompany(row.id)">
              <mat-icon>delete</mat-icon>
            </button> -->
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>