<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Buat {{ dataProps.title }}</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        formControlName="name"
        placeholder="Nama {{ dataProps.title }}"
        required
      />
    </mat-form-field>
    <div *ngIf="condition === true">
      <small class="form-text text-danger" *ngIf="condition === true">
        <p style="color:red"> Nama {{ dataProps.title }} sudah ada, silahkan input nama lain</p>
      </small>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="success" type="submit" >Simpan</button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="dialogRef.close()"
    >
      Batal
    </button>
  </mat-dialog-actions>
</form>
