<div class="dialog-content-wrapper" *ngIf="!onLoad">

  <mat-toolbar matDialogTitle class="m-0" fxFlex="1 0 auto" fxLayout="row">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span>{{'dte.task_verification.list_audience_group' | translate}} ({{data.name}})</span>
      </div>

    </div>
    <!-- CLOSE DIALOG BUTTON -->
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog">
      <mat-icon>close</mat-icon>
    </button>
    <!-- / CLOSE DIALOG BUTTON -->

  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows" [loadingIndicator]="loadingIndicator"
      [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
      [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true"
      [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)" [sorts]="[{prop: 'name', dir: 'asc'}]">
      <ngx-datatable-column name="{{'call_objective.text8' | translate}}" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name="{{'global.label.code' | translate}}" prop="code"></ngx-datatable-column>
      <ngx-datatable-column name="{{'global.label.type' | translate}}" prop="classification"></ngx-datatable-column>
      <ngx-datatable-column name="{{'dte.audience.text16' | translate}}" prop="status">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span *ngIf="row.status === 'active' || row.status === 'inactive'">{{'global.label.yes' | translate}}</span>
          <span *ngIf="row.status === 'not-registered'">{{'global.label.no' | translate}}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
