<div class="page-layout simple fullwidth" fxLayout="column">
  <page-content-header [contentTitle]="ls.locale.field_force.page_title">
    <div class="button-row" fxLayout="row">
      <button
        *ngIf="permission.buat"
        mat-raised-button
        aria-label="Login"
        type="button"
        [routerLink]="['/user-management', 'field-force', 'create']"
      >
        <mat-icon>add</mat-icon>TAMBAH
      </button>
    </div>
  </page-content-header>
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column">
      <div [formGroup]="formFilter">
        <div fxLayout="row" fxLayoutGap="24px grid" class="pt-24 px-24">
          <div fxFlex="80">
            <salestree
              [limit]="areaFromLogin"
              (areaWithKey)="getAreaIds($event)"
            ></salestree>
          </div>
          <mat-form-field class="is-light" fxFlex="20">
            <input
              matInput
              [placeholder]="ls.locale.global.label.search"
              (keyup)="keyUp.next($event.target.value)"
              autocomplete="off"
            />
            <mat-icon matSuffix style="font-size: 20px">search</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="24px grid" class="pt-24 pb-16 px-24">
          <mat-form-field fxFlex="20" class="is-light form-primary">
            <mat-select
              [placeholder]="ls.locale.field_force.app_version"
              formControlName="version"
            >
              <mat-option
                *ngFor="let item of listVersions"
                [value]="item.value"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="20" class="is-light form-primary">
            <mat-select
              [placeholder]="ls.locale.global.label.status"
              formControlName="status"
            >
              <mat-option
                *ngFor="let item of listStatus"
                [value]="item.value"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="20" class="is-light form-primary">
            <mat-select
              [placeholder]="ls.locale.global.label.classification"
              formControlName="classification"
            >
              <mat-option
                *ngFor="let item of listClassification"
                [value]="item.value"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div
        *ngIf="onLoad"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="py-48"
      >
        <mat-spinner
          [strokeWidth]="6"
          [diameter]="50"
          color="accent"
        ></mat-spinner>
      </div>
      <div *ngIf="!onLoad">
        <ngx-datatable
          class="material"
          style="border-top: 1px solid #e3e3e3"
          [rows]="rows"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [offset]="offsetPagination"
          [headerHeight]="48"
          [footerHeight]="56"
          [rowHeight]="'auto'"
          [scrollbarH]="true"
          [reorderable]="reorderable"
          [count]="pagination.total"
          [limit]="pagination.per_page"
          [externalPaging]="true"
          [externalSorting]="true"
          (page)="setPage($event)"
          (sort)="onSort($event)"
        >
          <ngx-datatable-column
            width="250"
            [name]="ls.locale.global.label.name"
            prop="fullname"
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
            >
              <span
                class="row-name"
                [routerLink]="[
                  '/user-management',
                  'field-force',
                  'detail',
                  row.id
                ]"
                >{{ row.fullname }}</span
              >
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [name]="ls.locale.global.label.username"
            [sortable]="false"
            prop="username"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Classification"
            [sortable]="false"
            prop="classification"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [name]="ls.locale.global.area.territory"
            [sortable]="false"
            prop="area_code"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [name]="ls.locale.field_force.app_version"
            [sortable]="false"
            prop="version"
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
              >{{ row.version || "-" }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="115"
            [name]="ls.locale.global.label.status"
            prop="status"
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
            >
              <div
                class="table-btn-label"
                [ngClass]="
                  row.status === 'active' ? 'label-green' : 'label-red'
                "
              >
                {{
                  row.status === "active"
                    ? ls.locale.global.label.active
                    : ls.locale.global.label.inactive
                }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            width="180"
            [name]="ls.locale.global.label.last_login"
            [sortable]="false"
            prop="last_login"
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
            >
              {{ row.last_login | date: "dd/MM/yyyy HH:mm" }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [sortable]="false"
            [name]="ls.locale.global.label.action"
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
            >
              <div class="button-row" style="white-space: nowrap">
                <button
                  mat-icon-button
                  color=""
                  matTooltip="Ubah"
                  [disabled]="!permission.ubah"
                  [routerLink]="[
                    '/user-management',
                    'field-force',
                    'edit',
                    row.id
                  ]"
                >
                  <mat-icon class="secondary-text">edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  matTooltip="Hapus"
                  [disabled]="!permission.hapus"
                  (click)="delete(row.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
