<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Daftar Field Force'">
    <div class="button-row" fxLayout="row">
      <!-- <button style="width: 170px;" mat-raised-button aria-label="Login" type="button" [routerLink]="['/user-management','field-force','create']">
        <mat-icon>add</mat-icon>TAMBAH
      </button>
      <button style="width: 170px;" mat-raised-button aria-label="Login" type="button" class="is-danger">HAPUS</button> -->
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">Daftar Field Force</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <form [formGroup]="formFilter" autoComplete="off">
        <div fxLayout="row wrap" fxLayout.lt-md="column" class="px-24 pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="National" formControlName="national">
              <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Zone" formControlName="zone" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Zona' :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Regional" formControlName="region" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Regional'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Area" formControlName="area" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Area'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Salespoint" formControlName="salespoint" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name === 'all' ?
                'Semua
                Salespoint'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="District" formControlName="district" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                District'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Territory" formControlName="territory" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Territori'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayout.lt-md="column" class="px-24 pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
          style="margin-bottom: 25px;">
          <mat-form-field fxFlex="20" class="is-light form-primary">
            <mat-select placeholder="Apps Version" [formControl]="version">
              <mat-option *ngFor="let item of listVersions" [value]="item.version">{{item.version}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="20" class="is-light form-primary">
            <mat-select placeholder="Status" [formControl]="status">
              <mat-option *ngFor="let item of listStatus" [value]="item.value">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows"
        [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
        [rowHeight]="'auto'" [scrollbarH]="true" [offset]="offsetPagination" [reorderable]="reorderable"
        [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
        (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)">

        <!-- <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Nama" prop="fullname">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <a class="direct-edit" (click)="directDetail(row)">{{row.fullname}} </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID Karyawan" prop="id_number" summary-template="activeCell">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{ row.id_number || '-' }}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Teritori" prop="area_code" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.area_code}}</ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Apps Version" prop="version" summary-template="activeCell" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.version || '-'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="100" name="Status" prop="status">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container">
              <p class="status text-truncate h6 p-4"
                style="min-width: 100px !important;min-height: 20px;text-align: center;font-size: .9em;border-radius: 3px;"
                [ngClass]="row.status == 'active' ? 'mat-green-800-bg' : 'mat-red-900-bg'">
                {{row.status == 'active' ? 'Aktif' : 'Tidak Aktif'}}
              </p>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Terakhir Masuk" prop="last_login" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.last_login | date:'dd/MM/yyyy HH:mm'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="deleteFf(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>