<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h2 class="">Pengaturan Waktu Tunggu</h2>

  <mat-dialog-content>

    <mat-form-field style="width: 100%">
      <input matInput type="text" (keypress)="numberOnly($event)" formControlName="time" placeholder="Waktu Tunggu" />
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-select placeholder="Type" formControlName="type">
        <mat-option value="day">Hari</mat-option>
        <mat-option value="week">Minggu</mat-option>
        <mat-option value="hour">Jam</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>
  <br><br>
  <mat-dialog-actions>
    <button mat-raised-button color="success" type="submit" [disabled]="data && data.isDetail">Simpan</button>
    <button mat-raised-button color="warn" type="button" (click)="dialogRef.close()">Batal</button>
  </mat-dialog-actions>

</form>