.data-option {
    background: #3a3a3a;
    color: white;
    padding: 0 24px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    border: 0.5px solid #dddddd;
}