<!-- <div class="content p-24" *ngIf="!onLoad"> -->
<div class="table-wrapper">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
    <h2 class="pl-8">Daftar Pengajuan Deaktivasi</h2>
    <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
      <mat-icon>search</mat-icon>
      <mat-form-field class="is-light tab-search">
        <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
      </mat-form-field>
    </div>
  </div>
  <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
    [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
    [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
    (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)">

    <ngx-datatable-column name="Nama Mitra" prop="name">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Kode iSMS" prop="code">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.code}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Zone" prop="division">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.division}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Region" prop="region">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.region}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Area" prop="area">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.area}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Jumlah SRC Eligible" prop="total_src_eligible">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.total_src_eligible}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Jumlah SRC Pengguna" prop="total_src_pengguna">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.total_src_pengguna}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Total Transaksi" prop="total_transaction">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        {{row.total_transaction | rupiahFormaterWithoutRp}}
      </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column name="Approved/Declined" prop="approved">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.approved}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Tanggal Pengajuan" prop="created_at">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        {{row.created_at | date: 'dd/MM/yyyy HH:mm'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Reason" prop="reason">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.reason}}
      </ng-template>
    </ngx-datatable-column> -->

    <ngx-datatable-column name="Tindakan" headerClass="textright" [sortable]="false">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
        style="justify-content: center !important">
        <div fxLayout="column" style="padding: 10px 10px 10px 0;">
          <button mat-button matTooltip="Tolak Pengajuan"
            style="margin-bottom: 10px;border: 1px solid #D0021B;background-color: #D0021B;color: white"
            (click)="approval(row, 'declined')">
            TOLAK
          </button>
          <button mat-button style="border: 1px solid #10dd10; color: white;background-color: #10dd10;"
            matTooltip="Setujui Pengajuan" (click)="approval(row, 'approved')">
            SETUJUI
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<!-- </div> -->