<div
  class="page-layout simple fullwidth"
  fxLayout="column"
  fusePerfectScrollbar
>
  <page-content-header [contentTitle]="'Produk Kasir'">
    <button
      style="min-width: 170px"
      mat-raised-button
      aria-label="Produk"
      type="button"
      (click)="import()"
    >
      <mat-icon style="font-size: 20px; margin-right: 6px"
        >arrow_downward</mat-icon
      >Import Produk
    </button>
    <button
      style="min-width: 170px"
      mat-raised-button
      aria-label="Produk"
      type="button"
      (click)="export()"
    >
      <mat-icon style="font-size: 20px; margin-right: 6px"
        >arrow_upward</mat-icon
      >Export Produk
    </button>
    <button
      style="min-width: 170px"
      [routerLink]="['/sku-management', 'product-cashier', 'create']"
      mat-raised-button
      aria-label="Produk"
      type="button"
    >
      <mat-icon style="font-size: 20px; margin-right: 6px">add</mat-icon>Tambah
      Produk
    </button>
    <a #downloadLink></a>
  </page-content-header>
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0">
      <nav mat-tab-nav-bar>
        <a mat-tab-link [active]="true" class="tab-link">Daftar Produk Kasir</a>
        <a
          *ngIf="permission.pengajuan_produk"
          mat-tab-link
          [routerLink]="['/sku-management', 'product-cashier', 'submission']"
          class="tab-link"
          >Produk Diajukan</a
        >  
      </nav>
      <div [formGroup]="formFilter" class="p-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px grid" fxLayoutGap.lt-md="0px">
        <mat-form-field class="is-light" fxFlex="18">
          <mat-select placeholder="Perusahaan" formControlName="company" multiple>
            <mat-option *ngFor="let item of listCompanies" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="is-light" fxFlex="18">
          <mat-select placeholder="Kategori" formControlName="category" multiple>
            <mat-option *ngFor="let item of listCategories" [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="is-light" fxFlex="18">
          <input matInput [matDatepicker]="dari_tanggal" (focus)="dari_tanggal.open()" formControlName="date"
            placeholder="Dari Tanggal">
          <mat-datepicker-toggle matSuffix [for]="dari_tanggal">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #dari_tanggal></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="is-light" fxFlex="18">
          <input matInput [matDatepicker]="hingga_tanggal" (focus)="hingga_tanggal.open()" formControlName="end_date"
            placeholder="Hingga Tanggal">
          <mat-datepicker-toggle matSuffix [for]="hingga_tanggal">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #hingga_tanggal></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="is-light" fxFlex="18">
          <input
            matInput
            placeholder="Cari"
            autocomplete="off"
            formControlName="search"
          />
          <mat-icon style="font-size: 20px; position: absolute; margin-left: -24px;">search</mat-icon>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="10"> 
          <button mat-raised-button type="button" class="confirmation-button" (click)="applyFilter()" style="width: 100%;">
            Apply
          </button>
        </div>
      </div>
      <div
        *ngIf="init"
        class="p-20 h3 text-center"
      >
        Silahkan isi filter terlebih dahulu!
      </div>
      <div
        *ngIf="onLoad && !init"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="py-48"
      >
        <mat-spinner
          [strokeWidth]="6"
          [diameter]="50"
          color="accent"
        ></mat-spinner>
      </div>
      <div *ngIf="!onLoad && !init">
        <ngx-datatable
          class="material"
          [rows]="rows"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [offset]="offsetPagination"
          [headerHeight]="48"
          [footerHeight]="56"
          [rowHeight]="'auto'"
          [scrollbarH]="true"
          [reorderable]="reorderable"
          [count]="pagination.total"
          [limit]="pagination.per_page"
          [externalPaging]="true"
          [externalSorting]="true"
          (page)="setPage($event)"
          (sort)="onSort($event)"
          (select)="onSelect($event)"
        >
          <ngx-datatable-column name="Nama Produk" prop="name">
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
            >
              <span
                class="row-name"
                [routerLink]="[
                  '/sku-management',
                  'product-cashier',
                  'detail',
                  row.id
                ]"
                >{{ row.name }}</span
              >
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Barcode"
            prop="barcode"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Perusahaan"
            prop="brand"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [width]="88"
            name="Kategori"
            prop="category"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Harga Beli"
            prop="purchase_price.formatted"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Harga Jual"
            prop="selling_price.formatted"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [width]="100"
            name="Tindakan"
            headerClass="textright"
            [sortable]="false"
          >
            <ng-template
              ngx-datatable-cell-template
              let-row="row"
              let-value="value"
            >
              <div class="button-row" style="white-space: nowrap">
                <button
                  mat-icon-button
                  *ngIf="!permission?.ubah"
                  color=""
                  matTooltip="Detail Produk"
                  [routerLink]="[
                    '/sku-management',
                    'product-cashier',
                    'detail',
                    row.id
                  ]"
                >
                  <mat-icon class="secondary-text">assignment</mat-icon>
                </button>
                <button
                  mat-icon-button
                  *ngIf="permission?.ubah"
                  color=""
                  matTooltip="Ubah Produk"
                  [routerLink]="[
                    '/sku-management',
                    'product-cashier',
                    'edit',
                    row.id
                  ]"
                >
                  <mat-icon class="secondary-text">edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="primary"
                  matTooltip="Hapus Produk"
                  (click)="deleteProduct(row.id)"
                  [ngStyle]="{ cursor: !permission?.hapus ? 'no-drop' : '' }"
                  [disabled]="!permission?.hapus"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
