.box-detail-status-green {
  height: 45px;
  padding: 13px 40px 0px 40px;
  border-radius: 4px;
  border: 1px solid #388E3C;
  color: #388E3C;
}

.box-detail-status-red {
  height: 45px;
  padding: 13px 40px 0px 40px;
  border-radius: 4px;
  border: 1px solid #DC1E2D;
  color: #DC1E2D;
}

:host ::ng-deep .mat-input-element:disabled {
  color: black;
}