<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <div class="content p-24">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
      <h1 class="pl-8">Daftar Riwayat</h1>
      <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>search</mat-icon>
        <mat-form-field class="is-light tab-search">
          <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
        </mat-form-field>
      </div>
    </div>
    <!-- <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
        [selectionType]="'checkbox'" [count]="pagination.total" [limit]="pagination.per_page"
        [offset]="offsetPagination" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)"
        (sort)="onSort($event)" (select)="onSelect($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="false">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nama" prop="fullname">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <a class="direct-edit" (click)="directDetail(row)">{{row.fullname}} </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="200" name="Email" prop="email" summary-template="activeCell">
        </ngx-datatable-column>

        <ngx-datatable-column name="Terakhir Masuk" prop="last_login">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.last_login | date:'dd/MM/yyyy HH:mm'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Terakhir Diubah" prop="updated_at">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.updated_at | date:'dd/MM/yyyy HH:mm'}}
            {{row?.updated_by_name ? 'by ' + (row?.updated_by_name | toCapitalize) : '' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="100" name="Status" prop="active_status">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container">
              <p class="status text-truncate h6 p-4"
                style="min-width: 100px !important;min-height: 20px;text-align: center;font-size: .9em;border-radius: 3px; text-transform: uppercase;"
                [ngClass]="row.status == 'active' ? 'mat-green-800-bg' : 'mat-red-900-bg'">
                {{row.status == 'active' ? 'Aktif' : 'Tidak Aktif'}}
              </p>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="deleteUser(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable> -->
  </div>
</div>