<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Detail Verifikasi Misi'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column" fusePerfectScrollbar>
      <div class="px-24" fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Detail Verifikasi Misi</h2>
        <!-- <div *ngIf="dataScheduler['audience']">
            <button *ngIf="permission?.lihat" mat-button style="border: 1px solid; margin-right: 10px"
              (click)="export()">
              <mat-icon>arrow_upward</mat-icon>
              EXPORT COIN
            </button>
            <a #downloadLink></a>
            <button *ngIf="permission?.buat" mat-button style="border: 1px solid" (click)="import()">
              <mat-icon>arrow_downward</mat-icon>
              IMPORT COIN
            </button>
          </div> -->
      </div>
      <div class="ayo-middle py-24" fxLayout="column">
        <form autocomplete="off">
          <div fxLayout="row" class="px-24">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input matInput type="text" placeholder="Nama Pengatur Jadwal Program Dagang"
                [value]="dataScheduler['name']" name="name" disabled>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="px-24">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select [value]="dataScheduler['trade_creator_id']" placeholder="Trade Program"
                name="trade_creator_id" disabled>
                <mat-option *ngFor="let item of listTradeProgram" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="py-8 px-24" *ngIf="dataScheduler['audience']">

            <div fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Audience</strong>
              </h3>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" placeholder="Audience / Grup" [value]="dataScheduler['audience'].name"
                  disabled>
                <button mat-button matTooltip="Lihat daftar audience"
                  (click)="openListAudience(dataScheduler['audience'])" matSuffix mat-icon-button>
                  <mat-icon class="s-24">view_list</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="py-8 px-24">

            <div fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Estimasi Budget</strong>
              </h3>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" placeholder="Permintaan Dana"
                  [value]="dataScheduler['budget_request'] | rupiahFormater" disabled>
              </mat-form-field>
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" placeholder="Dana Trade Program"
                  [value]="dataScheduler['budget_trade_program'] | rupiahFormater" disabled>
              </mat-form-field>
            </div>
          </div>

          <div class="py-24">
            <div>
              <div class="py-2 template-task" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="20">
                  <h3 class="">Template Tugas</h3>
                </div>
                <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="end center" fxLayout.lt-md="column"
                  fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                  <h3>
                    <mat-slide-toggle disabled [checked]="dataScheduler.is_verification_hq == 1 ? true : false">
                      Verifikasi Oleh HQ</mat-slide-toggle>
                  </h3>
                  <h3>
                    <mat-slide-toggle disabled [checked]="dataScheduler.is_verification_toggle">Perlu Verifikasi
                    </mat-slide-toggle>
                  </h3>
                  <h3>
                    <mat-slide-toggle disabled [checked]="dataScheduler.is_verification">Push to FF?</mat-slide-toggle>
                  </h3>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayout.lt-md="column" class="p-24" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" placeholder="Template Tugas" [value]="dataScheduler.task_template_name"
                    disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="dataScheduler.coin_delivered"
                    placeholder="Nilai Coin Tugas Terkirim" disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="dataScheduler.coin_approved"
                    placeholder="Nilai Coin Tugas Disetujui" disabled>
                </mat-form-field>
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" [value]="dataScheduler.start_date | dateToMoment"
                    placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text15}}" disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
                <mat-form-field fxFlex="47%" class="is-light form-primary">
                  <input matInput type="text" [value]="dataScheduler.end_date | dateToMoment"
                    placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text16}}" disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="dataScheduler.backup">
              <mat-divider style="border-top-style: dashed"></mat-divider>
              <h3 class="px-24 text-bold">Backup Task</h3>
              <mat-divider style="border-top-style: dashed"></mat-divider>

              <div class="p-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="25px" fxLayoutGap.lt-md="0px"
                fxLayoutAlign="start end">
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" placeholder="Template Tugas (Backup)" [value]="dataScheduler.backup?.name"
                    disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="dataScheduler.backup?.coin_delivered"
                    placeholder="Nilai Coin Tugas Terkirim (Backup)" disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="dataScheduler.backup?.coin_approved"
                    placeholder="Nilai Coin Tugas Disetujui (Backup)" disabled>
                </mat-form-field>
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" [value]="dataScheduler.backup?.start_date | dateToMoment"
                    placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text15}} (Backup)" disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
                <mat-form-field fxFlex="47%" class="is-light form-primary">
                  <input matInput type="text" [value]="dataScheduler.backup?.end_date | dateToMoment"
                    placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text16}} (Backup)" disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>

        <form [formGroup]="formFilter" autoComplete="off">


          <div fxLayout="row wrap" fxLayoutAlign="end stretch" fxLayout.lt-md="column" class="p-16 px-24"
            fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <button mat-raised-button type="button" class="confirmation-button" (click)="loadFormFilter()" fxFlex="20">
              Load Data
            </button>
          </div>

          <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
            <h2 class=""></h2>
            <div class="search-field" fxLayout="row" fxLayoutAlign="center center" style="margin-right: 15px;">
              <mat-icon>search</mat-icon>
              <mat-form-field class="is-light tab-search">
                <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="p-16"
            fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all'
                  ? 'Semua
                  Zona' :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name ===
                  'all' ? 'Semua
                  Regional'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all'
                  ? 'Semua
                  Area'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name ===
                  'all' ?
                  'Semua
                  Salespoint'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name ===
                  'all' ? 'Semua
                  District'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name ===
                  'all' ? 'Semua
                  Territori'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayout.lt-md="column" class="p-16" fxLayoutGap="20px"
            fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Status Misi" [(ngModel)]="statusValue" name="statusValue"
                [ngModelOptions]="{standalone: true}" multiple>
                <mat-option [value]="wtLoop.value" *ngFor="let wtLoop of status"> {{wtLoop.label}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Status Coin" [(ngModel)]="statusCoinSelected" name="statusCoinSelected"
                [ngModelOptions]="{standalone: true}" multiple>
                <mat-option [value]="scl.value" *ngFor="let scl of statusCoinList"> {{scl.label}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="IR Check" [(ngModel)]="irCheckSelected" name="irCheckSelected"
                [ngModelOptions]="{standalone: true}" multiple>
                <mat-option [value]="icl.value" *ngFor="let icl of irCheckList"> {{icl.label}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <div class="p-0">
          <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar>
          <ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows"
            [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
            [rowHeight]="auto" [scrollbarH]="true" [offset]="offsetPagination" [reorderable]="reorderable"
            [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
            (page)="setPage($event)" (sort)="onSort($event)">
            <!-- class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
            [rowHeight]="'auto'" [reorderable]="reorderable" [selected]="selected" [count]="pagination.total"
            [limit]="pagination.per_page" [externalPaging]="true" [selectAllRowsOnPage]="false" [externalSorting]="true"
            (select)="onSelect($event)" fusePerfectScrollbar> -->
            <ngx-datatable-column name="Retailer Id" prop="id" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="Customer Code" prop="code" [sortable]="false"></ngx-datatable-column>
            <!-- <ngx-datatable-column name="No Hp" prop="nomor_hp" [sortable]="false"></ngx-datatable-column> -->
            <ngx-datatable-column name="Nama Retailer" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Area" prop="area_code" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="Region" prop="region_code" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="Division" prop="division_code" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="IR Check" prop="ir_verification" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="Status Misi" prop="status_misi" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="Status Coin" prop="status_coin" [sortable]="false"></ngx-datatable-column>
            <ngx-datatable-column name="Tanggal Submit Misi" [sortable]="false" [width]="180">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <span *ngIf="row.tgl_submit_misi !== null">{{row.tgl_submit_misi.date | date: 'dd/MM/yyy HH:mm'}}
                  WIB</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" [sortable]="false">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <div class="button-row" style="margin-left: -10px">
                  <button type="button" mat-icon-button matTooltip="Verifikasi Misi"
                    (click)="openConfirmDialog(row, 'Verifikasi Misi')"
                    [disabled]="row.status_misi == 'not-submitted' || row.status_misi !== 'submitted' && row.status_coin !== 'belum dikirim' || row.status_coin == 'sudah dikirim' || !permissionVerifikasiMisi?.ubah">
                    <mat-icon
                      *ngIf="row.status_misi == 'submitted' && row.status_coin !== 'sudah dikirim' && permissionVerifikasiMisi?.ubah || row.status_misi !== 'not-submitted' && row.status_coin == 'belum dikirim' && permissionVerifikasiMisi?.ubah"
                      class="orange-500-fg">assignment_turned_in</mat-icon>
                    <mat-icon
                      *ngIf="row.status_misi == 'not-submitted' || row.status_misi !== 'submitted' && row.status_coin !== 'belum dikirim' || row.status_coin == 'sudah dikirim' || !permissionVerifikasiMisi?.ubah"
                      class="secondary-text">assignment_turned_in</mat-icon>
                  </button>

                  <button type="button" mat-icon-button matTooltip="Release Coin"
                    (click)="openConfirmDialog(row, 'Release Coin')"
                    [disabled]="row.status_misi !== 'approved' || row.status_coin == 'sudah dikirim' || !permissionReleaseCoin?.ubah">
                    <mat-icon
                      *ngIf="row.status_misi == 'approved' && row.status_coin !== 'sudah dikirim' && permissionReleaseCoin?.ubah"
                      class="orange-500-fg">call_made</mat-icon>
                    <mat-icon
                      *ngIf="row.status_misi !== 'approved' || row.status_coin == 'sudah dikirim' || !permissionReleaseCoin?.ubah"
                      class="secondary-text">call_made</mat-icon>
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>

    </div>
  </div>
</div>