<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="{{ isEdit ? ('global.label.edit_entity' | translate:titleParam) : ('global.label.create_entity' | translate:titleParam)  }}">
    <button style="width: 170px" (click)="submit()" mat-raised-button type="button" *ngIf="!isEdit">
      <mat-icon>save</mat-icon> {{ls.locale.global.button.save}}
    </button>
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="table-wrapper">
      <mat-tab-group [selectedIndex]="selectedTab" (selectedIndexChange)="selectedTab = $event">
        <mat-tab label="{{'dte.coin_disbursement.coin_exchange' | translate}}">
          <div class="ayo-middle py-24" fxLayout="column">
            <form autocomplete="off" [formGroup]="formCoin" fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="50%">
                <div fxLayout="row" class="px-24">
                  <mat-form-field fxFlex class="is-light form-primary">
                    <input matInput type="text" placeholder="{{'dte.coin_disbursement.text12' | translate}}" formControlName="name"
                      name="name">
                    <mat-error
                      *ngIf="formCoin.controls['name'].hasError('required') && formCoin.controls['name'].touched">
                      {{'dte.coin_disbursement.text12' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" class="px-24">
                  <mat-form-field fxFlex class="is-light form-primary">
                    <input matInput type="text" [mask]="ls.locale.global.input_mask" [thousandSeparator]="ls.locale.global.input_separator" placeholder="{{'dte.coin_disbursement.text13' | translate}}" formControlName="coin_valuation" name="coin_valuation">
                    <mat-error
                      *ngIf="formCoin.controls['coin_valuation'].hasError('required') && formCoin.controls['coin_valuation'].touched">
                      {{'dte.coin_disbursement.coin_valuation' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                    <mat-error
                      *ngIf="formCoin.controls['coin_valuation'].hasError('min') && formCoin.controls['coin_valuation'].touched">
                      {{'dte.coin_disbursement.coin_valuation_more_than_zero' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" class="px-24" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                  <mat-form-field fxFlex="50%" class="is-light form-primary">
                    <input matInput formControlName="start_date" (focus)="startDate.open()" [matDatepicker]="startDate"
                      placeholder="{{'dte.coin_disbursement.text9' | translate}}">
                    <mat-datepicker-toggle matSuffix [for]="startDate">
                      <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <mat-error
                      *ngIf="formCoin.controls['start_date'].hasError('required') && formCoin.controls['start_date'].touched">
                      {{ls.locale.manajemen_barang_sku.manajemen_koin.text15}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
  
                  <mat-form-field fxFlex="50%" class="is-light form-primary">
                    <input matInput formControlName="end_date" (focus)="endDate.open()" [matDatepicker]="endDate"
                      placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text16}} Penukaran Koin">
                    <mat-datepicker-toggle matSuffix [for]="endDate">
                      <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error
                      *ngIf="formCoin.controls['start_date'].hasError('required') && formCoin.controls['start_date'].touched">
                      {{ls.locale.manajemen_barang_sku.manajemen_koin.text16}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
  
                <div fxFlex fxLayout="row" class="px-24">
                  <mat-form-field fxFlex="100%">
                    <mat-select
                      placeholder="{{'dte.group_trade_program.text1' | translate}}"
                      formControlName="group_trade_id"
                      multiple
                      (selectionChange)="groupChosen($event)"
                    >
                      <mat-option *ngFor="let gtp of groupTradePrograms" [value]="gtp.id">{{ gtp.name }}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="formCoin.controls['group_trade_id'].hasError('required') && formCoin.controls['group_trade_id'].touched">
                      {{'dte.group_trade_program.text1' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column" class="px-24">
                  <h4 style="font-weight: bold;">{{'dte.coin_disbursement.text14' | translate}}</h4>
                  <div fxLayout="row">
                    <mat-checkbox class="example-margin" [formControl]="isTransferBank">{{'dte.coin_disbursement.text15' | translate}}</mat-checkbox>
                    <div fxFlex="1"></div>
                    <mat-checkbox class="example-margin" [formControl]="isPojokBayar">{{'dte.coin_disbursement.text16' | translate}}</mat-checkbox>
                  </div>
                </div>
              </div>

              <div fxLayout="column" fxFlex class="p-8 m-16">
                <span>Prioritas</span>

                <div formArrayName="priorities" *ngFor="let item of formCoin.get('priorities')['controls']; let priorities_index=index;">
                  <div [formGroupName]="priorities_index" class="priority__content">
                    <span fxFlex="25px">{{ priorities_index+1 }}.</span>
                    <mat-form-field fxFlex id="contoh-id">
                      <mat-select
                        id="group_id"
                        formControlName="group_id"
                        placeholder="{{'dte.group_trade_program.text1' | translate}}"
                        [disabled]="!priority_list.length"
                      >
                        <mat-option *ngFor="let item of priority_list" [value]="item.id" [disabled]="isPriorityUsed(item.id)">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div fxLayout="row nowrap">
                      <button
                        mat-icon-button
                        matTooltip="{{'global.button.add' | translate}}"
                        matTooltipPosition="below"
                        (click)="addPriority(priorities_index)"
                        [disabled]="!priority_list.length"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        matTooltip="{{'global.button.delete' | translate}}"
                        matTooltipPosition="below"
                        (click)="removePriority(priorities_index)"
                        *ngIf="formCoin.get('priorities').length > 1"
                      >
                        <mat-icon>remove</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </mat-tab>
        <!-- TIPE MISI -->
        <mat-tab label="{{'dte.coin_disbursement.text17' | translate}}">
          <div class="ayo-middle py-24" fxLayout="column">
            <div fxLayout="column" class="px-24">
              <h4 style="font-weight: bold;">{{'dte.coin_disbursement.text18' | translate}}</h4>
              <div fxLayout="row" fxFlex="48">
                <mat-checkbox class="example-margin" [formControl]="isTargetedRetailer">{{'dte.coin_disbursement.text19' | translate}}</mat-checkbox>
              </div>
            </div>
          </div>
          <div class="px-24">

            <div fxLayout="row wrap" fxLayoutAlign="end stretch" fxLayout.lt-md="column" class="pt-16"
              fxLayoutGap="20px" fxLayoutGap.lt-md="0px" *ngIf="isTargetedRetailer.value === true">
              <button mat-raised-button type="button" class="confirmation-button" (click)="loadFormFilter()"
                fxFlex="20">
                {{'dte.template_tugas.text24' | translate}}
              </button>
            </div>
            <form [formGroup]="formFilter" autoComplete="off">
              <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
                fxLayoutGap="20px" fxLayoutGap.lt-md="0px" *ngIf="isTargetedRetailer.value === true">
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
                    <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{ item.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{
                      item.name === "all" ? "Semua
                      Zona" : item.code
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{
                      item.name === "all"
                      ? "Semua
                      Regional"
                      : item.code
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{
                      item.name === "all" ? "Semua
                      Area" : item.code
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{
                      item.name === "all"
                      ? "Semua
                      Salespoint"
                      : item.code
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{
                      item.name === "all"
                      ? "Semua
                      District"
                      : item.code
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{
                      item.name === "all"
                      ? "Semua
                      Territori"
                      : item.code
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
            <form [formGroup]="formFilterRetailer">
              <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
                fxLayoutGap="20px" fxLayoutGap.lt-md="0px" *ngIf="isTargetedRetailer.value === true">
                <!--[R]-->
                <mat-form-field fxFlex="31%" class="is-light form-primary">
                  <mat-select placeholder="{{'dte.audience.text13' | translate}}" formControlName="retail_classification">
                    <mat-option *ngFor="let item of retailClassification" [value]="item.value">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="31%" class="is-light form-primary">
                  <mat-select placeholder="{{'dte.audience.text14' | translate}}" formControlName="src_classification">
                    <mat-option *ngFor="let item of srcClassification" [value]="item.value">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="31%" class="is-light form-primary">
                  <mat-select placeholder="{{'dte.audience.text15' | translate}}" formControlName="src_type">
                    <mat-option *ngFor="let item of srcType" [value]="item.value">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!--[R]-->
              </div>
            </form>
          </div>

          <div class="p-0" *ngIf="isTargetedRetailer.value === true">
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
              fxLayoutAlign="end center" class="p-16 export">
              <button mat-raised-button type="button" class="is-danger" (click)="importAudience()">
                <mat-icon>arrow_downward</mat-icon> {{'global.button.import' | translate}} XLS
              </button>
              <button mat-raised-button type="button" class="is-danger" (click)="exportAudience()">
                <mat-icon>arrow_upward</mat-icon> {{'manajemen_barang_sku.manajemen_koin.text8' | translate}}
              </button>
            </div>
            <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar>
            <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
              [rowHeight]="'auto'" [reorderable]="reorderable" [selected]="selected" [selectionType]="'checkbox'"
              [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true"
              [selectAllRowsOnPage]="false" [externalSorting]="true" (page)="setPage($event)"
              [sorts]="[{ prop: 'name', dir: 'asc' }]" (select)="onSelect($event)" [rowIdentity]="getId"
              (sort)="onSort($event)" fusePerfectScrollbar #table>

              <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
                <ng-template ngx-datatable-header-template let-value="value">
                  <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template>

                <!-- <ng-template ngx-datatable-header-template let-value="value">
                  <mat-checkbox [checked]="selectAllOnPage[pageOffset]" (change)="selectAll($event)"></mat-checkbox>
                </ng-template> -->

                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'call_objective.text8' | translate}}" prop="name"></ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.code' | translate}}" prop="code"></ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.type' | translate}}" prop="classification"></ngx-datatable-column>
              <!--[R]-->
              <ngx-datatable-column name="{{'call_objective.text10' | translate}}" prop="retail_classification"></ngx-datatable-column>
              <ngx-datatable-column name="{{'dte.audience.text14' | translate}}" prop="src_classification"></ngx-datatable-column>
              <ngx-datatable-column name="{{'dte.audience.text15' | translate}}" prop="src_type"></ngx-datatable-column>
              <!--[R]-->
              <ngx-datatable-column name="{{'call_objective.text13' | translate}}" prop="ff_name" [sortable]="false"></ngx-datatable-column>
              <ngx-datatable-column name="{{'dte.audience.text16' | translate}}" prop="status">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <span *ngIf="row.status === 'active' || row.status === 'inactive'">Yes</span>
                  <span *ngIf="row.status === 'not-registered'">No</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                  let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                  <div style="padding: 10px 10px">
                    <div *ngIf="allRowsSelected"><strong>{{ rowCount | rupiahFormaterWithoutRp }}</strong> Terpilih
                    </div>
                    <div *ngIf="!allRowsSelected">
                      {{ selected.length | rupiahFormaterWithoutRp }} / {{ rowCount | rupiahFormaterWithoutRp}} Terpilih
                    </div>
                  </div>
                  <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                  </datatable-pager>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
          <div class="confirm pt-24 pb-24 pl-24" fxLayout="row" fxLayoutGap="20px" *ngIf="isEdit">
            <button mat-raised-button type="button" class="confirmation-button" (click)="submit()" fxFlex="20">
              {{ isEdit && detailCoin.status === 'publish' ? ('dte.pengatur_jadwal_program.text9' | translate) : ('global.button.save' | translate) }}
            </button>
          </div>
          <a #downloadLink></a>
        </mat-tab>

        <mat-tab label="{{'dte.coin_disbursement.coin_exchange_list' | translate}}" *ngIf="isEdit && detailCoin.status === 'publish'">
          <app-coin-disburstment-exchange [isTabActive]="selectedTab"></app-coin-disburstment-exchange>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>