<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <!-- HEADER -->
    <page-content-header [contentTitle]="(isDetail ? 'Detil' : 'Ubah') + ' Pengguna'">
    </page-content-header>
    <!-- / HEADER -->
    <div class="content p-24">
        <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column">
            <div class="mat-white-bg p-24" fxLayout="column">
                <form [formGroup]="formUserCatalogue">
                    <div class="ayo-top" fxLayout="row" fxLayoutAlign="space-between center">
                        <h3>{{ isDetail ? 'Detil' : 'Ubah' }} Pengguna</h3>
                        <!-- <mat-form-field
                [class]="formUserCatalogue.get('status').value === 'active' ? 'radius-select green' : 'radius-select red'">
                <mat-select formControlName="status">
                  <mat-option [value]="status.value" *ngFor="let status of listStatus">{{status.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->
                    </div>
                    <div class="ayo-middle pt-24" fxLayout="column">

                        <mat-form-field fxFlex="100" class="is-light">
                            <input matInput placeholder="Nama Pengguna" type="text" formControlName="name">
                            <mat-error
                                *ngIf="formUserCatalogue.controls['name'].hasError('required') && formUserCatalogue.controls['name'].touched ">
                                Nama harus diisi.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100" class="is-light">
                            <input matInput placeholder="Username" type="text" formControlName="username">
                            <mat-error
                                *ngIf="formUserCatalogue.controls['username'].hasError('required') && formUserCatalogue.controls['username'].touched ">
                                Username harus diisi.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100" class="is-light">
                            <input matInput placeholder="Email" type="email" formControlName="email">
                            <mat-error
                                *ngIf="formUserCatalogue.controls['email'].hasError('required') && formUserCatalogue.controls['email'].touched ">
                                Email harus diisi.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100" class="is-light">
                            <mat-select placeholder="Nama Vendor" formControlName="vendor">
                                <mat-option *ngFor="let item of listVendor" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="formUserCatalogue.controls['email'].hasError('required') && formUserCatalogue.controls['email'].touched ">
                                Email harus diisi.
                            </mat-error>
                            <mat-error
                                *ngIf="formUserCatalogue.controls['email'].hasError('email') && formUserCatalogue.controls['email'].touched ">
                                Email Tidak Valid
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="100" class="is-light">
                            <mat-select placeholder="Tingkatan Akses" formControlName="role">
                                <mat-option *ngFor="let item of listRole" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="formUserCatalogue.controls['role'].hasError('required') && formUserCatalogue.controls['role'].touched">
                                Tingkatan Akses harus diisi
                            </mat-error>
                        </mat-form-field>

                        <div *ngIf="!isDetail" class="confirm btn-confirm" fxLayout="row" fxLayoutGap="25px">
                            <button mat-raised-button type="button" class="confirmation-button" fxFlex="20"
                                (click)="submit()">
                                SIMPAN
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>