<div id="ayoLogin" fxLayout="row" fxLayoutAlign="center center">
  <div class="lgn-container" fxFlex="420px" fxFlex.lt-md="80%">
    <div class="lgn-box">
      <div class="top">
        <img src="assets/images/ayo/AYO-logo.png" srcset="assets/images/ayo/AYO-logo@2x.png 2x" />
        <div class="title">Atur Ulang Kata Sandi</div>
      </div>
      <div class="middle-form">
        <form name="form" [formGroup]="forgotPasswordForm">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="10px">
            <mat-form-field fxFlex="100" class="is-light form-primary">
              <input matInput type="text" *ngIf="showPassword" formControlName="password" placeholder="Kata Sandi Baru">
              <input matInput type="password" *ngIf="!showPassword" formControlName="password" placeholder="Kata Sandi Baru">
              <button mat-button matSuffix mat-icon-button (click)="showPassword = !showPassword">
                <mat-icon *ngIf="!showPassword">remove_red_eye</mat-icon>
                <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
              </button>
              <mat-error *ngIf="forgotPasswordForm.controls['password'].hasError('required') && forgotPasswordForm.controls['password'].touched">
                Kata sandi baru harus diisi
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="10px">
            <mat-form-field fxFlex="100" class="is-light form-primary">
              <input matInput type="text" *ngIf="showConfirmPassword" formControlName="password_confirmation"
                placeholder="Konfirmasi Kata Sandi Baru">
              <input matInput type="password" *ngIf="!showConfirmPassword" formControlName="password_confirmation"
                placeholder="Konfirmasi Kata Sandi Baru">
              <button mat-button matSuffix mat-icon-button (click)="showConfirmPassword = !showConfirmPassword">
                <mat-icon *ngIf="!showConfirmPassword">remove_red_eye</mat-icon>
                <mat-icon *ngIf="showConfirmPassword">visibility_off</mat-icon>
              </button>
              <mat-error *ngIf="forgotPasswordForm.controls['password_confirmation'].hasError('required') && forgotPasswordForm.controls['password_confirmation'].touched">
                Konfirmasi Kata Sandi Baru harus diisi
              </mat-error>
            </mat-form-field>
          </div>
          <div class="login-button" fxLayout="row">
            <button mat-raised-button aria-label="Login" type="button" color="primary-red" (click)="submit()">KIRIM</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
