.preview-bg-misi{
  position: relative;
}

.preview-bg-misi__wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
}

.preview-bg-misi__icon{
  max-height: 30px;
}

input[type="color"]{
  width: 50%;
  cursor: pointer;
}

#bg-misi, #guideline__drop{
  max-width: 640px;
}

.guideline__wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.guideline__container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.guidelineBanner {
  width: 250px;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid gray;
}

.guideline__deskripsi{
  width: 100%;
  max-width: 350px;
}