<div class="page-layout simple fullwidth" fxLayout="column">
  <!-- HEADER -->
  <page-content-header [contentTitle]="isDetail ? 'Detail Audience' : 'Ubah Audience'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="">{{isDetail ? 'Detail' : 'Ubah'}} Audience</h2>
      </div>
      <div class="ayo-middle py-24" fxLayout="column">
        <form autocomplete="off" [formGroup]="formAudience">
          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input matInput type="text" formControlName="name" placeholder="Nama Grup">
              <mat-error *ngIf="formAudience.controls['name'].hasError('required') && formAudience.controls['name'].touched">
                Nama Grup harus diisi
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select formControlName="trade_scheduler_id" placeholder="Nama Pengatur Jadwal Trade Program"
                #singleSelect>
                <ngx-mat-select-search [formControl]="filterScheduler" [placeholderLabel]="'Cari Jadwal Trade Program...'"
                  [noEntriesFoundLabel]="'Tidak ada Jadwal Trade Program yang ditemukan'"></ngx-mat-select-search>
                <mat-option *ngFor="let item of filteredScheduler | async" [value]="item.id">
                  {{item.scheduler_name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formAudience.controls['trade_scheduler_id'].hasError('required') && formAudience.controls['trade_scheduler_id'].touched">
                Nama Pengatur Jadwal Trade Program harus diisi
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <mat-radio-group formControlName="type" (change)="changeValue()">
              <mat-radio-button class="radio-button pr-48" *ngFor="let item of listType" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="formAudience.get('type').value === 'limit'" fxLayout="row wrap" fxLayout.lt-md="column" class="py-16"
            fxLayoutGap="60px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input matInput type="number" min="0" placeholder="Audience Minimal" formControlName="min" numericOnly>
              <mat-error *ngIf="formAudience.controls['min'].hasError('required') && formAudience.controls['min'].touched">
                Audience Minimal harus diisi
              </mat-error>
              <mat-error *ngIf="formAudience.controls['min'].hasError('min') && formAudience.controls['min'].touched">
                Audience Minimal tidak boleh kurang dari 0
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input matInput type="number" min="0" placeholder="Audience Maksimal" formControlName="max" numericOnly>
              <mat-error *ngIf="formAudience.controls['max'].hasError('required') && formAudience.controls['max'].touched">
                Audience Maksimal harus diisi
              </mat-error>
              <mat-error *ngIf="formAudience.controls['max'].hasError('min') && formAudience.controls['max'].touched">
                Audience maksimal tidak boleh kurang dari jumlah minimal audience
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>

      <!-- <div fxLayout="row wrap" fxLayout.lt-md="column" class="py-16" fxLayoutGap="21px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="15%" class="is-light form-primary">
              <input matInput type="text" (keyup)="searchRetailer.next($event.target.value)" placeholder="Kode Nasional"
                formControlName="national">
            </mat-form-field>

            <mat-form-field fxFlex="15%" class="is-light form-primary">
              <input matInput type="text" (keyup)="searchRetailer.next($event.target.value)" placeholder="Kode Divisi"
                formControlName="division">
            </mat-form-field>

            <mat-form-field fxFlex="15%" class="is-light form-primary">
              <input matInput type="text" (keyup)="searchRetailer.next($event.target.value)" placeholder="Kode Wilayah"
                formControlName="region">
            </mat-form-field>

            <mat-form-field fxFlex="15%" class="is-light form-primary">
              <input matInput type="text" (keyup)="searchRetailer.next($event.target.value)" placeholder="Kode Area"
                formControlName="area">
            </mat-form-field>

            <mat-form-field fxFlex="15%" class="is-light form-primary">
              <input matInput type="text" (keyup)="searchRetailer.next($event.target.value)" placeholder="Kode Distrik"
                formControlName="district">
            </mat-form-field>

            <mat-form-field fxFlex="15%" class="is-light form-primary">
              <input matInput type="text" (keyup)="searchRetailer.next($event.target.value)" placeholder="Kode Teritori"
                formControlName="teritory">
            </mat-form-field>
          </div> -->

      <form [formGroup]="formFilter" autoComplete="off">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="National" formControlName="national">
              <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Zone" formControlName="zone" (selectionChange)="getAudienceArea('region', formFilter.get('zone').value)">
              <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name === 'all' ? 'Semua
                Zona' :
                item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Regional" formControlName="region" (selectionChange)="getAudienceArea('area', formFilter.get('region').value)">
              <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name === 'all' ? 'Semua
                Regional'
                :
                item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Area" formControlName="area" (selectionChange)="getAudienceArea('salespoint', formFilter.get('area').value)">
              <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name === 'all' ? 'Semua
                Area'
                :
                item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Salespoint" formControlName="salespoint" (selectionChange)="getAudienceArea('district', formFilter.get('salespoint').value)">
              <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name === 'all' ?
                'Semua
                Salespoint'
                :
                item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="District" formControlName="district" (selectionChange)="getAudienceArea('territory', formFilter.get('district').value)">
              <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name === 'all' ? 'Semua
                District'
                :
                item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Territory" formControlName="territory">
              <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name === 'all' ? 'Semua
                Territori'
                :
                item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="p-0">
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px" fxLayoutAlign="end center"
        class="p-16 export">
        <button mat-raised-button type="button" class="is-danger" (click)="importAudience()">
          <mat-icon>arrow_downward</mat-icon> Import XLS
        </button>
      </div>
      <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar>
      <ngx-datatable class="material" [rows]="rows" [selected]="selected" [columnMode]="'force'" [headerHeight]="48"
        [footerHeight]="56" [rowHeight]="'auto'" [reorderable]="reorderable" [selectionType]="formAudience.get('type').value !== 'pick-all' ? 'checkbox' : ''"
        [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [selectAllRowsOnPage]="false"
        [externalSorting]="true" (page)="setPage($event)" [sorts]="[{prop: 'name', dir: 'asc'}]" (select)="onSelect($event)"
        [rowIdentity]="getId" (sort)="onSort($event)" fusePerfectScrollbar>
        <ngx-datatable-column [width]="68" *ngIf="formAudience.get('type').value !== 'pick-all'" [canAutoResize]="false"
          [sortable]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true">
          <!-- <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" [disabled]="formAudience.get('type').value === 'pick-all'"
              (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template> -->

          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" [disabled]="isDetail" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Penjual" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="No Ponsel" [width]="180" prop="phone" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column name="Kode" prop="code"></ngx-datatable-column>
        <ngx-datatable-column name="Tipe" prop="classification"></ngx-datatable-column>
        <ngx-datatable-column name="Field Force" prop="ff_name" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column name="Daftar Ayo" prop="status">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span *ngIf="row.status === 'active' || row.status === 'inactive'">Yes</span>
            <span *ngIf="row.status === 'not-registered'">No</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Kode Divisi" prop="division_code" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column name="Wilayah" prop="region_code" [sortable]="false"></ngx-datatable-column>
        <ngx-datatable-column name="Area" prop="area_code" [sortable]="false"></ngx-datatable-column>
      </ngx-datatable>
    </div>

    <div *ngIf="!isDetail" class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button *ngIf="!formAudience.disabled" type="button" class="confirmation-button" (click)="submit()"
        fxFlex="20">
        SIMPAN
      </button>
      <button mat-raised-button *ngIf="formAudience.disabled" type="button" class="confirmation-button" (click)="updateAudience()"
        fxFlex="20">
        SIMPAN
      </button>
    </div>
  </div>
</div>
