<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="m-0" fxFlex="1 0 auto" fxLayout="row">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span>{{ls.locale.global.label.upload_file}} XLS</span> <!-- // TODO -->
      </div>

    </div>
    <!-- CLOSE DIALOG BUTTON -->
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog" [disabled]="uploading">
      <mat-icon>close</mat-icon>
    </button>
    <!-- / CLOSE DIALOG BUTTON -->

  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files" accept=".xls"
      [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag" (fileChange)="preview($event)">
      <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="secondary-text s-48">attach_file</mat-icon>
        <br>
        <span matPrefix>{{ls.locale.global.messages.file_browse_label}}
            <!-- // TODO -->
        </span>
      </div>
    </div>
    <br>
    <div class="">
      <!-- <small>Total Row Valid : {{rows ? validData : '-'}}</small> -->
    </div>
    <div class="responsive">
      <table class="table">
        <thead>
          <tr>
            <th nowrap>Order Id Pembayaran</th>
            <th nowrap>Tanggal</th> <!-- // TODO -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rows">
            <td nowrap>
              {{ item.order_id ? item.order_id : '-' }}
            </td>
            <td nowrap>
              {{ item.payment_date ? item.payment_date : '-' }}
            </td>
          </tr>
          <tr *ngIf="rows.length === 0">
            <td style="text-align:center" colspan="10">
              {{ls.locale.global.messages.file_unselected_warn}}
            </td> <!-- // TODO -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="border-top">
    <div class="p-16">
      <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutGap="20px"
        fxLayoutGap.lt-md="10px" fxFlex="1 0 auto">
        <button type="button" mat-raised-button color="primary" (click)="submit()"
          [disabled]="(rows.length === 0)">{{ls.locale.global.button.send}}</button> <!-- // TODO -->
        <button type="button" mat-stroked-button color="primary" (click)="dialogRef.close()"
          [disabled]="uploading">Batal</button> <!-- // TODO -->
      </div>
    </div>
  </div>
</div>