<div class="dialog-container p-12">
  <h4 *ngIf="data.titleDialog" mat-dialog-title>{{data.titleDialog}}</h4>
  <div *ngIf="data.dataSubmit">
    <ul class="pl-16 m-0" fxLayout="column" fxLayoutAlign="start start">
      <li *ngFor="let item of data.dataSubmit">
        {{ item.title }}: {{ item.value }}
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="actions">
    <button *ngIf="!data.isDisagree && data.buttonText[0] == 'Unpublish'" mat-button class="reject" style="cursor: pointer;" (click)="data.confirmCallback()">{{data.buttonText[0]}}</button>
    <button *ngIf="!data.isDisagree && data.buttonText[0] == 'Publish'" mat-button class="confirm" style="cursor: pointer;" (click)="data.confirmCallback()">{{data.buttonText[0]}}</button>
    <button *ngIf="data.isDisagree && valueRadio" mat-button class="confirm" style="cursor: pointer;" (click)="data.confirmCallback(valueRadio)">{{data.buttonText[0]}}</button>
    <button *ngIf="data.isDisagree && !valueRadio" mat-button class="disable" style="cursor: no-drop;" [disabled]="!valueRadio">{{data.buttonText[0]}}</button>
    <button mat-button class="reject" style="cursor: pointer;" (click)="closeDialog()">{{data.buttonText[1]}}</button>
  </div>
</div>
