<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Daftar Wholesaler'">
    <div class="button-row" fxLayout="row">
      <button style="width: 170px;" mat-raised-button aria-label="Login" type="button" [routerLink]="['/user-management','wholesaler','create']">
        <mat-icon>add</mat-icon>BUAT
      </button>
      <button style="width: 170px;" mat-raised-button aria-label="Login" type="button" class="is-danger">HAPUS</button>
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">Daftar Wholesaler</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
        [selectionType]="'checkbox'" [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true"
        [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)" [sorts]="[{prop: 'fullname', dir: 'asc'}]"
        (select)="onSelect($event)">

        <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nama Toko" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <a class="direct-edit" (click)="directEdit(row)">{{row.name}} </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nama Pemilik" prop="owner">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <a class="direct-edit" (click)="directEdit(row)">{{row.owner}} </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Kode WS" prop="code" summary-template="activeCell"></ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="Status" prop="status" headerClass="textright">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value" style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'A'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'I'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Terkahir Masuk" prop="last_login">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.last_login | date:'dd/MM/yyyy HH:mm'}}
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value" style="justify-content: center !important">
            <div class="button-row pl-8">
              <button mat-icon-button color="primary" (click)="deleteWholesaler(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
