<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Daftar Wholesaler'">
    <div class="button-row" fxLayout="row">
      <button *ngIf="permission?.buat" style="width: 170px;" mat-raised-button aria-label="Login" type="button"
        [routerLink]="['/user-management','wholesaler','create']">
        <mat-icon>add</mat-icon>BUAT
      </button>
      <!-- <button style="width: 170px;" mat-raised-button aria-label="Login" type="button" class="is-danger">HAPUS</button> -->
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
      style="background-color: #585858;" fxLayoutAlign="end center" class="p-16 export">
      <a #downloadLink></a>
      <!-- <button mat-raised-button type="button" class="is-danger" (click)="import()">
        <mat-icon>arrow_downward</mat-icon> Import XLS
      </button> -->
      <button mat-raised-button type="button" class="is-danger" (click)="import()">
        <mat-icon>arrow_downward</mat-icon> Import XLS
      </button>
      <button (click)="exportwholesaler()" mat-raised-button type="button" class="is-danger">
        <mat-icon>arrow_upward</mat-icon> Export XLS
      </button>
    </div>
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">Daftar Wholesaler</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <form [formGroup]="formFilter" autoComplete="off">
        <div fxLayout="row wrap" fxLayout.lt-md="column" class="px-24 pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="National" formControlName="national">
              <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="Zone" formControlName="zone" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Zona' :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="Regional" formControlName="region" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Regional'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="Area" formControlName="area" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Area'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="Salespoint" formControlName="salespoint" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name === 'all' ?
                'Semua
                Salespoint'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="District" formControlName="district" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                District'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="10.5%" class="is-light form-primary">
            <mat-select placeholder="Territory" formControlName="territory" multiple>
              <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                Territori'
                :
                item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field fxFlex="20" class="is-light form-primary">
            <mat-select placeholder="GSW" [formControl]="gsw">
              <mat-option *ngFor="let item of listGsw" [value]="item.value">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
      <ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows"
        [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
        [rowHeight]="'auto'" [scrollbarH]="true" [offset]="offsetPagination" [reorderable]="reorderable"
        [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
        (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)">

        <!-- <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Nama Toko" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <a class="direct-edit" (click)="directDetail(row)">{{row.name}} </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nama Pemilik" prop="owner">
          <!-- <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <a class="direct-edit" (click)="directEdit(row)">{{row.owner}} </a>
          </ng-template> -->
        </ngx-datatable-column>

        <ngx-datatable-column name="Kode WS" prop="code" summary-template="activeCell"></ngx-datatable-column>

        <ngx-datatable-column name="GSW" prop="GSW">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.gsw == '1' ? 'ON' : 'OFF'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="120" name="Status" prop="status">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container">
              <p class="status text-truncate h6 p-4 status-order"
                [ngClass]="row.status == 'active' ? 'mat-green-800-bg' : 'mat-red-900-bg'">
                {{ row.status_indo ? row.status_indo.toUpperCase() : '-' }}
              </p>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Terkahir Masuk" prop="last_login">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.last_login | date:'dd/MM/yyyy HH:mm'}}
          </ng-template>
        </ngx-datatable-column> -->

        <!-- disable delete ws -->
        <!-- <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value" style="justify-content: center !important">
            <div class="button-row pl-8">
              <button mat-icon-button color="primary" (click)="deleteWholesaler(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column [width]="60" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row pl-8">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>