
// .banner-dropzone {
//     min-width: 200px;
//     min-height: 150px;
//     border: 1px solid;
//     border-radius: 10px;
//     display: inline-block;
//     margin-inline-start: 10px;
//     margin-inline-end: 10px;
//     position: relative;
//     padding: 10px;
// }
.banner-dropzone{
    min-width: 200px;
    min-height: 100px;
    // border: 1px solid grey;
    // border-radius: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    // padding: 10px;
}
.dz-add {
    border: 1px solid grey;
    border-radius: 10px;
}
#dz-wrapper {
    overflow-x: scroll !important;
    padding-top: 20px;
}
.dz-placeholder {
    // background-color: grey;
    border: 1px dashed #bb130f;
    min-width: 30px !important;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
    // height: 100px;
}

.item {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.banner-title {
    padding: 4px;
    width: 200px;
    text-align: center;
}
.ic-add {
    font-size: 50px;
}