<!--a draggable element-->
<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Pengaturan Urutan In-App Banner'">
    <button style="width: 170px" (click)="submit()" mat-raised-button type="button">
      <mat-icon>add</mat-icon> SIMPAN
    </button>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
      </div> -->
      <form autocomplete="off" [formGroup]="formSortBanner" fxLayout="row" class="p-24" fxLayoutAlign="start center">

          <div class="">
            <strong class="font-size-16">Tipe Spanduk: </strong>
          </div>
          <mat-radio-group formControlName="type_banner" class="radio-group" fxLayout="row wrap">
            <mat-radio-button class="radio-button" [value]="item.value" *ngFor="let item of listTypeBanner">
              {{item.name}}
            </mat-radio-button>
          </mat-radio-group>

      </form>


      <div fxLayout="row" id="dz-wrapper" dndDropzone [dndHorizontal]="true" dndEffectAllowed="copyMove"
        (dndDrop)="onDrop($event, sortedBanner)">
        <div class="dz-placeholder" dndPlaceholderRef></div>
        <!-- [ngStyle]="{ 'background-image': 'url(' + item.image_url + ')' }" -->
        <div fxLayout="column wrap" class="banner-dropzone" [dndDraggable]="item" (dndMoved)="onDragged(item, sortedBanner, 'move')"
          *ngFor="let item of sortedBanner; let i = index" dndEffectAllowed="move">
          <div class="item">
            <img src="{{item.image_url}}" alt="{{item.name}}" width="200px" height="100px">
            <div class="banner-title" fxLayout="row wrap" fxLayoutAlign="center center">
              {{item.name}}
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="remove(item, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
        <div style="height: 100px !important; margin-right: 10px !important;" class="dz-add" *ngIf="sortedBanner.length < MAX_SLOT_BANNER[formSortBanner.get('type_banner').value]"
        [class.ml-24]="(!sortedBanner.length)">
          <div fxLayout="column wrap" class="banner-dropzone" fxLayoutAlign="center center">
            <mat-icon fxFlex class="ic-add" [inline]="true">add</mat-icon>
            <h3 style="margin-block-start: 0.1em;margin-block-end: 0.1em;">Maks {{MAX_SLOT_BANNER[formSortBanner.get('type_banner').value]}} Banner</h3>
          </div>
        </div>
        <!-- <div class="banner-dropzone dz-add" fxLayout="column wrap" flexLayoutAlign="center center" style="padding: auto;">
        </div> -->
      </div>
    </div>
  </div>

  <!-- TABLE -->
  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{TABLE_TITLE[formSortBanner.get('type_banner').value]}}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="pagination.total"
        [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)"
        [selected]="sortedBanner"
        (sort)="onSort($event)">
        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <!-- <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template> -->

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn" let-row="row">
            <mat-checkbox [checked]="isSelected || checkSelected(row)"
              (change)="onSelect($event, row, sortedBanner, onCheckboxChangeFn)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true"
          dndEffectAllowed="copyMove">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0" [dndDraggable]="row"
              (dndMoved)="onDragged(row, rows, 'move')" (dndCopied)="onDragged(row, rows, 'copy')">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nama" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Grup Pengguna" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Halaman Tujuan" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tanggal Kadaluarsa" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="Status" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>

</div>