<div class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <page-content-header [contentTitle]="paramEdit ? 'Edit KPI Setting' : 'Create KPI Setting'"></page-content-header>
    <!-- / HEADER -->
  
    <div class="content p-24">
      <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
        <form [formGroup]="formKPI">
          <div class="ayo-top" fxLayout="row" fxLayoutAlign="space-between center">
            <h3 class="font-weight-700">Edit KPI Group</h3>
            <!-- <button *ngIf="enableEdit" -->
            <button 
              mat-raised-button type="button" color="primary" (click)="addKPI()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="ayo-middle pt-24" fxLayout="column">
            <div class="mb-36" fxLayout="column" style="width:100%;max-width:400px;">
              <select-search placeholder="Start KPS" searchLabel="Cari Start KPS..." [options]="KPSListStart" [value]="formKPI.get('start_kps').value" (onChange)="formKPI.get('start_kps').setValue($event)">
                <mat-error *ngIf="formKPI.controls['start_kps'].hasError('required') && formKPI.controls['start_kps'].touched">
                  Start KPS harus diisi
                </mat-error>
              </select-search>
              <select-search placeholder="End KPS" searchLabel="Cari End KPS..." [options]="KPSListEnd" [value]="formKPI.get('end_kps').value" (onChange)="formKPI.get('end_kps').setValue($event)">
                <mat-error *ngIf="formKPI.controls['end_kps'].hasError('required') && formKPI.controls['end_kps'].touched">
                  End KPS harus diisi
                </mat-error>
              </select-search>
              <div fxLayout="row">
                <mat-slide-toggle formControlName="status">
                  Status
                </mat-slide-toggle>
              </div>
            </div>
          </div>
          <div fxLayout="column">
            <h3 *ngIf="existingAreas && existingAreas.length > 0">Existing Areas:</h3>
            <div class="table-wrapper mb-16" *ngIf="existingAreas && existingAreas.length > 0">
              <ngx-datatable class="material" [rows]="existingAreas" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
                [count]="existingAreas.length" [externalSorting]="false">

                <!-- <ngx-datatable-column name="Area ID" prop="id" [width]="24">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <span class="row-id">{{row.id}}</span>
                  </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Code" prop="code">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <span class="row-code" >{{row.code}}</span>
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column *ngIf="enableEdit" -->
                <ngx-datatable-column
                  [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
                    style="justify-content: center !important">
                    <div class="button-row" style="margin-left: -10px">
                      <button mat-icon-button color="" (click)="deleteArea(row.id)">
                        <mat-icon class="secondary-text">delete</mat-icon>
                      </button>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
            <h3 *ngIf="existingAreas && existingAreas.length > 0">Add Areas:</h3>
            <div class="pb-16">
              <salestree [limit]="areaFromLogin" (areas)="getAreas($event)" (areaWithKey)="getAreaIds($event)"></salestree>
            </div>
            <div class="" formArrayName="kpis" *ngFor="let kpi of formKPI.get('kpis')['controls']; let i = index;">
              <div class="table-wrapper" [formGroupName]="i">
                <div class="mb-16 kpi" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="50">
                    <h3 class="">KPI {{i+1}}</h3>
                  </div>
                  <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="end center"
                    fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                    <button *ngIf="i !== 0"
                      mat-raised-button color="primary" type="button"
                      (click)="moveUp(i)">
                      <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <button *ngIf="i !== (formKPI.get('kpis').value.length - 1)"
                      mat-raised-button color="primary" type="button"
                      (click)="moveDown(i)">
                      <mat-icon>arrow_downward</mat-icon>
                    </button>
                    <button
                      *ngIf="(formKPI.get('kpis').value.length === 1 || i === (formKPI.get('kpis').value.length - 1))"
                      mat-raised-button type="button" (click)="addKPI()">
                      <mat-icon>add</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" type="button"
                      (click)="deleteKPI(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="p-24" fxLayout="column" style="width:100%;max-width:400px;">
                  <!-- select category -->
                  <select-search placeholder="Kategori KPI" searchLabel="Cari Kategori KPI..." [options]="categories" [value]="kpi.get('category').value" (onChange)="resetKPIDetail(i, $event)">
                    <mat-error *ngIf="kpi.controls['category'].hasError('required') && kpi.controls['category'].touched">
                      Kategori KPI harus dipilih
                    </mat-error>
                  </select-search>

                  <!-- if category = brand -->
                  <ng-container *ngIf="kpi.get('category').value == 'brand'">
                    <select-search placeholder="Brand" searchLabel="Cari Brand..." [options]="brands" [value]="kpi.get('brand').value" (onChange)="kpi.get('brand').setValue($event)">
                      <mat-error *ngIf="kpi.controls['brand'].hasError('required') && kpi.controls['brand'].touched">
                        Brand harus dipilih
                      </mat-error>
                    </select-search>
                    <select-search placeholder="Parameter" searchLabel="Cari Parameter..." [options]="brand_parameters" [value]="kpi.get('parameter').value" (onChange)="kpi.get('parameter').setValue($event)">
                      <mat-error *ngIf="kpi.controls['parameter'].hasError('required') && kpi.controls['parameter'].touched">
                        Parameter harus dipilih
                      </mat-error>
                    </select-search>
                  </ng-container>

                  <!-- if category = trade program -->
                  <ng-container *ngIf="kpi.get('category').value == 'trade program'">
                    <select-search placeholder="Nama Trade Program" searchLabel="Cari Trade Program..." [options]="tradeProgramList" [value]="kpi.get('parameter').value" (onChange)="kpi.get('parameter').setValue($event)" [scrollApi]="scrollTradeProgram" (onScrollApi)="getScrollTradeProgram($event, i, 'scroll')">
                      <mat-error *ngIf="kpi.controls['parameter'].hasError('required') && kpi.controls['parameter'].touched && tradeProgramList.length">
                        Trade Program harus dipilih
                      </mat-error>
                      <mat-error *ngIf="!tradeProgramList.length">
                        Trade Program tidak tersedia
                      </mat-error>
                    </select-search>
                  </ng-container>

                  <!-- if category = ecosystem -->
                  <ng-container *ngIf="kpi.get('category').value == 'ecosystem'">
                    <select-search placeholder="Parameter" searchLabel="Cari Parameter..." [options]="ecosystemParams" [value]="kpi.get('parameter').value" (onChange)="ecosystemParamsChange(i, $event)">
                      <mat-error *ngIf="kpi.controls['parameter'].hasError('required') && kpi.controls['parameter'].touched">
                        Parameter harus dipilih
                      </mat-error>
                    </select-search>
                    <select-search *ngIf="kpi.get('parameter').value === 'Private Label'" placeholder="Brand" searchLabel="Cari Brand..." [options]="ecosystemBrands" [value]="kpi.get('brand').value" (onChange)="kpi.get('brand').setValue($event)">
                      <mat-error *ngIf="kpi.controls['brand'].hasError('required') && kpi.controls['brand'].touched">
                        Brand harus dipilih
                      </mat-error>
                    </select-search>
                  </ng-container>

                </div>
              </div>
            </div>
            <div class="confirm btn-confirm pt-36 pb-24" fxLayout="row" fxLayoutGap="25px">
              <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
                SIMPAN
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
