<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>{{'dte.pengaturan_attribute_misi.text8' | translate}}</h1>
  <mat-dialog-content>
    <mat-form-field style="width: 100%;">
      <input
        matInput
        formControlName="name"
        placeholder="{{'dte.pengaturan_attribute_misi.text9' | translate}}"
        value="{{name}}"
        required
      />
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-select placeholder="{{'dte.pengaturan_attribute_misi.text10' | translate}}" formControlName="status">
        <mat-option value="active">{{'global.label.active' | translate}}</mat-option>
        <mat-option value="inactive">{{'global.label.inactive' | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="success" type="submit">{{'global.button.save' | translate}}</button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="dialogRef.close()"
    >
      {{'global.button.cancel' | translate}}
    </button>
  </mat-dialog-actions>
</form>
