<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="{{'cn_reward.discount_coins_order.title' | translate}}">
    <div class="button-row" fxLayout="row">
      <button style="width: 170px;" mat-raised-button aria-label="Login" type="button"
      *ngIf="permission?.buat"
        [routerLink]="['/discount-coins-order','create']">
        <mat-icon>add</mat-icon> {{ 'global.button.add' | translate }}
      </button>
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{ 'cn_reward.discount_coins_order.title' | translate }}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="{{ ls.locale.global.label.search }}" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
        [count]="pagination.total" [limit]="pagination.per_page" [offset]="offsetPagination" [externalPaging]="true"
        [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)">

        <ngx-datatable-column name="{{ 'cn_reward.discount_coins_order.program_name' | translate }}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <a class="direct-edit" (click)="directDetail(row)">{{row.name}} </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'cn_reward.discount_coins_order.trade_creator_group_name' | translate }}" prop="trade_creator_group_name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.trade_creator_group_name}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'cn_reward.discount_coins_order.start_date' | translate }}" prop="start_date">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.start_date | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ 'cn_reward.discount_coins_order.end_date' | translate }}" prop="end_date">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.end_date | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{ 'global.label.action' | translate }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button color="" (click)="directEdit(row)"
              [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.ubah">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="deleteDiscountCoin(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</div>