<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Produk'">
    <button style="min-width: 170px;" [routerLink]="['/sku-management', 'product', 'create']" mat-raised-button
      aria-label="Produk" type="button">
      <mat-icon>add</mat-icon>TAMBAH PRODUK
    </button>
    <!-- <button style="min-width: 170px;" mat-raised-button type="button" class="is-danger">HAPUS</button> -->
  </page-content-header>
  <!-- / HEADER -->
  <div *ngIf="onLoad" fxLayout="row" fxLayoutAlign="center center" class="pt-48">
    <mat-spinner [strokeWidth]="6" [diameter]="50" color="accent"></mat-spinner>
  </div>
  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
        fxLayoutAlign="end center" class="p-16 export">
        <button (click)="import()" mat-raised-button type="button" class="is-danger">
          <mat-icon>arrow_downward</mat-icon> Import XLS
        </button>
        <!-- <a #downloadLink></a>
        <button (click)="export()" mat-raised-button type="button" class="is-danger">
          <mat-icon>arrow_upward</mat-icon> Export XLS
        </button> -->
        <a #downloadLink></a>
        <button (click)="exportn()" mat-raised-button type="button" class="is-danger">
          <mat-icon>arrow_upward</mat-icon> Export XLS
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table">
        <h2 class="pl-8">Daftar Produk</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true"
        [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)">

        <!-- <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
            <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
              <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
            </ng-template>

            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
              <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
            </ng-template>
          </ngx-datatable-column> -->

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container m-8 product-image">
              <img class="" *ngIf="row.image_url" [src]="row.image_url">
              <img class="" *ngIf="!row.image_url" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nama Produk" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" [routerLink]="['/sku-management', 'product', 'detail', row.id]">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Barcode" prop="barcode"></ngx-datatable-column>
        <ngx-datatable-column name="Perusahaan" prop="brand_name"></ngx-datatable-column>

        <ngx-datatable-column [width]="88" name="Kategori" prop="category_name"></ngx-datatable-column>

        <ngx-datatable-column [width]="88" name="Pin Up Product" prop="status_pin_up">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name">{{row.status_pin_up === 1 ? 'YA' : '-'}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="88" name="Prioritas Produk" prop="priority_product"></ngx-datatable-column>
        <ngx-datatable-column [width]="68" name="Status" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status == 'active'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status == 'inactive'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="88" name="Produk Pilihan SRC" prop="is_promo_src">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.is_promo_src === 1" class="active-icon mat-green-600-bg s-18">check</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="80" name="Produk Prinsipal" prop="is_promo_src">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.is_private_label === 1" class="active-icon mat-green-600-bg s-18">check</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="Detail Produk"
                [routerLink]="['/sku-management', 'product', 'detail', row.id]">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="Ubah Produk"
                [routerLink]="['/sku-management', 'product', 'edit', row.id]">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="Hapus Produk" (click)="deleteProduct(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>