<mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" mode="indeterminate"></mat-progress-bar>
<div class="padding-top" fxLayout="column" fusePerfectScrollbar *ngIf="!onLoadTP">
  <div class="page-layout simple fullwidth">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2>Daftar Trade Program</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field autoComplete="off" class="is-light tab-search">
            <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUpTP.next($event.target.value)">
          </mat-form-field>
        </div>
      </div>
    </div>
    <ngx-datatable class="material" [rows]="rowsTP" [loadingIndicator]="loadingIndicatorTP" [columnMode]="'force'" [offset]="offsetPagination"
      [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderableTP"
      [count]="paginationTP.total" [limit]="paginationTP.per_page" [externalPaging]="true" [externalSorting]="true"
      (page)="setPageTP($event)" (sort)="onSortTP($event)" [sorts]="[{prop: 'name', dir: 'asc'}]">


      <!-- <ngx-datatable-column name="Kode Halaman" prop="kode_halaman"></ngx-datatable-column> -->

      <ngx-datatable-column name="{{ls.locale.global.label.name}}" prop="name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span class="row-name" [routerLink]="['/sku-management', 'coin', 'detail-trade-program', row.id]" (click)="setToStorage(row, 'coin_detail_trade_program')">{{row.name}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Dana" prop="budget">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.budget | rupiahFormater}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{ls.locale.manajemen_barang_sku.manajemen_koin.text15}}" prop="start_date">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.start_date | date:'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{ls.locale.manajemen_barang_sku.manajemen_koin.text16}}" prop="start_date">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.end_date | date:'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tanggal Kadaluarsa Koin" prop="start_date">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.coin_expiry_date | date:'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" style="justify-content: center !important">
          <div class="button-row pl-8">
            <button matTooltip="Flush Coin" type="button" mat-icon-button color="primary" (click)="flush('program', row)">
              <mat-icon>history</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>