<div id="ayoLogin" fxLayout="row" fxLayoutAlign="center center">
  <div class="tra" *ngIf="environment?.show_label">
    <div class="bg-tra"></div>
    <div class="text-tra">{{ environment?.label }}</div>
  </div>
  <div class="lgn-container" fxFlex="420px" fxFlex.lt-md="80%">
    <div class="lgn-box">
      <div class="top">
        <img [src]="environment?.image" [srcset]="environment?.image_2x" />
        <div class="title">{{ ls.locale.forgot_password.text1 }}</div>
      </div>
      <div class="middle-form">
        <form name="form" [formGroup]="forgotPasswordForm">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="10px">
            <mat-form-field fxFlex="100" class="is-light form-primary">
              <input matInput [placeholder]="ls.locale.global.label.email" formControlName="email" type="email">
              <mat-error
                *ngIf="forgotPasswordForm.controls['email'].hasError('required') && forgotPasswordForm.controls['email'].touched">
                {{ ls.locale.forgot_password.text4 }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="login-button" fxLayout="row">
            <button mat-raised-button aria-label="Login" type="button" color="primary-red" (click)="submit()">{{
              ls.locale.global.button.send }}</button>
          </div>

          <div fxLayout="row" fxLayoutAlign="center bottom">
            <p class="backtologin">{{ ls.locale.forgot_password.text2 }} <a
                [routerLink]="'/login'">{{ls.locale.forgot_password.text3}}</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>