  <div id="ayoLogin" fxLayout="row" fxLayoutAlign="center center">
    <div class="lgn-container" fxFlex="420px" fxFlex.lt-md="80%">
        <div class="lgn-box">
          <div class="top">
            <img src="assets/images/ayo/AYO-logo.png" srcset="assets/images/ayo/AYO-logo@2x.png 2x" />
            <div class="title">Forgot Password</div>
          </div>
          <div class="middle-form">
            <form name="form" [formGroup]="forgotPasswordForm">
              <div class="label">Email</div>
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="10px">
                <mat-form-field fxFlex="100" class="form-primary">
                  <input matInput type="email"  required>
                </mat-form-field>
              </div>
              <div class="login-button" fxLayout="row">
                <button mat-raised-button aria-label="Login" type="button" color="primary-red" [routerLink]="'/reset-password'">Reset Password</button>
              </div>

              <div fxLayout="row" fxLayoutAlign="center bottom">
                  <p class="backtologin">Back to <a [routerLink]="'/login'">Login</a></p>
              </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>