<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <page-content-header [contentTitle]="'Perusahaan'">
  </page-content-header>

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-bg-white p-0">
      <div fxLayout="row" class="p-24 bb" fxLayoutAlign="space-between center">
        <h2 class="m-0">Tambah Supplier</h2>
        <!-- <mat-form-field class="orders dropdown" [class]="supplierStatusSelected == 'active'? 'orders status-active' : supplierStatusSelected == 'non-active'? 'orders status-nonactive': 'orders status-active'" fxLayout="row" fxLayoutAlign="center center">
          <mat-select required [(ngModel)]="supplierStatusSelected"> -->
            <!-- <mat-option [value]="item.status" *ngFor="let item of supplierStatusList">{{item.name}}</mat-option> -->
            <!-- <mat-option value="active" selected>Status Aktif</mat-option>
            <mat-option value="non-active">Status Non-Aktif</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
      <form [formGroup]="createForm" autocomplete="off">
        <div class="p-24" fxLayout="column">
          <div fxLayout="row">
            <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="is-light">
              <input matInput type="text" placeholder="Nama Supplier" formControlName="namasupplier" autocomplete="off">
              <mat-error
                *ngIf="createForm.controls['namasupplier'].hasError('required') && createForm.controls['namasupplier'].touched ">
                Nama Supplier harus diisi.
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="isFromPrivateLabel()" fxLayout="row">
            <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="is-light form-primary">
              <mat-chip-list #chipList aria-label="Keyword Selection">
                <mat-chip *ngFor="let product of products" [selectable]="productSelectable"
                  [removable]="productRemovable" (removed)="removeChip(product)">
                  {{product.name}}
                  <mat-icon matChipRemove *ngIf="productRemovable">cancel</mat-icon>
                </mat-chip>
                <input matInput placeholder="Produk yang dijual" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="productSeparatorKeysCodes" [matChipInputAddOnBlur]="productAddOnBlur"
                  (matChipInputTokenEnd)="addChip($event)" [formControl]="productControl" [matAutocomplete]="auto" >
              </mat-chip-list>
              <mat-error *ngIf="products.length == 0">
                Produk yang dijual harus diisi.
              </mat-error>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of productOptions | async" [value]="option.name"
                (click)="addProductChip(option)" [disabled]="option.disabled">
                <span *ngIf="isProductFound">{{option.name}}</span>
                <span *ngIf="!isProductFound" title="{{option.text}}">HASIL PENCARIAN untuk
                  <span style="font-weight: 800;">"{{option.value}}"</span> tidak ditemukan, Mohon hubungi tim
                  Digital Care untuk pertanyaan ini.</span>
              </mat-option>
            </mat-autocomplete>
          </div>
          <div fxLayout="column" class="mb-8">
            <label class="field-label" *ngIf="createForm.controls['alamat'].value">Alamat</label>
            <div fxLayout="row" >
              <div class="body-layout" fxFlex="100" fxFlex.gt-sm="50">
                <textarea matInput class="body-text" placeholder="Alamat" formControlName="alamat" wrap="soft"></textarea>
              </div>
            </div>
            <mat-error *ngIf="createForm.controls['alamat'].hasError('required') && createForm.controls['alamat'].touched">
              Alamat harus diisi.
            </mat-error>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="50" class="is-light">
              <input matInput type="text" placeholder="Nomor Telepon" formControlName="telepon" minlength="6">
              <mat-error
                *ngIf="createForm.controls['telepon'].hasError('required') && createForm.controls['telepon'].touched">
                Nomor Telepon harus diisi.
              </mat-error>
              <mat-error
                *ngIf="createForm.get('telepon').errors?.minlength && createForm.controls['telepon'].touched">
                Minimal Nomor Telepon 6 angka
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="50" class="is-light">
              <input matInput type="text" placeholder="Nomor Ponsel" formControlName="ponsel" minlength="10">
              <mat-error
                *ngIf="createForm.controls['ponsel'].hasError('required') && createForm.controls['ponsel'].touched">
                Nomor Ponsel harus diisi.
              </mat-error>
              <mat-error
                *ngIf="createForm.get('ponsel').errors?.minlength && createForm.controls['ponsel'].touched">
                Minimal Nomor Ponsel 10 angka
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <label class="field-label" *ngIf="catatanControl.value">Catatan</label>
            <div fxLayout="row" >
              <div class="body-layout" fxFlex="100" fxFlex.gt-sm="50">
                <textarea matInput class="body-text" placeholder="Catatan" [formControl]="catatanControl" wrap="soft"></textarea>
              </div>
            </div>
            <!-- <mat-error *ngIf="createForm.controls['catatan'].hasError('required') && createForm.controls['catatan'].touched">
              Catatan harus diisi.
            </mat-error> -->
          </div>
          <div class="confirm pt-8 pb-24" fxLayout="row">
            <button mat-raised-button type="button" class="confirmation-button" fxFlex="30" fxFlex.gt-xs="20" (click)="onSave()">
              SIMPAN
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
