<div class="page-layout simple fullwidth" fxLayout="column">
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Buat BIN'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="">Buat BIN</h2>
      </div>
      <div class="ayo-middle py-24" fxLayout="column">
        <form autocomplete="off" [formGroup]="formBin">
          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select formControlName="company" placeholder="Nama Bank">
                <mat-option *ngFor="let item of listCompany" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formBin.controls['company'].hasError('required') && formBin.controls['company'].touched">
                Nama Bank harus diisi
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input matInput type="text" formControlName="bin" placeholder="BIN">
              <mat-error
                *ngIf="formBin.controls['bin'].hasError('required') && formBin.controls['bin'].touched">
                BIN harus diisi
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button type="button" class="confirmation-button" (click)="submit()" fxFlex="20">
        SIMPAN
      </button>
    </div>
    <a #downloadLink></a>
  </div>
</div>