<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Voucher Principal'">
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">Voucher Private Label</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true"
        [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)" [selected]="selected"
        [selectAllRowsOnPage]="false" (select)="onSelect($event)">

        <!-- <ngx-datatable-column [width]=" 68" [canAutoResize]="false" [sortable]="false">

          <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onSelectAudience($event, row)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Nama Voucher" prop="name" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <!-- <span class="row-name" (click)="directDetail(row)">{{row.name}}</span> -->
            <span class="row-name">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Jumlah Toko" prop="store_count" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.store_count}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Toko Menukarkan Voucher" prop="store_redeem" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.store_redeem}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nilai Voucher Belum Terpakai" prop="nominal" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.voucher_not_redeem | rupiahFormater}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nilai Voucher Ditukarkan" prop="nominal_exchanged" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.voucher_redeem | rupiahFormater}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tanggal Voucher Dibagikan" prop="available_at" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.available_at | date: 'dd/MM/yyyy'}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tanggal Expiry" prop="expired_at" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.expired_at | date: 'dd/MM/yyyy'}}</span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>