<!-- <div class="content p-24" *ngIf="!onLoad"> -->
<div class="table-wrapper">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
    <h2 class="pl-8">Pengajuan Aktivasi SRC</h2>
    <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
      <div class="button-row">
        <button mat-stroked-button style="width: 160px" color="white" (click)="_export()">
          <mat-icon>vertical_align_top</mat-icon> Export Template
        </button>
      </div>

      <mat-icon>search</mat-icon>
      <mat-form-field class="is-light tab-search">
        <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
      </mat-form-field>
    </div>
  </div>
  <form [formGroup]="formFilter" autoComplete="off">
    <div fxLayout="row wrap" fxLayout.lt-md="column" class="px-24 pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex="12%" class="is-light form-primary">
        <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
          <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="12%" class="is-light form-primary">
        <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone" multiple>
          <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all' ? 'Semua
            Zona' :
            item.code}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="12%" class="is-light form-primary">
        <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region" multiple>
          <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name === 'all' ? 'Semua
            Regional'
            :
            item.code}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="12%" class="is-light form-primary">
        <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area" multiple>
          <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all' ? 'Semua
            Area'
            :
            item.code}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="12%" class="is-light form-primary">
        <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint" multiple>
          <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name === 'all' ?
            'Semua
            Salespoint'
            :
            item.code}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="12%" class="is-light form-primary">
        <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district" multiple>
          <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name === 'all' ? 'Semua
            District'
            :
            item.code}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="12%" class="is-light form-primary">
        <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory" multiple>
          <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name === 'all' ? 'Semua
            Territori'
            :
            item.code}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayout.lt-md="column" class="px-24 pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
      style="margin-bottom: 25px;">
      <mat-form-field fxFlex="20" class="is-light form-primary">
        <mat-select placeholder="Status" [formControl]="status">
          <mat-option *ngFor="let item of listStatus" [value]="item.value">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="20%" class="is-light form-primary">
        <input matInput [matDatepicker]="dari" (focus)="dari.open()" [formControl]="start_date"
          placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text15}}">
        <mat-datepicker-toggle matSuffix [for]="dari">
          <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #dari></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="20%" class="is-light form-primary">
        <input matInput [matDatepicker]="sampai" (focus)="sampai.open()" [formControl]="end_date"
          placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text16}}">
        <mat-datepicker-toggle matSuffix [for]="sampai">
          <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #sampai></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
    [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
    [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
    (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)">

    <ngx-datatable-column name="Nama SRC" prop="name">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Kode iSMS" prop="code">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.code}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Zone" prop="division">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.division}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Region" prop="region">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.region}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Area" prop="area">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.area}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Status" prop="status">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        {{row.status_indo.toUpperCase()}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Tanggal Pengajuan" prop="created_at">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        {{row.created_at | date: 'dd/MM/yyyy HH:mm'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Tanggal Aktivasi" prop="activation_date">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        {{row.activation_date | date: 'dd/MM/yyyy HH:mm'}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<!-- </div> -->