<div>
  <div fxLayout="column">
    <form [formGroup]="formNotifikasi">
      <mat-form-field style="width: 100%">
        <mat-select formControlName="name" placeholder="Nama User Penerima" id="name"
          (selectionChange)="selectChangeReceiver($event)" #singleSelect>
          <ngx-mat-select-search [formControl]="filterUserNames" [placeholderLabel]="'Cari Nama User ...'"
            [noEntriesFoundLabel]="'User Tidak ditemukan!'" [clearSearchInput]="false">
          </ngx-mat-select-search>
          <mat-option *ngFor="let item of filteredUserNames | async" [value]="item.id">
            {{item.fullname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <input matInput type="text" placeholder="Email Penerima" formControlName="email" name="email">
      </mat-form-field>
    </form>
  </div>
  <div class="button" fxLayout="row">
    <div (click)="submit()" fxFlex="50" class="positif-button">{{data?.positive_text}}</div>
    <div (click)="close()" fxFlex="50" class="negatif-button">{{data?.negative_text}}</div>
  </div>
</div>