<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Ubah Spanduk'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="loading" *ngIf="showLoading"></div>
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column" fusePerfectScrollbar>
      <form autocomplete="off" [formGroup]="formBannerGroup">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h2 class="">Ubah Spanduk</h2>
          <div>
            <mat-form-field [class]="formBannerGroup.get('status').value === 'publish' ? 'radius-select green' : 'radius-select red'">
              <mat-select formControlName="status">
                <mat-option *ngFor="let item of listStatus;" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="ayo-middle" fxLayout="column">
          <div class="" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>Informasi Spanduk</strong>
            </h3>
          </div>
          <div fxLayout="row wrap" fxLayout.lt-md="column" class="py-16" fxLayoutGap="60px" fxLayoutGap.lt-md="0px">

            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input matInput type="text" formControlName="name" placeholder="Nama Spanduk">
              <mat-error *ngIf="formBannerGroup.controls['name'].hasError('required') && formBannerGroup.controls['name'].touched">
                Nama Spanduk harus diisi
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="60px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="20%" class="is-light form-primary">
              <input matInput [matDatepicker]="dari" (focus)="dari.open()" formControlName="from" placeholder="Dari"
                (dateChange)="setMinDate()">
              <mat-error *ngIf="formBannerGroup.controls['from'].hasError('required') && formBannerGroup.controls['from'].touched">
                Berlaku dari tanggal harus diisi
              </mat-error>
              <mat-datepicker-toggle matSuffix [for]="dari">
                <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #dari></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="20%" class="is-light form-primary">
              <input matInput [matDatepicker]="sampai" (focus)="sampai.open()" formControlName="to" placeholder="Sampai"
                [min]="minDate">
              <mat-error *ngIf="formBannerGroup.controls['to'].hasError('required') && formBannerGroup.controls['to'].touched">
                Berlaku sampai tanggal harus diisi
              </mat-error>
              <mat-datepicker-toggle matSuffix [for]="sampai">
                <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #sampai></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>Audience</strong>
            </h3>
          </div>
          <div fxLayout="row wrap" fxLayout.lt-md="column" class="py-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="National" formControlName="national">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formBannerGroup.controls['national'].hasError('required') && formBannerGroup.controls['national'].touched">
                National harus diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Zone" formControlName="zone" (selectionChange)="getAudienceArea('region', formBannerGroup.get('zone').value)">
                <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name === 'all' ? 'Semua Zona' :
                  item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formBannerGroup.controls['zone'].hasError('required') && formBannerGroup.controls['zone'].touched">
                Zone harus diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Regional" formControlName="region" (selectionChange)="getAudienceArea('area', formBannerGroup.get('region').value)">
                <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name
                  === 'all' ? 'Semua Regional'
                  :
                  item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formBannerGroup.controls['region'].hasError('required') && formBannerGroup.controls['region'].touched">
                Regional harus diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Area" formControlName="area" (selectionChange)="getAudienceArea('salespoint', formBannerGroup.get('area').value)">
                <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name
                  === 'all' ? 'Semua Area'
                  :
                  item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formBannerGroup.controls['area'].hasError('required') && formBannerGroup.controls['area'].touched">
                Area harus diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Salespoint" formControlName="salespoint" (selectionChange)="getAudienceArea('district', formBannerGroup.get('salespoint').value)">
                <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name
                  === 'all' ? 'Semua
                  Salespoint'
                  :
                  item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formBannerGroup.controls['salespoint'].hasError('required') && formBannerGroup.controls['salespoint'].touched">
                Salespoint harus diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="District" formControlName="district" (selectionChange)="getAudienceArea('territory', formBannerGroup.get('district').value)">
                <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name === 'all' ? 'Semua
                  District': item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formBannerGroup.controls['district'].hasError('required') && formBannerGroup.controls['district'].touched">
                Distrik harus diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Territory" formControlName="territory">
                <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name
                  === 'all' ? 'Semua
                  Territori'
                  :
                  item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formBannerGroup.controls['territory'].hasError('required') && formBannerGroup.controls['territory'].touched">
                Territori harus diisi
              </mat-error>
            </mat-form-field>
          </div>
          <div class="py-16" fxLayout="row" fxLayoutAlign="start center">
            <span class="text-bold">Pilih Template Iklan</span>
          </div>
          <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <div fxFlex="45" class="pb-24" *ngFor="let item of templateBannerList">
              <span>{{item.name}}</span>
              <div [ngClass]="{'selected-banner': bannerSelected?.id === item.id, 'banner-image-template' : bannerSelected?.id !== item.id }"
                (click)="selectBannerTemplate(item)">
                <div [class]="'banner-image-custom ' + item.class" [title]="item.name" [style.background-image]="'url(' + item.image + ')'">
                  <img *ngIf="item.product" [src]="item.product" class="product">
                  <div class="title">{{item.title}}</div>
                  <div [class]="'button ' + item.button_class">{{item.button_text}}</div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="bannerSelected" ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag"
            [(file)]="files" accept="image/*" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
            (fileChange)="changeImage($event)">
            <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
              <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline</mat-icon>
              <br>
              <span matPrefix>Tarik gambar spanduk iklan Anda kesini /
                <strong>Pilih File</strong> berdimensi 410p x 210p.</span>
              <span matPrefix>Besar file maksimal 2mb</span>
            </div>
          </div>
          <!-- <div class="pt-48 pb-16">
            <div *ngIf="files && ['image/gif','image/png','image/jpeg'].indexOf(files.type)>=0">
              <div class="">
                <div class="deleteBanner">
                  <mat-icon style="cursor: pointer;" (click)="removeImage()">cancel_outline</mat-icon>
                </div>
                <div class="previewBanner" [ngfBackground]="files"></div>
              </div>
            </div>
            <div *ngIf="!files && detailBanner.image_url">
              <img class="previewBanner" [src]="detailBanner.image_url">
            </div>
          </div> -->
          <div *ngIf="bannerSelected" class="pt-16" formGroupName="banner_selected">
            <div *ngIf="bannerSelected['id'] !== 6">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <input matInput type="text" formControlName="title" placeholder="Tulisan Utama / Teks Utama / Isi Promosi">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <input matInput type="text" formControlName="button_text" placeholder="Tulisan Pada Tombol">
                </mat-form-field>
              </div>
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="button_class" placeholder="Warna Tombol">
                    <mat-select-trigger>
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span [ngClass]="{'red-circle-button': bannerSelected.button_class === 'red', 'white-circle-button': bannerSelected.button_class === 'white'}"></span>{{bannerSelected.button_class
                        === 'red' ? 'Merah' : 'Putih'}}
                      </div>
                    </mat-select-trigger>
                    <mat-option value="red">Merah</mat-option>
                    <mat-option value="white">Putih</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="py-16" fxLayout="row" fxLayoutAlign="start center">
              <span class="text-bold">Contoh Tampilan Spanduk</span>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              *ngIf="bannerSelected">
              <div fxFlex="45">
                <div class="banner-image-template-selected">
                  <div id="banner" [class]="'banner-image-custom-selected ' + bannerSelected.class" [title]="bannerSelected.name">
                    <img [src]="bannerSelected.image" width="390" height="190" [alt]="bannerSelected.name">
                    <img *ngIf="bannerSelected.product" [src]="bannerSelected.product" class="product">
                    <div class="title">{{bannerSelected.title}}</div>
                    <div [class]="'button ' + bannerSelected.button_class">{{bannerSelected.button_text}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!bannerSelected && detailBanner.image_url" class="pt-16">
            <div class="py-16" fxLayout="row" fxLayoutAlign="start center">
              <span class="text-bold">Contoh Tampilan Spanduk</span>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <div class="banner-image-template-selected">
                <img [src]="detailBanner.image_url" class="banner-image-custom-selected">
              </div>
            </div>
          </div>
          <div class="pb-24">
            <div fxLayout="row">
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <input matInput type="text" formControlName="title" placeholder="Nama Halaman">
                <mat-error *ngIf="formBannerGroup.controls['title'].hasError('required') && formBannerGroup.controls['title'].touched">
                  Nama Halaman harus diisi
                </mat-error>
              </mat-form-field>
            </div>
            <div class="pt-8" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">Isi Halaman</h3>
            </div>
            <textarea [froalaEditor]="options" formControlName="body" class="pb-4" fxFlex="100"></textarea>
            <mat-error style="padding-top: 6px !important; font-size: .86em;" *ngIf="formBannerGroup.controls['body'].hasError('required') && formBannerGroup.controls['body'].touched">
              Isi Halaman harus diisi
            </mat-error>
          </div>


          <div class="pb-16">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Promo</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="promo" class="radio-group">
              <mat-radio-button class="radio-button" value="yes">Ya</mat-radio-button>
              <mat-radio-button class="radio-button" value="no">Tidak</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="pb-16">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Grup Pengguna</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="user_group" class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let item of listUserGroup" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="pb-16">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Batasan Umur</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="age" class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let item of listAge" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button type="button" (click)="submit('draft')" fxFlex="20">
            SIMPAN SEBAGAI DRAF
          </button>
          <button mat-raised-button type="button" class="confirmation-button" (click)="submit('publish')" fxFlex="20">
            SIMPAN DAN KIRIM
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
