<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="{{ isDetail ? ('global.label.detail_entity' | translate:titleParam) : ('global.label.edit_entity' | translate:titleParam) }}"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column" fusePerfectScrollbar>
      <form autocomplete="off" [formGroup]="formBannerGroup">
        <div fxLayout="row" class="px-24" fxLayoutAlign="space-between center">
          <h2 class="">{{isDetail ? ('global.label.detail_entity' | translate:titleParam) : ('global.label.edit_entity' | translate:titleParam)}}</h2>
          <div>
            <mat-form-field
              [class]="formBannerGroup.get('status').value === 'publish' ? 'radius-select green' : 'radius-select red'">
              <mat-select formControlName="status">
                <mat-option *ngFor="let item of listStatus;" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="ayo-middle" fxLayout="column">
          <div class="px-24" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>{{'iklan_dalam_aplikasi.spanduk_online.text7' | translate}}</strong>
            </h3>
          </div>
          <div fxLayout="row wrap" fxLayout.lt-md="column" class="py-16 px-24" fxLayoutGap="60px"
            fxLayoutGap.lt-md="0px">

            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input matInput type="text" formControlName="name" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text8' | translate}}">
              <mat-error
                *ngIf="formBannerGroup.controls['name'].hasError('required') && formBannerGroup.controls['name'].touched">
                {{'iklan_dalam_aplikasi.spanduk_online.text8' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" class="pb-24 px-24" fxLayoutGap="60px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="20%" class="is-light form-primary">
              <input matInput [matDatepicker]="dari" (focus)="dari.open()" formControlName="from" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.available_from' | translate}}"
                (dateChange)="setMinDate()">
              <mat-error
                *ngIf="formBannerGroup.controls['from'].hasError('required') && formBannerGroup.controls['from'].touched">
                {{'iklan_dalam_aplikasi.spanduk_online.available_from' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
              <mat-datepicker-toggle matSuffix [for]="dari">
                <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #dari></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="20%" class="is-light form-primary">
              <input matInput [matDatepicker]="sampai" (focus)="sampai.open()" formControlName="to" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.available_to' | translate}}"
                [min]="minDate">
              <mat-error
                *ngIf="formBannerGroup.controls['to'].hasError('required') && formBannerGroup.controls['to'].touched">
                {{'iklan_dalam_aplikasi.spanduk_online.available_to' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
              <mat-datepicker-toggle matSuffix [for]="sampai">
                <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #sampai></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="px-24" fxLayout="row" fxLayoutAlign="start center" >
            <mat-form-field fxFlex="100" class="is-light form-primary" *ngIf="formBannerGroup.get('type_banner').value === 'ticker'">
              <input   maxlength="10" matInput type="text" formControlName="ticker_title"
                placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}}"> 
              <mat-error
                *ngIf="formBannerGroup.controls['ticker_title'].hasError('required') && formBannerGroup.controls['ticker_title'].touched">
                {{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}} {{'global.messages.mandatory_text' |
                translate}}
              </mat-error>
              <mat-error
                *ngIf="formBannerGroup.controls['ticker_title'].hasError('maxlength') && formBannerGroup.controls['ticker_title'].touched">
                {{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}} Maksimal 10 karakter
              </mat-error>
            </mat-form-field>
           
          </div>
          <!-- <div class="" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>Audience</strong>
            </h3>
          </div> -->
          <div *ngIf="!isDetail">
            <div class="py-16 px-24" fxLayout="row" fxLayoutAlign="start center" *ngIf="formBannerGroup.get('type_banner').value != 'ticker'">
              <span class="text-bold">{{'iklan_dalam_aplikasi.spanduk_online.text9' | translate}}</span>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24 px-24" fxLayoutGap="20px"
              fxLayoutGap.lt-md="0px" *ngIf="formBannerGroup.get('type_banner').value != 'ticker'">
              <div fxFlex="45" class="pb-24" *ngFor="let item of templateBannerList">
                <span>{{item.name}}</span>
                <div
                  [ngClass]="{'selected-banner': bannerSelected?.id === item.id, 'banner-image-template' : bannerSelected?.id !== item.id }"
                  (click)="selectBannerTemplate(item)">
                  <div [class]="'banner-image-custom ' + item.class" [title]="item.name"
                    [style.background-image]="'url(' + item.image + ')'">
                    <div class="title">{{item.title}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-24">
              <div *ngIf="bannerSelected && bannerSelected?.id === 6" ngfDrop selectable="1" class="rectangle-16"
                [(validDrag)]="validComboDrag" [(file)]="files" accept="image/*"
                [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
                (fileChange)="changeImage($event)">
                <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline</mat-icon>
                  <br>
                  <span matPrefix [innerHTML]="'iklan_dalam_aplikasi.spanduk_iklan.import_image' | translate"></span>
                  <span matPrefix>{{'pengajuan_src.max_image' | translate}}</span>
                </div>
              </div>
            </div>
            <div *ngIf="bannerSelected" class="pt-16 px-24" formGroupName="banner_selected">
              <div *ngIf="bannerSelected['id'] !== 6">
                <div fxLayout="row" *ngIf="formBannerGroup.get('type_banner').value != 'ticker'">
                  <mat-form-field fxFlex="45" class="is-light form-primary">
                    <input matInput type="text" formControlName="title"
                      placeholder="{{'iklan_dalam_aplikasi.spanduk_online.banner_title' | translate}}">
                  </mat-form-field>
                </div>
              </div>
              <div class="py-16" fxLayout="row" fxLayoutAlign="start center">
                <span class="text-bold">{{'iklan_dalam_aplikasi.spanduk_online.text10' | translate}}</span>
              </div>
              <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
                *ngIf="bannerSelected">
                <div fxFlex="45" *ngIf="formBannerGroup.get('type_banner').value != 'ticker'">
                  <div class="banner-image-template-selected">
                    <div id="banner" [class]="'banner-image-custom-selected ' + bannerSelected.class"
                      [title]="bannerSelected.name">
                      <img [src]="bannerSelected.image" style="height: 190px; width: 390px" [alt]="bannerSelected.name">
                      <div class="title">{{bannerSelected.title}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="px-24" fxLayout="column" style="padding-bottom: 20px;">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">{{'iklan_dalam_aplikasi.spanduk_online.textticker' | translate}}</h3>
            </div>
            <textarea *ngIf="formBannerGroup.get('type_banner').value === 'ticker'" maxlength="20" [froalaEditor]="options" formControlName="ticker_body" class="pb-4" fxFlex="100"></textarea>
            
            <mat-error style="padding-top: 6px !important; font-size: .86em;"
              *ngIf="formBannerGroup.controls['ticker_body'].hasError('required') && formBannerGroup.controls['ticker_body'].touched">
              {{'iklan_dalam_aplikasi.spanduk_online.textticker' | translate}} {{'global.messages.mandatory_text' |
              translate}}
            </mat-error>
            <mat-error
                  *ngIf="formBannerGroup.controls['ticker_body'].hasError('maxlength') && formBannerGroup.controls['ticker_body'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.textticker' | translate}} Maksimal 20 karakter
                </mat-error>
              </div>
          <div *ngIf="!bannerSelected && detailBanner.image_url" class="pt-16 px-24">
            <div class="py-16" fxLayout="row" fxLayoutAlign="start center">
              <span class="text-bold">{{'iklan_dalam_aplikasi.spanduk_online.text10' | translate}}</span>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <div class="banner-image-template-selected">
                <img [src]="detailBanner.image_url" class="banner-image-custom-selected">
              </div>
            </div>
          </div>
          <div *ngIf="isDetail" class="pt-16 px-24">
            <div class="py-16" fxLayout="row" fxLayoutAlign="start center">
              <span class="text-bold">{{'iklan_dalam_aplikasi.spanduk_online.text10' | translate}}</span>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <div class="banner-image-template-selected">
                <img [src]="detailBanner.image_url" class="banner-image-custom-selected">
              </div>
            </div>
          </div>
          <div fxLayout="row wrap">
            <div fxFlex>
              <div class="pb-16 px-24">
                <div class="" fxLayout="row" fxLayoutAlign="start center">
                  <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.text3' | translate}}</strong>
                </div>
                <mat-radio-group formControlName="user_group" class="radio-group">
                  <mat-radio-button class="radio-button" *ngFor="let item of listUserGroup" [value]="item.value">
                    {{item.name}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div fxFlex *ngIf="formBannerGroup.get('user_group').value === 'retailer'">
              <div class="pb-16 px-24">
                <div class="" fxLayout="row" fxLayoutAlign="start center">
                  <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.banner_type' | translate}}</strong>
                </div>
                <mat-radio-group formControlName="type_banner" class="radio-group">
                  <mat-radio-button class="radio-button" *ngFor="let item of listTypeBanner" [value]="item.value">
                    {{item.name}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div fxFlex *ngIf="formBannerGroup.get('user_group').value === 'customer'">
              <div class="pb-16 px-24">
                <div class="" fxLayout="row" fxLayoutAlign="start center">
                  <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.banner_type' | translate}}</strong>
                </div>
                <mat-radio-group formControlName="type_banner" class="radio-group">
                  <mat-radio-button class="radio-button" *ngFor="let item of listTypeBannerConsumer" [value]="item.value">
                    {{item.name}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>


          <!-- Consumer -->
          <div *ngIf="formBannerGroup.get('user_group').value === 'customer'">
            
            <!-- <div class="pb-2 px-24" fxLayout="row" fxLayoutAlign="start center">
              <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.text14' | translate}}</strong>
            </div>
            <div class="pb-24 px-24">
              <div fxLayout="row" *ngFor="let item of listSmoker; let i = index">
                <mat-checkbox class="example-margin m-4" (change)="onChangeCheckbox($event)" [checked]="formBannerGroup.get('is_smoker').value.indexOf(item.value) > -1" [value]="item.value">{{item.name}}</mat-checkbox>
              </div>
            </div> -->

            <!-- <div *ngIf="!customAge" class="pb-16 px-24">
              <div class="" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.text16' | translate}}</strong>
              </div>
              <mat-radio-group formControlName="age_consumer" class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let item of listAge" [value]="item.value">
                  {{item.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div> -->

            <div class="px-24">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="employee" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text13' | translate}}">
                    <mat-option *ngFor="let item of listEmployee" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formBannerGroup.controls['employee'].hasError('required') && formBannerGroup.controls['employee'].touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.text13' | translate}}{{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="px-24">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="is_smoker" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text14' | translate}}">
                    <mat-option *ngFor="let item of listSmoker" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formBannerGroup.controls['is_smoker'].hasError('required') && formBannerGroup.controls['is_smoker'].touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.text14' | translate}} {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="px-24" *ngIf="formBannerGroup.get('is_smoker').value !== 'yes'">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="verification" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text15' | translate}}">
                    <mat-option *ngFor="let item of listJenisKonsumen" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formBannerGroup.controls['verification'].hasError('required') && formBannerGroup.controls['verification'].touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.text15' | translate}} {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="px-24">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="subscription" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.subscription_status' | translate}}">
                    <mat-option *ngFor="let item of listSubscription" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formBannerGroup.controls['subscription'].hasError('required') && formBannerGroup.controls['subscription'].touched">
                    Status berlangganan {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="pb-16 px-24">
              <div class="pb-8" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.text16' | translate}}</strong>
              </div>
              <div class="" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex="15" class="is-light form-primary">
                  <input matInput type="number" formControlName="age_consumer_from" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text17' | translate}}">
                  <mat-error
                    *ngIf="formBannerGroup.controls['age_consumer_from'].hasError('required') && formBannerGroup.controls['age_consumer_from'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text17' | translate}}{{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                  <mat-error
                    *ngIf="formBannerGroup.controls['age_consumer_from'].hasError('min') && formBannerGroup.get('age_consumer_from').touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.cannot_less_than' | translate}} {{formBannerGroup.controls['is_smoker'].value === 'yes' ? '18' : '0'}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="15" class="is-light form-primary">
                  <input matInput type="number" formControlName="age_consumer_to" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text18' | translate}}">
                  <mat-error
                    *ngIf="formBannerGroup.controls['age_consumer_to'].hasError('required') && formBannerGroup.controls['age_consumer_to'].touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.text18' | translate}}{{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                  <mat-error
                    *ngIf="formBannerGroup.controls['age_consumer_to'].hasError('min') && formBannerGroup.get('age_consumer_to').touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.cannot_less_than' | translate}} minimal batasan umur yg telah di isi
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="pb-16 px-24">
              <div class="" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">"{{'iklan_dalam_aplikasi.spanduk_online.text19' | translate}}"</strong>
              </div>
              <mat-radio-group formControlName="gender" class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let item of listGender" [value]="item.value">
                  {{item.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div *ngIf="formBannerGroup.get('type_banner').value === 'aktivasi-konsumen'">
            <div class="px-24">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="banner_customer_id" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.image_inapp_chat_consumer' | translate}}">
                    <mat-option *ngFor="let item of listCustomerBanners" [value]="item.id">{{item.id}} - {{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formBannerGroup.controls['banner_customer_id'].hasError('required') && formBannerGroup.controls['banner_customer_id'].touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.image_inapp_chat_consumer' | translate}} {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="px-24 mb-12">
              <div class="" fxLayout="row" fxLayoutAlign="start center">
                <h3 class="">{{'iklan_dalam_aplikasi.spanduk_online.content_page_inapp_chat_consumer' | translate}}</h3>
              </div>
              <textarea [froalaEditor]="options" formControlName="banner_customer_body" class="pb-4" fxFlex="100"></textarea>
              <mat-error style="padding-top: 6px !important; font-size: .86em;"
                *ngIf="formBannerGroup.controls['banner_customer_body'].hasError('required')">
                {{'iklan_dalam_aplikasi.spanduk_online.content_page_inapp_chat_consumer' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </div>
          </div>

          <div class="px-24">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="content_type" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text22' | translate}}"
                  (selectionChange)="contentType(formBannerGroup.get('content_type').value)">
                  <mat-option *ngFor="let item of listContentType" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formBannerGroup.controls['content_type'].hasError('required') && formBannerGroup.controls['content_type'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text22' | translate}} {{'global.messages.mandatory_text' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- spesifik produk b2b -->
          <div class="pb-24 px-24" *ngIf="formBannerGroup.get('content_type').value === 'spesific_product_b2b'">
            <div fxLayout="row">
                <search-product-barcode [errorMessage]="'search_product_component.error_message' | translate" [inputPlaceHolder]="'search_product_component.placeholder' | translate" [disabled]="isDetail" fxFlex="45" [value]="formBannerGroup.get('barcode').value" (onChange)="handleSearchProduct($event)">
                  <mat-error
                  *ngIf="formBannerGroup.controls['barcode'].hasError('required') && formBannerGroup.controls['barcode'].touched">
                  <!-- {{'iklan_dalam_aplikasi.spanduk_online.text24' | translate}} {{'global.messages.mandatory_text' |
                  translate}} -->
                  {{'search_product_component.error_form' | translate}}
                </mat-error>
                </search-product-barcode>
            </div>
          </div>

          <!-- Static Page -->
          <div class="pb-24 px-24"
            *ngIf="(formBannerGroup.get('content_type').value === 'static_page' || formBannerGroup.get('content_type').value === 'e_wallet')">
            <div fxLayout="row" *ngIf="formBannerGroup.get('content_type').value === 'static_page'">
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <input  *ngIf="formBannerGroup.get('type_banner').value === 'ticker'" maxlength="10" matInput type="text" formControlName="title"
                  placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}}">
                <input  *ngIf="formBannerGroup.get('type_banner').value != 'ticker'" matInput type="text" formControlName="title"
                  placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}}">  
                <mat-error
                  *ngIf="formBannerGroup.controls['title'].hasError('required') && formBannerGroup.controls['title'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
                <mat-error
                  *ngIf="formBannerGroup.controls['title'].hasError('maxlength') && formBannerGroup.controls['title'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}} Maksimal 10 karakter
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Content Wallet -->
            <div fxLayout="row" *ngIf="formBannerGroup.get('content_type').value === 'e_wallet'">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="content_wallet" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.wallet_type' | translate}}">
                  <mat-option *ngFor="let item of listContentWallet" [value]="item.id">{{item.app_name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formBannerGroup.controls['content_wallet'].hasError('required') && formBannerGroup.controls['content_wallet'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.wallet_type' | translate}} {{'global.messages.mandatory_text' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- End Content Wallet -->
            <!-- Button Text for Wallet -->
            <div fxLayout="row" *ngIf="formBannerGroup.get('content_type').value === 'e_wallet'">
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" formControlName="button_text" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text_button' | translate}}">
                <mat-error
                  *ngIf="formBannerGroup.controls['button_text'].hasError('required') && formBannerGroup.controls['button_text'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text_button' | translate}} {{'global.messages.mandatory_text' | translate}}
                </mat-error>
                <mat-error
                  *ngIf="formBannerGroup.controls['button_text'].hasError('maxlength') && formBannerGroup.controls['button_text'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text_button' | translate}} Maksimal 30 karakter
                </mat-error>
              </mat-form-field>
            </div>
            <!-- End Button Text For Wallet -->
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">{{'iklan_dalam_aplikasi.spanduk_online.text24' | translate}}</h3>
            </div>
              <textarea *ngIf="formBannerGroup.get('type_banner').value === 'ticker' && !isDetail" maxlength="20" [froalaEditor]="options" formControlName="body" class="pb-4" fxFlex="100"></textarea>
              <textarea *ngIf="formBannerGroup.get('type_banner').value != 'ticker' && !isDetail" [froalaEditor]="options" formControlName="body" class="pb-4" fxFlex="100"></textarea>  
            <mat-error style="padding-top: 6px !important; font-size: .86em;"
              *ngIf="formBannerGroup.controls['body'].hasError('required') && formBannerGroup.controls['body'].touched">
              {{'iklan_dalam_aplikasi.spanduk_online.text24' | translate}} {{'global.messages.mandatory_text' | translate}}
            </mat-error>
            <textarea *ngIf="formBannerGroup.get('type_banner').value === 'ticker' && isDetail" maxlength="20" formControlName="body" class="pb-4" fxFlex="100"></textarea>
            <textarea *ngIf="formBannerGroup.get('type_banner').value != 'ticker' && isDetail" formControlName="body" class="pb-4" fxFlex="100"></textarea>
            <mat-error
                  *ngIf="formBannerGroup.controls['body'].hasError('maxlength') && formBannerGroup.controls['body'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text24' | translate}} Maksimal 20 karakter
                </mat-error>
          </div>

          <!-- Landing Page -->
          <div class="px-24" *ngIf="formBannerGroup.get('content_type').value === 'landing_page'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="landing_page" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.landing_page_type' | translate}}">
                  <mat-option *ngFor="let item of listLandingPage" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="px-24" *ngIf="formBannerGroup.get('content_type').value === 'landing_page' && formBannerGroup.get('landing_page').value === 'profil_saya'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="profile" placeholder="{{'iklan_dalam_aplikasi.spanduk_online.my_profile_page' | translate}}">
                  <mat-option *ngFor="let item of listProfile" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="formBannerGroup.controls['profile'].hasError('required') && formBannerGroup.controls['profile'].touched">
                {{'iklan_dalam_aplikasi.spanduk_online.my_profile_page' | translate}} harus dipilih
              </mat-error>
            </div>
          </div>

          <!-- iframe -->
          <div class="px-24"
            *ngIf="formBannerGroup.get('content_type').value === 'iframe' || formBannerGroup.get('content_type').value === 'link_web'">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <input matInput type="url" formControlName="url_iframe" placeholder="{{'notification.popup_notifikasi.text16' | translate}}">
                <mat-error
                  *ngIf="formBannerGroup.controls['url_iframe'].hasError('required') && formBannerGroup.controls['url_iframe'].touched">
                  URL {{'global.messages.mandatory_text' | translate}}
                </mat-error>
                <mat-error
                  *ngIf="formBannerGroup.controls['url_iframe'].hasError('pattern') && formBannerGroup.get('url_iframe').value !== ''">
                  {{'iklan_dalam_aplikasi.spanduk_online.invalid_url' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- image -->
          <div class="pb-16" *ngIf="formBannerGroup.get('content_type').value === 'image' && !isDetail" fxLayout="row"
            fxLayoutAlign="start center">
            <div fxFlex="30" class="px-24 inline-block">
              <div ngfDrop selectable="1" [(validDrag)]="validComboDrag" [(file)]="imageContentType" accept="image/*"
                class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" (fileChange)="imagesContentType($event)" [innerHTML]="'iklan_dalam_aplikasi.spanduk_online.drag_image' | translate">
              </div>
            </div>
            <div *ngIf="imageContentType">
              <div class="mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false"><span
                  class="preview-image-content" (click)="previewImage()">{{'iklan_dalam_aplikasi.spanduk_online.view_image' | translate}}</span>
                <mat-icon matTooltip="{{'global.label.delete_image' | translate}}"
                  class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                  matchipremove="" role="img" aria-hidden="true">cancel</mat-icon>
              </div>
            </div>
            <div *ngIf="detailBanner.target_page.type === 'image' && !imageContentType">
              <div class="mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false"><span
                  class="preview-image-content" (click)="previewImage()">{{'iklan_dalam_aplikasi.spanduk_online.view_image' | translate}}</span></div>
            </div>
          </div>

          <div class="px-24 pb-16" *ngIf="detailBanner.target_page.type === 'image' && !imageContentType && isDetail">
            <div class="mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
              role="option" tabindex="-1" aria-disabled="false" aria-selected="false"><span
                class="preview-image-content" (click)="previewImage()">{{'iklan_dalam_aplikasi.spanduk_online.view_image' | translate}}</span></div>
          </div>

          <!-- Retailer -->
          <div *ngIf="formBannerGroup.get('user_group').value === 'retailer'">
            <div  fxLayout="row" >
              <div class="pb-16 px-24">
              <div class="" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.text16' | translate}}</strong>
              </div>
              <mat-radio-group formControlName="age" class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let item of listAge" [value]="item.value">
                  {{item.name}}
                </mat-radio-button>
              </mat-radio-group>
              </div>
              <div *ngIf="formBannerGroup.get('type_banner').value === 'ticker'" class="pb-16 px-24">
                <div class="" fxLayout="row" fxLayoutAlign="start center">
                  <strong class="font-size-16">{{ls.locale.global.label.category}}</strong>
                </div>
                <mat-radio-group formControlName="kategori" class="radio-group">
                  <mat-radio-button class="radio-button" *ngFor="let item of listKategori" [value]="item.value">
                    {{item.name}}
                  </mat-radio-button>
                </mat-radio-group>
                </div>
            </div>

            <div class="pb-16 px-24" *ngIf="formBannerGroup.get('user_group').value === 'retailer'">
              <div class="" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.retailer_type' | translate}}</strong>
              </div>
              <mat-radio-group formControlName="group_type" class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let item of listUserGroupType" [value]="item.value">
                  {{item.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="pb-16 px-24">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <strong class="font-size-16">{{'iklan_dalam_aplikasi.spanduk_online.text25' | translate}}</strong>
            </div>
            <mat-radio-group formControlName="promo" class="radio-group">
              <mat-radio-button class="radio-button" value="yes">{{'global.label.yes' | translate}}</mat-radio-button>
              <mat-radio-button class="radio-button" value="no">{{'global.label.no' | translate}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="pb-16 px-24"
            *ngIf="formBannerGroup.get('content_type').value === 'link_web' || formBannerGroup.get('content_type').value === 'iframe'">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <strong class="font-size-16">{{'notification.popup_notifikasi.text18' | translate}}</strong>
            </div>
            <mat-radio-group formControlName="transfer_token" class="radio-group">
              <mat-radio-button class="radio-button" value="yes">{{'global.label.yes' | translate}}</mat-radio-button>
              <mat-radio-button class="radio-button" value="no">{{'global.label.no' | translate}}</mat-radio-button>
            </mat-radio-group>
          </div>

          <div fxLayout="row" fxLayoutGap="24px" class="pb-24 px-24">
            <mat-checkbox class="mt-4 ml-4 mb-8" (change)="isTargetAudience($event)"
              formControlName="is_target_audience">{{'iklan_dalam_aplikasi.spanduk_online.text26' | translate}}</mat-checkbox>
            <mat-checkbox *ngIf="formBannerGroup.get('user_group').value === 'customer'" class="mt-4 ml-4 mb-8" (change)="isTargetArea($event)"
              formControlName="is_target_area">{{'iklan_dalam_aplikasi.spanduk_online.target_area' | translate}}</mat-checkbox>
          </div>
          <ng-container *ngIf="formBannerGroup.get('user_group').value === 'customer' && formBannerGroup.get('is_target_area').value === true">
            <target-area (selectedArea)="getSelectedArea($event)" (selectedAll)="getSelectedAll($event)" (selectedAllId)="getSelectedAllId($event)" [areas]="targetAreaIds"></target-area>
          </ng-container>
          <div [formGroup]="formFilter" *ngIf="formBannerGroup.controls['is_target_audience'].value === true">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="px-24"
                fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="12%" class="is-light form-primary">
                <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
                  <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="12%" class="is-light form-primary">
                <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone" multiple>
                  <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                    Zona' :
                    item.code}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="12%" class="is-light form-primary">
                <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region" multiple>
                  <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                    Regional'
                    :
                    item.code}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="12%" class="is-light form-primary">
                <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area" multiple>
                  <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                    Area'
                    :
                    item.code}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="12%" class="is-light form-primary">
                <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint" multiple>
                  <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name === 'all' ?
                    'Semua
                    Salespoint'
                    :
                    item.code}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="12%" class="is-light form-primary">
                <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district" multiple>
                  <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                    District'
                    :
                    item.code}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="12%" class="is-light form-primary">
                <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory" multiple>
                  <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                    Territori'
                    :
                    item.code}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="p-0" *ngIf="formBannerGroup.controls['is_target_audience'].value === true">
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
              fxLayoutAlign="end center" class="p-16 export">
              <a #downloadLink></a>
              <button mat-raised-button type="button" class="is-danger" (click)="import()">
                <mat-icon>arrow_downward</mat-icon> Import XLS
              </button>
              <button mat-raised-button type="button" class="is-danger" (click)="export()">
                <mat-icon>arrow_upward</mat-icon> Export XLS
              </button>
            </div>
            <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar>
            <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
              [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
              [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page"
              [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)"
              (select)="onSelect($event)" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
              [selectCheck]='selectCheck'>

              <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="false">
                <!-- <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn">
                  <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template> -->

                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <mat-checkbox *ngIf="audienceSelected.length > 0" [checked]="bindSelector(isSelected, row)"
                    (change)="onSelectAudience($event, row)">
                  </mat-checkbox>
                  <mat-checkbox *ngIf="audienceSelected.length === 0" (change)="onSelectAudience($event, row)">
                  </mat-checkbox>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="{{ls.locale.global.label.name}}" prop="name"></ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.code' | translate}}" prop="code" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.code ? row.code : '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Owner" prop="owner">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.owner ? row.owner : '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tipe" prop="type">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.type.toUpperCase()}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div *ngIf="formBannerGroup.get('is_target_audience').value === false && formBannerGroup.get('is_target_area').value === false">
            <div class="" formArrayName="areas"
              *ngFor="let wil of formBannerGroup.get('areas')['controls']; let i = index;">
              <div [formGroupName]="i">
                <div class="mb-16" style="background: #3a3a3a;color: white;padding: 0 24px;" fxLayout="row"
                  fxLayoutAlign="space-between center">
                  <div fxFlex="50">
                    <h3 class="">&nbsp;</h3>
                  </div>
                  <div *ngIf="!isDetail" fxFlex="50" fxLayout="row wrap" fxLayoutAlign="end center"
                    fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                    <button
                      *ngIf="formBannerGroup.get('areas').value.length === 1 || i === (formBannerGroup.get('areas').value.length - 1)"
                      mat-raised-button type="button" (click)="addArea()">
                      <mat-icon>add</mat-icon>
                    </button>
                    <button *ngIf="formBannerGroup.get('areas').value.length > 1" mat-raised-button color="primary"
                      type="button" (click)="deleteArea(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="pb-8 px-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px"
                  fxLayoutGap.lt-md="0px" fxLayoutAlign="space-between stretch">
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national"
                      matTooltip="{{getToolTipData(wil.get('national').value, wil.controls['list_national'].value)}}">
                      <mat-option *ngFor="let item of wil.controls['list_national'].value" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['national'].hasError('required') && wil.controls['national'].touched">
                      {{'global.area.national' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone"
                      matTooltip="{{getToolTipData(wil.get('zone').value, wil.controls['list_zone'].value)}}"
                      (selectionChange)="generataList('region', wil.get('zone').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_zone'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['zone'].hasError('required') && wil.controls['zone'].touched">
                      {{'global.area.zone' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region"
                      matTooltip="{{getToolTipData(wil.get('region').value, wil.controls['list_region'].value)}}"
                      (selectionChange)="generataList('area', wil.get('region').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_region'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['region'].hasError('required') && wil.controls['region'].touched">
                      {{'global.area.regional' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area"
                      matTooltip="{{getToolTipData(wil.get('area').value, wil.controls['list_area'].value)}}"
                      (selectionChange)="generataList('salespoint', wil.get('area').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_area'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['area'].hasError('required') && wil.controls['area'].touched">
                      {{'global.area.area' | translate}}{{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint"
                      matTooltip="{{getToolTipData(wil.get('salespoint').value, wil.controls['list_salespoint'].value)}}"
                      (selectionChange)="generataList('district', wil.get('salespoint').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_salespoint'].value" [value]="item.id">
                        {{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['salespoint'].hasError('required') && wil.controls['salespoint'].touched">
                      {{'global.area.salespoint' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district"
                      matTooltip="{{getToolTipData(wil.get('district').value, wil.controls['list_district'].value)}}"
                      (selectionChange)="generataList('territory', wil.get('district').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_district'].value" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['district'].hasError('required') && wil.controls['district'].touched">
                      {{'global.area.district' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory"
                      matTooltip="{{getToolTipData(wil.get('territory').value, wil.controls['list_territory'].value)}}">
                      <mat-option *ngFor="let item of wil.controls['list_territory'].value" [value]="item.id">
                        {{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['territory'].hasError('required') && wil.controls['territory'].touched">
                      {{'global.area.territory' | translate}}{{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!isDetail" class="confirm p-24" fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button type="button" (click)="submit('draft')" fxFlex="20">
            {{ls.locale.global.button.save}} {{'iklan_dalam_aplikasi.spanduk_online.as_draft' | translate}}
          </button>
          <button mat-raised-button type="button" class="confirmation-button" (click)="submit('publish')" fxFlex="20">
            {{ls.locale.global.button.save}} {{'iklan_dalam_aplikasi.spanduk_online.and_send' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>