<div fxLayout="row" fxLayoutAlign="start center" class="top-table pt-8">
  <h2 class="pl-8">{{'dte.template_tugas.list_task_personalize' | translate}}</h2>
</div>
<div class="mx-12" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
  <button id="btn-buatTugas" style="width: 170px" [routerLink]="['/dte','template-task', 'create-personalize']" mat-raised-button type="button" class="confirmation-button">
    <mat-icon>add</mat-icon> {{'global.button.create' | translate}}
  </button>
  <mat-form-field appearance="standard">
    <mat-label>{{'global.label.search' | translate}}</mat-label>
    <input id="search" matInput (keyup)="keyUp.next($event.target.value)" autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="p-16"
  fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
  <mat-form-field fxFlex="12%" class="is-light form-primary">
    <mat-select placeholder="{{'dte.pengaturan_attribute_misi.text2' | translate}}" [(ngModel)]="filterKategoryToolbox" name="{{'global.label.category' | translate}}"
      [ngModelOptions]="{standalone: true}">
      <mat-option [value]="lsCat.id" *ngFor="let lsCat of listKategoriToolbox"> {{lsCat.name}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="12%" class="is-light form-primary">
    <mat-select placeholder="{{'dte.pengaturan_attribute_misi.text3' | translate}}" [(ngModel)]="filterTipeMisi" name="filterTipeMisi"
      [ngModelOptions]="{standalone: true}">
      <mat-option [value]="lsCat.id" *ngFor="let lsCat of listTipeMisi"> {{lsCat.name}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="12%" class="is-light form-primary">
    <mat-select placeholder="{{'dte.pengaturan_attribute_misi.text4' | translate}}" [(ngModel)]="filterInternalMisi" name="filterInternalMisi"
      [ngModelOptions]="{standalone: true}">
      <mat-option [value]="lsCat.id" *ngFor="let lsCat of listTingkatinternalMisi"> {{lsCat.name}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="12%" class="is-light form-primary">
    <mat-select placeholder="{{'dte.pengaturan_attribute_misi.text5' | translate}}" [(ngModel)]="filterKategoryMisi" name="filterKategoryMisi"
      [ngModelOptions]="{standalone: true}">
      <mat-option [value]="lsCat.id" *ngFor="let lsCat of listKategoriMisi"> {{lsCat.name}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="12%" class="is-light form-primary">
    <mat-select placeholder="{{'dte.template_tugas.mission_project' | translate}}" [(ngModel)]="filterProjectMisi" name="filterProjectMisi"
      [ngModelOptions]="{standalone: true}">
      <mat-option [value]="lsCat.id" *ngFor="let lsCat of listProjectMisi"> {{lsCat.name}} </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="confirm p-10" fxLayout="row" fxLayoutGap="20px">
    <button mat-raised-button type="button" class="publish-button" (click)="reset()" style="width: 170px"
      style="height: 50px">
      {{'dte.template_tugas.text23' | translate}}
    </button>
    <button mat-raised-button type="button" class="confirmation-button" (click)="load()" style="width: 170px"
      style="height: 50px">
      {{'dte.template_tugas.text24' | translate}}
    </button>
  </div>
</div>

<ngx-datatable id="datatable" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
  [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
  [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="pagination.total"
  [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)"
  (sort)="onSort($event)">

  <ngx-datatable-column [width]="50" [canAutoResize]="false" [sortable]="true">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn">
      <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
    </ng-template>

    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn">
      <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" name="{{ls.locale.global.label.name}}" prop="name">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column [width]="200" name="{{'dte.template_tugas.text6' | translate}}">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <p *ngFor="let item of row.children">{{item.other_name}}</p>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column [width]="150" name="{{'dte.template_tugas.copywriting' | translate}}" headerClass="textright">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <div class="py-24" fxLayout="column" fxLayoutGap="8px">
        <div class="row__copywrite" *ngFor="let item of row.children" [ngStyle]="{'background-color': item.toolbox_copywrite ? item.toolbox_copywrite.color : 'transparent'}">
          {{ item.toolbox_copywrite ? item.toolbox_copywrite.name : '' }}
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" name="{{'dte.pengaturan_attribute_misi.text2' | translate}}" headerClass="textright">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{row.toolbox.name}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" name="{{'dte.pengaturan_attribute_misi.text3' | translate}}" headerClass="textright">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{row.toolbox_type.name}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" name="{{'dte.pengaturan_attribute_misi.text4' | translate}}" headerClass="textright">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{row.toolbox_internal.name}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" name="{{'dte.pengaturan_attribute_misi.text5' | translate}}" headerClass="textright">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{row.toolbox_categories.name}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" name="{{'dte.template_tugas.mission_project' | translate}}" headerClass="textright">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{row.toolbox_project.name}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="150" name="{{'global.label.action' | translate}}" headerClass="textright" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <div class="button-row" style="margin-left: -10px">
        <button id="btn-duplicate" mat-icon-button color="" matTooltip="{{'dte.template_tugas.text8' | translate}}" (click)="duplicate(row)">
          <mat-icon class="secondary-text">content_copy</mat-icon>
        </button>
        <button id="btn-detail" mat-icon-button *ngIf="!permission?.ubah" color="" (click)="directDetail(row)">
          <mat-icon class="secondary-text">assignment</mat-icon>
        </button>
        <button id="btn-edit" mat-icon-button *ngIf="permission?.ubah" color="" (click)="directEdit(row)">
          <mat-icon class="secondary-text">edit</mat-icon>
        </button>
        <button id="btn-delete" mat-icon-button color="primary" matTooltip="{{'global.button.delete' | translate}}" (click)="deleteTemplateTask(row.id)"
          [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>