<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <div class="content">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table" style="padding: 15px;">
      <h1 class="pl-20">Daftar Laporan</h1>
      <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>search</mat-icon>
        <mat-form-field class="is-light tab-search">
          <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
        </mat-form-field>
      </div>
    </div>
    <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
      [selectionType]="'checkbox'" [count]="pagination.total" [limit]="pagination.per_page" [offset]="offsetPagination"
      [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)"
      (select)="onSelect($event)">

      <ngx-datatable-column [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="name-container pl-8 pt-8 pb-8 pr-0">
            <img class="banner-image" *ngIf="row.banner.image_url" [src]="row.banner.image_url">
            <img class="banner-image" *ngIf="!row.banner.image_url"
              [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Nama Promo" prop="image_url" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span class="row-name" (click)="directDetail(row)">{{ row.banner.name }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Total Laporan" prop="report_users_count" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.report_users_count}}
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column [width]="100" name="Status" prop="active_status">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div class="name-container">
            <p class="status text-truncate h6 p-4"
              style="min-width: 100px !important;min-height: 20px;text-align: center;font-size: .9em;border-radius: 3px; text-transform: uppercase;"
              [ngClass]="row.status_report == 'aktif' ? 'mat-green-800-bg' : 'mat-red-900-bg'">
              {{row.status_report}}
            </p>
          </div>
        </ng-template>
      </ngx-datatable-column> -->

      <ngx-datatable-column name="Kode Toko" prop="business_code" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.banner.business_code}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Pengguna" prop="banner.pembuat" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <span class="text-capital">{{row.banner.pembuat}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Tanggal Akhir Promo" prop="expiredDate" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.banner.to | date:'dd/MM/yyyy'}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Action" prop="action" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div fxLayout="column" style="padding: 10px 10px 10px 0;">
            <button mat-button
              style="margin-bottom: 10px;border: 1px solid #D0021B;background-color: #D0021B;color: white"
              (click)="rejectReport(row.id)">
              TOLAK
            </button>
            <button mat-button style="border: 1px solid #D0021B; color: #D0021B;background-color: transparent;"
              matTooltip="Hapus" (click)="deleteReport(row.id)">
              HAPUS
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>