@import "src/variable.scss";
:host {
  #contentHeader {
    width: 100%;
    .main-column {
      width: 100%;
      .middle-container {
        width: 100%;
      }
    }
    .secondary-text {
      a {
        color: #fff;
      }
    }
  }
}
