<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="ls.locale.delivery_management.daftar_kurir.text26">
  </page-content-header>

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <form autocomplete="off" [formGroup]="formCourier">
        <div class="ayo-middle" fxLayout="column">
          <h2 style="font-weight: bold;">{{ ls.locale.delivery_management.daftar_kurir.text4 }}</h2>
          <mat-form-field fxFlex="100" class="is-light form-primary">
            <input matInput type="text" formControlName="name"
              placeholder="{{ ls.locale.delivery_management.daftar_kurir.text9 }}">
            <mat-error
              *ngIf="formCourier.controls['name'].hasError('required') && formCourier.controls['name'].touched">
              {{ ls.locale.delivery_management.daftar_kurir.text9 }} {{ ls.locale.global.messages.mandatory_text }}
            </mat-error>
          </mat-form-field>
          <div fxLayout="row" fxFlex="100">
            <mat-form-field fxFlex="5" fxFlex.xs="30" class="is-light form-primary">
              <input matInput value="{{ ls.locale.global.country_calling_code }}" readonly>
            </mat-form-field>
            <mat-form-field fxFlex="95" fxFlex.xs="70" class="is-light form-primary">
              <input matInput type="tel" min="0" formControlName="contact"
                placeholder="{{ ls.locale.delivery_management.daftar_kurir.text10 }}"
                (keypress)="numbersOnlyValidation($event)">
            </mat-form-field>
          </div>
          <mat-error
            *ngIf="formCourier.controls['contact'].hasError('required') && formCourier.controls['contact'].touched">
            {{ ls.locale.delivery_management.daftar_kurir.text10 }} {{ ls.locale.global.messages.mandatory_text }}
          </mat-error>
          <mat-error
            *ngIf="formCourier.controls['contact'].hasError('pattern') && formCourier.controls['contact'].touched">
            {{ ls.locale.delivery_management.daftar_kurir.text24 }}
          </mat-error>
          <mat-form-field fxFlex="100" class="is-light form-primary">
            <input matInput type="text" formControlName="email" placeholder="Email">
            <mat-error
              *ngIf="formCourier.controls['email'].hasError('required') && formCourier.controls['email'].touched">
              Email {{ ls.locale.global.messages.mandatory_text }}
            </mat-error>
            <mat-error *ngIf="formCourier.controls['email'].hasError('email') && formCourier.controls['email'].touched">
              {{ ls.locale.global.messages.invalid_email }}
            </mat-error>
          </mat-form-field>
        </div>
        <h2 style="font-weight: bold;">{{ ls.locale.delivery_management.daftar_kurir.text5 }}</h2>
        <mat-accordion formArrayName="services"
          *ngFor="let service of formCourier.get('services')['controls']; let i = index;">
          <mat-expansion-panel [formGroupName]="i">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span style="margin-top: 8px;font-weight: bold;">{{ service.get('name').value ||
                  ls.locale.delivery_management.daftar_kurir.text11
                  }}</span>
              </mat-panel-title>
              <mat-panel-description>
                <div fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto" *ngIf="!isDetail">
                  <button mat-icon-button fxFlex="5" matTooltip="{{'global.button.delete' | translate}}" (click)="deleteService(i)"
                    matTooltipPosition="below" class="secondary-text"> <!-- // TODO -->
                    <mat-icon class="secondary-text">delete</mat-icon>
                  </button>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="row">
              <mat-form-field fxFlex="40" class="is-light form-primary">
                <input matInput type="text" formControlName="name"
                  placeholder="{{ ls.locale.delivery_management.daftar_kurir.text11 }}">
                <mat-error *ngIf="service.controls['name'].hasError('required') && service.controls['name'].touched">
                  {{ ls.locale.delivery_management.daftar_kurir.text11 }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>
            </div>
            <h3 style="font-weight: bold;">{{ ls.locale.delivery_management.daftar_kurir.text12 }}</h3>
            <div fxLayout="row" fxFlex="62">
              <div fxLayout="column" fxFlex="30">
                <h4 style="font-weight: bold;">{{ ls.locale.delivery_management.daftar_kurir.text13 }}</h4>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="40" class="is-light form-primary">
                    <mat-select name="est_fastest_duration" formControlName="est_fastest_duration"
                      placeholder="{{ ls.locale.delivery_management.daftar_kurir.text14 }}">
                      <mat-option *ngFor="let dayTime of filterDayDuration(i, 'fastest', dayDurationList)"
                        [value]="dayTime">
                        {{ dayTime }}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="service.controls['est_fastest_duration'].hasError('required') && service.controls['est_fastest_duration'].touched">
                      {{ ls.locale.delivery_management.daftar_kurir.text13 }} {{
                      ls.locale.global.messages.mandatory_text }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="40" class="is-light form-primary">
                    <mat-select name="est_fastest_duration" formControlName="est_fastest_duration_time">
                      <mat-option value="days">{{ ls.locale.delivery_management.daftar_kurir.text16 }}</mat-option>
                      <mat-option value="hours">{{ ls.locale.delivery_management.daftar_kurir.text17 }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="column" fxFlex="30" style="margin-left: 5%;">
                <h4 style="font-weight: bold;">{{ ls.locale.delivery_management.daftar_kurir.text15 }}</h4>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <mat-form-field fxFlex="40" class="is-light form-primary">
                    <mat-select name="est_longest_duration" formControlName="est_longest_duration"
                      placeholder="{{ ls.locale.delivery_management.daftar_kurir.text14 }}">
                      <mat-option *ngFor="let dayTime of filterDayDuration(i, 'longest', dayDurationList)"
                        [value]="dayTime">
                        {{ dayTime }}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="service.controls['est_longest_duration'].hasError('required') && service.controls['est_longest_duration'].touched">
                      {{ ls.locale.delivery_management.daftar_kurir.text15 }} {{
                      ls.locale.global.messages.mandatory_text }}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="40" class="is-light form-primary">
                    <mat-select name="est_longest_duration" formControlName="est_longest_duration_time">
                      <mat-option value="days">{{ ls.locale.delivery_management.daftar_kurir.text16 }}</mat-option>
                      <mat-option value="hours">{{ ls.locale.delivery_management.daftar_kurir.text17 }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxLayout="row" fxFlex="40">
              <!-- <textarea matInput name="note_duration" rows="6" formControlName="note_duration"
                placeholder="{{ls.locale.global.label.note}}"></textarea> -->
              <textarea matInput name="note_duration" formControlName="note_duration" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="9" cdkAutosizeMaxRows="15"
                placeholder="{{ls.locale.global.label.note}}"></textarea>
            </div>
            <div fxLayout="column" fxFlex="40" style="margin-top: 20px;">
              <h3 style="font-weight: bold;">Status</h3>
              <mat-form-field fxFlex="40" class="is-light form-primary">
                <mat-select name="status" formControlName="service_status">
                  <mat-option value="active">{{ ls.locale.global.label.active }}</mat-option>
                  <mat-option value="inactive">{{ ls.locale.global.label.inactive }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex="40">
              <h3 style="font-weight: bold;">{{ ls.locale.delivery_management.daftar_kurir.text18 }}</h3>
              <mat-form-field fxFlex="40" class="is-light form-primary">
                <input matInput type="tel" currencyMask min="0" type="text" formControlName="flat_cost"
                  placeholder="{{ ls.locale.delivery_management.daftar_kurir.text19 }}" numericOnly>
                <mat-error
                  *ngIf="service.controls['flat_cost'].hasError('required') && service.controls['flat_cost'].touched">
                  {{ ls.locale.delivery_management.daftar_kurir.text19 }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>

              <mat-checkbox formControlName="max_distance_config">{{ ls.locale.delivery_management.daftar_kurir.text20
                }}</mat-checkbox>
              <div fxLayout="row" style="margin-left: 25px;margin-top: 5px;">
                <mat-form-field fxFlex="43" class="is-light form-primary">
                  <input matInput type="number" min="0" type="text" formControlName="max_distance"
                    placeholder="{{ ls.locale.delivery_management.daftar_kurir.text21 }}" numericOnly>
                  <mat-error
                    *ngIf="service.controls['max_distance'].hasError('required') && service.controls['max_distance'].touched">
                    {{ ls.locale.delivery_management.daftar_kurir.text21 }} {{ ls.locale.global.messages.mandatory_text
                    }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="7" fxFlex.xs="30" class="form-primary">
                  <input matInput value="KM" readonly>
                </mat-form-field>
              </div>

              <mat-checkbox formControlName="max_received_time_config">{{
                ls.locale.delivery_management.daftar_kurir.text22 }}
              </mat-checkbox>
              <div fxLayout="row" style="margin-left: 25px;margin-top: 5px;">
                <mat-form-field fxFlex="50" class="is-light form-primary">
                  <input matInput type="text" mask="Hh:m0" type="text" formControlName="max_received_time"
                    placeholder="{{ ls.locale.delivery_management.daftar_kurir.text25 }}">
                  <mat-error
                    *ngIf="service.controls['max_received_time'].hasError('minLength') && service.controls['max_received_time'].touched">
                    {{ ls.locale.delivery_management.daftar_kurir.text23 }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- </div>
          <div fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto" class="border-bottom">
            <button mat-icon-button fxFlex="5" matTooltip="Hapus" (click)="deleteService(i)" matTooltipPosition="below"
              class="secondary-text">
              <mat-icon class="secondary-text">delete</mat-icon>
            </button>
          </div>
        </div> -->
        <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px" *ngIf="!isDetail">
          <button mat-raised-button type="button" fxFlex="20" (click)="addNewService()">
            <mat-icon>add</mat-icon>{{ ls.locale.delivery_management.daftar_kurir.text6 }}
          </button>
        </div>
        <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px" *ngIf="!isDetail">
          <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
            {{ ls.locale.global.button.save }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>