<div class="dialog-content-wrapper2">
  <div>
    <div class="p-16">
      <div fxLayout="row" fxLayoutAlign="center center" class="info">
        verifikasi ini
      </div>
    </div>

    <div class="p-8">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-raised-button class="primary-green" (click)="verifikasiMisi()" >
          Setujui
        </button>

        <button mat-raised-button class="ml-20" color="primary" (click)="dialogRef.close()">
          Tolak
        </button>
      </div>
    </div>
  </div>
</div>
