<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="isDetail ? 'Detail Tugas' : 'Ubah Tugas'">
    <button *ngIf="!isDetail" style="min-width: 170px;" mat-raised-button aria-label="Simpan" (click)="submit()"
      type="button">SIMPAN</button>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

      <!-- REACTIVE FORM EXAMPLE -->
      <!-- <div class="fuse-widget-front mat-white-bg">
  
          <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">
  
            <div fxFlex class="py-16 h3">Daftar Pesanan Terbaru</div>
  
          </div> -->


      <form class="mat-elevation-z4 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="templateTaskForm" (keydown.enter)="$event.preventDefault();">
        <div class="px-24 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center"
          style="margin-top: 5px;">

          <div fxFlex class="p-16 h3">Pertanyaan</div>
          <div fxFlex="60" fxLayoutAlign="flex-end flex-end">
            <div fxFlex class="p-16 h3" style="margin-bottom: 10px;">
              <mat-checkbox [formControl]="isIRTemplate">Template IR</mat-checkbox>
            </div>
            <div fxFlex class="p-16 h3" style="margin-bottom: 10px;">
              <mat-checkbox [formControl]="shareable">Shareable Link</mat-checkbox>
            </div>
            <mat-form-field fxFlex="50" class="is-light form-primary">
              <mat-select [formControl]="frmIsBranching" placeholder="Reponse Type">
                <mat-option *ngFor="let item of listCategoryResponse" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="p-24">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" class="titleInput exportTextarea title-template" floatLabel="never">
              <!-- <textarea matInput aria-label="Judul Tugas" (focus)="$event.target.select()" (change)="defaultValue($event, 'name', 'Judul Tugas')"
                    formControlName="name" style="font-size: 34px;" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    class="titletextareaInput"></textarea> -->
              <textarea matInput placeholder="Judul Tugas" formControlName="name" style="font-size: 34px;"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" class="titletextareaInput"></textarea>
              <mat-error
                *ngIf="templateTaskForm.controls['name'].hasError('required') && templateTaskForm.controls['name'].touched">
                Judul Tugas harus diisi
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" class="descInput exportTextarea desc-template" floatLabel="never">
              <!-- <textarea matInput formControlName="description" (focus)="$event.target.select()" (change)="defaultValue($event, 'description', 'Deskripsi Tugas')"
                    style="font-size: 13px;" cdkTextareaAutosize #autosize="cdkTextareaAutosize" class="desctextareaInput"></textarea> -->
              <textarea matInput formControlName="description" placeholder="Deskripsi Tugas" style="font-size: 13px;"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" class="desctextareaInput"></textarea>
              <mat-error
                *ngIf="templateTaskForm.controls['description'].hasError('required') && templateTaskForm.controls['description'].touched">
                Deskripsi Tugas harus diisi
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <section class="required-section secondary-text">
              <mat-checkbox formControlName="material" (change)="changeValue('material', 'material_description')">
                Tambahkan
                Material?</mat-checkbox>
            </section>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" class="descInput exportTextarea desc-template" floatLabel="never">
              <!-- <textarea matInput formControlName="material_description" (focus)="$event.target.select()" (change)="defaultValue($event, 'material_description', 'Jenis Material')"
                    style="font-size: 13px;" cdkTextareaAutosize #autosize="cdkTextareaAutosize" class="desctextareaInput"
                    [disabled]="!templateTaskForm.get('material').value"></textarea> -->
              <textarea matInput formControlName="material_description" placeholder="Jenis Material"
                style="font-size: 13px;" cdkTextareaAutosize #autosize="cdkTextareaAutosize" class="desctextareaInput"
                [disabled]="!templateTaskForm.get('material').value"></textarea>
              <mat-error
                *ngIf="templateTaskForm.controls['material_description'].hasError('required') && templateTaskForm.controls['material_description'].touched">
                Jenis Material Tugas harus diisi
              </mat-error>
            </mat-form-field>
          </div>

          <div class="py-16" fxLayout="row" fxLayoutAlign="center start" fxFlex="1 0 auto"
            *ngIf="templateTaskForm.get('image').value">
            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="!isDetail">
              <button mat-icon-button class="btn-img" [matMenuTriggerFor]="menu" xPosition="after">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="uploadImage('master', null)">
                  <mat-icon>photo</mat-icon>
                  <span>Ubah</span>
                </button>
                <button mat-menu-item (click)="deleteImage('master', null)">
                  <mat-icon>delete</mat-icon>
                  <span>Hapus</span>
                </button>
              </mat-menu>
            </div>
            <img class="template-task-image" [src]="templateTaskForm.get('image').value">
          </div>

          <div class="py-16" fxLayout="row" fxLayoutAlign="center start" fxFlex="1 0 auto"
            *ngIf="templateTaskForm.get('video').value">
            <div fxLayout="row" fxLayoutAlign="start start" style="z-index: 1;">
              <button mat-icon-button class="btn-img" [matMenuTriggerFor]="menu" xPosition="after">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="uploadVideo('master', null)">
                  <mat-icon>videocam</mat-icon>
                  <span>Ubah</span>
                </button>
                <button mat-menu-item (click)="deleteImage('master', null)">
                  <mat-icon>delete</mat-icon>
                  <span>Hapus</span>
                </button>
              </mat-menu>
            </div>
            <video class="template-task-video" [src]="templateTaskForm.get('video').value" controls> </video>
          </div>

          <div formArrayName="questions"
            *ngFor="let item of templateTaskForm.get('questions')['controls']; let i=index;">
            <div [formGroupName]="i" class="py-24">
              <div class="question-list" fxLayout="row" fxLayoutAlign="space-between start" fxFlex="1 0 auto">
                <h2 fxFlex="2" style="margin-top: 12px;margin-right: 5px;">{{ i+1 }}.</h2>
                <mat-form-field fxFlex="68" class="question is-light"
                  *ngIf="item.get('typeSelection').value['value'] !== 'stock_check'">
                  <input matInput formControlName="question" (focus)="$event.target.select()"
                    (change)="defaultValue($event, 'questions', 'Pertanyaan', i)">
                </mat-form-field>

                <mat-form-field fxFlex="68" class="question is-light"
                  *ngIf="item.get('typeSelection').value['value'] == 'stock_check' && listProductSelected[i].product">
                  <input matInput [formControl]="listProductSelected[i].product"
                    (input)="keyUp.next($event.target.value)">
                  <!-- <input matInput type="text" placeholder="Nama Produk" (input)="keyUp.next($event.target.value)"
                    [formControl]="listProductSelected[i].product" [matAutocomplete]="auto"> -->
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProductName">
                    <mat-option *ngFor="let item of filteredSkuOptions | async" [value]="item"
                      (onSelectionChange)="getProductObj($event, i)">
                      {{item.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <div fxFlex="5" fxLayout="column" fxLayoutAlign="start start" fxFlex="1 0 auto">
                  <button mat-icon-button matTooltip="Sisipkan Video" matTooltipPosition="below"
                    class="add-image secondary-text" (click)="uploadVideo('question', i)"
                    *ngIf="item.get('typeSelection').value['value'] !== 'stock_check'">
                    <mat-icon class="secondary-text">videocam</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Sisipkan Gambar" matTooltipPosition="below"
                    class="add-image secondary-text" (click)="uploadImage('question', i)"
                    *ngIf="item.get('typeSelection').value['value'] !== 'stock_check'">
                    <mat-icon class="secondary-text">photo</mat-icon>
                  </button>
                </div>

                <mat-form-field class="chooice is-light" fxFlex="30">
                  <mat-select formControlName="type" (selectionChange)="changeType(item, i)">
                    <mat-select-trigger>
                      <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100">
                        <div fxFlex="10">
                          <mat-icon class="secondary-text">{{item.get('typeSelection').value['icon']}}</mat-icon>
                        </div>
                        <div fxFlex="90">
                          <span style="padding-left: 34px">{{item.get('typeSelection').value['name']}}</span>
                        </div>
                      </div>
                    </mat-select-trigger>
                    <mat-option *ngFor="let selection of listChoose" [value]="selection.value">
                      <mat-icon>{{selection.icon}}</mat-icon> {{selection.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="py-16" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto"
                *ngIf="item.get('question_image').value && item.get('typeSelection').value['value'] !== 'stock_check'">
                <div fxLayout="row" fxLayoutAlign="start start" *ngIf="!isDetail">
                  <button mat-icon-button class="btn-img" [matMenuTriggerFor]="menu" xPosition="after">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="uploadImage('question', i)">
                      <mat-icon>photo</mat-icon>
                      <span>Ubah</span>
                    </button>
                    <button mat-menu-item (click)="deleteImage('question', i)">
                      <mat-icon>delete</mat-icon>
                      <span>Hapus</span>
                    </button>
                  </mat-menu>
                </div>
                <img class="template-task-image" [src]="item.get('question_image').value">
              </div>
              <div class="py-16" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto"
                *ngIf="item.get('question_video').value && item.get('type').value !== 'stock_check'">
                <div fxLayout="row" fxLayoutAlign="start start" style="z-index: 1;">
                  <button mat-icon-button class="btn-img" [matMenuTriggerFor]="menu" xPosition="after">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="uploadVideo('question', i)">
                      <mat-icon>videocam</mat-icon>
                      <span>Ubah</span>
                    </button>
                    <button mat-menu-item (click)="deleteImage('question', i)">
                      <mat-icon>delete</mat-icon>
                      <span>Hapus</span>
                    </button>
                  </mat-menu>
                </div>
                <video class="template-task-video" [src]="item.get('question_video').value" controls> </video>
              </div>
              <div class="border-bottom pb-24" fxLayout="row" fxLayoutAlign="space-between start" fxFlex="1 0 auto">
                <ng-container *ngIf="checkWording(item.get('type').value)">
                  <mat-form-field fxFlex="80" class="opsi is-light" *ngIf="templateList[i]">
                    <mat-select placeholder="Pilih Template" (selectionChange)="selectedImageIR($event, item)">
                      <mat-option *ngFor="let itm of templateList[i]; let t_i = index;" [value]="itm">
                        {{ itm.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="item.get('typeSelection').value['value'] == 'text'">
                  <mat-form-field fxFlex="60" class="question is-light">
                    <input matInput value="Teks jawaban singkat" disabled>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="item.get('typeSelection').value['value'] == 'textarea'">
                  <mat-form-field fxFlex="80" class="question is-light">
                    <input matInput value="Teks jawaban panjang" disabled>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="item.get('typeSelection').value['value'] == 'image'">
                  <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <div class="button">
                      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <mat-icon class="secondary-text">photo_camera</mat-icon>
                        <span class="h5 text-center">UNGGAH BUKTI FOTO</span>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="item.get('typeSelection').value['value'] == 'date'">
                  <mat-form-field fxFlex="40" class="question is-light">
                    <input matInput type="text" value="Pilihan Tanggal" disabled>
                    <mat-icon matSuffix>date_range</mat-icon>
                  </mat-form-field>
                </ng-container>
                <ng-container *ngIf="item.get('typeSelection').value['value'] == 'numeric'">
                  <mat-form-field fxFlex="40" class="question is-light">
                    <input matInput type="text" value="Angka" disabled>
                    <mat-icon matSuffix>dialpad</mat-icon>
                  </mat-form-field>
                </ng-container>
                <ng-container
                  *ngIf="item.get('typeSelection').value['value'] && item.get('typeSelection').value['value'] !== 'text' && item.get('typeSelection').value['value'] !== 'textarea' && item.get('typeSelection').value['value'] !== 'image' && item.get('typeSelection').value['value'] !== 'numeric' && item.get('typeSelection').value['value'] !== 'date'">
                  <div fxFlex="100" fxLayout="column">
                    <div *ngIf="item.get('typeSelection').value['value'] !== 'stock_check'">
                      <div formArrayName="additional"
                        *ngFor="let additional of item.get('additional')['controls']; let j=index;">
                        <div fxFlex="80" class="py-2" fxLayout="row" fxLayoutAlign="space-between center"
                          fxFlex="1 0 auto" [formGroupName]="j">
                          <mat-icon class="secondary-text" fxFlex="5">{{item.get('typeSelection').value['value'] ===
                            'radio' ?
                            'radio_button_unchecked' : 'check_box_outline_blank'}}</mat-icon>
                          <mat-form-field
                            [fxFlex]="item.get('typeSelection').value['value'] === 'radio' && frmIsBranching.value === true && allQuestionList[i]['possibilities'][j]['isBranching'] === true ? 50 : 85"
                            class="opsi is-light">
                            <input class="option" matInput formControlName="option" (focus)="$event.target.select()"
                              (change)="defaultValue($event, 'questions', 'Opsi ', i, j)">
                          </mat-form-field>
                          <div fxFlex="1" *ngIf="item.get('typeSelection').value['value'] === 'radio'">
                          </div>
                          <div fxFlex="2"
                            *ngIf="item.get('typeSelection').value['value'] === 'radio' && frmIsBranching.value === true && allQuestionList[i]['possibilities'][j]['isBranching'] === false ">
                            <mat-icon style="color: #4A90E2; cursor: pointer;" (click)="showNextQuestion(i, j)">
                              add_circle
                            </mat-icon>
                          </div>
                          <div fxFlex="2" *ngIf="item.get('typeSelection').value['value'] === 'radio'">
                          </div>
                          <mat-form-field
                            *ngIf="item.get('typeSelection').value['value'] === 'radio' && frmIsBranching.value === true && allQuestionList[i]['possibilities'][j]['isBranching'] === true"
                            fxFlex="48" class="opsi is-light">
                            <mat-select formControlName="next_question" placeholder="Next Question Possibility">
                              <mat-option value="" (click)="onPossibilitiesChange('none', i, j)">None</mat-option>
                              <mat-option
                                *ngFor="let possibility of filteringPossibilitiesQuestion(item.get('id').value); let p_i = index;"
                                [value]="possibility.id" (click)="onPossibilitiesChange(possibility, i, j)">
                                {{ possibility.question }}
                              </mat-option>
                              <mat-option value="-99" (click)="onPossibilitiesChange('-99', i, j)">Selesai</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div fxFlex="2"
                            *ngIf="item.get('typeSelection').value['value'] === 'radio' && frmIsBranching.value === true">
                          </div>
                          <div fxFlex="2"
                            *ngIf="item.get('typeSelection').value['value'] === 'radio' && frmIsBranching.value === true && allQuestionList[i]['possibilities'][j]['isBranching'] === true">
                            <mat-icon style="color: red;cursor: pointer;" (click)="showNextQuestion(i, j)">remove_circle
                            </mat-icon>
                          </div>
                          <div fxFlex="6"></div>
                          <button *ngIf="item.get('additional').value.length > 1 && !isDetail"
                            (click)="deleteAdditional(i, j)" mat-icon-button fxFlex="5" matTooltip="Hapus"
                            matTooltipPosition="below" class="secondary-text">
                            <mat-icon class="secondary-text">close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div fxFlex="80" class="py-2" fxLayout="row" fxFlex="1 0 auto"
                      *ngIf="item.get('typeSelection').value['value'] == 'stock_check' && !checkWording(item.get('type').value)">
                      <!-- <mat-radio-group fxFlex="50" aria-labelledby="example-radio-group-label"
                        class="example-radio-group" [formControl]="stockOptionCtrl">
                        <mat-radio-button class="example-radio-button" *ngFor="let stockOption of stockOptions"
                          [value]="stockOption">
                          {{stockOption}}
                        </mat-radio-button>
                      </mat-radio-group> -->
                      <mat-icon class="secondary-text direct-belanja" fxFlex="5" (click)="onDirectBelanja(i)">{{
                        listDirectBelanja[i] ? 'check_box' :'check_box_outline_blank'}}</mat-icon> <span
                        style="margin-top: 5px;margin-left: 3px;">Direct
                        to
                        Belanja</span>
                      <!-- <div fxFlex="30" class="py-2" fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto"
                        [formGroupName]="j">
                      </div> -->
                    </div>
                    <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="20px"
                      fxLayoutGap.lt-md="0px" *ngIf="templateListImageIR[i]" style="margin-top: 25px;">
                      <div fxFlex="45">
                        <div class="banner-image-template-selected">
                          <div id="banner">
                            <img [src]="templateListImageIR[i].image" style="height: 190px; width: 390px"
                              alt="Gambar IR">
                            <!-- <div class="title">{{bannerSelected.title}}</div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div fxFlex="80" class="py-2" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto"
                        *ngIf="item.others">
                        <mat-icon class="secondary-text" fxFlex="5">{{item.get('typeSelection').value['value'] ===
                          'radio' ?
                          'radio_button_unchecked' : 'check_box_outline_blank'}}</mat-icon>
                        <mat-form-field fxFlex="85" class="other-opsi is-light">
                          <input class="option" matInput value="Lainnya..." disabled />
                        </mat-form-field>
                        <div fxFlex="10"></div>
                        <button mat-icon-button fxFlex="5" (click)="addOthers(i)" matTooltip="Hapus" matTooltipPosition="below"
                          class="secondary-text">
                          <mat-icon class="secondary-text">close</mat-icon>
                        </button>
                      </div> -->
                    <div style="padding-top: 6px;" fxFlex="50" fxLayout="row" fxLayoutAlign="start center"
                      fxFlex="1 0 auto" *ngIf="!isDetail && item.get('typeSelection').value['value'] !== 'stock_check'">
                      <mat-icon class="secondary-text" fxFlex="5">{{item.get('typeSelection').value['value'] ===
                        'radio' ?
                        'radio_button_unchecked' : 'check_box_outline_blank'}}</mat-icon>
                      <div class="more-option">
                        <span class="add-option" (click)="addAdditional(i)">Tambahkan opsi </span>
                        <!-- &nbsp;{{
                          item.get('others').value ?
                          '' : 'atau' }}&nbsp;
                          <a href="javascript:;" *ngIf="!item.get('others').value" (click)="addOthers(i)">
                            TAMBAHKAN "LAINNYA"
                          </a> -->
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div fxLayout="row" fxLayoutAlign="end start" fxFlex="1 0 auto" class="border-bottom">
                <!-- <section class="required-section secondary-text">
                  <mat-checkbox formControlName="required" name="required" class="required">Wajib diisi</mat-checkbox>
                </section>
                <div class="freebirdFormeditorViewQuestionFooterFooterSeparator freebirdFormeditorViewQuestionFooterMedium"></div> -->
                <button mat-icon-button fxFlex="5" matTooltip="Hapus" (click)="deleteQuestion(i)"
                  matTooltipPosition="below" *ngIf="!isDetail" class="secondary-text">
                  <mat-icon class="secondary-text">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="footer pt-48">
            <div class="note">Alasan Menolak Pilihan</div>
            <div formArrayName="rejected_reason_choices"
              *ngFor="let item of templateTaskForm.get('rejected_reason_choices')['controls']; let k=index;">
              <div [formGroupName]="k" class="question-list" fxLayout="row" fxLayoutAlign="start start"
                fxFlex="1 0 auto">
                <mat-form-field fxFlex="50" class="question is-light secondary-text">
                  <input matInput style="font-size: 13px;" formControlName="reason" (focus)="$event.target.select()"
                    (change)="defaultValue($event, 'rejected_reason_choices', 'Alasan ', k)">
                </mat-form-field>

                <button mat-icon-button fxFlex="5"
                  *ngIf="templateTaskForm.get('rejected_reason_choices').length > 1 && !isDetail" matTooltip="Hapus"
                  matTooltipPosition="below" class="add-image secondary-text" (click)="deleteReason(k)">
                  <mat-icon class="secondary-text">close</mat-icon>
                </button>
              </div>
            </div>
            <div style="padding-top: 6px;" fxFlex="50" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
              *ngIf="!isDetail">
              <div class="more-option">
                <span class="add-option" (click)="addRejectedReason()">Tambahkan Alasan </span>
              </div>
            </div>
          </div>
          <!-- <pre>{{dataTemplateTask | json}}</pre> -->
        </div>
      </form>
      <!-- </div> -->

      <div class="mat-white-bg freebirdFormeditorViewFatCard p-4" fxLayout="column" *ngIf="!isDetail">
        <button mat-icon-button matTooltip="Tambahkan Pertanyaan" matTooltipPosition="after" class="secondary-text"
          (click)="addQuestion()">
          <mat-icon>add_circle</mat-icon>
        </button>
        <!-- <button mat-icon-button matTooltip="Tambahkan judul dan deskripsi" matTooltipPosition="after" class="secondary-text">
          <mat-icon>text_fields</mat-icon>
        </button> -->
        <button mat-icon-button matTooltip="Tambahkan Gambar" matTooltipPosition="after" class="secondary-text"
          (click)="uploadImage('master', null)">
          <mat-icon>crop_original</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Tambahkan Video" matTooltipPosition="after" class=" secondary-text"
          (click)="uploadVideo('master', null)">
          <mat-icon class="secondary-text">videocam</mat-icon>
        </button>
      </div>

    </div>
  </div>
</div>