<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Template Partner'">
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="15px" fxLayoutGap.lt-md="0px" class="top-table">
          <div class="search-field-template" fxLayout="row" fxLayoutAlign="center center">
              <input class="textbox-search" matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
              <div class="icon-search">
                <mat-icon class="mat-icon-search">search</mat-icon>
              </div>
          </div>
          <form [formGroup]="formFilter">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="15" class="orders dropdown">
                <mat-select formControlName="partner_list" (ngModelChange)="changePartner($event)">
                  <mat-option [value]="item.id" *ngFor="let item of partnerList">{{item.partner_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </div>
        <div class="button-row" fxLayout="row" fxLayoutAlign="end center">
          <button style="width: 170px;" mat-raised-button aria-label="add" type="button" (click)="addTemplatePartner()">
            <mat-icon>add</mat-icon>BUAT TEMPLATE
          </button>
        </div>
      </div>

      <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
        [offset]="offsetPagination" [count]="pagination.total" [limit]="pagination.per_page" (page)="setPage($event)" 
        (sort)="onSort($event)">
        
        <ngx-datatable-column name="Nama Template" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <!-- <span class="row-name" (click)="editTemplatePartner(row)" *ngIf="permission?.ubah">{{row.name || '-'}}</span> -->
            <span class="row-name" (click)="editTemplatePartner(row)">{{row.name || '-'}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Alias" prop="alias">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span>{{row.alias ? row.alias !== 'null' ? row.alias : '-' : '-'}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nama Partner" prop="partner_name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span>{{row.partner_name || '-'}}</span>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Jenis Partner" prop="type">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span>{{row.type || '-'}}</span>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row pl-8">
              <button mat-icon-button color="primary" (click)="deleteTemplate(row.id)" fxLayoutAlign="center center">
                <mat-spinner *ngIf="onDeleting == row.id; else showIcon" color="primary" diameter="20"></mat-spinner>
                <ng-template #showIcon>
                  <mat-icon>delete</mat-icon>
                </ng-template>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>