@import "src/@fuse/scss/fuse";
@import "src/variable.scss";
@import "src/backgroundslide.scss";
@import "~@angular/material/theming";

:host {
  #ayoLogin {
    width: 100%;
    position: relative;
    z-index: 1;
    background: url("/assets/images/ayo/Dev_Copy@2x.jpg") no-repeat center
      center;
    background-size: cover;

    .lgn-container {
      text-align: center;

      .lgn-box {
        // height: 620px;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        background: #fff;
        border-radius: 8px;
        padding-top: 38px;
        padding-bottom: 38px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.33);

        .top {
          .title {
            padding-top: 30px;
            font-size: 14px;
          }
        }

        .middle-form {
          margin: 0 50px;
          padding-top: 20px;

          form {
            div.label {
              text-align: left;
              position: relative;
              top: 15px; // font-weight: bold;
              font-size: 14px;
            }

            mat-form-field {
              width: 100%;
            }
          }

          .remember-forgot-password {
            padding-top: 20px;
          }

          a.forgot-password {
            color: $primary-red;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
          }

          .remember-me {
            font-size: 14px;
          }

          .login-button {
            margin-top: 30px;
            text-align: center;

            button {
              background: $primary-red;
              color: #fff;
              display: block;
              width: 100%;
              margin: 0 auto;
            }
          }
        }
      }

      &.text-container {
        text-align: left;
        color: #fff;
        padding-left: 50px;
        min-width: calc(100% - 800px);

        h2 {
          font-size: 21px; // font-weight: bold;
          padding: 0 0 0;
          margin: 0 0 10px;
          letter-spacing: 0.5px;
        }

        h1 {
          font-size: 64px;
          font-weight: bold;
          line-height: 77px;
          padding: 0 0 0;
          margin: 0 0 15px;
          letter-spacing: 1px;
          font-family: "Proxima Nova";
        }

        p {
          font-size: 18px;
          line-height: 25px;

          .mat-icon {
            vertical-align: middle;
            margin-right: 10px;
          }
        }

        .txt-ayo {
          height: 20px;
          width: 496px;
          color: #ffffff;
          font-family: "Proxima Nova";
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
    }

    p.createaccount {
      margin: 30px 0 0;

      a {
        color: $primary-red;
        text-align: center;
      }
    }

    .badge {
      padding: 24px 48px;
      background-image: linear-gradient(-1deg, #e1e1e1 0%, #ffffff 100%);
      font-size: 40px !important;
      border-radius: 20px 0px 0px 20px;
      color: #003872;
      position: absolute;
      top: 40px;
      right: 0;
      font-weight: bold;
    }
  }
}
