@import "src/@fuse/scss/fuse";
@import "src/variable.scss";
@import '~@angular/material/theming';

:host{
	#ayoLogin{
		width: 100%;
		background:url('/assets/images/ayo/login-bg.jpg') no-repeat;
		background-size: cover;
		.lgn-container{
			text-align: center;
			.lgn-box{
				height: 620px;
				width: 420px;
				background:#fff;
				border-radius: 8px;
				.top{
					padding-top: 38px;
					.title{
						padding-top: 30px;
					}
				}
				.middle-form{
					margin: 0 50px;
					padding-top: 45px;
					form{
						div.label{
							text-align: left;
						    position: relative;
						    top: 20px;
						    font-weight: bold;
						    font-size: 12px;
						}
						mat-form-field{
						width: 100%;
					    }

					}
					.remember-forgot-password{
						padding-top: 20px;
					}
					a.forgot-password{
						color:#000;
						font-weight: bold;
					}
				}
			}
		}
	}
}