<!-- <ul class="cb-slideshow">
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul> -->
<div *ngIf="internalSigningIn" style="position: absolute; left: 50%; top: 50%;">
  <mat-progress-spinner mode="indeterminate" diameter="32" style="margin-left: auto; margin-right: auto;"></mat-progress-spinner>
  <h2>{{ ls.locale.login.text4 }}</h2>
</div>

<div id="ayoLogin" fxLayout="column" fxLayoutAlign="center center" *ngIf="!internalSigningIn">
  <div class="tra" *ngIf="environment?.show_label">
    <div class="bg-tra"></div>
    <div class="text-tra">{{ environment?.label }}</div>
  </div>
  <div class="login-bg" fxLayout="row">
    <div class="lgn-container" fxFlex="420px" fxFlex.lt-md="80%">
      <div class="lgn-box">
        <div class="top">
          <img [src]="environment?.image" [srcset]="environment?.image_2x" />
          <div class="title">{{ ls.locale.login.text1 }}</div>
        </div>
        <div class="middle-form">

          <form name="form" [formGroup]="loginForm" (ngSubmit)="submit()">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field class="is-light form-primary">
                <input matInput type="email" placeholder="{{ ls.locale.login.text2 }}" formControlName="username">
                <mat-error *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched ">
                  {{ ls.locale.login.text2 }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>
            </div>

            <div *ngIf="showExternalUserFields" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field class="is-light form-primary">
                <input matInput type="text" *ngIf="showPassword" formControlName="password" placeholder="{{ ls.locale.login.text3 }}">
                <input matInput type="password" *ngIf="!showPassword" formControlName="password" placeholder="{{ ls.locale.login.text3 }}">
                <button type="button" mat-button matSuffix mat-icon-button (click)="showPassword = !showPassword">
                  <mat-icon *ngIf="!showPassword">remove_red_eye</mat-icon>
                  <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
                </button>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched ">
                  {{ ls.locale.login.text3 }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>
            </div>

            <div *ngIf="showExternalUserFields" class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
              <mat-checkbox class="remember-me red" [formControl]="rememberMe" aria-label="Remember Me">
                {{ ls.locale.login.text10 }}
              </mat-checkbox>
              <a class="forgot-password" [routerLink]="'/forgot-password'">
                {{ ls.locale.login.text11 }}
              </a>
            </div>

            <div class="login-button" fxLayout="row">
              <button id="btn-masuk-login" mat-raised-button aria-label="Login" type="submit" color="primary-red" [disabled]="submitting">
                <ng-container *ngIf="submitting == false">
                  {{ ls.locale.login.text4 }}
                </ng-container>
                <ng-container *ngIf="submitting == true">
                  <mat-progress-spinner mode="indeterminate" diameter="32" style="margin:0 auto;"></mat-progress-spinner>
                </ng-container>
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="lgn-container text-container" fxShow fxHide.lt-md="true" fxHide.lg="false">
      <h2>{{ ls.locale.login.text5 }}</h2>
      <h1>AYO SRC SAMPOERNA</h1>

      <div class="txt-ayo">{{ ls.locale.login.text6 }}</div>

      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="10">
            <mat-icon style="width: 43px;height: 43px;font-size: 43px;">check_circle_outline</mat-icon>
          </div>
          <div fxFlex="90">
            <p>{{ ls.locale.login.text7 }}</p>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="10">
            <mat-icon style="width: 43px;height: 43px;font-size: 43px;">check_circle_outline</mat-icon>
          </div>
          <div fxFlex="90">
            <p>{{ ls.locale.login.text8 }}</p>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="10">
            <mat-icon style="width: 43px;height: 43px;font-size: 43px;">check_circle_outline</mat-icon>
          </div>
          <div fxFlex="90">
            <p>{{ ls.locale.login.text9 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
