:host {
  .button {
    height: 46px;
    width: 180px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
  }

  .image-sku {
    float: left;
    box-shadow: 0 0 1px black;
    /** Interesting part starts here */
    font-size: 0;
    text-align: center;
    width: 210px;
    height: 210px;
    padding: 10px;
  }

  .image-sku img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
  }

  .image-sku:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .image-sku-review {
    float: left;
    box-shadow: 0 0 1px black;
    /** Interesting part starts here */
    font-size: 0;
    text-align: center;
    width: 210px;
    height: 210px;
  }

  .image-sku-review img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
  }

  .image-sku-review:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

:host /deep/ .mat-input-element:disabled {
  color: rgba(0, 0, 0, 1) !important;
}

.wilayah {
  background: #3a3a3a;
  color: white;
  padding: 0 24px;
}

.info-label {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 100px;
  background: #eee;
  
  .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}
