<div #containerScroll class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="isDetail ? 'Detail Produk' : 'Ubah Produk'">
    <button *ngIf="!isDetail" style="min-width: 170px;" mat-raised-button aria-label="Simpan" (click)="submit()"
      type="button">SIMPAN</button>
  </page-content-header>
  <!-- / HEADER -->

  <div *ngIf="onLoad" fxLayout="row" fxLayoutAlign="center center" class="pt-48">
    <mat-spinner [strokeWidth]="6" [diameter]="50" color="accent"></mat-spinner>
  </div>
  <div class="content p-24" *ngIf="!onLoad">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column">

      <form autocomplete="off" [formGroup]="formProductGroup" (keydown.enter)="$event.preventDefault();">
        <!-- <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar> -->
        <mat-tab-group>
          <mat-tab label="Informasi Produk">
            <div class="ayo-middle" fxLayout="column">
              <div class="p-24" fxLayout="column">
                <div *ngIf="!isDetail" class="button" (click)="openDialog()">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-icon class="secondary-text">horizontal_split</mat-icon>
                    <span class="h5 text-center">SCAN BARCODE</span>
                  </div>
                </div>
                <br>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <input matInput type="text" placeholder="Kode Family" formControlName="code">
                  <mat-error
                    *ngIf="formProductGroup.controls['code'].hasError('required') && formProductGroup.controls['code'].touched">
                    Kode Family harus diisi
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <input matInput type="text" placeholder="Nama Produk" formControlName="name">
                  <mat-error
                    *ngIf="formProductGroup.controls['name'].hasError('required') && formProductGroup.controls['name'].touched">
                    Nama Produk harus diisi
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <input matInput type="text" placeholder="Barcode" formControlName="barcode" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <mat-select formControlName="brand" placeholder="Perusahaan" #singleSelect>
                    <ngx-mat-select-search [formControl]="filterBrand" [placeholderLabel]="'Cari Perusahaan...'"
                      [noEntriesFoundLabel]="'Tidak ada perusahaan yang ditemukan'"></ngx-mat-select-search>
                    <mat-option *ngFor="let item of filteredBrand | async" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formProductGroup.controls['brand'].hasError('required') && formProductGroup.controls['brand'].touched">
                    Perusahaan harus diisi
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <mat-chip-list #chipList [disabled]="isDetail">
                    <mat-chip color="primary"
                      *ngFor="let item of formProductGroup.get('alias')['controls']; let i = index;"
                      [selectable]="selectable" [removable]="removable" (removed)="removeAlias(i)">
                      {{item.get('alias').value}}
                      <mat-icon matChipRemove *ngIf="removable && !isDetail">cancel</mat-icon>
                    </mat-chip>
                    <input matInput placeholder="Nama Lain Produk" type="text" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="addAlias($event)" [disabled]="isDetail">
                  </mat-chip-list>
                  <mat-error
                    *ngIf="formProductGroup.controls['alias'].hasError('required') && formProductGroup.controls['alias'].touched">
                    Nama Lain Produk harus diisi
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <mat-select formControlName="category" placeholder="Kategori Produk" #singleSelect
                    (selectionChange)="selectionChange()">
                    <ngx-mat-select-search [formControl]="filterCategory" [placeholderLabel]="'Cari Kategori...'"
                      [noEntriesFoundLabel]="'Tidak ada kategori yang ditemukan'"></ngx-mat-select-search>
                    <mat-option *ngFor="let item of filteredCategory | async" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formProductGroup.controls['category'].hasError('required') && formProductGroup.controls['category'].touched">
                    Kategori Produk harus diisi
                  </mat-error>
                </mat-form-field>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="">
                  <mat-form-field fxFlex="100" class="is-light form-primary">
                    <mat-select placeholder="Sub Kategori" formControlName="subCategory">
                      <mat-option [value]="item.id" *ngFor="let item of listSubCategory">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="formProductGroup.controls['category'].hasError('required') && formProductGroup.controls['category'].touched">
                      Kategori Produk harus diisi
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="">

                  <mat-form-field fxFlex="50" class="is-light form-primary">
                    <mat-select placeholder="UOM" formControlName="packaging">
                      <mat-option [value]="item.id" *ngFor="let item of listPackaging">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="formProductGroup.controls['packaging'].hasError('required') && formProductGroup.controls['packaging'].touched">
                      Nama UOM harus diisi
                    </mat-error>
                  </mat-form-field>
                  <!-- <mat-form-field fxFlex="25" class="is-light form-primary">
                    <input matInput type="number" formControlName="convertion" placeholder="Konversi">
                  </mat-form-field> -->
                </div>
                <div fxLayout="row wrap">
                  <div class="pt-16" fxLayout="column">
                    <strong>Status Produk</strong>
                    <mat-radio-group formControlName="status" class="radio-group pb-16">
                      <mat-radio-button class="radio-button" *ngFor="let item of statusProduk" [value]="item.status">
                        {{item.name}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div fxLayout="row" style="margin-left: 50px;" *ngIf="detailProduct.is_private_label_editable">
                    <div class="pt-16" fxLayout="column">
                      <strong>Pin Up Product</strong>
                      <mat-radio-group formControlName="status_pin_up" class="radio-group pb-16">
                        <mat-radio-button class="radio-button" *ngFor="let item of listPinUpProduct"
                          [value]="item.value">
                          {{item.name}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="pt-16" fxLayout="column" style="margin-left: 50px;"
                      *ngIf="formProductGroup.get('status_pin_up').value == 1">
                      <strong>Durasi Pin Up</strong>
                      <div fxLayout="row">
                        <mat-form-field fxFlex="50" class="is-light">
                          <input matInput [min]="minDate" (focus)="startPinUp.open()" [matDatepicker]="startPinUp"
                            placeholder="Tanggal Mulai" formControlName="start_date_pin_up">
                          <mat-datepicker-toggle matSuffix [for]="startPinUp"></mat-datepicker-toggle>
                          <mat-datepicker #startPinUp></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="is-light" style="margin-left: 30px;">
                          <input [min]="formProductGroup.get('start_date_pin_up').value" matInput
                            (focus)="endPinUp.open()" [matDatepicker]="endPinUp" placeholder="Tanggal Selesai"
                            formControlName="end_date_pin_up">
                          <mat-datepicker-toggle matSuffix [for]="endPinUp"></mat-datepicker-toggle>
                          <mat-datepicker #endPinUp></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="pt-16" fxLayout="column" style="margin-left: 50px;">
                      <mat-form-field fxFlex="100" class="is-light form-primary">
                        <!-- <strong>Prioritas Produk</strong> -->
                        <input matInput type="text" (keypress)="numberOnly($event)" placeholder="Prioritas Produk"
                          formControlName="priority_product">
                        <!-- <mat-error
                          *ngIf="formProductGroup.controls['name'].hasError('required') && formProductGroup.controls['name'].touched">
                          Nama Produk harus diisi
                        </mat-error> -->
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutGap="20px"
                  fxLayoutGap.lt-md="10px" fxFlex="1 0 auto" style="margin-bottom: 20px;"
                  *ngIf="!detailProduct.sharelink_url">
                  <button type="button" mat-stroked-button color="primary" (click)="generateLink()">GENERATE
                    LINK</button>
                </div>
                <div fxLayout="row" *ngIf="detailProduct.sharelink_url" style="margin-bottom: 20px;">
                  <mat-form-field fxFlex="50" class="is-light form-primary">
                    <input matInput type="text" placeholder="Link Product" [value]="detailProduct.sharelink_url"
                      disabled>
                    <mat-icon matSuffix (click)="copyMessage(detailProduct.sharelink_url)" style="cursor: pointer;"
                      matTooltip="Salin Link">
                      content_copy
                    </mat-icon>
                  </mat-form-field>
                </div>

                <div class="pt-16">
                  <strong>Jenis Produk</strong>
                </div>
                <!-- <mat-checkbox (change)="isPromo($event)" class="mt-4 ml-4 mb-8" formControlName="is_promo_src">Promo SRC</mat-checkbox> -->
                <div fxLayout="row" fxLayoutGap="20px">
                  <mat-checkbox (change)="isPromo($event)" class="mt-4 ml-4 mb-8" formControlName="is_promo_src"
                    [disabled]="!detailProduct.is_private_label_editable">Produk Pilihan SRC</mat-checkbox>
                  <mat-checkbox (change)="isPrivateLabel($event)" class="mt-4 ml-4 mb-8"
                    formControlName="is_private_label" [disabled]="!detailProduct.is_private_label_editable">Produk
                    Prinsipal</mat-checkbox>
                </div>
              </div>
              <div class="" formArrayName="areas"
                *ngFor="let wil of formProductGroup.get('areas')['controls']; let i = index;">
                <div [formGroupName]="i">
                  <div class="mb-16 wilayah" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="50">
                      <h3 class="">Geotree {{i+1}}</h3>
                    </div>
                    <div *ngIf="formProductGroup.get('is_private_label').value && !isDetail" fxFlex="50"
                      fxLayout="row wrap" fxLayoutAlign="end center" fxLayout.lt-md="column" fxLayoutGap="10px"
                      fxLayoutGap.lt-md="0px">
                      <button
                        *ngIf="formProductGroup.get('areas').value.length === 1 || i === (formProductGroup.get('areas').value.length - 1)"
                        mat-raised-button type="button" (click)="addArea(i)">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button *ngIf="formProductGroup.get('areas').value.length > 1" mat-raised-button color="primary"
                        type="button" (click)="deleteArea(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div style="margin-left: 25px;margin-bottom: 15px;" fxLayout="row wrap">
                    <div fxFlex="10" style="margin-top: 15px;" *ngIf="!formProductGroup.get('is_private_label').value">
                      <mat-checkbox formControlName="time_period">Periode Waktu</mat-checkbox>
                    </div>
                    <div fxLayout="row" fxFlex="85" *ngIf="wil.get('time_period').value === true">
                      <mat-form-field fxFlex="20" class="is-light form-primary">
                        <input matInput (focus)="startPicker.open()" [matDatepicker]="startPicker"
                          placeholder="Tanggal Mulai" formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                      </mat-form-field>
                      <div fxFlex="2"></div>
                      <mat-form-field fxFlex="20" class="is-light form-primary">
                        <input matInput (focus)="endDate.open()" [matDatepicker]="endDate"
                          placeholder="Tanggal Berakhir" formControlName="end_date">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="pb-8 px-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px" fxLayoutAlign="space-between stretch">
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="National" formControlName="national"
                        matTooltip="{{getToolTipData(wil.get('national').value, wil.controls['list_national'].value)}}">
                        <mat-option *ngFor="let item of wil.controls['list_national'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['national'].hasError('required') && wil.controls['national'].touched">
                        National harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Zone" formControlName="zone"
                        matTooltip="{{getToolTipData(wil.get('zone').value, wil.controls['list_zone'].value)}}"
                        (selectionChange)="generataList('region', wil.get('zone').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_zone'].value" [value]="item.id">{{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="wil.controls['zone'].hasError('required') && wil.controls['zone'].touched">
                        Zone harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Regional" formControlName="region"
                        matTooltip="{{getToolTipData(wil.get('region').value, wil.controls['list_region'].value)}}"
                        (selectionChange)="generataList('area', wil.get('region').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_region'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="wil.controls['region'].hasError('required') && wil.controls['region'].touched">
                        Regional harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Area" formControlName="area"
                        matTooltip="{{getToolTipData(wil.get('area').value, wil.controls['list_area'].value)}}"
                        (selectionChange)="generataList('salespoint', wil.get('area').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_area'].value" [value]="item.id">{{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="wil.controls['area'].hasError('required') && wil.controls['area'].touched">
                        Area harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Salespoint" formControlName="salespoint"
                        matTooltip="{{getToolTipData(wil.get('salespoint').value, wil.controls['list_salespoint'].value)}}"
                        (selectionChange)="generataList('district', wil.get('salespoint').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_salespoint'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['salespoint'].hasError('required') && wil.controls['salespoint'].touched">
                        Salespoint harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="District" formControlName="district"
                        matTooltip="{{getToolTipData(wil.get('district').value, wil.controls['list_district'].value)}}"
                        (selectionChange)="generataList('territory', wil.get('district').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_district'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['district'].hasError('required') && wil.controls['district'].touched">
                        Distrik harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Territory" formControlName="territory"
                        matTooltip="{{getToolTipData(wil.get('territory').value, wil.controls['list_territory'].value)}}">
                        <mat-option *ngFor="let item of wil.controls['list_territory'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['territory'].hasError('required') && wil.controls['territory'].touched">
                        Territori harus diisi
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div *ngIf="formProductGroup.get('is_private_label').value">
                  <div class="wilayah" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="50">
                      <h3 class="">Harga Produk Geotree {{i+1}}</h3>
                    </div>
                    <div class="button-row">
                      <button mat-flat-button color="white" matTooltip="Tambah Kemasan" (click)="addProductPrice(i)"
                        [disabled]="isDetail">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div>
                    <mat-list style="overflow: hidden;" class="pt-0">
                      <mat-divider></mat-divider>
                      <mat-list-item>
                        <div class="pl-8" fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
                          <span fxFlex="15" class="h6 text-semibold">Kemasan</span>
                          <span fxFlex="15" class="h6 text-semibold">Jumlah per Kemasan</span>
                          <span fxFlex="15" class="h6 text-semibold">Harga Produk</span>
                          <span fxFlex="17" class="h6 text-semibold">Harga Produk Setelah Potongan Harga</span>
                          <span fxFlex="15" class="h6 text-semibold">Tanggal Berakhir</span>
                          <span fxFlex="15" class="h6 text-semibold">Tipe</span>
                          <div fxFlex="5" fxLayout="column" fxLayoutAlign="center center">
                            <span class="h6 text-semibold">Hapus</span>
                          </div>
                        </div>
                      </mat-list-item>
                      <mat-divider></mat-divider>
                      <div fxFlex="1 0 auto" formArrayName="listProdukPrivateLabel"
                        *ngFor="let item of wil.get('listProdukPrivateLabel')['controls']; let j = index;">
                        <div [formGroupName]="j">
                          <mat-list-item class="custom-height mb-8">
                            <div class="pl-8" fxFlex="auto" fxLayoutAlign="space-between center" fxLayout="row">
                              <div fxFlex="15">
                                <mat-form-field class="is-light packaging">
                                  <input matInput type="text" formControlName="packaging">
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['packaging'].hasError('required') && item.controls['packaging'].touched">
                                    Nama Kemasan harus diisi
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div fxFlex="15">
                                <mat-form-field class="is-light packaging-amount">
                                  <input matInput type="number" formControlName="packaging_amount">
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['packaging_amount'].hasError('required') && item.controls['packaging_amount'].touched">
                                    Jumlah per Kemasan harus diisi
                                  </mat-error>
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['packaging_amount'].hasError('min') && item.controls['packaging_amount'].touched">
                                    Jumlah per Kemasan min. 1
                                  </mat-error>
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['packaging_amount'].hasError('max') && item.controls['packaging_amount'].touched">
                                    Jumlah per Kemasan maks. 1000
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div fxFlex="15">
                                <mat-form-field class="is-light packaging">
                                  <input matInput type="tel" currencyMask min="0" formControlName="price">
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['price'].hasError('required') && item.controls['price'].touched">
                                    Harga Produk harus diisi
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div fxFlex="17">
                                <mat-form-field class="is-light packaging">
                                  <input matInput type="tel" currencyMask min="0" formControlName="price_discount">
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['price_discount'].hasError('max') && item.controls['price_discount'].touched">
                                    Tidak boleh melebihi harga produk
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div fxFlex="15">
                                <mat-form-field class="is-light packaging">
                                  <input matInput [matDatepicker]="dp" (focus)="dp.open()" [min]="minDate"
                                    formControlName="price_discount_expires_at">
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['price_discount_expires_at'].hasError('required') && item.controls['price_discount_expires_at'].touched">
                                    Tanggal Berakhir Diskon harus diisi
                                  </mat-error>
                                  <mat-error style="font-size: .8em"
                                    *ngIf="item.controls['price_discount_expires_at'].hasError('matDatepickerMin') && item.controls['price_discount_expires_at'].touched">
                                    Tidak boleh kurang dari tanggal hari ini
                                  </mat-error>
                                  <mat-datepicker-toggle matSuffix [for]="dp">
                                    <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                                  </mat-datepicker-toggle>
                                  <mat-datepicker #dp></mat-datepicker>
                                </mat-form-field>
                              </div>
                              <div fxFlex="15">
                                <mat-form-field class="is-light packaging">
                                  <mat-select formControlName="tipe">
                                    <mat-option *ngFor="let item of listTipe" [value]="item.value">
                                      {{item.name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div fxFlex="5%" fxLayout="column" fxLayoutAlign="center center">
                                <button type="button" mat-icon-button color="primary"
                                  (click)="removePackaging(item, j, i)"
                                  [disabled]="wil.get('listProdukPrivateLabel').controls.length === 1 && !isDetail || isDetail">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                            </div>
                          </mat-list-item>
                          <mat-divider></mat-divider>
                        </div>
                      </div>
                    </mat-list>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Gambar Produk">
            <div class="ayo-middle p-24" style="height: 480px;" fxLayout="column">
              <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [invalidDrag]="isDetail"
                [(file)]="files" [accept]="'image/*'" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" [fileDropDisabled]="isDetail" (fileChange)="changeImage($event)">
                <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline</mat-icon>
                  <br>
                  <span matPrefix>Tarik Gambar Kesini atau
                    <strong>Pilih File</strong>
                  </span>
                  <span matPrefix>Ukuran 800x800 piksel, Maksimum 2MB</span>
                </div>
              </div>

              <div *ngIf="files" class="pt-48">
                <div class="">
                  <div class="delete">
                    <mat-icon style="cursor: pointer;" (click)="removeImage()">cancel_outline</mat-icon>
                  </div>
                  <!-- <div class="previewIcon" [ngfBackground]="files"></div> -->
                  <div class="image-sku">
                    <img id="image" [src]='imageSku' />
                  </div>
                </div>
              </div>
              <div *ngIf="!files && detailProduct" class="pt-48">
                <div class="image-sku-review">
                  <img class="" [src]="detailProduct.image_url">
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </div>
  </div>


  <!-- Generate HTML to canvas-->
  <div style="position: absolute; z-index: -2; top: 0; margin-left: -300px;" id="imageConverted" #screen
    class="image-sku">
    <img id="image" [src]='imageSku' />
  </div>
</div>