<div class="dialog-content-wrapper">

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar fxLayout="column" fxLayoutAlign=" center">
    <mat-spinner diameter="100"></mat-spinner>
    <div class="dialog__title mt-24">Data Sedang Diproses</div> <!-- // TODO -->
    <div class="dialog__subtitle">Mohon tunggu 5 - 10 menit</div> <!-- // TODO -->
  </div>

  <div class="border-top">
    <div class="p-16 text-center" fxLayout="row" fxLayoutGap="16px">
      <a [routerLink]="['/dte', 'audience']" target="_blank" rel="noopener noreferrer" fxFlex="50">
        <button
          id="btn-to-dashboard"
          mat-raised-button
          type="button"
          class="dialog__btn--primary"
        >
          Kembali ke Dashboard <!-- // TODO -->
        </button>
      </a>
      <button
        id="btn-cancel"
        mat-raised-button
        type="button"
        class="confirmation-button"
        (click)="dialogRef.close()"
        fxFlex="50"
      >
        Batalkan Check <!-- // TODO -->
      </button>
    </div>
  </div>
</div>