<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header
    [contentTitle]="(isDetail ? ls.locale.global.button.detail : ls.locale.global.button.edit) + ' RCA Agent'">
  </page-content-header>

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <form autocomplete="off" [formGroup]="formRcaAgent">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
          <h2 class="">{{ isDetail ? ls.locale.global.button.detail : ls.locale.global.button.edit }} RCA Agent</h2>
        </div>
        <div class="ayo-middle" fxLayout="column">
          <div fxLayout="column">
            <mat-form-field fxFlex="30" class="is-light form-primary">
              <input matInput type="text" formControlName="name"
                placeholder="{{ ls.locale.global.label.name }} RCA Agent">
              <mat-error
                *ngIf="formRcaAgent.controls['name'].hasError('required') && formRcaAgent.controls['name'].touched">
                {{ ls.locale.global.label.name }} RCA Agent {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="30" class="is-light form-primary">
              <input matInput type="text" formControlName="username" placeholder="Username">
              <mat-error
                *ngIf="formRcaAgent.controls['username'].hasError('required') && formRcaAgent.controls['username'].touched">
                Username RCA Agent {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="30" class="is-light form-primary">
              <input matInput type="email" formControlName="email" placeholder="Email RCA Agent">
              <mat-error
                *ngIf="formRcaAgent.controls['email'].hasError('required') && formRcaAgent.controls['email'].touched">
                Email RCA Agent {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
            <div>
              <i style="font-size: 14px;">{{ ls.locale.rca_agent.email_validation }}</i>
            </div>
          </div>
        </div>

        <div class="py-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
          fxLayoutAlign="space-between stretch">
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select placeholder="{{ ls.locale.global.area.national }}" formControlName="national">
              <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select placeholder="{{ ls.locale.global.area.zone }}" formControlName="zone"
              (selectionChange)="getAudienceArea('region', formRcaAgent.get('zone').value)">
              <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select placeholder="{{ ls.locale.global.area.regional }}" formControlName="region"
              (selectionChange)="getAudienceArea('area', formRcaAgent.get('region').value)">
              <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area"
              (selectionChange)="getAudienceArea('salespoint', formRcaAgent.get('area').value)">
              <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint"
              (selectionChange)="getAudienceArea('district', formRcaAgent.get('salespoint').value)">
              <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district"
              (selectionChange)="getAudienceArea('territory', formRcaAgent.get('district').value)">
              <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory">
              <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>

        <div fxLayout="column">
          <h4 style="font-weight: bold;">Position Code</h4>
        </div>
        <div fxLayout="row" fxFlex="30">
          <mat-form-field fxFlex="100" class="is-light form-primary">
            <mat-select placeholder="Position" formControlName="position"
              [disabled]="formRcaAgent.get('isNewPositionCode').value">
              <mat-option *ngFor="let item of listExistingPositionCodes" [value]=" item.code">{{item.code}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="!isDetail" class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
            {{ ls.locale.global.button.save }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>