<div
  class="page-layout simple fullwidth"
  fxLayout="column"
  fusePerfectScrollbar
>
  <!-- HEADER -->
  <page-content-header contentTitle="{{'dte.task_sequencing.text16' | translate}}">
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="16px" class="stats-cards content p-12">
        <div fxFlex="50">
          <mat-card style="padding: 0px; height:100%">
            <div fxLayout="column" fxLayoutGap="8px" class="stats-cards content p-12" style="margin-left: 70px; margin-right: 70px;">
              <div fxLayout="row" fxFlex="100">
                <p fxFlex="30" class="paragraph">{{'global.label.name' | translate}}  </p>
                <p fxFlex="5" class="paragraph">:</p>
                <p fxFlex="65" class="paragraph">{{task.name}}</p>
              </div>
              <div fxLayout="row" fxFlex="100">
                <p fxFlex="30" class="paragraph">{{'dte.trade_program.text1' | translate}} </p>
                <p fxFlex="5" class="paragraph">:</p>
                <p fxFlex="65" class="paragraph">{{task.trade_creator_name}}</p>
              </div>
              <div fxLayout="row" fxFlex="100">
                <p fxFlex="30" class="paragraph">{{'dte.task_sequencing.group_audience' | translate}} </p>
                <p fxFlex="5" class="paragraph">:</p>
                <p fxFlex="65" class="paragraph">{{task.trade_audience_group_name}}</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div fxFlex="50">
          <mat-card style="padding: 0px; height:100%">
            <div fxLayout="column" fxLayoutGap="8px" class="stats-cards content p-12" style="margin-left: 100px; margin-right: 100px;">
              <div fxLayout="row" fxFlex="100">
                <p fxFlex="30" class="paragraph">{{'dte.task_sequencing.text25' | translate}} </p>
                <p fxFlex="5" class="paragraph">:</p>
                <p fxFlex="65" class="paragraph">{{task.start_date}}</p>
              </div>
              <div fxLayout="row" fxFlex="100">
                <p fxFlex="30" class="paragraph">{{'dte.task_sequencing.text26' | translate}} </p>
                <p fxFlex="5" class="paragraph">:</p>
                <p fxFlex="65" class="paragraph">{{task.end_date}}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

      <mat-grid-list cols="2" rowHeight="45px">
        <mat-grid-tile>
        <h2>{{'dte.task_sequencing.text17' | translate}} :</h2>
        </mat-grid-tile>

        <mat-grid-tile>
        <h2>{{'dte.task_sequencing.text18' | translate}} :</h2>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="85px">
        <mat-grid-tile>
          <div class="button-row">
            <button
              id="btn-misi"
              mat-fab
              class="mr-2"
              color="primary"
              matTooltip="{{'global.label.mission' | translate}}"
              (click)="newDialog('mission')"
              [disabled]="noMission"
            >
              <mat-icon>assignment</mat-icon>
            </button>

            <button            
              id="btn-push_notif"
              mat-fab
              class="mr-2"
              color="primary"
              matTooltip="{{'dte.task_sequencing.text19' | translate}}"
              (click)="newDialog('push-notification')"
              [disabled]="noPush"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>

            <button
              id="btn-pop_up_notif"
              mat-fab
              class="mr-2"
              color="primary"
              matTooltip="{{'dte.task_sequencing.text20' | translate}}"
              (click)="newDialog('pop-up-notification')"
              [disabled]="noPopup"
            >
              <mat-icon>notifications_active</mat-icon>
            </button>

            <button id="btn-coin" mat-fab class="mr-2" color="primary" matTooltip="{{'dte.task_sequencing.coin' | translate}}" (click)="newDialog('coin')" [disabled]="noCoin">
              <mat-icon>monetization_on</mat-icon>
            </button>

          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="button-row">
            <button id="btn-split_decision" mat-fab class="mr-2" color="primary" matTooltip="{{'dte.task_sequencing.text22' | translate}}" (click)="newDialog('decision')" [disabled]="noDecision">
              <mat-icon>help</mat-icon>
            </button>

            <button id="btn-tunggu" mat-fab class="mr-2" color="primary" matTooltip="{{'dte.task_sequencing.text24' | translate}}" (click)="newDialog('time')" [disabled]="noTime"
            >
              <mat-icon>access_time</mat-icon>
            </button>

            <button
              id="btn-end"
              mat-fab
              class="mr-2"
              color="primary"
              matTooltip="{{'dte.task_sequencing.text23' | translate}}"
              (click)="newDialog('finish')"
              [disabled]="noFinish"
            >
              <mat-icon>login</mat-icon>
            </button>

          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <div fxLayout="row" fxLayoutAlign="space-around">
        <ngx-graph class="chart-container"
          [links]="hierarchialGraph.links"
          [nodes]="hierarchialGraph.nodes"
          [curve]="curve"
          [nodeWidth]=150
          [nodeHeight]=120
          [enableZoom]="true"
          [autoZoom]="true"
          [update$]="update$"
          style="background-color: #eee; height: 600px;">
          <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
              <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
          </ng-template>

          <ng-template #nodeTemplate let-node>
            <svg:g class="node" xmlns="http://www.w3.org/2000/xhtml" width="150" height="120">
              <svg:foreignObject width="150" height="120">
                <xhtml:div [id]="'card-'+node.data.type" class="cardContainer" xmlns="http://www.w3.org/1999/xhtml" [ngStyle]="getStyles(node)" (click)="cardClick(node)" (dblclick)="cardDoubleClick(node)">
                  <button class="closeNode" (click)="delNode(node, $event);" *ngIf="task.is_editable === 1"><mat-icon style="font-size: 16px;">delete</mat-icon></button>
                  <label class="activeNode" *ngIf="currentNode === node.data.component_id"><mat-icon style="font-size: 16px;">check</mat-icon></label>
                  <label *ngIf="node.data.type === 'mission'"><mat-icon>assignment</mat-icon></label>
                  <label *ngIf="node.data.type === 'pop-up-notification'"><mat-icon>notifications_active</mat-icon></label>
                  <label *ngIf="node.data.type === 'coin'"><mat-icon>monetization_on</mat-icon></label>
                  <label *ngIf="node.data.type === 'decision'"><mat-icon>help</mat-icon></label>
                  <label *ngIf="node.data.type === 'finish'"><mat-icon>login</mat-icon></label>
                  <label *ngIf="node.data.type === 'time'"><mat-icon>access_time</mat-icon></label>
                  <label *ngIf="node.data.type === 'push-notification'"><mat-icon>more_horiz</mat-icon></label>
                  <br/>
                  <label class="name">{{node.label}}</label>
                  <br/>
                  <div *ngIf="node.data.type === 'decision'" fxLayoutAlign="space-between" class="yesNo">
                    <button (click)="setYesNo(node, 'yes')"><span [ngStyle]="{'font-size': '12px', 'text-decoration': yesNo === 'yes' ? 'underline' : 'none'}">{{'global.label.yes' | translate}}</span></button>
                    <button (click)="setYesNo(node, 'no')"><span [ngStyle]="{'font-size': '12px', 'text-decoration': yesNo === 'no' ? 'underline' : 'none'}">{{'global.label.no' | translate}}</span></button>
                  </div>
                </xhtml:div>
              </svg:foreignObject>
            </svg:g>
          </ng-template>

          <ng-template #linkTemplate let-link>
            <svg:g class="edge">
              <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
              </svg:path>
              <svg:text class="edge-label" text-anchor="middle">
                <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">{{link.label}}</textPath>
              </svg:text>
            </svg:g>
            <svg:g class="linkMidpoint" *ngIf="link.midPoint"
                   [attr.transform]="'translate(' + (link.midPoint.x) + ',' + (link.midPoint.y) + ')'">
              <ellipse rx="30" ry="10" style="fill: #eee; stroke: #000;" *ngIf="link.label" />
              <svg:text alignment-baseline="central">{{ link.label }}</svg:text>
          </svg:g>
          </ng-template>
        </ngx-graph>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="stats-cards content p-12">
        <div fxFlex="45">
          <mat-card style="padding: 0px;">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="stats-cards content p-12">
              <div fxFlex="60" class="h2" style="margin-right: 0px; text-align: right;">{{'dte.task_sequencing.text3' | translate}} : </div>
              <div fxFlex="40" class="h2">{{ ls.locale.global.currency_code }} {{budget}}</div>
            </div>
          </mat-card>
        </div>
        <div fxFlex="45">
          <mat-card style="padding: 0px;">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="stats-cards content p-12">
              <div fxFlex="60" class="h2" style="margin-right: 0px; text-align: right;">{{'dte.task_sequencing.text4' | translate}} : </div>
              <div fxFlex="40" class="h2">{{task?.current_week}}/{{task?.total_week}}</div>
            </div>
          </mat-card>
        </div>
        <div fxFlex="10">
          <button id="btn-submit-mission-builder" mat-raised-button type="button" class="confirmation-button" (click)="submit()">{{'global.button.save' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
