:host {
    .status-order:hover {
      transform: scale(1.03);
      opacity: 0.8;
    }
    .status-container {
      position: relative;
      cursor: pointer;
  
      .chat-badge {
        border-radius: 50%;
        padding: 3px;
        font-size: 11px;
        background-color: #dc1d2d;
        color: #fff;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 20px;
        height: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    .export {
      background-color: #3a3a3a !important;
    }
  }