<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <page-content-header [contentTitle]="ls.locale.produk_prinsipal.text2">
    <button style="width: 170px" (click)="directCreate()" mat-raised-button type="button">
      <mat-icon>add</mat-icon> {{ ls.locale.global.button.add }}
    </button>
  </page-content-header>

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{ ls.locale.paylater_management.daftar_perusahaan.text1 }}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="{{ ls.locale.global.label.search }}" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                     [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
                     [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true"
                     [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)">

        <ngx-datatable-column name="{{ ls.locale.produk_prinsipal.text4 }}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ ls.locale.global.label.address }}" prop="address">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.address}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ ls.locale.global.label.phone }}" prop="phone">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-address">{{row.telephone}}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ ls.locale.global.label.status }}" prop="status">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span [class]="row.status == 'active'? 'dropdown-active' : 'dropdown-inactive'" *ngIf="!permission?.ubah">{{row.status}}
            </span>
            <!-- <span> -->
            <mat-form-field class="orders dropdown" [class]="row.status == 'active'? 'orders status-active' : row.status == 'inactive'? 'orders status-nonactive': 'orders status-active'" fxLayout="row" fxLayoutAlign="center center" *ngIf="permission?.ubah">
              <mat-select [(ngModel)]="row.status" (selectionChange)="selectionStatus($event, row, $index)">
                <mat-option [value]="item.status" *ngFor="let item of supplierStatusList">{{item.name}}</mat-option>
                <!-- <mat-option [value]="active" selected>Aktif</mat-option>
                <mat-option [value]="inactive">Non-Aktif</mat-option> -->
              </mat-select>
            </mat-form-field>
            <!-- </span> -->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="80" name="{{ ls.locale.global.label.action }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button color="primary" matTooltip="{{ls.locale.global.button.edit}}" (click)="directEdit(row)" [disabled]="!permission?.ubah">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{ls.locale.global.button.delete}}" (click)="deleteById(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
