:host {
  .well {
    min-height: 20px;
    padding: 19px;
    // margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  .my-drop-zone {
    border: dotted 3px lightgray;
  }
  /* Default class applied to drop zones on over */
  .invalid-drag {
    border: dotted 3px red;
  }
  .valid-drag {
    border: dotted 3px green;
  }
  .previewIcon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .inline-block {
    display: inline-block;
    margin: 0.2em;
  }

  .mat-chip {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
  }

  .mat-standard-chip {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
  }

  .mat-chip.mat-standard-chip {
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.87);
  }

  .mat-chip-list-wrapper .mat-standard-chip,
  .mat-chip-list-wrapper input.mat-input-element {
    margin: 4px;
  }

  .mat-standard-chip.mat-chip-with-trailing-icon {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 8px;
    padding-left: 12px;
  }

  .mat-chip.mat-standard-chip .mat-chip-remove {
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.4;
    padding-top: 3px;
    padding-left: 5px;
  }

  .mat-standard-chip .mat-chip-remove.mat-icon {
    width: 18px;
    height: 18px;
  }

  .mat-chip .mat-chip-remove.mat-icon,
  .mat-chip .mat-chip-trailing-icon.mat-icon {
    font-size: 18px;
  }

  .mat-standard-chip .mat-chip-remove,
  .mat-standard-chip .mat-chip-trailing-icon {
    margin-left: 8px;
    margin-right: 0;
  }

  .mat-standard-chip .mat-chip-remove,
  .mat-standard-chip .mat-chip-trailing-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .preview-image-content {
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

:host {
  .export {
    background-color: #3a3a3a !important;
  }
}

:host {

  .multiple-img-chip {
    height: 60px;
    border-radius: 10px !important;
    margin: 5px;

    .multiple-img {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      margin-right: 5px;
    }
  }

  .icon-close {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAbCAMAAAC6CgRnAAAAPFBMVEX///8AAAD9/f2CgoKAgIAAAAAAAAAAAABLS0sAAAAAAACqqqqqqqq6urpKSkpISEgAAAC7u7u5ubn////zbsMcAAAAE3RSTlMASv6rqwAWS5YMC7/AyZWVFcrJCYaKfAAAAHhJREFUeF590kkOgCAQRFEaFVGc+/53FYmbz6JqBbyQMFSYuoQuV+iTflnstI7ssLXRvMWRaEMs84e2uVckuZe6knL0hiSPObXhj6ChzoEkIolIIpKIO4joICAIeDd7QGIfCCjOKe9HEk8mnxpIAup/F31RPZP9fAG3IAyBSJe0igAAAABJRU5ErkJggg==) top right no-repeat;
    width: 30px;
    height: 30px;
    opacity: 0.7;
  }

  .video-content-chip {
    height: 270px; 
    padding: 12px !important;
    border-radius: 10px !important;
    margin: 5px;

    .video-content {
      min-width: 250x;
      min-height: 250px;
      width: 250x;
      height: 250px;
    }
  }

  .noEditOptions {
    font-weight: bold;
    color:#e53935;
    font-size: 16px;
  }
}
