<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="{{'global.label.create_entity' | translate:titleParam}}">
  </page-content-header>

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <form autocomplete="off" [formGroup]="formNotification">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
          <h2 class="">{{'global.label.create_entity' | translate:titleParam}}</h2>
        </div>
        <div class="ayo-middle" fxLayout="column">
          <mat-form-field fxFlex="50" class="is-light form-primary">
            <input matInput type="text" formControlName="title"
              placeholder="{{'notification.buat_notifikasi.text3' | translate}}">
            <mat-error
              *ngIf="formNotification.controls['title'].hasError('required') && formNotification.controls['title'].touched">
              {{'notification.buat_notifikasi.text3' | translate}} {{'global.messages.mandatory_text' | translate}}
            </mat-error>
          </mat-form-field>
          <div class="" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">{{'notification.buat_notifikasi.text10' | translate}}</h3>
          </div>
          <textarea [froalaEditor]="options" formControlName="body" fxFlex="100"></textarea>
          <mat-error style="padding-top: 6px !important; font-size: .86em;"
            *ngIf="formNotification.controls['body'].hasError('required') && formNotification.controls['body'].touched">
            {{'notification.buat_notifikasi.text10' | translate}} {{'global.messages.mandatory_text' | translate}}
          </mat-error>
          <div class="pb-16">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>{{'notification.buat_notifikasi.text4' | translate}}</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="user_group" class="radio-group" (change)="selectChange($event)">
              <mat-radio-button class="radio-button" *ngFor="let item of listUserGroup" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="ALLOW_FOR_TYPE.includes(formNotification.controls['user_group'].value)">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="notif_type"
                  placeholder="{{'notification.buat_notifikasi.notification_type' | translate}}"
                  [disabled]="formNotification.controls['user_group'].value !== 'customer'">
                  <mat-option *ngFor="let item of listNotifType" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['notif_type'].hasError('required') && formNotification.controls['notif_type'].touched">
                  {{'notification.buat_notifikasi.notification_type' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="content_type"
                  placeholder="{{'notification.popup_notifikasi.text15' | translate}}"
                  (selectionChange)="contentType(formNotification.get('content_type').value)">
                  <mat-option *ngFor="let item of listContentType" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['content_type'].hasError('required') && formNotification.controls['content_type'].touched">
                  {{'notification.popup_notifikasi.text15' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
              <div fxFlex="10"></div>
              <div fxLayout="row" fxFlex="25" *ngIf="formNotification.controls['user_group'].value !== 'tsm'">
                <mat-form-field fxFlex="50" class="is-light form-primary">
                  <input matInput [matDatepicker]="tanggal_terbit" (focus)="tanggal_terbit.open()"
                    formControlName="date" placeholder="{{'notification.popup_notifikasi.text7' | translate}}">
                  <mat-error
                    *ngIf="formNotification.controls['date'].hasError('required') && formNotification.controls['date'].touched">
                    {{'notification.popup_notifikasi.text7' | translate}} {{'global.messages.mandatory_text' |
                    translate}}
                  </mat-error>
                  <mat-datepicker-toggle matSuffix [for]="tanggal_terbit">
                    <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #tanggal_terbit></mat-datepicker>
                </mat-form-field>
                <div fxFlex="10"></div>
                <mat-form-field fxFlex="30" class="is-light form-primary" id="time">
                  <input matInput formControlName="time"
                    placeholder="{{'notification.popup_notifikasi.text8' | translate}}" [ngxTimepicker]="fullTime"
                    [format]="24" readonly>
                  <mat-icon matSuffix>access_time</mat-icon>
                  <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                  <mat-error
                    *ngIf="formNotification.controls['time'].hasError('required') && formNotification.controls['time'].touched">
                    {{'notification.popup_notifikasi.text8' | translate}} {{'global.messages.mandatory_text' |
                    translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- spesifik produk b2b -->
          <div fxLayout="row"
            *ngIf=" formNotification.controls['user_group'].value === 'retailer' && formNotification.get('content_type').value === 'spesific_product_b2b'">
            <search-product-barcode [errorMessage]="'search_product_component.error_message' | translate"
              [inputPlaceHolder]="'search_product_component.placeholder' | translate" fxFlex="45"
              [value]="formNotification.controls['barcode'].value" (onChange)="handleSearchProduct($event)"
              [disabled]="this.actionType === 'detail'">
              <mat-error
                *ngIf="formNotification.controls['barcode'].hasError('required') && formNotification.controls['barcode'].touched">
                <!-- {{'iklan_dalam_aplikasi.spanduk_online.text24' | translate}} {{'global.messages.mandatory_text' |
                translate}} -->
                {{'search_product_component.error_form' | translate}}
              </mat-error>
            </search-product-barcode>
          </div>


          <!-- Static Page & E-Wallet -->
          <div class="pb-24"
            *ngIf="formNotification.get('content_type').value === 'static_page' || formNotification.get('content_type').value === 'e_wallet'">
            <div fxLayout="row" *ngIf="formNotification.get('content_type').value === 'static_page'">
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <input matInput type="text" formControlName="static_page_title"
                  placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}}">
                <mat-error
                  *ngIf="formNotification.controls['static_page_title'].hasError('required') && formNotification.controls['static_page_title'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text23' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- E-Wallet Content -->
            <div fxLayout="row" *ngIf="formNotification.get('content_type').value === 'e_wallet'">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="content_wallet"
                  placeholder="{{'iklan_dalam_aplikasi.spanduk_online.wallet_type' | translate}}">
                  <mat-option *ngFor="let item of listContentWallet" [value]="item.id">{{item.app_name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['content_wallet'].hasError('required') && formNotification.controls['content_wallet'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.wallet_type' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" *ngIf="formNotification.get('content_type').value === 'e_wallet'">
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" formControlName="button_text"
                  placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text_button' | translate}}">
                <mat-error
                  *ngIf="formNotification.controls['button_text'].hasError('required') && formNotification.controls['button_text'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text_button' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
                <mat-error
                  *ngIf="formNotification.controls['button_text'].hasError('maxlength') && formNotification.controls['button_text'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.text_button' | translate}}
                  {{'notification.buat_notifikasi.max_30_char' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- E-Wallet Content End -->
            <div class="pt-8" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">{{'iklan_dalam_aplikasi.spanduk_online.text24' | translate}}</h3>
            </div>
            <textarea [froalaEditor]="optionsStaticPage" formControlName="static_page_body" class="pb-4"
              fxFlex="100"></textarea>
            <mat-error style="padding-top: 6px !important; font-size: .86em;"
              *ngIf="formNotification.controls['static_page_body'].hasError('required') && formNotification.controls['static_page_body'].touched">
              {{'iklan_dalam_aplikasi.spanduk_online.text24' | translate}} {{'global.messages.mandatory_text' |
              translate}}
            </mat-error>
          </div>

          <!-- Landing Page -->
          <div class="" *ngIf="formNotification.get('content_type').value === 'landing_page'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="landing_page_value"
                  placeholder="{{'iklan_dalam_aplikasi.spanduk_online.landing_page_type' | translate}}">
                  <mat-option *ngFor="let item of listLandingPage" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['landing_page_value'].hasError('required') && formNotification.controls['landing_page_value'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.landing_page_type' | translate}}
                  {{'global.messages.mandatory_text' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- iframe & link_web -->
          <div class=""
            *ngIf="formNotification.get('content_type').value === 'iframe' || formNotification.get('content_type').value === 'link_web'">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <input matInput type="url" formControlName="url_link"
                  placeholder="{{'notification.popup_notifikasi.text16' | translate}}">
                <mat-error
                  *ngIf="formNotification.controls['url_link'].hasError('required') && formNotification.controls['url_link'].touched">
                  {{'notification.popup_notifikasi.text16' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
                <mat-error
                  *ngIf="formNotification.controls['url_link'].hasError('pattern') && formNotification.get('url_link').value !== ''">
                  {{'iklan_dalam_aplikasi.spanduk_online.invalid_url' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- image -->
          <div class="pb-16"
            *ngIf="formNotification.get('content_type').value === 'image' && formNotification.get('user_group').value !== 'wholesaler'"
            fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30" class="inline-block">
              <div ngfDrop selectable="1" [(validDrag)]="validComboDrag" [(file)]="imageContentType" accept="image/*"
                class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" (fileChange)="imagesContentType($event)"
                [innerHTML]="'iklan_dalam_aplikasi.spanduk_online.drag_image' | translate">
              </div>
            </div>
            <div *ngIf="imageContentType">
              <div
                class="multiple-img-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted p-12"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false">
                <img [src]="imageContentTypeBase64" class="multiple-img" (click)="previewImage()" />
                <span class="preview-image-content"
                  (click)="previewImage()">{{'iklan_dalam_aplikasi.spanduk_online.view_image' | translate}}</span>
                <!-- <mat-icon matTooltip="{{'global.label.delete_image' | translate}}" (click)="removeImageVideo()"
                  class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                  matchipremove="" role="img" aria-hidden="true">cancel</mat-icon> -->
              </div>
            </div>
            <div *ngIf="imagePrivew && !imageContentType">
              <div
                class="multiple-img-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted p-12"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false">
                <img [src]="imagePrivew" class="multiple-img" (click)="previewImage()" />
                <span class="preview-image-content"
                  (click)="previewImage()">{{'iklan_dalam_aplikasi.spanduk_online.view_image' | translate}}</span>
              </div>
            </div>
          </div>


          <!-- multiple image for wholesaler-->
          <div class="pb-16"
            *ngIf="formNotification.get('content_type').value === 'image' && formNotification.get('user_group').value === 'wholesaler'"
            fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30" class="inline-block">
              <div ngfDrop [(validDrag)]="validComboDrag" [(files)]="imageContentType" accept="image/*"
                class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" (fileChange)="imagesContentType($event)" selectable="1"
                multiple="1">

                <span [innerHTML]="'iklan_dalam_aplikasi.spanduk_online.drag_image' | translate"></span>
              </div>
            </div>
            <div *ngIf="multipleImageContentType.length > 0" fxLayout="row wrap">
              <div *ngFor="let img of multipleImageContentType; let i = index;">
                <div
                  class="multiple-img-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                  role="option" tabindex="-1" aria-disabled="false" aria-selected="false" style="height: 60px;">
                  <img [src]="img" class="multiple-img" (click)="previewImage(i)" />
                  <span class="preview-image-content"
                    (click)="previewImage(i)">{{'iklan_dalam_aplikasi.spanduk_online.view_image' | translate}}</span>
                  <mat-icon matTooltip="{{'global.label.delete_image' | translate}}" (click)="removeImageMultiple(i)"
                    class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                    matchipremove="" role="img" aria-hidden="true">cancel</mat-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- video -->
          <div class="pb-16"
            *ngIf="formNotification.get('content_type').value === 'video' && formNotification.get('user_group').value === 'wholesaler'"
            fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30" class="inline-block">
              <div ngfDrop selectable="1" [(validDrag)]="validComboDrag" [(file)]="videoContentType" accept="video/mp4"
                class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" (fileChange)="onVideoContentTypeSelect($event)">
                <span [innerHTML]="('global.label.drag_video_or_select' | translate)"></span>
                <!-- Tarik Video kesini atau <strong>pilih file</strong> -->
              </div>
            </div>
            <div *ngIf="videoContentTypeURL">
              <div
                class="video-content-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false">
                <!-- <span class="preview-image-content" (click)="previewVideo()">Lihat Video</span> -->
                <video class="video-content" [src]="videoContentTypeURL" controls> </video>
                <!-- <mat-icon matTooltip="Hapus video" (click)="removeImageVideo()"
                 class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                 matchipremove="" role="img" aria-hidden="true">cancel</mat-icon> -->
              </div>
            </div>
          </div>

          <div class="pt-16 pb-16" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>{{'notification.buat_notifikasi.text12' | translate}}</strong>
            </h3>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select placeholder="{{'notification.buat_notifikasi.text13' | translate}}"
                formControlName="type_of_recurrence" (selectionChange)="checkOnetimeFrequency(typeOfRecurrence)"
                [(ngModel)]="typeOfRecurrence">
                <mat-option *ngFor="let item of listTypeOfRecurrence" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="pb-24 px-24">
            <mat-checkbox class="mt-4 ml-4 mb-8" formControlName="send_ayo" (change)="sendAYOChange($event)" disabled>
              {{'notification.buat_notifikasi.text15' | translate}}
            </mat-checkbox>
          </div>

          <div fxLayout="row" *ngIf="typeOfRecurrence == 'Recurring'">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select placeholder="{{'notification.buat_notifikasi.repeat_pattern' | translate}}"
                formControlName="recurrence_type" [(ngModel)]="recurrenceType">
                <mat-option *ngFor="let item of listRecurrenceTypes" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select placeholder="Jadwal Pengulangan" formControlName="selected_day" multiple>
                <mat-option *ngFor="let item of listWeekDays" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->

          <div [formGroup]="formDailyRecurrence" *ngIf="recurrenceType == 'Daily'">
            <div fxLayout="row">
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time"
                  placeholder="{{'notification.buat_notifikasi.release_time' | translate}}" [ngxTimepicker]="time"
                  [format]="24" readonly />
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formDailyRecurrence.controls['recurrence_time'].hasError('required') && formDailyRecurrence.controls['recurrence_time'].touched">
                  {{'notification.buat_notifikasi.release_time' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div [formGroup]="formWeeklyRecurrence" *ngIf="recurrenceType == 'Weekly'">
            <div fxLayout="row">
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time"
                  placeholder="{{'notification.buat_notifikasi.release_time' | translate}}" [ngxTimepicker]="time"
                  [format]="24" readonly />
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formWeeklyRecurrence.controls['recurrence_time'].hasError('required') && formWeeklyRecurrence.controls['recurrence_time'].touched">
                  {{'notification.buat_notifikasi.release_time' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
              fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
              <ng-container *ngFor="let item of listWeekDays" formArrayName="recurrence_day">
                <mat-checkbox [formControlName]="item.id" [value]="item.id"></mat-checkbox> {{item.name}} &nbsp;
              </ng-container>
            </div>
          </div>
          <div [formGroup]="formMonthlyRecurrence" *ngIf="recurrenceType == 'Monthly'">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
              fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="40" class="is-light form-primary">
                <mat-select placeholder="{{'global.label.date' | translate}}" formControlName="recurrence_date">
                  <mat-option *ngFor="let item of listDates" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time"
                  placeholder="{{'notification.buat_notifikasi.release_time' | translate}}" [ngxTimepicker]="time"
                  [format]="24" readonly />
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formMonthlyRecurrence.controls['recurrence_time'].hasError('required') && formMonthlyRecurrence.controls['recurrence_time'].touched">
                  {{'notification.buat_notifikasi.release_time' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div [formGroup]="formYearlyRecurrence" *ngIf="recurrenceType == 'Yearly'">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
              fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="28" class="is-light form-primary">
                <mat-select placeholder="{{'global.label.date' | translate}}" formControlName="recurrence_date">
                  <mat-option *ngFor="let item of listDates" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="28" class="is-light form-primary">
                <mat-select placeholder="{{'global.label.month' | translate}}" formControlName="recurrence_month">
                  <mat-option *ngFor="let item of listMonths" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time"
                  placeholder="{{'notification.buat_notifikasi.release_time' | translate}}" [ngxTimepicker]="time"
                  [format]="24" readonly />
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formYearlyRecurrence.controls['recurrence_time'].hasError('required') && formYearlyRecurrence.controls['recurrence_time'].touched">
                  {{'notification.buat_notifikasi.release_time' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="pt-16" [formGroup]="formRecurrenceCommon" *ngIf="typeOfRecurrence == 'Recurring'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light mr-8">
                <input matInput type="number" formControlName="recurrence_pattern"
                  placeholder="{{'notification.buat_notifikasi.send_every' | translate}}">
                <mat-error
                  *ngIf="formRecurrenceCommon.controls['recurrence_pattern'].hasError('required') && formRecurrenceCommon.controls['recurrence_pattern'].touched">
                  {{'notification.buat_notifikasi.repeat_interval' | translate}} {{'global.messages.mandatory_text' |
                  translate}}
                </mat-error>
                <span matSuffix>{{ recurrenceLabel[recurrenceType] }}</span>
              </mat-form-field>
            </div>
            <div class="pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center">
              <h4 class="">
                <strong>{{'notification.buat_notifikasi.send_period' | translate}}</strong>
              </h4>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput (focus)="startPicker.open()" [matDatepicker]="startPicker"
                  placeholder="{{'manajemen_barang_sku.manajemen_koin.text15' | translate}}"
                  formControlName="recurrence_start_date" [min]="minStartDate">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
                <mat-error class="mt-8 px-24"
                  *ngIf="formRecurrenceCommon.controls['recurrence_start_date'].hasError('required') && formRecurrenceCommon.controls['recurrence_start_date'].touched">
                  {{'manajemen_barang_sku.manajemen_koin.text15' | translate}} {{'global.messages.mandatory_text' |
                  translate}}.
                </mat-error>
              </mat-form-field>
              <div fxFlex="25">
                <div fxFlex="100" fxLayout="column">
                  <mat-radio-group formControlName="end_option" class="radio-group">
                    <mat-radio-button value="no_end_date">{{'notification.buat_notifikasi.not_end' | translate}}
                    </mat-radio-button>
                    <mat-radio-button value="end_count">{{'notification.buat_notifikasi.end_after' | translate}}
                    </mat-radio-button>
                    <mat-radio-button value="end_date">{{'notification.buat_notifikasi.ended_at' | translate}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div fxFlex="25">
                <div fxFlex="100" fxLayout="column">
                  <div></div>
                  <mat-form-field fxFlex="30" class="is-light"
                    *ngIf="formRecurrenceCommon.controls.end_option.value === 'end_count'">
                    <span matPrefix>{{'notification.buat_notifikasi.repeat_at' | translate}}&nbsp;</span>
                    <input matInput type="number" formControlName="end_recurrence_count">
                  </mat-form-field>
                  <mat-form-field fxFlex="30" class="is-light form-primary"
                    *ngIf="formRecurrenceCommon.controls.end_option.value === 'end_date'">
                    <input matInput (focus)="endPicker.open()" [matDatepicker]="endPicker"
                      placeholder="{{'manajemen_barang_sku.produk.end_date' | translate}}"
                      formControlName="recurrence_end_date" [min]="minEndDate">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    <mat-error class="mt-8 px-24"
                      *ngIf="formRecurrenceCommon.controls['recurrence_end_date'].hasError('required') && formRecurrenceCommon.controls['recurrence_end_date'].touched">
                      {{'manajemen_barang_sku.produk.end_date' | translate}} {{'global.messages.mandatory_text' |
                      translate}}.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <!-- Targeted Audience Options -->
          <div *ngIf="ALLOW_FOR_TYPE.includes(formNotification.controls['user_group'].value)" class="pt-16 pb-16"
            fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>{{'notification.buat_notifikasi.text16' | translate}}</strong>
            </h3>
          </div>

          <!-- Consumer -->
          <div *ngIf="ALLOW_FOR_TYPE.includes(formNotification.controls['user_group'].value)">

            <div class="">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="employee"
                    placeholder="{{'iklan_dalam_aplikasi.spanduk_online.text13' | translate}}">
                    <mat-option *ngFor="let item of listEmployee" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formNotification.controls['employee'].hasError('required') && formNotification.controls['employee'].touched">
                    {{'iklan_dalam_aplikasi.spanduk_online.text13' | translate}}{{'global.messages.mandatory_text' |
                    translate}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="subscription_status"
                  placeholder="{{'iklan_dalam_aplikasi.spanduk_online.subscription_status' | translate}}">
                  <mat-option *ngFor="let item of listSubscriptionStatus" [value]="item.value">{{item.name}}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['subscription_status'].hasError('required') && formNotification.controls['subscription_status'].touched">
                  {{'iklan_dalam_aplikasi.spanduk_online.subscription_status' | translate}}
                  {{'global.messages.mandatory_text' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="ALLOW_FOR_TYPE.includes(formNotification.controls['user_group'].value)">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>{{'notification.popup_notifikasi.text15' | translate}}</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="content_type_new" class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let item of listContentTypeNew" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="pb-16" *ngIf="ALLOW_FOR_TYPE.includes(formNotification.controls['user_group'].value)">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>{{'iklan_dalam_aplikasi.spanduk_online.text16' | translate}}</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="age" class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let item of listAge" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="pb-16" *ngIf="ALLOW_FOR_TYPE.includes(formNotification.controls['user_group'].value)">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>{{'notification.buat_notifikasi.employee' | translate}}</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="employee_filter" class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let item of listEmployeeFilter" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="pb-16 px-24"
          *ngIf="formNotification.get('content_type').value === 'iframe' || formNotification.get('content_type').value === 'link_web'">
          <div class="" fxLayout="row" fxLayoutAlign="start center">
            <strong class="font-size-16">{{'notification.popup_notifikasi.text18' | translate}}</strong>
          </div>
          <mat-radio-group formControlName="transfer_token" class="radio-group">
            <mat-radio-button class="radio-button" value="yes">{{'global.label.yes' | translate}}</mat-radio-button>
            <mat-radio-button class="radio-button" value="no">{{'global.label.no' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngIf="formNotification.value.user_group != 'tsm'">
          <div fxLayout="row" class="pb-24 px-24">
            <mat-checkbox *ngIf="ALLOW_FOR_TYPE.includes(formNotification.controls['user_group'].value)"
              class="mt-4 ml-4 mb-8" (change)="isTargetAudience($event)" formControlName="is_target_audience">
              {{'iklan_dalam_aplikasi.spanduk_online.text26' | translate}}</mat-checkbox>
            <mat-checkbox *ngIf="formNotification.controls['user_group'].value !== 'field-force'" class="mt-4 ml-20 mb-8"
              (change)="isTargetArea($event)" formControlName="is_target_area">
              {{'iklan_dalam_aplikasi.spanduk_online.target_area' | translate}}</mat-checkbox>
          </div>
          <div
            *ngIf="formNotification.get('is_target_audience').value === false && formNotification.get('is_target_area').value === false">
            <div class="" formArrayName="areas"
              *ngFor="let wil of formNotification.get('areas')['controls']; let i = index;">
              <div [formGroupName]="i">
                <div class="py-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px"
                  fxLayoutGap.lt-md="0px" fxLayoutAlign="space-between stretch">
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national"
                      matTooltip="{{getToolTipData(wil.get('national').value, wil.controls['list_national'].value)}}">
                      <mat-option *ngFor="let item of wil.controls['list_national'].value" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['national'].hasError('required') && wil.controls['national'].touched">
                      {{'global.area.national' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone"
                      matTooltip="{{getToolTipData(wil.get('zone').value, wil.controls['list_zone'].value)}}"
                      (selectionChange)="generataList('region', wil.get('zone').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_zone'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['zone'].hasError('required') && wil.controls['zone'].touched">
                      {{'global.area.zone' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region"
                      matTooltip="{{getToolTipData(wil.get('region').value, wil.controls['list_region'].value)}}"
                      (selectionChange)="generataList('area', wil.get('region').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_region'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['region'].hasError('required') && wil.controls['region'].touched">
                      {{'global.area.regional' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area"
                      matTooltip="{{getToolTipData(wil.get('area').value, wil.controls['list_area'].value)}}"
                      (selectionChange)="generataList('salespoint', wil.get('area').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_area'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['area'].hasError('required') && wil.controls['area'].touched">
                      {{'global.area.area' | translate}}{{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint"
                      matTooltip="{{getToolTipData(wil.get('salespoint').value, wil.controls['list_salespoint'].value)}}"
                      (selectionChange)="generataList('district', wil.get('salespoint').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_salespoint'].value" [value]="item.id">
                        {{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['salespoint'].hasError('required') && wil.controls['salespoint'].touched">
                      {{'global.area.salespoint' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district"
                      matTooltip="{{getToolTipData(wil.get('district').value, wil.controls['list_district'].value)}}"
                      (selectionChange)="generataList('territory', wil.get('district').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_district'].value" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['district'].hasError('required') && wil.controls['district'].touched">
                      {{'global.area.district' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory"
                      matTooltip="{{getToolTipData(wil.get('territory').value, wil.controls['list_territory'].value)}}">
                      <mat-option *ngFor="let item of wil.controls['list_territory'].value" [value]="item.id">
                        {{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['territory'].hasError('required') && wil.controls['territory'].touched">
                      {{'global.area.territory' | translate}}{{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div [formGroup]="formFilter" fxLayout="row wrap" fxLayoutAlign="space-between stretch"
            fxLayout.lt-md="column" class="pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            style="margin-left: 25px; margin-right: 25px;"
            *ngIf="formNotification.get('is_target_audience').value === true">
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all'
                  ? 'Semua
                  Zona' :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name ===
                  'all' ? 'Semua
                  Regional'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all'
                  ? 'Semua
                  Area'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name ===
                  'all' ?
                  'Semua
                  Salespoint'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name ===
                  'all' ? 'Semua
                  District'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name ===
                  'all' ? 'Semua
                  Territori'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone"
                (selectionChange)="getAudienceArea('region', formFilter.get('zone').value)">
                <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Zona' :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region"
                (selectionChange)="getAudienceArea('area', formFilter.get('region').value)">
                <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Regional'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area"
                (selectionChange)="getAudienceArea('salespoint', formFilter.get('area').value)">
                <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Area'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint"
                (selectionChange)="getAudienceArea('district', formFilter.get('salespoint').value)">
                <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name === 'all' ?
                      'Semua
                      Salespoint'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district"
                (selectionChange)="getAudienceArea('territory', formFilter.get('district').value)">
                <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      District'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory">
                <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Territori'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
          <div class="p-0" *ngIf="formNotification.get('is_target_audience').value === true">
            <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
              <mat-icon>search</mat-icon>
              <mat-form-field autoComplete="off" class="is-light tab-search">
                <input matInput formControlName="search" placeholder="{{ls.locale.global.label.search}}"
                  (keyup)="keyUp.next($event.target.value)">
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
              fxLayoutAlign="end center" class="p-16 export">
              <a #downloadLink></a>
              <button mat-raised-button type="button" class="is-danger" (click)="import()">
                <mat-icon>arrow_downward</mat-icon> {{'global.button.import' | translate}} XLSX
              </button>
              <button mat-raised-button type="button" class="is-danger" (click)="export()">
                <mat-icon>arrow_upward</mat-icon> {{'global.button.export' | translate}} XLSX
              </button>
            </div>
            <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar>
            <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
              [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
              [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page"
              [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)"
              [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
              [selectCheck]='selectCheck'>

              <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="false">
                <ng-template ngx-datatable-header-template>
                  <mat-checkbox [checked]="allRowsSelected" (change)="onSelectAll(!allRowsSelected);"></mat-checkbox>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <mat-checkbox [checked]="bindSelector(isSelected, row)" (change)="onSelectAudience($event, row)">
                  </mat-checkbox>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ls.locale.global.label.name}}" prop="name"></ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.code' | translate}}" prop="code">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.code ? row.code : '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.owner_name' | translate}}" prop="owner">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.owner ? row.owner : '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.type' | translate}}" prop="type">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.type.toUpperCase()}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <target-area
            *ngIf="formNotification.controls['user_group'].value !== 'field-force' && formNotification.get('is_target_area').value"
            (selectedArea)="getSelectedArea($event)" (selectedAll)="getSelectedAll($event)"
            (selectedAllId)="getSelectedAllId($event)" [areas]="areasInit" [isNotifValidation]="true"></target-area>

        </div>

        <div *ngIf="!typeOfRecurrence == 'OneTime' || isActiveInactiveShow" class="pt-16" fxLayout="row">
          <mat-form-field fxFlex="45" class="is-light form-primary">
            <mat-select placeholder="{{'global.label.status' | translate}}" formControlName="status">
              <mat-option value="Active">{{'global.label.active' | translate}}</mat-option>
              <mat-option value="Inactive">{{'global.label.inactive' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="isHideSaveButton" class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
            {{ls.locale.global.button.save}}
          </button>
        </div>
        <span class="noEditOptions" *ngIf="!isHideSaveButton">{{'notification.buat_notifikasi.message4' |
          translate}}</span>
      </form>
    </div>
  </div>
</div>