<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Buat Notifikasi'">
  </page-content-header>

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <form autocomplete="off" [formGroup]="formNotification">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
          <h2 class="">Buat Notifikasi</h2>
        </div>
        <div class="ayo-middle" fxLayout="column">
          <mat-form-field fxFlex="50" class="is-light form-primary">
            <input matInput type="text" formControlName="title" placeholder="Judul Notifikasi">
            <mat-error
              *ngIf="formNotification.controls['title'].hasError('required') && formNotification.controls['title'].touched">
              Judul Notifikasi harus diisi
            </mat-error>
          </mat-form-field>
          <div class="" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">Konten Notifikasi</h3>
          </div>
          <textarea [froalaEditor]="options" formControlName="body" fxFlex="100"></textarea>
          <mat-error style="padding-top: 6px !important; font-size: .86em;"
            *ngIf="formNotification.controls['body'].hasError('required') && formNotification.controls['body'].touched">
            Konten Notifikasi harus diisi
          </mat-error>
          <div class="pb-16">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Grup Pengguna</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="user_group" class="radio-group" (change)="selectChange($event)">
              <mat-radio-button class="radio-button" *ngFor="let item of listUserGroup" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div *ngIf="formNotification.controls['user_group'].value === 'customer'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="notif_type" placeholder="Tipe Notifikasi">
                  <mat-option *ngFor="let item of listNotifType" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['notif_type'].hasError('required') && formNotification.controls['notif_type'].touched">
                  Tipe Notifikasi harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="content_type" placeholder="Tipe Konten"
                  (selectionChange)="contentType(formNotification.get('content_type').value)">
                  <mat-option *ngFor="let item of listContentType" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['content_type'].hasError('required') && formNotification.controls['content_type'].touched">
                  Tipe Konten harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Static Page -->
          <div class="pb-24" *ngIf="formNotification.get('content_type').value === 'static_page'">
            <div fxLayout="row">
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <input matInput type="text" formControlName="static_page_title" placeholder="Nama Halaman">
                <mat-error
                  *ngIf="formNotification.controls['static_page_title'].hasError('required') && formNotification.controls['static_page_title'].touched">
                  Nama Halaman harus diisi
                </mat-error>
              </mat-form-field>
            </div>
            <div class="pt-8" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">Isi Halaman</h3>
            </div>
            <textarea [froalaEditor]="optionsStaticPage" formControlName="static_page_body" class="pb-4" fxFlex="100"></textarea>
            <mat-error style="padding-top: 6px !important; font-size: .86em;"
              *ngIf="formNotification.controls['static_page_body'].hasError('required') && formNotification.controls['static_page_body'].touched">
              Isi Halaman harus diisi
            </mat-error>
          </div>

          <!-- Landing Page -->
          <div class="" *ngIf="formNotification.get('content_type').value === 'landing_page'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="landing_page_value" placeholder="Jenis Landing Page">
                  <mat-option *ngFor="let item of listLandingPage" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['landing_page_value'].hasError('required') && formNotification.controls['landing_page_value'].touched">
                  Landing Page harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- iframe -->
          <div class="" *ngIf="formNotification.get('content_type').value === 'iframe'">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <input matInput type="url" formControlName="url_iframe" placeholder="URL Link">
                <mat-error
                  *ngIf="formNotification.controls['url_iframe'].hasError('required') && formNotification.controls['url_iframe'].touched">
                  URL harus diisi
                </mat-error>
                <mat-error
                  *ngIf="formNotification.controls['url_iframe'].invalid && formNotification.get('url_iframe').value !== ''">
                  URL tidak valid
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- image -->
          <div class="pb-16"
            *ngIf="formNotification.get('content_type').value === 'image' && formNotification.get('user_group').value !== 'wholesaler'"
            fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30" class="inline-block">
              <div ngfDrop selectable="1" [(validDrag)]="validComboDrag" [(file)]="imageContentType" accept="image/*"
                class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" (fileChange)="imagesContentType($event)">
                Tarik gambar kesini atau <strong>pilih file</strong>
              </div>
            </div>
            <div *ngIf="imageContentType">
              <div
                class="multiple-img-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted p-12"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false">
                <img [src]="imageContentTypeBase64" class="multiple-img" (click)="previewImage()" />
                <span class="preview-image-content" (click)="previewImage()">Lihat gambar</span>
                <!-- <mat-icon matTooltip="Hapus gambar" (click)="removeImageVideo()"
                  class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                  matchipremove="" role="img" aria-hidden="true">cancel</mat-icon> -->
              </div>
            </div>
            <div *ngIf="imagePrivew && !imageContentType">
              <div
                class="multiple-img-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted p-12"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false">
                <img [src]="imagePrivew" class="multiple-img" (click)="previewImage()" />
                <span class="preview-image-content" (click)="previewImage()">Lihat gambar</span>
              </div>
            </div>
          </div>


          <!-- multiple image for wholesaler-->
          <div class="pb-16"
            *ngIf="formNotification.get('content_type').value === 'image' && formNotification.get('user_group').value === 'wholesaler'"
            fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30" class="inline-block">
              <div ngfDrop [(validDrag)]="validComboDrag" [(files)]="imageContentType" accept="image/*"
                class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" (fileChange)="imagesContentType($event)" selectable="1"
                multiple="1">

                Tarik gambar kesini atau <strong>pilih file</strong>
              </div>
            </div>
            <div *ngIf="multipleImageContentType.length > 0" fxLayout="row wrap">
              <div *ngFor="let img of multipleImageContentType; let i = index;">
                <div
                  class="multiple-img-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                  role="option" tabindex="-1" aria-disabled="false" aria-selected="false" style="height: 60px;">
                  <img [src]="img" class="multiple-img" (click)="previewImage(i)" />
                  <span class="preview-image-content" (click)="previewImage(i)">Lihat gambar</span>
                  <mat-icon matTooltip="Hapus gambar" (click)="removeImageMultiple(i)"
                    class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                    matchipremove="" role="img" aria-hidden="true">cancel</mat-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- video -->
          <div class="pb-16"
            *ngIf="formNotification.get('content_type').value === 'video' && formNotification.get('user_group').value === 'wholesaler'"
            fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="30" class="inline-block">
              <div ngfDrop selectable="1" [(validDrag)]="validComboDrag" [(file)]="videoContentType" accept="video/mp4"
                class="well my-drop-zone" [class.invalid-drag]="validComboDrag===false"
                [class.valid-drag]="validComboDrag" (fileChange)="onVideoContentTypeSelect($event)">
                Tarik Video kesini atau <strong>pilih file</strong>
              </div>
            </div>
            <div *ngIf="videoContentTypeURL">
              <div
                class="video-content-chip mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                role="option" tabindex="-1" aria-disabled="false" aria-selected="false">
                <!-- <span class="preview-image-content" (click)="previewVideo()">Lihat Video</span> -->
                <video class="video-content" [src]="videoContentTypeURL" controls> </video>
                <!-- <mat-icon matTooltip="Hapus video" (click)="removeImageVideo()"
                 class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                 matchipremove="" role="img" aria-hidden="true">cancel</mat-icon> -->
              </div>
            </div>
          </div>

          <div class="pt-16 pb-16" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>Frekuensi Pengiriman</strong>
            </h3>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select placeholder="Tipe Pengulangan" formControlName="type_of_recurrence" [(ngModel)]="typeOfRecurrence">
                <mat-option *ngFor="let item of listTypeOfRecurrence" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="pb-24 px-24">
            <mat-checkbox class="mt-4 ml-4 mb-8" formControlName="send_ayo">
              Send from AYO SRC
            </mat-checkbox>
          </div>

          <div fxLayout="row" *ngIf="typeOfRecurrence == 'Recurring'">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select placeholder="Pola Pengulangan" formControlName="recurrence_type"
                [(ngModel)]="recurrenceType">
                <mat-option *ngFor="let item of listRecurrenceTypes" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div [formGroup]="formDailyRecurrence" *ngIf="recurrenceType == 'Daily'">
            <div fxLayout="row">
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time" placeholder="Waktu Terbit" [ngxTimepicker]="time" [format]="24" readonly/>
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formDailyRecurrence.controls['recurrence_time'].hasError('required') && formDailyRecurrence.controls['recurrence_time'].touched">
                  Waktu terbit harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div [formGroup]="formWeeklyRecurrence" *ngIf="recurrenceType == 'Weekly'">
            <div fxLayout="row">
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time" placeholder="Waktu Terbit" [ngxTimepicker]="time" [format]="24" readonly/>
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formWeeklyRecurrence.controls['recurrence_time'].hasError('required') && formWeeklyRecurrence.controls['recurrence_time'].touched">
                  Waktu terbit harus diisi
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
              fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
              <ng-container *ngFor="let item of listWeekDays" formArrayName="recurrence_day">
                <mat-checkbox [formControlName]="item.id" [value]="item.id"></mat-checkbox> {{item.name}} &nbsp;
              </ng-container>
            </div>
          </div>
          <div [formGroup]="formMonthlyRecurrence" *ngIf="recurrenceType == 'Monthly'">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
              fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="40" class="is-light form-primary">
                <mat-select placeholder="Tanggal" formControlName="recurrence_date">
                  <mat-option *ngFor="let item of listDates" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time" placeholder="Waktu Terbit" [ngxTimepicker]="time" [format]="24" readonly/>
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formMonthlyRecurrence.controls['recurrence_time'].hasError('required') && formMonthlyRecurrence.controls['recurrence_time'].touched">
                  Waktu terbit harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div [formGroup]="formYearlyRecurrence" *ngIf="recurrenceType == 'Yearly'">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
              fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="28" class="is-light form-primary">
                <mat-select placeholder="Tanggal" formControlName="recurrence_date">
                  <mat-option *ngFor="let item of listDates" [value]="item">{{item}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="28" class="is-light form-primary">
                <mat-select placeholder="Bulan" formControlName="recurrence_month">
                  <mat-option *ngFor="let item of listMonths" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput formControlName="recurrence_time" placeholder="Waktu Terbit" [ngxTimepicker]="time" [format]="24" readonly/>
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #time></ngx-material-timepicker>
                <mat-error
                  *ngIf="formYearlyRecurrence.controls['recurrence_time'].hasError('required') && formYearlyRecurrence.controls['recurrence_time'].touched">
                  Waktu terbit harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="pt-16" [formGroup]="formRecurrenceCommon" *ngIf="typeOfRecurrence == 'Recurring'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light mr-8">
                <input matInput type="number" formControlName="recurrence_pattern" placeholder="Dikirim setiap">
                <mat-error
                  *ngIf="formRecurrenceCommon.controls['recurrence_pattern'].hasError('required') && formRecurrenceCommon.controls['recurrence_pattern'].touched">
                  Interval pengulangan harus diisi
                </mat-error>
                <span matSuffix>{{ recurrenceLabel[recurrenceType] }}</span>
              </mat-form-field>
            </div>
            <div class="pt-12 pb-12" fxLayout="row" fxLayoutAlign="start center">
              <h4 class="">
                <strong>Periode Pengiriman</strong>
              </h4>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="30" class="is-light form-primary">
                <input matInput (focus)="startPicker.open()" [matDatepicker]="startPicker" placeholder="Tanggal Mulai"
                  formControlName="recurrence_start_date" [min]="minStartDate">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
                <mat-error class="mt-8 px-24"
                  *ngIf="formRecurrenceCommon.controls['recurrence_start_date'].hasError('required') && formRecurrenceCommon.controls['recurrence_start_date'].touched">
                  Tanggal mulai harus diisi.
                </mat-error>
              </mat-form-field>
              <div fxFlex="25">
                <div fxFlex="100" fxLayout="column">
                  <mat-radio-group formControlName="end_option" class="radio-group">
                    <mat-radio-button value="no_end_date">Tidak berakhir</mat-radio-button>
                    <mat-radio-button value="end_count">Berakhir setelah</mat-radio-button>
                    <mat-radio-button value="end_date">Berakhir pada</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div fxFlex="25">
                <div fxFlex="100" fxLayout="column">
                  <div></div>
                  <mat-form-field fxFlex="30" class="is-light"
                    *ngIf="formRecurrenceCommon.controls.end_option.value === 'end_count'">
                    <span matPrefix>Pengulangan ke&nbsp;</span>
                    <input matInput type="number" formControlName="end_recurrence_count">
                  </mat-form-field>
                  <mat-form-field fxFlex="30" class="is-light form-primary"
                    *ngIf="formRecurrenceCommon.controls.end_option.value === 'end_date'">
                    <input matInput (focus)="endPicker.open()" [matDatepicker]="endPicker" placeholder="Tanggal Selesai"
                      formControlName="recurrence_end_date" [min]="minEndDate">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                    <mat-error class="mt-8 px-24"
                      *ngIf="formRecurrenceCommon.controls['recurrence_end_date'].hasError('required') && formRecurrenceCommon.controls['recurrence_end_date'].touched">
                      Tanggal selesai harus diisi.
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <!-- Targeted Audience Options -->
          <div class="pt-16 pb-16" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>Filter Pengguna</strong>
            </h3>
          </div>

          <!-- Consumer -->
          <div *ngIf="formNotification.controls['user_group'].value === 'customer'">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="verification" placeholder="Jenis Konsumen">
                  <mat-option *ngFor="let item of listJenisKonsumen" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formNotification.controls['verification'].hasError('required') && formNotification.controls['verification'].touched">
                  Jenis Konsumen harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="formNotification.controls['user_group'].value === 'customer'">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="subscription_status" placeholder="Status Berlangganan">
                  <mat-option *ngFor="let item of listSubscriptionStatus" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="pb-16" *ngIf="formNotification.controls['user_group'].value === 'customer'">
            <div class="pt-16" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Batasan Umur</strong>
              </h3>
            </div>
            <mat-radio-group formControlName="age" class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let item of listAge" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="pb-16 px-24" *ngIf="formNotification.get('content_type').value === 'iframe'">
          <div class="" fxLayout="row" fxLayoutAlign="start center">
            <strong class="font-size-16">Transfer Token Credential</strong>
          </div>
          <mat-radio-group formControlName="transfer_token" class="radio-group">
            <mat-radio-button class="radio-button" value="yes">Ya</mat-radio-button>
            <mat-radio-button class="radio-button" value="no">Tidak</mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngIf="formNotification.value.user_group != 'tsm'">
          <div fxLayout="row" class="pb-24 px-24">
            <mat-checkbox class="mt-4 ml-4 mb-8" (change)="isTargetAudience($event)"
              formControlName="is_target_audience">
              Target Audience</mat-checkbox>
          </div>
          <div *ngIf="formNotification.get('is_target_audience').value === false">
            <div class="" formArrayName="areas"
              *ngFor="let wil of formNotification.get('areas')['controls']; let i = index;">
              <div [formGroupName]="i">
                <div class="py-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px"
                  fxLayoutGap.lt-md="0px" fxLayoutAlign="space-between stretch">
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="National" formControlName="national"
                      matTooltip="{{getToolTipData(wil.get('national').value, wil.controls['list_national'].value)}}">
                      <mat-option *ngFor="let item of wil.controls['list_national'].value" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['national'].hasError('required') && wil.controls['national'].touched">
                      National harus diisi
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="Zone" formControlName="zone"
                      matTooltip="{{getToolTipData(wil.get('zone').value, wil.controls['list_zone'].value)}}"
                      (selectionChange)="generataList('region', wil.get('zone').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_zone'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['zone'].hasError('required') && wil.controls['zone'].touched">
                      Zone harus diisi
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="Regional" formControlName="region"
                      matTooltip="{{getToolTipData(wil.get('region').value, wil.controls['list_region'].value)}}"
                      (selectionChange)="generataList('area', wil.get('region').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_region'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['region'].hasError('required') && wil.controls['region'].touched">
                      Regional harus diisi
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="Area" formControlName="area"
                      matTooltip="{{getToolTipData(wil.get('area').value, wil.controls['list_area'].value)}}"
                      (selectionChange)="generataList('salespoint', wil.get('area').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_area'].value" [value]="item.id">{{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="wil.controls['area'].hasError('required') && wil.controls['area'].touched">
                      Area harus diisi
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="Salespoint" formControlName="salespoint"
                      matTooltip="{{getToolTipData(wil.get('salespoint').value, wil.controls['list_salespoint'].value)}}"
                      (selectionChange)="generataList('district', wil.get('salespoint').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_salespoint'].value" [value]="item.id">
                        {{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['salespoint'].hasError('required') && wil.controls['salespoint'].touched">
                      Salespoint harus diisi
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="District" formControlName="district"
                      matTooltip="{{getToolTipData(wil.get('district').value, wil.controls['list_district'].value)}}"
                      (selectionChange)="generataList('territory', wil.get('district').value, i, 'selection')">
                      <mat-option *ngFor="let item of wil.controls['list_district'].value" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['district'].hasError('required') && wil.controls['district'].touched">
                      Distrik harus diisi
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="31%" class="is-light form-primary">
                    <mat-select placeholder="Territory" formControlName="territory"
                      matTooltip="{{getToolTipData(wil.get('territory').value, wil.controls['list_territory'].value)}}">
                      <mat-option *ngFor="let item of wil.controls['list_territory'].value" [value]="item.id">
                        {{item.name}}</mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="wil.controls['territory'].hasError('required') && wil.controls['territory'].touched">
                      Territori harus diisi
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div [formGroup]="formFilter" fxLayout="row wrap" fxLayoutAlign="space-between stretch"
            fxLayout.lt-md="column" class="pt-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            style="margin-left: 25px; margin-right: 25px;"
            *ngIf="formNotification.get('is_target_audience').value === true">
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="National" formControlName="national">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Zone" formControlName="zone" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                  Zona' :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Regional" formControlName="region" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                  Regional'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Area" formControlName="area" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                  Area'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Salespoint" formControlName="salespoint" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name === 'all' ?
                  'Semua
                  Salespoint'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="District" formControlName="district" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                  District'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Territory" formControlName="territory" multiple>
                <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name === 'all' ? 'Semua
                  Territori'
                  :
                  item.code}}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="National" formControlName="national">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Zone" formControlName="zone"
                (selectionChange)="getAudienceArea('region', formFilter.get('zone').value)">
                <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Zona' :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Regional" formControlName="region"
                (selectionChange)="getAudienceArea('area', formFilter.get('region').value)">
                <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Regional'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Area" formControlName="area"
                (selectionChange)="getAudienceArea('salespoint', formFilter.get('area').value)">
                <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Area'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Salespoint" formControlName="salespoint"
                (selectionChange)="getAudienceArea('district', formFilter.get('salespoint').value)">
                <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name === 'all' ?
                      'Semua
                      Salespoint'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="District" formControlName="district"
                (selectionChange)="getAudienceArea('territory', formFilter.get('district').value)">
                <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      District'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="12%" class="is-light form-primary">
              <mat-select placeholder="Territory" formControlName="territory">
                <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Territori'
                      :
                      item.name}}</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
          <div class="p-0" *ngIf="formNotification.get('is_target_audience').value === true">
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
              fxLayoutAlign="start center" class="p-16">
              <input matInput type="text" formControlName="searchKeyword" placeholder="Search..." />
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
              fxLayoutAlign="end center" class="p-16 export">
              <a #downloadLink></a>
              <button mat-raised-button type="button" class="is-danger" (click)="import()">
                <mat-icon>arrow_downward</mat-icon> Import XLS
              </button>
              <button mat-raised-button type="button" class="is-danger" (click)="export()">
                <mat-icon>arrow_upward</mat-icon> Export XLS
              </button>
            </div>
            <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar>
            <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
              [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
              [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page"
              [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)"
              [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
              [selectCheck]='selectCheck'>
              
              <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="false">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                  let-selectFn="selectFn">
                  <mat-checkbox [checked]="allRowsSelected" (change)="onSelectAll(!allRowsSelected)"></mat-checkbox>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
                  let-onCheckboxChangeFn="onCheckboxChangeFn">
                  <mat-checkbox [checked]="bindSelector(isSelected, row)" (change)="onSelectAudience($event, row)">
                  </mat-checkbox>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Nama" prop="name"></ngx-datatable-column>
              <ngx-datatable-column name="Kode" prop="code" [sortable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.code ? row.code : '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Owner" prop="owner">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.owner ? row.owner : '-'}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Tipe" prop="type">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  {{row.type.toUpperCase()}}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>

        </div>

        <div class="pt-16" fxLayout="row">
          <mat-form-field fxFlex="45" class="is-light form-primary">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="Active">Active</mat-option>
              <mat-option value="Inactive">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
            SIMPAN
          </button>
        </div>
      </form>
    </div>
  </div>
</div>