<!-- <mat-list class="date" cdkFocusRegionStart>

    <h3 matSubheader cdkFocusInit>
        <span>Today</span>
    </h3>

    <div class="secondary-text mat-display-1 mb-0 p-16">
        <div class="mb-12">
            {{date | date:'EEEE'}}
        </div>
        <div fxLayout="row" fxLayoutAlign="start start">
            <span> {{date | date:'d'}}</span>
            <span class="mat-subheading-1">th</span>
            <span> {{date | date:'MMMM'}}</span>
        </div>
    </div>
</mat-list>

<mat-divider cdkFocusRegionEnd></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>Events</span>
    </h3>

    <mat-list-item *ngFor="let event of events">
        <h3 matLine>{{event.title}}</h3>
        <p matLine class="secondary-text">{{event.detail}}</p>
    </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>Notes</span>
    </h3>

    <mat-list-item *ngFor="let note of notes">
        <h3 matLine>{{note.title}}</h3>
        <p matLine class="secondary-text">{{note.detail}}</p>
    </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list>
    <h3 matSubheader>
        <span>Quick Settings</span>
    </h3>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-primary" [(ngModel)]="settings.notify" aria-label="Notifications"
                          labelPosition="before">
            <h3>Notifications</h3>
        </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-accent" [(ngModel)]="settings.cloud" aria-label="Cloud"
                          labelPosition="before">
            <h3>Cloud Sync</h3>
        </mat-slide-toggle>
    </mat-list-item>

    <mat-list-item>
        <mat-slide-toggle fxFlex class="mat-warn" [(ngModel)]="settings.retro" aria-label="Retro Thrusters"
                          labelPosition="before">
            <h3>Retro Thrusters</h3>
        </mat-slide-toggle>
    </mat-list-item>
</mat-list> -->
<div #containerScroll fusePerfectScrollbar>
	<mat-list class="date" cdkFocusRegionStart>

		<h3 matSubheader cdkFocusInit>
			<span>{{ ls.locale.global.label.today }}</span>
		</h3>

		<div class="secondary-text mat-display-1 mb-0 p-16">
			<div class="mb-12">
				{{date | dateToMoment:'dddd'}}
			</div>
			<div fxLayout="row" fxLayoutAlign="start start">
				<!-- <span> {{date | dateToMoment:'DD'}}</span> -->
				<!-- <span class="mat-subheading-1">th</span> -->
				<span> {{date | dateToMoment:'D MMMM YYYY'}}</span>
			</div>
		</div>
	</mat-list>

	<mat-divider cdkFocusRegionEnd></mat-divider>

	<mat-list *ngIf="listNotif">
		<h3 matSubheader>
			<span class="text-bold" *ngIf="listNotif.length === 0">Belum ada notifikasi</span>
			<span class="text-bold" *ngIf="listNotif.length > 0">{{ ls.locale.notification.text }}</span>
		</h3>

		<mat-list-item *ngFor="let item of listNotif" (click)="directNotif(item)" class="hover" style="margin-bottom: 15px;">
			<div matLine [ngStyle]="{'white-space': 'normal'}" matLine style="font-size: .7em" class="secondary-text text-small">{{item.created_at | date: 'dd MMMM yyyy
          HH:mm:ss'}}</div>
			<div matLine [ngStyle]="{'font-weight': (item.status === 'unread' ? '900' : '500'), 'white-space': 'normal'}" class="item-content" *ngIf="item.entity_type !== 'video' && item.entity_type !== 'image'">
				{{item.content | toCapitalize}}</div>
			<div [ngStyle]="{'font-weight': (item.status === 'unread' ? '900' : '500')}"
				*ngIf="item.entity_type == 'video' || item.entity_type == 'image'">
				<div fxLayout="column" fxLayoutAlign="center start">
					<div class="item-content">{{item.title | toCapitalize}}</div>
					<div class="item-content" [innerHtml]="item.content"
						style="font-size: 14px; opacity: 0.8;"></div>
				</div>
			</div>

		</mat-list-item>
		<div class="p-8" *ngIf="!isLastPage">
			<span class="load-more" fxLayout="column" fxLayoutAlign="center center" *ngIf="!isLoadNotif"
				(click)="getListNotifMore()">Load More</span>
			<span fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoadNotif">Memuat Notifikasi...</span>
		</div>
		<mat-divider cdkFocusRegionEnd></mat-divider>

	</mat-list>
</div>