<div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
  <h2 class="pl-8">{{'dte.approval_coin_adjustment.tsm_title' | translate}}</h2>
  <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>search</mat-icon>
    <mat-form-field autoComplete="off" class="is-light tab-search">
      <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUp.next($event.target.value)">
    </mat-form-field>
  </div>
</div>
<form [formGroup]="formFilter" autoComplete="off">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="top-table p-8">
    <mat-form-field fxFlex="16" class="orders dropdown">
      <mat-select formControlName="filter">
        <mat-option [value]="item.value" *ngFor="let item of statusFilter">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex="1"></div>
    <mat-form-field fxFlex="16" floatLabel="never" class="orders datepicker is-light">
      <input matInput #from [matDatepicker]="dari" (focus)="dari.open()" placeholder="{{'dte.pengatur_jadwal_program.text5' | translate}}"
        formControlName="start_date" (dateChange)="setMinDate(formFilter.get('start_date').value)" readonly>
      <button mat-button *ngIf="formFilter.get('start_date').value" matSuffix mat-icon-button aria-label="Clear"
        (click)="formFilter.get('start_date').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-datepicker-toggle matSuffix [for]="dari">
        <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #dari></mat-datepicker>
    </mat-form-field>
    <div fxFlex="1"></div>
    <mat-form-field fxFlex="16" floatLabel="never" class="orders datepicker is-light">
      <input matInput [matDatepicker]="sampai" (focus)="sampai.open()" [min]="minDate" placeholder="{{'dte.pengatur_jadwal_program.text6' | translate}}"
        formControlName="end_date" readonly>
      <button mat-button *ngIf="formFilter.get('end_date').value" matSuffix mat-icon-button aria-label="Clear"
        (click)="formFilter.get('end_date').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-datepicker-toggle matSuffix [for]="sampai">
        <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #sampai></mat-datepicker>
    </mat-form-field>
    <div fxFlex="1"></div>
    <mat-form-field fxFlex="16" class="orders dropdown">
      <mat-select formControlName="status">
        <mat-option [value]="item.value" *ngFor="let item of listStatuses">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex="1"></div>
    <div class="button-row pb-16">
      <button mat-raised-button style="width: 150px" color="primary" (click)="updateFilter()">{{'global.button.filter' | translate}}</button>
    </div>
  </div>
</form>

<form [formGroup]="formFilterReqApp" autoComplete="off">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="top-table p-8">
    <mat-form-field fxFlex="20" class="orders dropdown">
      <mat-select formControlName="requestor_id" placeholder="{{'dte.approval_coin_adjustment.text2' | translate}}" id="requestor_id" #singleSelect>
        <ngx-mat-select-search [formControl]="filterRequestor" placeholderLabel="{{'global.label.search' | translate}}"
          noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}" [clearSearchInput]="true">
        </ngx-mat-select-search>
        <mat-option>{{'global.label.all' | translate}}</mat-option>
        <mat-option *ngFor="let item of filteredRequestor | async" [value]="item.user_id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="20" class="orders dropdown">
      <mat-select formControlName="approver_id" placeholder="{{'dte.approval_coin_adjustment.text3' | translate}}" id="approver_id" #singleSelect>
        <ngx-mat-select-search [formControl]="filterApprover" placeholderLabel="{{'global.label.search' | translate}}"
          noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}" [clearSearchInput]="true">
        </ngx-mat-select-search>
        <mat-option>{{'global.label.all' | translate}}</mat-option>
        <mat-option *ngFor="let item of filteredApprover | async" [value]="item.user_id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows"
  [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56" [rowHeight]="48"
  [scrollbarH]="true" [offset]="offsetPagination" [reorderable]="reorderable" [count]="pagination.total"
  [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)"
  (sort)="onSort($event)" [selectAllRowsOnPage]="false" (select)="onSelect($event)" [rowIdentity]="getId"
  [sorts]="[{prop: 'name', dir: 'asc'}]" [selectionType]="'checkbox'" fusePerfectScrollbar>

  <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn">
      <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
    </ng-template>

    <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn">
      <mat-checkbox [checked]="selected.includes(row)" (change)="onCheckboxChangeFn($event)"
        [disabled]="row.status !== 'pending' || row.approver !== owned.name">
      </mat-checkbox>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="220" [sortable]="false" name="{{ 'dte.pengatur_jadwal_program.text16' | translate }}"
    prop="nama_task_sequencing_management" [flexGrow]="3">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span class="row">
        {{row.task_sequencing_management_name}}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="false" name="{{ 'dte.trade_program.text1' | translate }}" prop="trade_program_name" [flexGrow]="3">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="195" [sortable]="false" name="{{ 'dte.group_trade_program.text6' | translate }}" prop="group_trade_program_name"
    [flexGrow]="3">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="190" [sortable]="false" name="{{ 'dte.approval_coin_adjustment.text4' | translate }}" prop="jumlah_src" [flexGrow]="3">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="190" [sortable]="false" name="{{ 'dte.approval_coin_adjustment.text5' | translate }}" prop="total_coin"
    [flexGrow]="3">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" [sortable]="false" name="{{ 'dte.approval_coin_adjustment.text6' | translate }}" prop="requested_at" [flexGrow]="3">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{row.requested_at | dateToMoment}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="false" name="{{ 'dte.approval_coin_adjustment.text3' | translate }}" prop="approver" [flexGrow]="3">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" [sortable]="false" name="{{ 'dte.approval_coin_adjustment.text7' | translate }}" prop="responded_at" [flexGrow]="3">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{row.responded_at | dateToMoment}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="165" [sortable]="false" name="{{ 'global.label.status' | translate }}" prop="status" [flexGrow]="3">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <div class="name-container">
        <p class="status text-truncate h6 p-4 status-order mat-green-800-bg" style="text-transform: capitalize;"
          *ngIf="row.status == 'approved'">
          {{row.status}}
        </p>
        <p class="status text-truncate h6 p-4 status-order mat-yellow-900-bg" style="text-transform: capitalize;"
          *ngIf="row.status == 'pending'">
          {{row.status}}
        </p>
        <p class="status text-truncate h6 p-4 status-order mat-red-900-bg" style="text-transform: capitalize;"
          *ngIf="row.status == 'rejected'">
          {{row.status}}
        </p>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="250" name="{{ 'global.label.action' | translate }}" headerClass="textright" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <div class="button-row" style="margin-left: -10px" *ngIf="permissionCoinAdjustment?.lihat">
        <button type="button" mat-icon-button color="" matTooltip="{{'dte.pengatur_jadwal_program.text15' | translate}}"
          [routerLink]="['/dte', 'approval-coin-adjusment', 'detail-tsm', row.id]">
          <mat-icon class="secondary-text">assignment</mat-icon>
        </button>
        <button type="button" mat-icon-button color="" matTooltip="{{'dte.approval_coin_adjustment.export_approval_coin_adjustment' | translate}}"
          (click)="export(row)">
          <mat-icon class="orange-500-fg">save_alt</mat-icon>
          <!-- <mat-icon *ngIf="row.task_sequencing_management_status !== 'publish'" class="secondary-text">save_alt
          </mat-icon> -->
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.lt-md="column" class="p-16" fxLayoutGap="20px"
  *ngIf="selected.length">
  <button mat-raised-button type="button" class="primary-green"
    style="width: 220px; height: 50px; font-size: 18px;border-radius:5px;" (click)="actionDialog('Setujui')">
    APPROVE
  </button>
  <button mat-raised-button type="button" class="confirmation-button"
    style="width: 220px; height: 50px; font-size: 18px;border-radius:5px;" (click)="actionDialog('Tolak')">
    REJECT
  </button>
</div>
<a #downloadLink></a>