.search-field-template {
    margin-bottom: 12px !important;
    margin-right: 10px;
}

.textbox-search {
    border: 1px solid #ececec;
    padding: 8px 12px;
}

.icon-search {
    background-color: #eeeeee;
    height: 37.7px;
    width: 42px;
    top: -0.5px;
    position: relative;
    text-align: center;
}

.mat-icon-search {
    position: relative;
    top: 8px;
}
  