.table-tier {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 24px;
  }

  th {
    text-align: left;
  }

  th, td {
    padding-right: 16px;
    white-space: nowrap;
  }

  td.table-sum {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 2px solid #e3e3e3;
  }

  td {
    vertical-align: top;
    padding-left: 4px;
  }

  td > div {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
}
