
<div class="ayo-middle p-24" fxLayout="column">
  <div>
    <div fxLayout="row wrap">
      <div fxLayout="column" fxFlex="40">
        <div fxLayout="column" class="preview-info-mobile">
          <div>
            <div class="preview-image-banner" *ngIf="detailVoucher?.image_url">
              <img src="{{detailVoucher?.image_url}}">
            </div>
            <div class="preview-image" *ngIf="!detailVoucher?.image_url">
              Image
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="label-image">
              <div fxLayout="column">
                <span style="font-size: 0.7em;">
                  Berlaku Hingga
                </span>
                <span style="font-weight: 800;">
                  {{detailVoucher?.expired_at | date: 'dd MMMM yyyy'}}
                </span>
              </div>
              <div fxLayout="column">
                <span style="font-size: 0.7em;">
                  Kode Voucher
                </span>
                <span style="font-weight: 800;">
                  XXXXXX
                </span>
              </div>
            </div>
          </div>
          <div fxLayout="column">
            <span style="font-weight: 800;">Voucher Potongan Harga Belanja di SRC</span>
            <span style="font-style: italic; font-size: 0.8em;">Berlaku Hingga {{detailVoucher?.expired_at | date: 'dd MMMM yyyy'}}</span>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div class="preview-button" fxFlex="100">
              Lihat Kode Voucher
            </div>
          </div>
          <div>
            <span style="font-weight: 800;">Syarat & Ketentuan</span>
            <ul class="pl-16 m-0">
              <li>Voucher potongan ini senilai {{detailVoucher?.nominal | rupiahFormater}}</li>
              <li *ngIf="detailVoucher?.limit_by === 'product'">Hanya dapat digunakan untuk pembelian produk {{dataLimitMap()}}</li>
              <li *ngIf="detailVoucher?.limit_by === 'category'">Hanya dapat digunakan untuk pembelian kategori produk {{dataLimitMap()}}</li>
              <li>Hanya dapat digunakan di Toko SRC bertanda khusus</li>
              <li>Masa berlaku voucher ini hingga {{detailVoucher?.expired_at | date: 'dd MMMM yyyy'}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="60">
        <div fxLayout="column" class="preview-table">
          <table>
            <thead>
              <tr>
                <th>
                  Topic
                </th>
                <th>
                  Jumlah User
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody *ngIf="detailVoucher?.preview.length > 0">
              <tr *ngFor="let item of detailVoucher.preview">
                <td>
                  {{item.title}}
                </td>
                <td>
                  {{item.value}}
                </td>
                <td [ngStyle]="{'color': item.status === 'done' ? '#00a900' : '#a90000' }">
                  {{item.status == 'done' ? 'Done' : item.status}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="confirm p-24" fxLayout="row" fxLayoutAlign="end center" *ngIf="!isDetail">
      <button mat-raised-button type="button" class="confirmation-button" fxFlex="30" fxFlex.gt-xs="20" (click)="confirmUpdateStatusVoucher()" *ngIf="detailVoucher?.status == 'publish'">
        UNPUBLISH
      </button>
      <button mat-raised-button type="button" class="publish-button" fxFlex="30" fxFlex.gt-xs="20" (click)="confirmUpdateStatusVoucher()" *ngIf="detailVoucher?.status == 'draft'">
        PUBLISH
      </button>
    </div>

  </div>
</div>