:host /deep/ .mat-list-item-content {
  padding: 5px !important;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #ddd;
  }
}

:host {
  .bantuan-content {
    height: 550px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    padding: 20px 0px 20px 20px;
  }

  .dynamic {
    height: 450px;
    overflow-y: auto;
    margin-top: 24px;
  }

  .rectangle {
    height: 101px;
    width: 268px;
    border: 1px solid #ececec;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;
  }
}
