<mat-form-field fxLayout="row wrap" class="is-light form-primary search-product-barcode">
  <input
    matInput
    placeholder="Barcode Produk"
    [formControl]="search"
    [matAutocomplete]="auto"
    #searchInput
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="getSelected($event.option)"
    (closed)="onClosed()"
  >
    <mat-option *ngFor="let item of filteredOptions" [value]="item.id">
      {{ item.name }} - {{item.id}}
    </mat-option>
    <mat-option *ngIf="isLoading()" disabled>
      <div class="spinner">
        <mat-spinner diameter="18" color="primary"></mat-spinner>
      </div>
    </mat-option>
  </mat-autocomplete>
  <button
    *ngIf="search.value && !this.disabled"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clear()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <ng-content></ng-content>
</mat-form-field>
