<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Ubah Popup Notifikasi'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column" fusePerfectScrollbar>
      <form autocomplete="off" [formGroup]="formPopupGroup">
        <div fxLayout="row" class="px-24" fxLayoutAlign="space-between center">
          <h2 class="">Ubah Popup Notifikasi</h2>
          <div>
            Notifikasi Journey Builder
            <mat-slide-toggle [formControl]="is_mission_builder" name="is_mission_builder"
              (change)="selectChange($event)"></mat-slide-toggle>
          </div>
        </div>
        <div class="ayo-middle" fxLayout="column">
          <div class="mt-16 pt-24 px-24" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px"
            fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input matInput type="text" formControlName="title" placeholder="Judul Popup Notifikasi">
              <mat-error
                *ngIf="formPopupGroup.controls['title'].hasError('required') && formPopupGroup.controls['title'].touched">
                Judul Popup Notifikasi harus diisi
              </mat-error>
            </mat-form-field>
            <div fxFlex="45%" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              *ngIf="formPopupGroup.value.is_mission_builder === false">
              <mat-form-field fxFlex="32%" class="is-light form-primary">
                <input matInput [matDatepicker]="tanggal_terbit" (focus)="tanggal_terbit.open()" formControlName="date"
                  placeholder="Tanggal Terbit">
                <mat-error
                  *ngIf="formPopupGroup.controls['date'].hasError('required') && formPopupGroup.controls['date'].touched">
                  Tanggal Terbit harus diisi
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="tanggal_terbit">
                  <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #tanggal_terbit></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="15%" class="is-light form-primary" id="time">
                <input matInput formControlName="time" placeholder="Jam Terbit" [ngxTimepicker]="fullTime" [format]="24"
                  readonly>
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                <mat-error
                  *ngIf="formPopupGroup.controls['time'].hasError('required') && formPopupGroup.controls['time'].touched">
                  Waktu harus diisi
                </mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="32%" class="is-light form-primary">
                <input matInput [matDatepicker]="tanggal_berakhir" (focus)="tanggal_berakhir.open()"
                  formControlName="enddate" placeholder="Tanggal Berakhir">
                <mat-error
                  *ngIf="formPopupGroup.controls['enddate'].hasError('required') && formPopupGroup.controls['enddate'].touched">
                  Tanggal Terbit harus diisi
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="tanggal_berakhir">
                  <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #tanggal_berakhir></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="15%" class="is-light form-primary" id="time1">
                <input matInput formControlName="endtime" placeholder="Jam Berakhir" [ngxTimepicker]="fullTime1"
                  [format]="24" readonly>
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
                <mat-error
                  *ngIf="formPopupGroup.controls['endtime'].hasError('required') && formPopupGroup.controls['endtime'].touched">
                  Waktu harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="px-24" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input matInput type="text" formControlName="positive_button" placeholder="Positif Button">
              <mat-error
                *ngIf="formPopupGroup.controls['positive_button'].hasError('required') && formPopupGroup.controls['positive_button'].touched">
                Positif Button harus diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input matInput type="text" formControlName="negative_button" placeholder="Negatif Button">
              <mat-error
                *ngIf="formPopupGroup.controls['negative_button'].hasError('required') && formPopupGroup.controls['negative_button'].touched">
                Negatif Button harus diisi
              </mat-error>
            </mat-form-field>
          </div>
          <div class="px-24" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="">
              <strong>Gambar Popup Notifikasi {{formPopupGroup.get('content_type').value ===
                'new-product' ?
                '(Disabled)' : ''}}</strong>
            </h3>
          </div>
          <div class="px-24">
            <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
              accept="image/*" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
              (fileChange)="changeImage($event)"
              [fileDropDisabled]="formPopupGroup.get('content_type').value === 'new-product'" [ngStyle]="{'cursor': formPopupGroup.get('content_type').value ===
              'new-product' ? 'no-drop' : null}">
              <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline</mat-icon>
                <br>
                <span matPrefix>Tarik gambar popup notifikasi kesini. {{formPopupGroup.get('content_type').value ===
                  'new-product' ?
                  '(Disabled)' : ''}}</span>
                <!-- <span matPrefix>Besar file maksimal 2mb</span> -->
              </div>
            </div>
          </div>

          <div class="pt-16 px-24">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutGap.lt-md="0px">
              <div fxFlex="45" fxLayout="column">
                <mat-form-field class="is-light form-primary">
                  <mat-select formControlName="user_group" placeholder="Grup Pengguna">
                    <mat-option *ngFor="let item of listUserGroup" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formPopupGroup.controls['user_group'].hasError('required') && formPopupGroup.controls['user_group'].touched">
                    Grup Pengguna harus diisi
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="45">
                <div *ngIf="files">
                  <div class="mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                    role="option" tabindex="-1" aria-disabled="false" aria-selected="false"><span
                      class="preview-image-content" (click)="previewImage(imageConverted)">Lihat gambar popup
                      notifikasi</span>
                    <mat-icon (click)="removeImage()" matTooltip="Hapus gambar"
                      class="mat-chip-remove mat-chip-trailing-icon mat-icon material-icons mat-icon-no-color ng-star-inserted"
                      matchipremove="" role="img" aria-hidden="true">cancel</mat-icon>
                  </div>
                </div>
                <div *ngIf="detailPopup?.image_url && !imageConverted">
                  <div class="mat-chip mat-primary mat-standard-chip mat-chip-with-trailing-icon ng-star-inserted"
                    role="option" tabindex="-1" aria-disabled="false" aria-selected="false"><span
                      class="preview-image-content" (click)="previewImage(detailPopup?.image_url)">Lihat gambar popup
                      notifikasi</span></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Consumer -->
          <div *ngIf="formPopupGroup.get('user_group').value === 'customer'">

            <div class="px-24">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="is_smoker" placeholder="Tipe Consumer">
                    <mat-option *ngFor="let item of listSmoker" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formPopupGroup.controls['is_smoker'].hasError('required') && formPopupGroup.controls['is_smoker'].touched">
                    Tipe Consumer harus diisi
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="px-24" *ngIf="formPopupGroup.get('is_smoker').value !== 'yes'">
              <div fxLayout="row">
                <mat-form-field fxFlex="45" class="is-light form-primary">
                  <mat-select formControlName="verification" placeholder="Jenis Konsumen">
                    <mat-option *ngFor="let item of listJenisKonsumen" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formPopupGroup.controls['verification'].hasError('required') && formPopupGroup.controls['verification'].touched">
                    Jenis Konsumen harus diisi
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="pb-16 px-24">
              <div class="pb-8" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">Batasan Umur</strong>
              </div>
              <div class="" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex="20" class="is-light form-primary">
                  <input matInput type="number" formControlName="age_consumer_from" placeholder="Dari">
                  <mat-error
                    *ngIf="formPopupGroup.controls['age_consumer_from'].hasError('required') && formPopupGroup.controls['age_consumer_from'].touched">
                    Dari harus diisi
                  </mat-error>
                  <mat-error
                    *ngIf="formPopupGroup.controls['age_consumer_from'].hasError('min') && formPopupGroup.get('age_consumer_from').touched">
                    Tidak boleh kurang dari {{formPopupGroup.controls['is_smoker'].value === 'yes' ? '18' : '0'}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="20" class="is-light form-primary">
                  <input matInput type="number" formControlName="age_consumer_to" placeholder="Sampai">
                  <mat-error
                    *ngIf="formPopupGroup.controls['age_consumer_to'].hasError('required') && formPopupGroup.controls['age_consumer_to'].touched">
                    Sampai harus diisi
                  </mat-error>
                  <mat-error
                    *ngIf="formPopupGroup.controls['age_consumer_to'].hasError('min') && formPopupGroup.get('age_consumer_to').touched">
                    Tidak boleh kurang dari minimal batasan umur yg telah di isi
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="pb-16 px-24">
              <div class="" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">Jenis Kelamin</strong>
              </div>
              <mat-radio-group formControlName="gender" class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let item of listGender" [value]="item.value">
                  {{item.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div class="px-24">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="content_type" placeholder="Tipe Konten"
                  (selectionChange)="contentType(formPopupGroup.get('content_type').value)">
                  <mat-option *ngFor="let item of listContentType" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formPopupGroup.controls['content_type'].hasError('required') && formPopupGroup.controls['content_type'].touched">
                  Tipe Konten harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="px-24" *ngIf="formPopupGroup.get('content_type').value === 'new-product'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="product" placeholder="Nama Product" id="product_name" #singleSelect>
                  <ngx-mat-select-search [formControl]="filterProduct" [placeholderLabel]="'Cari Product...'"
                    [noEntriesFoundLabel]="'Tidak ada Product yang ditemukan'" [clearSearchInput]="false">
                  </ngx-mat-select-search>
                  <mat-option *ngFor="let item of filteredProduct | async" [value]="item.sku_id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formPopupGroup.controls['product'].hasError('required') && formPopupGroup.controls['product'].touched">
                  Product harus di isi.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Static Page -->
          <div class="pb-24 px-24" *ngIf="formPopupGroup.get('content_type').value === 'static-page'">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">Isi Halaman</h3>
            </div>
            <textarea [froalaEditor]="options" formControlName="body" class="pb-4" fxFlex="100"></textarea>
            <mat-error style="padding-top: 6px !important; font-size: .86em;"
              *ngIf="formPopupGroup.controls['body'].hasError('required') && formPopupGroup.controls['body'].touched">
              Isi Halaman harus diisi
            </mat-error>
          </div>

          <!-- Landing Page -->
          <div class="px-24"
            *ngIf="formPopupGroup.get('content_type').value === 'landing-page' && formPopupGroup.get('user_group').value !== 'wholesaler'">
            <div fxLayout="row">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <mat-select formControlName="landing_page" placeholder="Jenis Landing Page">
                  <mat-option *ngFor="let item of listLandingPage" [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formPopupGroup.controls['landing_page'].hasError('required') && formPopupGroup.controls['landing_page'].touched">
                  Landing Page harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- iframe -->
          <div class="px-24" *ngIf="formPopupGroup.get('content_type').value === 'iframe'">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field fxFlex="45" class="is-light form-primary">
                <input matInput type="url" formControlName="url_iframe" placeholder="URL Link">
                <mat-error
                  *ngIf="formPopupGroup.controls['url_iframe'].hasError('required') && formPopupGroup.controls['url_iframe'].touched">
                  URL harus diisi
                </mat-error>
                <mat-error
                  *ngIf="formPopupGroup.controls['url_iframe'].hasError('pattern') && formPopupGroup.get('url_iframe').value !== ''">
                  URL tidak valid
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="pb-16 px-24" *ngIf="formPopupGroup.get('content_type').value === 'iframe'">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <strong class="font-size-16">Transfer Token Credential</strong>
            </div>
            <mat-radio-group formControlName="transfer_token" class="radio-group">
              <mat-radio-button class="radio-button" value="yes">Ya</mat-radio-button>
              <mat-radio-button class="radio-button" value="no">Tidak</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Retailer -->
          <div *ngIf="formPopupGroup.get('user_group').value === 'retailer'">
            <div class="pb-16 px-24">
              <div class="" fxLayout="row" fxLayoutAlign="start center">
                <strong class="font-size-16">Tipe Retailer</strong>
              </div>
              <mat-radio-group formControlName="group_type" class="radio-group">
                <mat-radio-button class="radio-button" *ngFor="let item of listUserGroupType" [value]="item.value">
                  {{item.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="formPopupGroup.get('group_type').value === 'downline'" fxLayout="row" fxLayout.lt-md="column"
              fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="pb-24 px-24">
              <mat-form-field fxFlex="30%" class="is-light form-primary">
                <input matInput [matDatepicker]="ws_downline" (focus)="ws_downline.open()"
                  formControlName="date_ws_downline" placeholder="Tanggal Terbit WS Downline">
                <mat-error
                  *ngIf="formPopupGroup.controls['date_ws_downline'].hasError('required') && formPopupGroup.controls['date_ws_downline'].touched">
                  Tanggal Terbit WS Downline harus diisi
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="ws_downline">
                  <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #ws_downline></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlex="10%" class="is-light form-primary" id="time">
                <input matInput formControlName="time_ws_downline" placeholder="Waktu"
                  [ngxTimepicker]="fullTime_downline" [format]="24" readonly>
                <mat-icon matSuffix>access_time</mat-icon>
                <ngx-material-timepicker #fullTime_downline></ngx-material-timepicker>
                <mat-error
                  *ngIf="formPopupGroup.controls['time_ws_downline'].hasError('required') && formPopupGroup.controls['time_ws_downline'].touched">
                  Waktu harus diisi
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="formPopupGroup.value.is_mission_builder === false">
            <div fxLayout="row" class="pb-24 px-24">
              <mat-checkbox class="mt-4 ml-4 mb-8" (change)="isTargetAudience($event)"
                formControlName="is_target_audience">Target Audience</mat-checkbox>
            </div>
            <div [formGroup]="formFilter" *ngIf="formPopupGroup.controls['is_target_audience'].value === true">
              <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" class="pt-16"
                fxLayoutGap="20px" fxLayoutGap.lt-md="0px" style="margin-left: 25px; margin-right: 25px;">
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="National" formControlName="national">
                    <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Zone" formControlName="zone" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['zone'])" [value]="item.id">{{item.name ===
                      'all' ? 'Semua
                      Zona' :
                      item.code}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Regional" formControlName="region" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['region'])" [value]="item.id">{{item.name ===
                      'all' ? 'Semua
                      Regional'
                      :
                      item.code}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Area" formControlName="area" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['area'])" [value]="item.id">{{item.name ===
                      'all' ? 'Semua
                      Area'
                      :
                      item.code}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Salespoint" formControlName="salespoint" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['salespoint'])" [value]="item.id">{{item.name
                      === 'all' ?
                      'Semua
                      Salespoint'
                      :
                      item.code}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="District" formControlName="district" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['district'])" [value]="item.id">{{item.name
                      === 'all' ? 'Semua
                      District'
                      :
                      item.code}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Territory" formControlName="territory" multiple>
                    <mat-option *ngFor="let item of filteringGeotree(list['territory'])" [value]="item.id">{{item.name
                      === 'all' ? 'Semua
                      Territori'
                      :
                      item.code}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="National" formControlName="national">
                    <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Zone" formControlName="zone"
                    (selectionChange)="getAudienceArea('region', formFilter.get('zone').value)">
                    <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Zona' :
                      item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Regional" formControlName="region"
                    (selectionChange)="getAudienceArea('area', formFilter.get('region').value)">
                    <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Regional'
                      :
                      item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Area" formControlName="area"
                    (selectionChange)="getAudienceArea('salespoint', formFilter.get('area').value)">
                    <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Area'
                      :
                      item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Salespoint" formControlName="salespoint"
                    (selectionChange)="getAudienceArea('district', formFilter.get('salespoint').value)">
                    <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name === 'all' ?
                      'Semua
                      Salespoint'
                      :
                      item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="District" formControlName="district"
                    (selectionChange)="getAudienceArea('territory', formFilter.get('district').value)">
                    <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      District'
                      :
                      item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="12%" class="is-light form-primary">
                  <mat-select placeholder="Territory" formControlName="territory">
                    <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name === 'all' ? 'Semua
                      Territori'
                      :
                      item.name}}</mat-option>
                  </mat-select>
                </mat-form-field> -->
              </div>
            </div>

            <div class="p-0" *ngIf="formPopupGroup.controls['is_target_audience'].value === true">
              <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px"
                fxLayoutAlign="end center" class="p-16 export">
                <a #downloadLink></a>
                <button mat-raised-button type="button" class="is-danger" (click)="import()">
                  <mat-icon>arrow_downward</mat-icon> Import XLS
                </button>
                <button mat-raised-button type="button" class="is-danger" (click)="export()">
                  <mat-icon>arrow_upward</mat-icon> Export XLS
                </button>
              </div>
              <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator">
              </mat-progress-bar>
              <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
                [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page"
                [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)"
                [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
                [selectCheck]='selectCheck'>

                <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="false">
                  <!-- <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                    let-selectFn="selectFn">
                    <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                  </ng-template> -->

                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected"
                    let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox *ngIf="audienceSelected.length > 0" [checked]="bindSelector(isSelected, row)"
                      (change)="onSelectAudience($event, row)">
                    </mat-checkbox>
                    <mat-checkbox *ngIf="audienceSelected.length === 0" (change)="onSelectAudience($event, row)">
                    </mat-checkbox>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Nama" prop="name"></ngx-datatable-column>
                <ngx-datatable-column name="Kode" prop="code" [sortable]="false">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.code ? row.code : '-'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Owner" prop="owner">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.owner ? row.owner : '-'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Tipe" prop="type">
                  <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{row.type.toUpperCase()}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>

            <div *ngIf="formPopupGroup.controls['is_target_audience'].value === false">
              <div class="pt-16" formArrayName="areas"
                *ngFor="let wil of formPopupGroup.get('areas')['controls']; let i = index;">
                <div [formGroupName]="i">
                  <div class="mb-16 wilayah" fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="50">
                      <h3 class="">&nbsp;</h3>
                    </div>
                    <div *ngIf="!isDetail" fxFlex="50" fxLayout="row wrap" fxLayoutAlign="end center"
                      fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                      <button
                        *ngIf="formPopupGroup.get('areas').value.length === 1 || i === (formPopupGroup.get('areas').value.length - 1)"
                        mat-raised-button type="button" (click)="addArea()">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button *ngIf="formPopupGroup.get('areas').value.length > 1" mat-raised-button color="primary"
                        type="button" (click)="deleteArea(i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="pb-8 px-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px"
                    fxLayoutGap.lt-md="0px" fxLayoutAlign="space-between stretch">
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="National" formControlName="national"
                        matTooltip="{{getToolTipData(wil.get('national').value, wil.controls['list_national'].value)}}">
                        <mat-option *ngFor="let item of wil.controls['list_national'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['national'].hasError('required') && wil.controls['national'].touched">
                        National harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Zone" formControlName="zone"
                        matTooltip="{{getToolTipData(wil.get('zone').value, wil.controls['list_zone'].value)}}"
                        (selectionChange)="generataList('region', wil.get('zone').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_zone'].value" [value]="item.id">{{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="wil.controls['zone'].hasError('required') && wil.controls['zone'].touched">
                        Zone harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Regional" formControlName="region"
                        matTooltip="{{getToolTipData(wil.get('region').value, wil.controls['list_region'].value)}}"
                        (selectionChange)="generataList('area', wil.get('region').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_region'].value" [value]="item.id">
                          {{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="wil.controls['region'].hasError('required') && wil.controls['region'].touched">
                        Regional harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Area" formControlName="area"
                        matTooltip="{{getToolTipData(wil.get('area').value, wil.controls['list_area'].value)}}"
                        (selectionChange)="generataList('salespoint', wil.get('area').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_area'].value" [value]="item.id">{{item.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="wil.controls['area'].hasError('required') && wil.controls['area'].touched">
                        Area harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Salespoint" formControlName="salespoint"
                        matTooltip="{{getToolTipData(wil.get('salespoint').value, wil.controls['list_salespoint'].value)}}"
                        (selectionChange)="generataList('district', wil.get('salespoint').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_salespoint'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['salespoint'].hasError('required') && wil.controls['salespoint'].touched">
                        Salespoint harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="District" formControlName="district"
                        matTooltip="{{getToolTipData(wil.get('district').value, wil.controls['list_district'].value)}}"
                        (selectionChange)="generataList('territory', wil.get('district').value, i, 'selection')">
                        <mat-option *ngFor="let item of wil.controls['list_district'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['district'].hasError('required') && wil.controls['district'].touched">
                        Distrik harus diisi
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="31%" class="is-light form-primary">
                      <mat-select placeholder="Territory" formControlName="territory"
                        matTooltip="{{getToolTipData(wil.get('territory').value, wil.controls['list_territory'].value)}}">
                        <mat-option *ngFor="let item of wil.controls['list_territory'].value" [value]="item.id">
                          {{item.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="wil.controls['territory'].hasError('required') && wil.controls['territory'].touched">
                        Territori harus diisi
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="confirm p-24" fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button type="button" class="confirmation-button" (click)="submit()" fxFlex="20">
            SIMPAN
          </button>
        </div>
      </form>
    </div>
  </div>
</div>