<div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
  <h2 class="pl-8">Data Log</h2>
  <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>search</mat-icon>
    <mat-form-field autoComplete="off" class="is-light tab-search">
      <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUp.next($event.target.value)">
    </mat-form-field>
  </div>
</div>
<ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows"
  [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
  [rowHeight]="auto" [scrollbarH]="true" [offset]="offsetPagination" [reorderable]="reorderable"
  [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
  (page)="setPage($event)" (sort)="onSort($event)">

  // TODO: UBAH semua prop
  <ngx-datatable-column [width]="200" name="Program Name" prop="name">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" name="Salestree" prop="retailer_menukarkan_koin">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" name="WBS" prop="jml_koin_yang_sudah_ditukar">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" name="Number Row" prop="jml_src_yang_menukar_saldo_pojok_bayar">
  </ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Total Value" prop="jml_src_yang_menukar_transfer_bank">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" name="PIC" prop="jml_coin_yang_ditukar_saldo_pojok_bayar">
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="false" name="Status" prop="status">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <div class="name-container">
        <p class="status text-truncate h6 p-4 status-order mat-green-800-bg" style="text-transform: capitalize;"
          *ngIf="row.status == 'publish'">
          {{row.status}}
        </p>
        <p class="status text-truncate h6 p-4 status-order mat-yellow-900-bg" style="text-transform: capitalize;"
          *ngIf="row.status == 'unpublish'">
          {{row.status}}
        </p>
        <p class="status text-truncate h6 p-4 status-order mat-orange-900-bg" style="text-transform: capitalize;"
          *ngIf="row.status == 'draft'">
          {{row.status}}
        </p>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [width]="200" name="Progress" prop="jml_coin_yang_ditukar_saldo_pojok_bayar">
  </ngx-datatable-column>
</ngx-datatable>