<div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
  <h2 class="pl-8">Data Log</h2>
  <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>search</mat-icon>
    <mat-form-field autoComplete="off" class="is-light tab-search">
      <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="keyUp.next($event.target.value)">
    </mat-form-field>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button type="button" class="is-danger mr-24 mb-24" (click)="onDocUpload()">
    <mat-icon>arrow_downward</mat-icon> {{'global.button.import' | translate}} XLSX
  </button>
</div>
<ngx-datatable class="material" style="border-top: 1px solid #e3e3e3" [rows]="rows"
  [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48" [footerHeight]="56"
  [rowHeight]="auto" [scrollbarH]="true" [offset]="offsetPagination" [reorderable]="reorderable"
  [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
  (page)="setPage($event)" (sort)="onSort($event)">

  <ngx-datatable-column [width]="100" name="ID Cron" prop="id"></ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Tanggal Cron" prop="date"></ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Program Name" prop="trade_program_name"></ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="WBS" prop="sub_group_trade_program_wbs"></ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Budget Owner Name" prop="approver_name">
  </ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Budget Approval Status" prop="status">
  </ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Payment Status" prop="status_payment">
  </ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Total Value" prop="total_value">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <span>{{ row.total_value | rupiahFormaterWithoutRp }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Total Request" prop="total_request">
  </ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="Progress" prop="payment_progress">
  </ngx-datatable-column>

  <ngx-datatable-column [width]="250" name="Tindakan" headerClass="textright" [sortable]="false">
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value" style="justify-content: center !important">
      <div class="button-row">
        <button id="btn-export" type="button" mat-icon-button color="" matTooltip="Export" (click)="download(row)">
          <mat-icon class="orange-500-fg">save_alt</mat-icon>
        </button>
        <button id="btn-import" type="button" mat-icon-button color="" matTooltip="import" (click)="onDocUpload(row)">
          <mat-icon>file_upload</mat-icon>
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<a #downloadDataLog></a>