<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="ls.locale.global.button.edit + ' ' + ls.locale.pengajuan_src.page_title">
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">

      <form [formGroup]="formPengajuanSrc">
        <!-- <div class="ayo-top" fxLayout="row" fxLayoutAlign="space-between center">
          <h3>Ubah Pengajuan SRC</h3>
        </div> -->
        <mat-tab-group>
          <mat-tab label="{{ ls.locale.pengajuan_src.submission_info }}">
            <div class="ayo-middle pt-24" fxLayout="column">
              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="{{ ls.locale.global.label.store_name }}"
                  formControlName="name">
                <mat-error
                  *ngIf="formPengajuanSrc.controls['name'].hasError('required') && formPengajuanSrc.controls['name'].touched ">
                  {{ ls.locale.global.label.store_name }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="{{ ls.locale.global.label.address }}"
                  formControlName="address">
                <mat-error
                  *ngIf="formPengajuanSrc.controls['address'].hasError('required') && formPengajuanSrc.controls['address'].touched ">
                  {{ ls.locale.global.label.address }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <mat-select placeholder="{{ ls.locale.global.label.Province }}" formControlName="province_id">
                  <mat-option *ngFor="let item of listProvinces" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formPengajuanSrc.controls['province_id'].hasError('required') && formPengajuanSrc.controls['province_id'].touched ">
                  {{ ls.locale.global.label.Province }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <mat-select placeholder="{{ ls.locale.global.label.city_county }}" formControlName="city_id">
                  <mat-option *ngFor="let item of listCities" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formPengajuanSrc.controls['city_id'].hasError('required') && formPengajuanSrc.controls['city_id'].touched ">
                  {{ ls.locale.global.label.city_county }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <mat-select placeholder="{{ ls.locale.global.label.district }}" formControlName="district_id">
                  <mat-option *ngFor="let item of listDistricts" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formPengajuanSrc.controls['district_id'].hasError('required') && formPengajuanSrc.controls['district_id'].touched ">
                  {{ ls.locale.global.label.district }} {{ ls.locale.global.messages.mandatory_text }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="{{ ls.locale.pengajuan_src.gps_coor }} (Latitude)"
                  formControlName="lat">
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="{{ ls.locale.pengajuan_src.gps_coor }} (Longitude)"
                  formControlName="lng">
              </mat-form-field>

              <div fxFlex="1 0 auto" fxLayout="column">
                <mat-form-field fxFlex="100" class="is-light">
                  <input matInput type="text" placeholder="{{ ls.locale.global.label.owner_name }}"
                    formControlName="owner">
                  <mat-error
                    *ngIf="formPengajuanSrc.controls['owner'].hasError('required') && formPengajuanSrc.controls['owner'].touched ">
                    {{ ls.locale.global.label.owner_name }} {{ ls.locale.global.messages.mandatory_text }}
                  </mat-error>
                </mat-form-field>
                <div fxLayout="row">
                  <mat-form-field fxFlex="7" fxFlex.xs="30" class="form-primary">
                    <input matInput value="{{ ls.locale.global.country_calling_code }}" readonly>
                  </mat-form-field>
                  <mat-form-field fxFlex="93" class="is-light">
                    <input matInput placeholder="{{ ls.locale.pengajuan_src.owner_phone }}" formControlName="phone"
                      type="tel" min="0">
                    <mat-error
                      *ngIf="formPengajuanSrc.controls['phone'].hasError('required') && formPengajuanSrc.controls['phone'].touched ">
                      {{ ls.locale.global.label.phone }} {{ ls.locale.global.messages.mandatory_text }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="column" style="margin-bottom: 20px;">
                  <h4 style="margin-bottom: 3px;">{{ ls.locale.pengajuan_src.selling_product }}</h4>
                  <mat-checkbox fxFlex *ngFor="let item of listProducts" (click)="addToProducts(item)"
                    class="example-margin" [checked]="productChecked[item ? item.toLowerCase() : '']">{{ item }}
                  </mat-checkbox>
                </div>
                <mat-form-field fxFlex="100" class="is-light">
                  <mat-select placeholder="{{ ls.locale.pengajuan_src.src_information }}" formControlName="source">
                    <mat-option *ngFor="let item of listSources" [value]="item">{{item}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formPengajuanSrc.controls['source'].hasError('required') && formPengajuanSrc.controls['source'].touched ">
                    {{ ls.locale.pengajuan_src.source }} {{ ls.locale.global.messages.mandatory_text }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light">
                  <mat-select placeholder="Channel ?" formControlName="channel">
                    <mat-option *ngFor="let item of listChannel" [value]="item">{{item}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formPengajuanSrc.controls['channel'].hasError('required') && formPengajuanSrc.controls['channel'].touched ">
                    Channel {{ ls.locale.global.messages.mandatory_text }}
                  </mat-error>
                </mat-form-field>

                <div fxLayout="row" fxFlex="100" style="margin-bottom: 20px;">
                  <div fxFlex="30">
                    <mat-checkbox class="mt-4 ml-4 mb-8" formControlName="snk">
                      {{ ls.locale.pengajuan_src.approval_tnc }}</mat-checkbox>
                  </div>
                  <div fxFlex="30">
                    <mat-checkbox class="mt-4 ml-4 mb-8" formControlName="pnp">
                      {{ ls.locale.pengajuan_src.approval_pp }}</mat-checkbox>
                  </div>
                </div>

                <div class="confirm btn-confirm" fxLayout="row" fxLayoutGap="25px">
                  <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()"
                    [disabled]="submitting">
                    <ng-container *ngIf="!submitting">
                      {{ ls.locale.global.button.save }}
                    </ng-container>
                    <ng-container *ngIf="submitting">
                      <mat-progress-spinner mode="indeterminate" diameter="32" style="margin:0 auto;">
                      </mat-progress-spinner>
                    </ng-container>
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{ ls.locale.pengajuan_src.store_image }}">
            <div fxFlex="1 0 auto" fxLayout="column" style="margin-bottom: 15px;margin-top: 25px;">
              <div class="px-24">
                <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
                  accept="image/*" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
                  (fileChange)="changeImage($event)">
                  <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline
                    </mat-icon>
                    <br>
                    <span matPrefix>{{ ls.locale.pengajuan_src.upload_store_image }}</span>
                    <span matPrefix>{{ ls.locale.pengajuan_src.max_image }}</span>
                  </div>
                </div>
                <div fxFlex fxLayout="column" fxLayoutAlign="center center" *ngIf="image" ngfDrop selectable="1"
                  [(validDrag)]="validComboDrag" [(file)]="files" accept="image/*"
                  [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
                  (fileChange)="changeImage($event)" style="margin-top: 25px;">
                  <img [src]="image" alt="" style="max-height: 280px;max-width: 100%;">
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </div>
  </div>
</div>