<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Detil Pengatur Jadwal Trade Program'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column" fusePerfectScrollbar>
      <form autocomplete="off">
        <div class="px-24" fxLayout="row" fxLayoutAlign="space-between center">
          <h2>Detil Pengatur Jadwal Trade Program</h2>
          <div *ngIf="dataScheduler['audience']">
            <button *ngIf="permission?.lihat" mat-button style="border: 1px solid; margin-right: 10px"
              (click)="export()">
              <mat-icon>arrow_upward</mat-icon>
              EXPORT COIN
            </button>
            <a #downloadLink></a>
            <button *ngIf="permission?.buat" mat-button style="border: 1px solid" (click)="import()">
              <mat-icon>arrow_downward</mat-icon>
              IMPORT COIN
            </button>
          </div>
        </div>
        <div class="ayo-middle py-24" fxLayout="column">
          <div fxLayout="row" class="px-24">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input matInput type="text" placeholder="Nama Pengatur Jadwal Program Dagang"
                [value]="dataScheduler['name']" name="name" disabled>
            </mat-form-field>
          </div>

          <div fxLayout="row" class="px-24">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select [value]="dataScheduler['trade_creator_id']" placeholder="Trade Program"
                name="trade_creator_id" disabled>
                <mat-option *ngFor="let item of listTradeProgram" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="py-8 px-24" *ngIf="dataScheduler['audience']">

            <div fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Audience</strong>
              </h3>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" placeholder="Audience / Grup" [value]="dataScheduler['audience'].name"
                  disabled>
                <button mat-button matTooltip="Lihat daftar audience"
                  (click)="openListAudience(dataScheduler['audience'])" matSuffix mat-icon-button>
                  <mat-icon class="s-24">view_list</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <div class="py-8 px-24">

            <div fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">
                <strong>Estimasi Budget</strong>
              </h3>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-24" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" placeholder="Permintaan Dana"
                  [value]="dataScheduler['budget_request'] | rupiahFormater" disabled>
              </mat-form-field>
              <mat-form-field fxFlex="45%" class="is-light form-primary">
                <input matInput type="text" placeholder="Dana Trade Program"
                  [value]="dataScheduler['budget_trade_program'] | rupiahFormater" disabled>
              </mat-form-field>
            </div>
          </div>

          <div class="py-24" *ngFor="let item of dataScheduler['templates']; let i = index;">

            <div>
              <div class="py-2 template-task" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex="20">
                  <h3 class="">Template Tugas</h3>
                </div>
                <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="end center" fxLayout.lt-md="column"
                  fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                  <h3 *ngIf="item.is_verification_ir">
                    <mat-slide-toggle disabled [checked]="item.is_verification_ir == 1 ? true : false">Verifikasi Oleh
                      IR</mat-slide-toggle>
                  </h3>
                  <h3>
                    <mat-slide-toggle disabled [checked]="item.is_verification_hq == 1 ? true : false">Verifikasi Oleh
                      HQ</mat-slide-toggle>
                  </h3>
                  <h3>
                    <mat-slide-toggle disabled [checked]="item.is_verification_toggle">Perlu Verifikasi
                    </mat-slide-toggle>
                  </h3>
                  <h3>
                    <mat-slide-toggle disabled [checked]="item.is_verification">Push to FF?</mat-slide-toggle>
                  </h3>
                </div>
              </div>
              <div fxLayout="row wrap" fxLayout.lt-md="column" class="p-24" fxLayoutGap="25px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" placeholder="Template Tugas" [value]="item.task_template_name" disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="item.coin_delivered"
                    placeholder="Nilai Coin Tugas Terkirim" disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="item.coin_approved"
                    placeholder="Nilai Coin Tugas Disetujui" disabled>
                </mat-form-field>
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" [value]="item.start_date | dateToMoment" placeholder="Tanggal Mulai"
                    disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
                <mat-form-field fxFlex="47%" class="is-light form-primary">
                  <input matInput type="text" [value]="item.end_date | dateToMoment" placeholder="Tanggal Berakhir"
                    disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" placeholder="Link Misi" [value]="item.link_misi" disabled #linkMisi>
                  <mat-icon matSuffix (click)="copyMessage(item.link_misi)" style="cursor: pointer;"
                    matTooltip="Salin Link Misi">content_copy
                  </mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="item.backup">
              <mat-divider style="border-top-style: dashed"></mat-divider>
              <h3 class="px-24 text-bold">Backup Task</h3>
              <mat-divider style="border-top-style: dashed"></mat-divider>

              <div class="p-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="25px" fxLayoutGap.lt-md="0px"
                fxLayoutAlign="start end">
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" placeholder="Template Tugas (Backup)" [value]="item.backup?.name"
                    disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="item.backup?.coin_delivered"
                    placeholder="Nilai Coin Tugas Terkirim (Backup)" disabled>
                </mat-form-field>

                <mat-form-field fxFlex="22%" class="is-light form-primary">
                  <input matInput type="text" min="0" [value]="item.backup?.coin_approved"
                    placeholder="Nilai Coin Tugas Disetujui (Backup)" disabled>
                </mat-form-field>
                <mat-form-field fxFlex="45%" class="is-light form-primary">
                  <input matInput type="text" [value]="item.backup?.start_date | dateToMoment"
                    placeholder="Tanggal Mulai (Backup)" disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
                <mat-form-field fxFlex="47%" class="is-light form-primary">
                  <input matInput type="text" [value]="item.backup?.end_date | dateToMoment"
                    placeholder="Tanggal Berakhir (Backup)" disabled>
                  <mat-icon matSuffix>date_range</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="confirm p-24"
          *ngIf="dataScheduler['trade_audience_group_id'] && dataScheduler['status_scheduler'] === 'draft'"
          fxLayout="row" fxLayoutGap="20px">
          <!-- <button mat-raised-button type="button" class="confirmation-button" (click)="submit()" fxFlex="20">
            REJECT
          </button> -->

          <button mat-raised-button type="button" class="confirmation-button" (click)="submit('publish')" fxFlex="20">
            SETUJUI
          </button>
        </div>

        <div class="confirm p-24" *ngIf="dataScheduler['status_scheduler'] === 'publish'" fxLayout="row"
          fxLayoutGap="20px">
          <button mat-raised-button type="button" class="confirmation-button" (click)="submit('unpublish')" fxFlex="20">
            UNPUBLISH
          </button>
        </div>
      </form>
    </div>
  </div>
</div>