<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="m-0" fxFlex="1 0 auto" fxLayout="row">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span>Unggah File XLS</span>
      </div>

    </div>
    <!-- CLOSE DIALOG BUTTON -->
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog" [disabled]="uploading">
      <mat-icon>close</mat-icon>
    </button>
    <!-- / CLOSE DIALOG BUTTON -->

  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <div id="import-coin" ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
      accept=".xlsx, .xls" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
      (fileChange)="preview($event)">
      <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="secondary-text s-48">attach_file</mat-icon>
        <br>
        <span matPrefix>Tarik File Kesini atau
          <strong>Pilih File</strong>
        </span>
      </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="requestingPreview">
      <div fxFlex>
        <span for="" style="font-weight: bolder;">Requesting Preview</span>
        <mat-progress-spinner mode="indeterminate" diameter="32" style="margin:0 auto;"></mat-progress-spinner>
      </div>
    </div>

    <!-- DATATABLE -->
    <ngx-datatable *ngIf="!requestingPreview" #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
      [selectionType]="'checkbox'" [count]="previewPagination.total" [limit]="previewPagination.per_page"
      [offset]="offsetPagination" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)">
      <ngx-datatable-column name="Nama Group Trade Program" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.group_trade_program_name}}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Nama Program" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.trade_program_name}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Nama Audience" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.audience_name}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Nama Retailer" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.name}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status Retailer" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.status}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Current Coin (Total)" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.current_coin}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Current Coin (Group Trade Program)" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.current_coin_group_trade_program}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Coin Adjusted" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.coin}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Alasan" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.flag_reason}}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  <!--/ DATATABLE -->
  </div>

  <div class="border-top">
    <div fxLayout="row" style="margin-left: 16px;margin-top: 5px;">
      <mat-form-field fxFlex="50" class="is-light form-primary">
        <textarea id="alasanAdjustmentCoin" matInput rows="2" placeholder="Alasan Adjusment Coin" [formControl]="textReason"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="50"
      style="margin-left: 16px;margin-top: 5px;border: 1px solid #ddd; position: relative;" class="p-8">
      <span class="opsi-type">Notifikasi</span>
      <form [formGroup]="formNotifikasi">
        <mat-form-field fxLayout="column" fxFlex="100">
          <mat-select formControlName="name" placeholder="Nama User Penerima" id="name" (click)="selectForm('UserPenerima')" (selectionChange)="selectChangeReceiver($event)" #singleSelect>
            <ngx-mat-select-search id="selectSearchUserPenerima" [formControl]="filterUserNames" [placeholderLabel]="'Cari Nama User ...'"
              [noEntriesFoundLabel]="'User Tidak ditemukan!'" [clearSearchInput]="false">
            </ngx-mat-select-search>
            <mat-option *ngFor="let item of filteredUserNames | async" [value]="item.id">
              {{item.fullname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxLayout="column" fxFlex="100">
          <input id="emailPenerima" matInput type="text" placeholder="Email Penerima" formControlName="email" name="email">
        </mat-form-field>
      </form>
    </div>
    <div class="p-8">
      <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutGap="20px"
        fxLayoutGap.lt-md="10px" fxFlex="1 0 auto">
        <button id="btn-submit-import" type="button" mat-raised-button color="primary" (click)="submit()"
          [disabled]="rows.length === 0 || !isValid || requestingPreview || loadingIndicator || importing || requestingImport">Kirim</button>
        <button id="btnBatalImportCoin" type="button" mat-stroked-button color="primary" (click)="dialogRef.close()"
          [disabled]="uploading">Batal</button>
      </div>
    </div>
  </div>
</div>