<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="m-0" fxFlex="1 0 auto" fxLayout="row">

    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span>{{ls.locale.global.label.upload_file}} XLS</span>
      </div>

    </div>
    <!-- CLOSE DIALOG BUTTON -->
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog" [disabled]="uploading">
      <mat-icon>close</mat-icon>
    </button>
    <!-- / CLOSE DIALOG BUTTON -->

  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <div id="import-coin" ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
      accept=".xlsx, .xls" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
      (fileChange)="preview($event)">
      <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="secondary-text s-48">attach_file</mat-icon>
        <br>
        <span matPrefix>{{ls.locale.global.messages.file_browse_label}}
           
        </span>
      </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="requestingPreview">
      <div fxFlex>
        <span for="" style="font-weight: bolder;">Requesting Preview</span>
        <mat-progress-spinner mode="indeterminate" diameter="32" style="margin:0 auto;"></mat-progress-spinner>
      </div>
    </div>

    <!-- DATATABLE -->
    <ngx-datatable *ngIf="!requestingPreview" #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
      [selectionType]="'checkbox'" [count]="previewPagination.total" [limit]="previewPagination.per_page"
      [offset]="offsetPagination" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)">
      <ngx-datatable-column name="Nama Group Trade Program" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.group_trade_program_name}}
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Nama Program" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.trade_program_name}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Nama Audience" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.audience_name}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Nama Retailer" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.name}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status Retailer" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.status}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Current Coin (Total)" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.current_coin}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Current Coin (Group Trade Program)" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.current_coin_group_trade_program}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Coin Adjusted" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.preview.coin}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Alasan" prop="trade_creator_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{row.flag_reason}}
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  <!--/ DATATABLE -->
  </div>

  <div class="border-top">
    <div fxLayout="row" style="margin-left: 16px;margin-top: 5px;">
      <mat-form-field fxFlex="50" class="is-light form-primary">
        <textarea id="alasanAdjustmentCoin" matInput rows="2" placeholder="Alasan Adjusment Coin" [formControl]="textReason"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="80" style="border: 1px solid #ddd;" class="approval p-8 m-16">
      <span class="approval__title">Approval</span>
      <form [formGroup]="formNotifikasi">
        <div formArrayName="approval" *ngFor="let item of formNotifikasi.get('approval')['controls']; let idx=index;">
          <div [formGroupName]="idx" class="approval__content">
            <span class="approval__number" fxFlex="25px">{{ idx+1 }}.</span>
            <mat-form-field fxFlex="200px" id="contoh-id">
              <mat-select
                formControlName="name"
                placeholder="Nama User Penerima"
                id="name"
                (click)="selectForm('UserPenerima')"
                (selectionChange)="selectChangeReceiver($event, idx)"
                (openedChange)="onOpenedChange($event, 'select_approval', idx)"
                #select_approval
              >
                <ngx-mat-select-search
                  id="selectSearchUserPenerima"
                  [formControl]="filterUserNames"
                  [placeholderLabel]="'Cari Nama User ...'"
                  [noEntriesFoundLabel]="'User Tidak ditemukan!'"
                >
                </ngx-mat-select-search>
                <mat-option *ngFor="let item of filteredUserNames | async" [value]="item.id" [disabled]="isApprovalUsed(item.id)">
                  {{item.fullname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="200px">
              <input id="emailPenerima" matInput type="text" placeholder="Email Penerima" formControlName="email" name="email">
            </mat-form-field>
            <div>
              <button
                mat-icon-button
                matTooltip="Tambah"
                matTooltipPosition="below"
                (click)="addApproval(idx)"
              >
                <mat-icon class="approval__button">add</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Hapus"
                matTooltipPosition="below"
                (click)="removeApproval(idx)"
                *ngIf="formNotifikasi.get('approval').length > 1"
              >
                <mat-icon class="approval__button">remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="p-8">
      <div fxFlexLayout="row" fxLayoutAlign="start center" fxLayout.lt-md="row" fxLayoutGap="20px"
        fxLayoutGap.lt-md="10px" fxFlex="1 0 auto">
        <button id="btn-submit-import" type="button" mat-raised-button color="primary" (click)="submit()"
          [disabled]="rows.length === 0 || !isValid || requestingPreview || loadingIndicator || importing || requestingImport">{{ls.locale.global.button.send}}</button>
        <button id="btnBatalImportCoin" type="button" mat-stroked-button color="primary" (click)="dialogRef.close()"
          [disabled]="uploading">Batal</button>
      </div>
    </div>
  </div>
</div>