<div class="page-layout simple fullwidth" fxLayout="column">
  <!-- HEADER -->
  <page-content-header [contentTitle]="(isDetail ? 'Detil' : 'Ubah') +' Group Trade Program'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="">{{ isDetail ? 'Detil' : 'Ubah' }} Group Trade Program</h2>
        <mat-form-field [class]="formStatus.value === 'active' ? 'radius-select green' : 'radius-select red'">
          <mat-select [formControl]="formStatus">
            <mat-option [value]="status.value" *ngFor="let status of listStatus">{{status.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ayo-middle py-24" fxLayout="column">
        <form autocomplete="off" [formGroup]="formGroupTradeProgram">
          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input matInput type="text" formControlName="name" placeholder="Nama Group Trade Program">
              <mat-error
                *ngIf="formGroupTradeProgram.controls['name'].hasError('required') && formGroupTradeProgram.controls['name'].touched">
                Nama Group Trade Program harus diisi
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column" style="margin-bottom: 15px;">
            <mat-checkbox class="mt-4 ml-4 mb-8" formControlName="user_group"> Merupakan Group Trade Program Principal
              Non HMS
            </mat-checkbox>
            <!-- <div class="" fxLayout="row" fxLayoutAlign="start center">
              <strong class="font-size-16">Tipe</strong>
            </div>
            <mat-radio-group formControlName="user_group" class="radio-group">
              <mat-radio-button class="radio-button" *ngFor="let item of listUserGroup" [value]="item.value">
                {{item.name}}
              </mat-radio-button>
            </mat-radio-group>
            <mat-error
              *ngIf="formGroupTradeProgram.controls['user_group'].hasError('required') && formGroupTradeProgram.controls['user_group'].touched">
              Tipe harus diisi
            </mat-error> -->
          </div>
          <div fxLayout="row" *ngIf="formGroupTradeProgram.get('user_group').value">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input matInput type="text" formControlName="principal" placeholder="Nama Principal">
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
              [accept]="'image/*'" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
              (fileChange)="changeImage($event)">
              <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline</mat-icon>
                <br>
                <span matPrefix>Tarik Gambar Kesini atau
                  <strong>Pilih File</strong>
                </span>
                <span matPrefix>Ukuran 410x210 piksel, Maksimum 2mb</span>
              </div>
            </div>

            <div *ngIf="files" class="pt-48">
              <div class="">
                <div class="delete">
                  <mat-icon style="cursor: pointer;" (click)="removeImage()">cancel_outline</mat-icon>
                </div>
                <!-- <div class="previewIcon" [ngfBackground]="files"></div> -->
                <div class="image-sku">
                  <img id="image" [src]='imageSku' />
                </div>
              </div>
            </div>
            <div *ngIf="!files && detailGroupTradeProgram" class="pt-48">
              <div class="image-sku-review">
                <img class="" [src]="detailGroupTradeProgram.image_url">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px" *ngIf="!isDetail">
      <button mat-raised-button type="button" class="confirmation-button" (click)="submit()" fxFlex="20">
        SIMPAN
      </button>
    </div>
    <a #downloadLink></a>
  </div>
</div>
<p>
  group-trade-program-edit works!
</p>