<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header
    [contentTitle]="isDetail ? ls.locale.pengaturan.akses_karyawan.text12 : ls.locale.pengaturan.akses_karyawan.text11">
  </page-content-header>

  <div class="content p-24" *ngIf="!onLoad">
    <div class="ayo-main-wrapper mat-bg-white">
      <form autocomplete="off" [formGroup]="formRolesGroup">
        <div fxLayout="row" class="px-16 pt-24 pb-8" fxLayoutAlign="start center">
          <mat-form-field class="is-light form-primary" fxFlex="50">
            <input matInput type="text" formControlName="name"
              placeholder="{{ ls.locale.pengaturan.akses_karyawan.text8 }}">
            <mat-error *ngIf="formRolesError.name.required">
              {{ ls.locale.pengaturan.akses_karyawan.text8 }} {{ ls.locale.global.messages.mandatory_text }}
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div fxLayout="row wrap" fxLayout.lt-md="column" class="pb-16 px-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="National" formControlName="national">
              <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRolesGroup.controls['national'].hasError('required') && formRolesGroup.controls['national'].touched">
              National harus diisi
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Zone" formControlName="zone" (selectionChange)="getAudienceArea('region', formRolesGroup.get('zone').value)">
              <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRolesGroup.controls['zone'].hasError('required') && formRolesGroup.controls['zone'].touched">
              Zone harus diisi
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Regional" formControlName="region" (selectionChange)="getAudienceArea('area', formRolesGroup.get('region').value)">
              <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRolesGroup.controls['region'].hasError('required') && formRolesGroup.controls['region'].touched">
              Regional harus diisi
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Area" formControlName="area" (selectionChange)="getAudienceArea('salespoint', formRolesGroup.get('area').value)">
              <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRolesGroup.controls['area'].hasError('required') && formRolesGroup.controls['area'].touched">
              Area harus diisi
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Salespoint" formControlName="salespoint" (selectionChange)="getAudienceArea('district', formRolesGroup.get('salespoint').value)">
              <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRolesGroup.controls['salespoint'].hasError('required') && formRolesGroup.controls['salespoint'].touched">
              Salespoint harus diisi
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="District" formControlName="district" (selectionChange)="getAudienceArea('territory', formRolesGroup.get('district').value)">
              <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRolesGroup.controls['district'].hasError('required') && formRolesGroup.controls['district'].touched">
              Distrik harus diisi
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="Territory" formControlName="territory">
              <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="formRolesGroup.controls['territory'].hasError('required') && formRolesGroup.controls['territory'].touched">
              Territori harus diisi
            </mat-error>
          </mat-form-field>
        </div> -->
      </form>
      <mat-divider></mat-divider>
      <div class="ayo-content-middle pb-48">

        <div *ngFor="let role of roles;">
          <div class="faq" fxLayout="row wrap">
            <div class="title" fxFlex="100">{{role.nama | toCapitalize}}</div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="30" *ngFor="let items of role.menu; let i = index;"
              [ngClass]="i%3 !== 2 ? 'line' : ''">
              <div class="question"
                *ngIf="items.nama !== 'approval coin adjustment' && items.nama !== 'task verification'">{{items.nama |
                toCapitalize}}
              </div>
              <div class="answer"
                *ngIf="items.nama !== 'approval coin adjustment' && items.nama !== 'task verification'">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="25" *ngFor="let item of items.value">
                    <div class="access-name" *ngIf="item.nama == 'gsw'">{{item.nama | uppercase}}</div>
                    <div class="access-name" *ngIf="item.nama !== 'gsw'">{{item.nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="item.status"
                      [disabled]="isDetail" (change)="onToggleChange(item, items, role, $event)"></mat-slide-toggle>
                    <!-- <div class="access-name">{{item.nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="item.status"
                      [disabled]="isDetail" (change)="onToggleChange(item, items, role, $event)"></mat-slide-toggle> -->
                  </div>
                </div>
              </div>

              <!-- Kondisi Khusus Coin Adjustment Approval -->
              <div class="question" *ngIf="items.nama == 'approval coin adjustment'">{{'Coin Adjustment Approval' |
                toCapitalize}}</div>
              <div class="answer mb-16" *ngIf="items.nama == 'approval coin adjustment'">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[0].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[0].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[1].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[1].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="question" *ngIf="items.nama == 'approval coin adjustment'">{{'Notifikasi Approval' |
                toCapitalize}}</div>
              <div class="answer mb-16" *ngIf="items.nama == 'approval coin adjustment'">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[2].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[2].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[3].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[3].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <!-- End Kondisi Khusus Coin Approval Adjustment -->

              <!-- Kondisi Khusus Task Verification -->
              <div class="question" *ngIf="items.nama == 'task verification'">{{'Verifikasi Misi' | toCapitalize}}</div>
              <div class="answer mb-16" *ngIf="items.nama == 'task verification'">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[0].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[0].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[1].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[1].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="question" *ngIf="items.nama == 'task verification'">{{'Verifikasi Misi - All' | toCapitalize}}
              </div>
              <div class="answer mb-16" *ngIf="items.nama == 'task verification'">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[2].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[2].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <div class="question" *ngIf="items.nama == 'task verification'">{{'Release Coin' | toCapitalize}}</div>
              <div class="answer" *ngIf="items.nama == 'task verification'">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                  <div fxFlex="25">
                    <div class="access-name">{{items.value[3].nama | toCapitalize}}</div>
                    <mat-slide-toggle class="example-margin" [color]="'primary'" [(ngModel)]="items.value[3].status"
                      [disabled]="isDetail"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <!-- End Kondisi Khusus Task Verification -->
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isDetail" class="confirm pl-16 pt-8 pb-24" fxLayout="row">
        <button mat-raised-button type="password" type="button" class="confirmation-button" fxFlex="25"
          (click)="submit()">
          {{ ls.locale.global.button.save }}
        </button>
      </div>
    </div>
  </div>
</div>