<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h2 id="header-card-mission" class="">Pengaturan Misi</h2>

  <mat-dialog-content class="pb-16">
    <div class="pb-16" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
      <mat-checkbox id="pin-up" [formControl]="status_pin_up" name="status_pin_up">Pin Up Misi</mat-checkbox>
      <mat-checkbox id="nonCoinReward" [formControl]="non_coin_reward" name="non_coin_reward" (change)="selectChange($event)">
        Reward Hadiah (Non Coin)
      </mat-checkbox>
      <mat-checkbox id="auto-submit" [formControl]="auto_submit" name="auto_submit">Auto Submit</mat-checkbox>
    </div>

    <div style="width: 50%" *ngIf="form.value.non_coin_reward">
      <mat-form-field style="width: 100%">
        <input id="rewardDescription" matInput type="text" maxlength="20" formControlName="reward_description" placeholder="Keterangan Reward" (change)="changeRewardDesc($event)" />
      </mat-form-field>
      <div class="mat-error" style="font-size: 14px; margin-top: -10px;" *ngIf="isRewardError">
        Keterangan harus diisi
      </div>
    </div>

    <mat-form-field style="width: 100%">
      <mat-select formControlName="task_template_id" placeholder="Pilih Template Misi" id="task-template-id" (click)="selectForm('template')"
        (selectionChange)="selectChangeMisi($event)" #singleSelect>
        <ngx-mat-select-search id="select-search-template" [formControl]="filterMission" [placeholderLabel]="'Cari Template Misi...'"
          [noEntriesFoundLabel]="'Tidak ada Template Misi yang ditemukan'" [clearSearchInput]="false">
        </ngx-mat-select-search>
        <mat-option *ngFor="let item of filteredMission | async" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-select formControlName="task_template_other_name_id" placeholder="Pilih Nama Lain Misi"
        id="task-template-other-name-id" (click)="selectForm('namaLain')" (selectionChange)="selectChangeMisiOtherName($event)" #singleSelect>
        <ngx-mat-select-search id="select-search-nama_lain" [formControl]="filterMissionOther" [placeholderLabel]="'Cari Nama Lain Misi...'"
          [noEntriesFoundLabel]="'Tidak ada Nama Lain Misi yang ditemukan'" [clearSearchInput]="false">
        </ngx-mat-select-search>
        <mat-option *ngFor="let item of filteredMissionOther | async" [value]="item.id">
          {{item.other_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input id="start-date" matInput formControlName="start_date" placeholder="Tanggal Awal" [matDatepicker]="start_date"
        (focus)="start_date.open()" [min]="minDate" [max]="maxDate" readonly />
      <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
      <mat-datepicker #start_date></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input id="end-date" matInput formControlName="end_date" placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text16}}" [matDatepicker]="end_date"
        (focus)="end_date.open()" [min]="minDate" [max]="maxDate" readonly />
      <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
      <mat-datepicker #end_date></mat-datepicker>
    </mat-form-field>

    Push To FF
    <mat-slide-toggle id="toggle-pushToFF" style="margin-right: 20px" [formControl]="pushFF" name="push-to-ff"
      (change)="selectChange($event)" [disabled]="form.value.is_ir_template === 1"></mat-slide-toggle>

    Verifikasi FF
    <mat-slide-toggle id="toggle-verifikasiFF" style="margin-right: 20px" [formControl]="verifikasiFF" name="verifikasi-ff"
      (change)="selectChange($event)" [disabled]="form.value.is_ir_template === 1"></mat-slide-toggle>

    Verifikasi Manual
    <mat-slide-toggle id="toggle-verifikasiManual" style="margin-right: 20px" [formControl]="verifikasi" name="verifikasi"
      (change)="selectChange($event)" [disabled]="form.value.is_ir_template === 1"></mat-slide-toggle>

    <!--Verifikasi IR
    <mat-slide-toggle [formControl]="verifikasiIR" name="verifikasi-ir" (change)="selectChange($event)"></mat-slide-toggle>-->
    <br><br>
    <div *ngIf="form.value.pushFF === false">
      <mat-form-field style="width: 100%">
        <input id="coinSubmission" matInput type="text" (keypress)="numberOnly($event)" formControlName="coin_submission" placeholder="Coin Submission" />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input id="coinVerification" matInput type="text" (keypress)="numberOnly($event)" formControlName="coin_verification" placeholder="Coin Verification" />
      </mat-form-field>
    </div>

    <div *ngIf="form.value.verifikasi">
      <mat-form-field style="width: 100%">
        <input id="xpSubmission" matInput type="text" (keypress)="numberOnly($event)" formControlName="xp_submission" placeholder="XP Submission" />
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input id="xpVerification" matInput type="text" (keypress)="numberOnly($event)" formControlName="xp_verification" placeholder="XP Verification" />
      </mat-form-field>
    </div>

    <div class="pt-16" *ngIf="data.totalMission === 1 && form.value.task_template_id">
      <div class="mb-16">
        Reblast Misi
        <mat-slide-toggle
          id="toggle-reblast"
          style="margin-right: 20px"
          [formControl]="mission_reblast"
          name="reblast-misi"
          (change)="handleVerificationNotes($event.checked)">
        </mat-slide-toggle>
      </div>
      <div *ngIf="form.value.mission_reblast">
        <div
          class="mb-16"
          formArrayName="verification_notes"
          *ngFor="let verif of form.get('verification_notes')['controls']; let verif_index=index;"
        >
          <div [formGroupName]="verif_index" fxLayout="row" style="background-color: #f8f9fa;">
            <div class="px-16 pt-16" style="border-radius: 8px;" fxFlex fxLayout="column">
              <mat-form-field fxFlex>
                <mat-select
                  id="reason"
                  formControlName="reason"
                  placeholder="Alasan"
                  #singleSelect
                >
                  <mat-option *ngFor="let item of rejected_list" [value]="item" [disabled]="checkReason(item)">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input
                  id="detail"
                  matInput
                  formControlName="detail"
                  placeholder="Detail"
                >
              </mat-form-field>
            </div>
            <div fxFlex="none">
              <button
                id="btn-remove"
                mat-icon-button
                type="button"
                (click)="deleteVerifNotes(verif_index)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <button
          id="btn-add-verification"
          type="button"
          mat-raised-button
          color="success"
          (click)="addVerifNotes()"
          [disabled]="form.get('verification_notes')['controls'].length === rejected_list.length"
        >
          Tambah
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <br><br>
  <mat-dialog-actions>
    <button id="btn-submit-card-mission" mat-raised-button color="success" type="submit">Simpan</button>
    <button id="btn-cancel-card-mission" mat-raised-button color="warn" type="button" (click)="dialogRef.close()">Batal</button>
  </mat-dialog-actions>

</form>