<div class="page-layout simple fullwidth" fxLayout="column">
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Buat Audience'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="">Buat Audience</h2> <!-- // TODO -->
      </div>
      <div class="ayo-middle py-24" fxLayout="column">
        <form autocomplete="off" [formGroup]="formAudience">
          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input
                matInput
                type="text"
                formControlName="name"
                placeholder="{{'dte.audience.text4' | translate }}"
              /> <!-- // TODO -->
              <mat-error
                *ngIf="
                  formAudience.controls['name'].hasError('required') &&
                  formAudience.controls['name'].touched
                "
              >
                {{'dte.audience.text4' | translate }} {{'global.messages.mandatory_text'}} <!-- // TODO -->
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row">
            <label id="ts">{{'dte.audience.text5' | translate }} <!-- // TODO --></label>
          </div>

          <div fxLayout="row">
            <mat-radio-group formControlName="audience_type" (change)="tsmOrScheduler()">
              <mat-radio-button
                class="radio-button pr-48"
                *ngFor="let item of tsmScheduler"
                [value]="item.value"
              >
                {{ item.name }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <br>
          
          <div fxLayout="row">
            <mat-radio-group formControlName="limit" (change)="changeValue()">
              <mat-radio-button
                class="radio-button pr-48"
                *ngFor="let item of listType"
                [value]="item.value"
              >
                {{ item.name }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div
            *ngIf="formAudience.get('limit').value === 'limit'"
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            class="py-16"
            fxLayoutGap="60px"
            fxLayoutGap.lt-md="0px"
          >
            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input
                matInput
                type="number"
                min="0"
                placeholder="{{'dte.audience.text9' | translate }}"
                formControlName="min"
                numericOnly
              /> <!-- // TODO -->
              <mat-error
                *ngIf="
                  formAudience.controls['min'].hasError('required') &&
                  formAudience.controls['min'].touched
                "
              >
                {{'dte.audience.text9' | translate }} {{'global.messages.mandatory_text'}} <!-- // TODO -->
              </mat-error>
              <mat-error
                *ngIf="
                  formAudience.controls['min'].hasError('min') &&
                  formAudience.controls['min'].touched
                "
              >
                {{'dte.audience.text9' | translate }} tidak boleh kurang dari 0 <!-- // TODO -->
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="45%" class="is-light form-primary">
              <input
                matInput
                type="number"
                min="0"
                placeholder="{{'dte.audience.text10' | translate }}"
                formControlName="max"
                numericOnly
              /> <!-- // TODO -->
              <mat-error
                *ngIf="
                  formAudience.controls['max'].hasError('required') &&
                  formAudience.controls['max'].touched
                "
              >
                {{'dte.audience.text10' | translate }} {{'global.messages.mandatory_text'}} <!-- // TODO -->
              </mat-error>
              <mat-error
                *ngIf="
                  formAudience.controls['max'].hasError('min') &&
                  formAudience.controls['max'].touched
                "
              >
                {{'dte.audience.text10' | translate }} tidak boleh kurang dari jumlah minimal
                audience <!-- // TODO -->
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" style="margin-bottom: 10px;">
            <mat-radio-group formControlName="type">
              <mat-radio-button
                class="radio-button pr-48"
                *ngFor="let item of listAudienceType"
                [value]="item.value"
              >
                {{ item.name }}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div
            fxLayout="row"
            *ngIf="formAudience.get('type').value === 'mission' && formAudience.get('audience_type').value === 'scheduler'"
          >
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select
                formControlName="trade_scheduler_id"
                placeholder="{{'dte.pengatur_jadwal_program.text16' | translate }}"
                #singleSelect
              >
                <ngx-mat-select-search
                  [formControl]="filterScheduler"
                  placeholderLabel="{{'global.label.search' | translate}}"
                  noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"
                ></ngx-mat-select-search>
                <mat-option
                  *ngFor="let item of filteredScheduler | async"
                  [value]="item.id"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  formAudience.controls['trade_scheduler_id'].hasError(
                    'required'
                  ) && formAudience.controls['trade_scheduler_id'].touched
                "
              >
                {{'dte.pengatur_jadwal_program.text16' | translate }} {{'global.messages.mandatory_text'}} <!-- // TODO -->
              </mat-error>
            </mat-form-field>
          </div>

          <div
            fxLayout="row"
            *ngIf="formAudience.get('type').value === 'challenge'"
          >
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <mat-select
                formControlName="trade_creator_id"
                placeholder="{{'dte.trade_program.text3' | translate}}"
                #singleSelect
              > <!-- // TODO -->
                <ngx-mat-select-search
                  [formControl]="filterTradeProgram"
                  placeholderLabel="{{'global.label.search' | translate}}"
                  [noEntriesFoundLabel]="
                    'Tidak ada Trade Program yang ditemukan'
                  "
                ></ngx-mat-select-search> <!-- // TODO -->
                <mat-option
                  *ngFor="let item of filteredTradeProgram | async"
                  [value]="item.id"
                >
                  {{ item.name }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  formAudience.controls['trade_creator_id'].hasError(
                    'required'
                  ) && formAudience.controls['trade_creator_id'].touched
                "
              >
                {{'dte.trade_program.text3' | translate}} {{'global.messages.mandatory_text'}} <!-- // TODO -->
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div
        fxLayout="row wrap"
        fxLayoutAlign="end stretch"
        fxLayout.lt-md="column"
        class="pt-16"
        fxLayoutGap="20px"
        fxLayoutGap.lt-md="0px"
        *ngIf="formAudience.controls['geotree_checkbox'].value === true"
      >
        <button
          mat-raised-button
          type="button"
          class="confirmation-button"
          (click)="loadFormFilter()"
          fxFlex="20"
        >
          {{'dte.template_tugas.text24' | translate}}
        </button>
      </div>
      <form [formGroup]="formFilter" autoComplete="off">
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between stretch"
          fxLayout.lt-md="column"
          class="pt-16"
          fxLayoutGap="20px"
          fxLayoutGap.lt-md="0px"
          *ngIf="formAudience.controls['geotree_checkbox'].value === true"
        >
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national">
              <mat-option
                *ngFor="let item of listLevelArea"
                [value]="item.id"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone" multiple>
              <mat-option
                *ngFor="let item of filteringGeotree(list['zone'])"
                [value]="item.id"
                >{{
                  item.name === "all" ? "Semua
                Zona" : item.code
                }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select
              placeholder="{{'global.area.regional' | translate}}"
              formControlName="region"
              multiple
            >
              <mat-option
                *ngFor="let item of filteringGeotree(list['region'])"
                [value]="item.id"
                >{{
                  item.name === "all"
                    ? "Semua
                Regional"
                    : item.code
                }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area" multiple>
              <mat-option
                *ngFor="let item of filteringGeotree(list['area'])"
                [value]="item.id"
                >{{
                  item.name === "all" ? "Semua
                Area" : item.code
                }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select
              placeholder="{{'global.area.salespoint' | translate}}"
              formControlName="salespoint"
              multiple
            >
              <mat-option
                *ngFor="let item of filteringGeotree(list['salespoint'])"
                [value]="item.id"
                >{{
                  item.name === "all"
                    ? "Semua
                Salespoint"
                    : item.code
                }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select
              placeholder="{{'global.area.district' | translate}}"
              formControlName="district"
              multiple
            >
              <mat-option
                *ngFor="let item of filteringGeotree(list['district'])"
                [value]="item.id"
                >{{
                  item.name === "all"
                    ? "Semua
                District"
                    : item.code
                }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="12%" class="is-light form-primary">
            <mat-select
              placeholder="{{'global.area.territory' | translate}}"
              formControlName="territory"
              multiple
            >
              <mat-option
                *ngFor="let item of filteringGeotree(list['territory'])"
                [value]="item.id"
                >{{
                  item.name === "all"
                    ? "Semua
                Territori"
                    : item.code
                }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          
        </div>
      </form>
      <form [formGroup]="formFilterRetailer">
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between stretch"
          fxLayout.lt-md="column"
          class="pt-16"
          fxLayoutGap="20px"
          fxLayoutGap.lt-md="0px"
          *ngIf="formAudience.controls['geotree_checkbox'].value === true"
        >
          <!--[R]-->
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select
              placeholder="{{'dte.audience.text13' | translate}}"
              formControlName="retail_classification"
            > <!-- // TODO -->
              <mat-option
                *ngFor="let item of retailClassification"
                [value]="item.value"
              >
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select
              placeholder="{{'dte.audience.text14' | translate}}"
              formControlName="src_classification"
            > <!-- // TODO -->
              <mat-option
                *ngFor="let item of srcClassification"
                [value]="item.value"
              >
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="31%" class="is-light form-primary">
            <mat-select
              placeholder="{{'dte.audience.text15' | translate}}"
              formControlName="src_type"
            > <!-- // TODO -->
              <mat-option
                *ngFor="let item of srcType"
                [value]="item.value"
              >
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--[R]-->
        </div>
      </form>
    </div>

    <div class="p-0">
      <div
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="20px"
        fxLayoutGap.lt-md="10px"
        fxLayoutAlign="end center"
        class="p-16 export"
      >
        <div fxLayout="column">

          <button
            mat-raised-button
            type="button"
            class="is-danger"
            (click)="importAudience()"
          >
            <mat-icon>arrow_downward</mat-icon> Import XLS
          </button>
          <label 
            *ngIf="!ENABLE_IMPORT_IF.includes(importingDataStatus.import_audience_status) && importingDataStatus.import_audience_status_type"
            style="font-weight: bolder; color: white;">
            Requesting {{(importingDataStatus.import_audience_status_type || '').toUpperCase()}}
          </label>
          
        </div>
        <div fxLayout="column">
          <button
            mat-raised-button
            type="button"
            class="is-danger"
            (click)="exportAudience()"
          >
            <mat-icon>arrow_upward</mat-icon> Export Template
          </button>
          <label *ngIf="exportTemplate" style="color: white;">Downloading Template</label>
        </div>
        
      </div>
      <mat-progress-bar
        [color]="'primary'"
        [mode]="'indeterminate'"
        *ngIf="loadingIndicator"
      ></mat-progress-bar>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="48"
        [footerHeight]="56"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        [selected]="selected"
        [selectionType]="
          formAudience.get('limit').value !== 'pick-all' ? 'checkbox' : ''
        "
        [count]="pagination.total"
        [limit]="pagination.per_page"
        [externalPaging]="true"
        [selectAllRowsOnPage]="false"
        [externalSorting]="true"
        (page)="setPage($event)"
        [sorts]="[{ prop: 'name', dir: 'asc' }]"
        (select)="onSelect($event)"
        [rowIdentity]="getId"
        (sort)="onSort($event)"
        fusePerfectScrollbar
      >
        <!-- [rowIdentity]="getIdFunction()" -->
        <!-- <ngx-datatable-column
          [width]="68"
          *ngIf="formAudience.get('limit').value !== 'pick-all'"
          [canAutoResize]="false"
          [sortable]="true"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
        >
          <ng-template ngx-datatable-header-template >
            <mat-checkbox 
              [checked]="allRowsSelected" 
              (change)="selectFn(!allRowsSelected);"
            >
            </mat-checkbox>
          </ng-template> 

          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn"
          >
            <mat-checkbox 
              [checked]="isSelected" 
              (change)="onCheckboxChangeFn($event)" 
              [disabled]="allRowsSelected || formAudience.get('limit').value === 'pick-all'" 
              *ngIf="!allRowsSelected"
            >
            </mat-checkbox>
             <mat-checkbox 
              [checked]="true" 
              [disabled]="allRowsSelected || formAudience.get('limit').value === 'pick-all'" 
              *ngIf="allRowsSelected" class="mat-checkbox-all"
            >
            </mat-checkbox> 
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>


        <!-- <ngx-datatable-column
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="true"
          [checkboxable]="true"
        >
        </ngx-datatable-column> -->



        <ngx-datatable-column name="{{'call_objective.text8' | translate}}" prop="name"></ngx-datatable-column> <!-- // TODO -->
        <!-- <ngx-datatable-column
          name="No Ponsel"
          [width]="180"
          prop="phone"
          [sortable]="false"
        ></ngx-datatable-column> -->
        <ngx-datatable-column name="{{'global.label.code' | translate}}" prop="code"></ngx-datatable-column> <!-- // TODO -->
        <ngx-datatable-column
          name="Tipe"
          prop="classification"
        ></ngx-datatable-column>
        <!--[R]-->
        <ngx-datatable-column
          name="{{'call_objective.text10' | translate}}"
          prop="retail_classification"
        ></ngx-datatable-column> <!-- // TODO -->
        <ngx-datatable-column
          name="{{'dte.audience.text14' | translate}}"
          prop="src_classification"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="{{'dte.audience.text15' | translate}}"
          prop="src_type"
        ></ngx-datatable-column> <!-- // TODO -->
        <!--[R]-->
        <ngx-datatable-column
          name="{{'call_objective.text13' | translate}}"
          prop="ff_name"
          [sortable]="false"
        ></ngx-datatable-column> <!-- // TODO -->
        <ngx-datatable-column name="{{'dte.audience.text16' | translate}}" prop="status">
          <ng-template
            ngx-datatable-cell-template
            let-row="row"
            let-value="value"
          >
            <span *ngIf="row.status === 'active' || row.status === 'inactive'"
              >{{'global.label.yes' | translate}}</span
            >
            <span *ngIf="row.status === 'not-registered'">{{'global.label.no' | translate}}</span>
          </ng-template>
        </ngx-datatable-column> <!-- // TODO -->
        <!-- <ngx-datatable-column
          name="{{'global.label.code' | translate}} Divisi"
          prop="division_code"
          [sortable]="false"
        ></ngx-datatable-column> -->
        <!-- <ngx-datatable-column
          name="Wilayah"
          prop="region_code"
          [sortable]="false"
        ></ngx-datatable-column> -->
        <!-- <ngx-datatable-column
          name="Area"
          prop="area_code"
          [sortable]="false"
        ></ngx-datatable-column> -->
      </ngx-datatable>
    </div>

    <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
      <div>

        <button
        id="btn-simpan"
        mat-raised-button
        type="button"
        class="confirmation-button"
        (click)="submit()"
        fxFlex="20"
        [disabled]="(!ENABLE_IMPORT_IF.includes(importingDataStatus.import_audience_status) && importingDataStatus.import_audience_status_type)"
      >
        {{ls.locale.global.button.save}}
      </button>
      <label 
        *ngIf="!ENABLE_IMPORT_IF.includes(importingDataStatus.import_audience_status) && importingDataStatus.import_audience_status_type"
        style="font-weight: bolder; color: gray; font-style: italic;">
        Requesting {{(importingDataStatus.import_audience_status_type || '').toUpperCase()}}
      </label>

      </div>
    </div>
    <a #downloadLink></a>
  </div>
</div>
