<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Distribution List'">
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column">
      <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="setSelectedTab($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Invoice Financing</span>
            <span>(Kasbon)</span>
          </ng-template>
          <app-pay-later-distribution-list *ngIf="selectedTab === 0" [dataType]="'invoice-financing'"></app-pay-later-distribution-list>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span>Retailer Financing</span>
            <span>(Modal Usaha)</span>
          </ng-template>
          <app-pay-later-distribution-list *ngIf="selectedTab === 1" [dataType]="'retailer-financing'" ></app-pay-later-distribution-list>
        </mat-tab>
        <mat-tab label="KUR">
          <app-pay-later-distribution-list *ngIf="selectedTab === 2" [dataType]="'kur'"></app-pay-later-distribution-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
