<div
  class="page-layout simple fullwidth"
  fxLayout="column"
  fusePerfectScrollbar
>
  <page-content-header contentTitle="Buat Spin The Wheel Notifikasi">
  </page-content-header>
  <div
    *ngIf="onLoad"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="pt-48"
  >
    <mat-spinner [strokeWidth]="6" [diameter]="50" color="accent"></mat-spinner>
  </div>
  <div class="content p-24" *ngIf="!onLoad">
    <div class="ayo-main-wrapper mat-white-bg">
      <form
        autocomplete="off"
        [formGroup]="formNotif"
        (keydown.enter)="$event.preventDefault()"
        class="py-24"
      >
        <div
          fxLayout="column"
          fxFlex="70"
          fxLayoutAlign="start stretch"
          fxLayoutGap="16px"
        >
          <mat-form-field fxFlex="50" class="is-light form-primary">
            <input
              matInput
              type="text"
              formControlName="title"
              placeholder="Judul"
            />
            <mat-error
              *ngIf="
                formNotif.controls.title.hasError('required') &&
                formNotif.controls.title.touched
              "
              >harus diisi</mat-error
            >
          </mat-form-field>
          <mat-form-field fxFlex="50" class="is-light form-primary">
            <textarea
              matInput
              formControlName="content"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="15"
              placeholder="Deskripsi Push Notifikasi"
            ></textarea>
            <mat-error
              class="mt-8"
              *ngIf="
                formNotif.controls.content.hasError('required') &&
                formNotif.controls.content.touched
              "
            >
              Deskripsi wajib diisi
            </mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field fxFlex="50%" class="is-light form-primary">
              <input
                matInput
                formControlName="start_date"
                (focus)="startDate.open()"
                [matDatepicker]="startDate"
                [min]="minDate"
                placeholder="Tanggal Mulai"
              />
              <mat-datepicker-toggle matSuffix [for]="startDate">
                <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
              <mat-error
                *ngIf="
                  formNotif.controls.start_date.hasError('required') &&
                  formNotif.controls.start_date.touched
                "
              >
                Tanggal mulai wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50%" class="is-light form-primary">
              <input
                matInput
                formControlName="end_date"
                [min]="formNotif.controls.start_date.value"
                (focus)="endDate.open()"
                [matDatepicker]="endDate"
                placeholder="Tanggal Berakhir"
              />
              <mat-datepicker-toggle matSuffix [for]="endDate">
                <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
              <mat-error
                *ngIf="
                  formNotif.controls.end_date.hasError('required') &&
                  formNotif.controls.end_date.touched
                "
              >
                Tanggal berakhir wajib diisi
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field
              fxFlex="50"
              class="is-light form-primary"
              id="start_time"
            >
              <input
                matInput
                formControlName="at"
                placeholder="Set Waktu"
                [ngxTimepicker]="timePicker"
                [format]="24"
                readonly
              />
              <mat-icon matSuffix>access_time</mat-icon>
              <ngx-material-timepicker #timePicker></ngx-material-timepicker>
              <mat-error
                *ngIf="
                  formNotif.controls.at.hasError('required') &&
                  formNotif.controls.at.touched
                "
              >
                Set waktu wajib diisi
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="is-light form-primary">
              <mat-select
                placeholder="Interval pengiriman"
                formControlName="day"
                [compareWith]="isChecked"
                [multiple]="true"
              >
                <mat-option *ngFor="let i of dayList" [value]="i">{{
                  i[0].toUpperCase() + i.substring(1)
                }}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  formNotif.controls.day.hasError('required') &&
                  formNotif.controls.day.touched
                "
                >Interval pengiriman wajib dipilih</mat-error
              >
            </mat-form-field>
          </div>
          <div class="confirm pt-24" fxLayout="row">
            <button
              id="btn-simpan"
              mat-raised-button
              type="button"
              class="confirmation-button"
              fxFlex="20"
              (click)="submit()"
            >
              {{ ls.locale.global.button.save }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
