<div
  class="page-layout simple fullwidth"
  fxLayout="column"
  fusePerfectScrollbar
>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Pengaturan Attribute Misi'">
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="table-wrapper">
      <mat-tab-group>
        <!-- KATEGORI TOOLBOX -->
        <mat-tab label="Kategori ToolBox">
          <app-list-kategori-toolbox></app-list-kategori-toolbox>
        </mat-tab>

        <!-- TIPE MISI -->
        <mat-tab label="Tipe Misi">
          <app-list-tipe-misi></app-list-tipe-misi>
        </mat-tab>

        <!-- TINGKAT internal MISI -->
        <mat-tab label="Internal Kategori">
          <app-list-internal-misi></app-list-internal-misi>
        </mat-tab>

        <!-- KETEGORI MISI -->
        <mat-tab label="Kategori Misi">
          <app-list-kategori-misi></app-list-kategori-misi>
        </mat-tab>
        <!-- Project -->
        <mat-tab label="Project">
          <app-project-list></app-project-list>
        </mat-tab>

        <!-- Verification Remark -->
        <mat-tab label="Verification Remark">
          <app-verification-remark></app-verification-remark>
        </mat-tab>

        <!-- Copywriting -->
        <mat-tab label="Copywriting">
          <app-copywriting></app-copywriting>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
