<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="ls.locale.katalog_src.template_layout_toko.text6">
  </page-content-header>

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <form autocomplete="off" [formGroup]="formStoreTemplate">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-24">
          <h2 class="">{{ ls.locale.katalog_src.template_layout_toko.text6 }}</h2>
        </div>
        <div class="ayo-middle" fxLayout="column">
          <div fxLayout="row">
            <mat-form-field fxFlex="30" class="is-light form-primary">
              <input matInput type="text" formControlName="name"
                placeholder="{{ ls.locale.katalog_src.template_layout_toko.text3 }}">
              <mat-error
                *ngIf="formStoreTemplate.controls['name'].hasError('required') && formStoreTemplate.controls['name'].touched">
                {{ ls.locale.katalog_src.template_layout_toko.text3 }} {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxFlex="45"></div>
            <mat-form-field fxFlex="10" class="is-light form-primary">
              <mat-select formControlName="length" placeholder="{{ ls.locale.katalog_src.template_layout_toko.text4 }}">
                <mat-option *ngFor="let item of listStoreLength" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formStoreTemplate.controls['length'].hasError('required') && formStoreTemplate.controls['length'].touched">
                {{ ls.locale.katalog_src.template_layout_toko.text4 }} {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxFlex="5"></div>
            <mat-form-field fxFlex="10" class="is-light form-primary">
              <mat-select formControlName="width" placeholder="{{ ls.locale.katalog_src.template_layout_toko.text5 }}">
                <mat-option *ngFor="let item of listStoreLength" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formStoreTemplate.controls['width'].hasError('required') && formStoreTemplate.controls['width'].touched">
                {{ ls.locale.katalog_src.template_layout_toko.text5 }} {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <h3>{{ ls.locale.katalog_src.template_layout_toko.text7 }}</h3>
            <small>{{ ls.locale.katalog_src.template_layout_toko.image_dimension }}</small>
            <div class="ayo-middle" style="height: 70px;width: 400px;" fxLayout="column">
              <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
                [accept]="'image/*'" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
                (fileChange)="changeImage($event)">
                <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
                  <!-- <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline</mat-icon> -->
                  <!-- <br> -->
                  <span matPrefix>{{ ls.locale.katalog_src.template_layout_toko.text8 }}
                  </span>
                  <!-- <span matPrefix>Ukuran 800x800 piksel, Maksimum 2mb</span> -->
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column">
            <div class="" *ngFor="let imgUrl of image_list;let i = index" style="margin-top: 15px;margin-bottom: 15px;">
              <div class="delete">
                <mat-icon style="cursor: pointer;" (click)="removeImage(i)">cancel_outline</mat-icon>
              </div>
              <!-- <div class="previewIcon" [ngfBackground]="files"></div> -->
              <div>
                <img id="image" [src]='imgUrl' width="410px" height="410px" />
              </div>
            </div>
          </div>
          <div fxLayout="column">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
              <h3 class="">{{ ls.locale.katalog_src.template_layout_toko.text9 }}</h3>
            </div>
            <textarea [froalaEditor]="options" formControlName="description" class="pb-4" fxFlex="100"></textarea>
            <mat-error style="padding-top: 6px !important; font-size: .86em;"
              *ngIf="formStoreTemplate.controls['description'].hasError('required') && formStoreTemplate.controls['description'].touched">
              {{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text24 }} {{ ls.locale.global.messages.mandatory_text }}
            </mat-error>
          </div>
        </div>

        <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
            {{ ls.locale.global.button.save }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>