<div class="page-layout simple fullwidth" #containerScroll fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="{{'manajemen_barang_sku.produk.text3' | translate}}">
    <button style="min-width: 170px;" mat-raised-button aria-label="save" (click)="submit()"
      type="button">{{ls.locale.global.button.save}}</button>
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column">

      <form autocomplete="off" [formGroup]="formProductGroup" (keydown.enter)="$event.preventDefault();">
        <!-- <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" *ngIf="loadingIndicator"></mat-progress-bar> -->
        <mat-tab-group>
          <mat-tab label="{{'manajemen_barang_sku.produk.text3' | translate}}">
            <div class="ayo-middle" fxLayout="column">
              <div class="p-24" fxLayout="column">
                <!-- <div class="button-row">
                  <button type="button" mat-raised-button (click)="openDialog()">
                    <mat-icon>horizontal_split</mat-icon> SCAN BARCODE
                  </button>
                </div> -->
                <div class="button" (click)="openDialog()">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-icon class="secondary-text">horizontal_split</mat-icon>
                    <span class="h5 text-center">{{'manajemen_barang_sku.produk_kasir.text11' | translate}}</span>
                  </div>
                </div>
                <br>

                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <input matInput type="text" placeholder="{{'manajemen_barang_sku.produk.text4' | translate}}" formControlName="name">
                  <mat-error
                    *ngIf="formProductGroup.controls['name'].hasError('required') && formProductGroup.controls['name'].touched">
                    {{'manajemen_barang_sku.produk.text4' | translate}} {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <input matInput type="text" placeholder="{{'manajemen_barang_sku.produk.text5' | translate}}" formControlName="barcode" readonly>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <!-- <mat-select placeholder="{{'manajemen_barang_sku.produk.text6' | translate}}" formControlName="brand">
                    <mat-option [value]="item.id" *ngFor="let item of listBrand">
                      {{item.name}}
                    </mat-option>
                  </mat-select> -->
                  <mat-select formControlName="brand" placeholder="{{'manajemen_barang_sku.produk.text6' | translate}}" #singleSelect>
                    <ngx-mat-select-search [formControl]="filterBrand" placeholderLabel="{{'global.label.search' | translate}}"
                      noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"></ngx-mat-select-search>
                    <mat-option *ngFor="let item of filteredBrand | async" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formProductGroup.controls['brand'].hasError('required') && formProductGroup.controls['brand'].touched">
                    {{'manajemen_barang_sku.produk.text6' | translate}} {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <mat-chip-list #chipList>
                    <mat-chip color="primary"
                      *ngFor="let item of formProductGroup.get('alias')['controls']; let i = index;"
                      [selectable]="selectable" [removable]="removable" (removed)="removeAlias(i)">
                      {{item.get('alias').value}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input matInput placeholder="{{'manajemen_barang_sku.produk.product_other_name' | translate}}" type="text" [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="addAlias($event)">
                  </mat-chip-list>
                  <mat-error
                    *ngIf="formProductGroup.controls['alias'].hasError('required') && formProductGroup.controls['alias'].touched">
                    {{'manajemen_barang_sku.produk.product_other_name' | translate}} {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <mat-select formControlName="category" placeholder="{{'manajemen_barang_sku.produk.text13' | translate}}" #singleSelect
                    (selectionChange)="selectionChange($event)">
                    <ngx-mat-select-search [formControl]="filterCategory" placeholderLabel="{{'global.label.search' | translate}}"
                      noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"></ngx-mat-select-search>
                    <mat-option *ngFor="let item of filteredCategory | async" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="formProductGroup.controls['category'].hasError('required') && formProductGroup.controls['category'].touched">
                    {{'manajemen_barang_sku.produk.text13' | translate}} {{'global.messages.mandatory_text' | translate}}
                  </mat-error>
                </mat-form-field>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="">

                  <!-- <mat-form-field fxFlex="68" class="is-light form-primary">
                    <mat-select placeholder="{{'manajemen_barang_sku.produk.text14' | translate}}" formControlName="subCategory" (selectionChange)="selectionChangeSub($event)">
                      <mat-option [value]="item.id" *ngFor="let item of listSubCategory">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <!-- <mat-form-field fxFlex="30" class="is-light form-primary">
                    <mat-select placeholder="Sub Kategori Lainnya" formControlName="otherSubCategory">
                      <mat-option [value]="item.id" *ngFor="let item of listOtherSubCategory">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <!-- (selectionChange)="selectionChangeSub($event)" -->
                  <mat-form-field fxFlex="100" class="is-light form-primary">
                    <mat-select placeholder="{{'manajemen_barang_sku.produk.text14' | translate}}" formControlName="subCategory">
                      <mat-option [value]="item.id" *ngFor="let item of listSubCategory">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="formProductGroup.controls['category'].hasError('required') && formProductGroup.controls['category'].touched">
                      {{'manajemen_barang_sku.produk.text13' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <!-- <mat-select formControlName="subCategory" placeholder="{{'manajemen_barang_sku.produk.text14' | translate}}" #singleSelect>
                    <ngx-mat-select-search [formControl]="filterSubCategory" [placeholderLabel]="'Cari Sub Kategori...'"
                      [noEntriesFoundLabel]="'Tidak ada sub kategory yang ditemukan'"></ngx-mat-select-search>
                    <mat-option *ngFor="let item of filteredSubCategory | async" [value]="item.id">
                      {{item.name}}
                    </mat-option>
                  </mat-select> -->
                </div>
                <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" class="">
                  <mat-form-field fxFlex="50" class="is-light form-primary">
                    <mat-select placeholder="{{'manajemen_barang_sku.produk.text15' | translate}}" formControlName="packaging">
                      <mat-option [value]="item.id" *ngFor="let item of listPackaging">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="formProductGroup.controls['packaging'].hasError('required') && formProductGroup.controls['packaging'].touched">
                      {{'manajemen_barang_sku.produk.text15' | translate}} {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <!-- <mat-form-field fxFlex="25" class="is-light form-primary">
                    <input matInput type="number" formControlName="convertion" placeholder="Konversi">
                  </mat-form-field> -->
                </div>
                
                <div fxLayout="row wrap" class="pt-16" style="gap: 24px 40px;">
                  <div fxLayout="column">
                    <strong>{{'manajemen_barang_sku.produk.text16' | translate}}</strong>
                    <mat-radio-group formControlName="status" class="radio-group">
                      <mat-radio-button class="radio-button" *ngFor="let item of statusProduk" [value]="item.status">
                        {{item.name}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div fxLayout="row" style="gap: 24px 40px;">
                    <div fxLayout="column">
                      <strong>{{'manajemen_barang_sku.produk.text7' | translate}}</strong>
                      <mat-radio-group formControlName="status_pin_up" class="radio-group">
                        <mat-radio-button class="radio-button" *ngFor="let item of listPinUpProduct"
                          [value]="item.value">
                          {{item.name}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div fxLayout="column"
                      *ngIf="formProductGroup.get('status_pin_up').value == 1">
                      <strong>{{'manajemen_barang_sku.produk.pinup_duration' | translate}}</strong>
                      <div fxLayout="row">
                        <mat-form-field fxFlex="50" class="is-light">
                          <input matInput [min]="minDate" (focus)="startPinUp.open()" [matDatepicker]="startPinUp"
                            placeholder="{{ls.locale.manajemen_barang_sku.manajemen_koin.text15}}" formControlName="start_date_pin_up">
                          <mat-datepicker-toggle matSuffix [for]="startPinUp"></mat-datepicker-toggle>
                          <mat-datepicker #startPinUp></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="is-light" style="margin-left: 30px;">
                          <input [min]="formProductGroup.get('start_date_pin_up').value" matInput
                            (focus)="endPinUp.open()" [matDatepicker]="endPinUp" placeholder="{{'manajemen_barang_sku.produk.end_date' | translate}}"
                            formControlName="end_date_pin_up">
                          <mat-datepicker-toggle matSuffix [for]="endPinUp"></mat-datepicker-toggle>
                          <mat-datepicker #endPinUp></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div fxLayout="column">
                    <mat-form-field fxFlex="100" class="is-light form-primary">
                      <!-- <strong>{{'manajemen_barang_sku.produk.text8' | translate}}</strong> -->
                      <input matInput type="text" (keypress)="numberOnly($event)" placeholder="{{'manajemen_barang_sku.produk.text8' | translate}}"
                        formControlName="priority_product">
                      <!-- <mat-error
                        *ngIf="formProductGroup.controls['name'].hasError('required') && formProductGroup.controls['name'].touched">
                        {{'manajemen_barang_sku.produk.text4' | translate}}{{'global.messages.mandatory_text' | translate}}
                      </mat-error> -->
                    </mat-form-field>
                  </div>

                  <div fxLayout="column">
                    <strong>Unique Product Code (UPC)</strong>
                    <mat-radio-group formControlName="upc" class="radio-group">
                      <mat-radio-button class="radio-button" *ngFor="let item of statusUPC" [value]="item.status">
                        {{item.name}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="pt-16">
                  <strong>{{'manajemen_barang_sku.produk.text18' | translate}}</strong>
                </div>
                <div fxLayout="row" fxLayoutGap="20px">
                  <mat-checkbox (change)="isPromo($event)" class="mt-4 ml-4 mb-8" formControlName="is_promo_src">{{'manajemen_barang_sku.produk.text9' | translate}}</mat-checkbox>
                  <mat-checkbox (change)="isPrivateLabel($event)" class="mt-4 ml-4 mb-8"
                    formControlName="is_private_label">{{'manajemen_barang_sku.produk.text10' | translate}}</mat-checkbox>
                  <mat-checkbox class="mt-4 ml-4 mb-8"
                    formControlName="is_paylater">{{'manajemen_barang_sku.produk.text19' | translate}}</mat-checkbox>
                </div>
                <!-- <mat-radio-group formControlName="jenisproduk" class="radio-group pb-16" fxLayout="row" fxLayoutGap="20px">
                  <mat-radio-button class="radio-button" *ngFor="let item of jenisProduk" [value]="item.value" (change)="jenisProdukChange($event)">
                    {{item.name}}
                  </mat-radio-button>
                </mat-radio-group> -->
              </div>
              <div>
                <div class="" formArrayName="areas"
                  *ngFor="let wil of formProductGroup.get('areas')['controls']; let i = index;">
                  <div [formGroupName]="i">
                    <div class="mb-16 wilayah" fxLayout="row" fxLayoutAlign="space-between center">
                      <div fxFlex="50">
                        <h3 class="">{{'global.area.geotree'| translate}} {{i+1}}</h3>
                      </div>
                      <div *ngIf="formProductGroup.get('is_private_label').value" fxFlex="50" fxLayout="row wrap"
                        fxLayoutAlign="end center" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                        <button
                          *ngIf="formProductGroup.get('areas').value.length === 1 || i === (formProductGroup.get('areas').value.length - 1)"
                          mat-raised-button type="button" (click)="addArea(i)">
                          <mat-icon>add</mat-icon>
                        </button>
                        <button *ngIf="formProductGroup.get('areas').value.length > 1" mat-raised-button color="primary"
                          type="button" (click)="deleteArea(i)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div style="margin-left: 25px;margin-bottom: 15px;" fxLayout="row wrap"
                      *ngIf="is_promo_check && i === 0">
                      <div fxFlex="15" style="margin-top: 15px;">
                        <mat-checkbox formControlName="time_period">{{'manajemen_barang_sku.produk.time_period'| translate}}</mat-checkbox>
                      </div>
                      <div fxLayout="row" fxFlex="70" *ngIf="wil.get('time_period').value === true">
                        <mat-form-field fxFlex="20" class="is-light form-primary">
                          <input matInput (focus)="startPicker.open()" [matDatepicker]="startPicker"
                            placeholder="{{'manajemen_barang_sku.manajemen_koin.text15' | translate}}" formControlName="start_date">
                          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                          <mat-datepicker #startPicker></mat-datepicker>
                        </mat-form-field>
                        <div fxFlex="2"></div>
                        <mat-form-field fxFlex="20" class="is-light form-primary">
                          <input matInput (focus)="endDate.open()" [matDatepicker]="endDate"
                            placeholder="{{'manajemen_barang_sku.manajemen_koin.text16' | translate}}" formControlName="end_date">
                          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                          <mat-datepicker #endDate></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="pb-8 px-24" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px"
                      fxLayoutGap.lt-md="0px" fxLayoutAlign="space-between stretch">
                      <mat-form-field fxFlex="31%" class="is-light form-primary">
                        <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national"
                          matTooltip="{{getToolTipData(wil.get('national').value, wil.controls['list_national'].value)}}">
                          <mat-option *ngFor="let item of wil.controls['list_national'].value" [value]="item.id">
                            {{item.name}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="wil.controls['national'].hasError('required') && wil.controls['national'].touched">
                          {{'global.area.national' | translate}} {{'global.messages.mandatory_text' | translate}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="31%" class="is-light form-primary">
                        <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone"
                          matTooltip="{{getToolTipData(wil.get('zone').value, wil.controls['list_zone'].value)}}"
                          (selectionChange)="generataList('region', wil.get('zone').value, i, 'selection')">
                          <mat-option *ngFor="let item of wil.controls['list_zone'].value" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="wil.controls['zone'].hasError('required') && wil.controls['zone'].touched">
                          {{'global.area.zone' | translate}} {{'global.messages.mandatory_text' | translate}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="31%" class="is-light form-primary">
                        <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region"
                          matTooltip="{{getToolTipData(wil.get('region').value, wil.controls['list_region'].value)}}"
                          (selectionChange)="generataList('area', wil.get('region').value, i, 'selection')">
                          <mat-option *ngFor="let item of wil.controls['list_region'].value" [value]="item.id">
                            {{item.name}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="wil.controls['region'].hasError('required') && wil.controls['region'].touched">
                          {{'global.area.regional' | translate}} {{'global.messages.mandatory_text' | translate}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="31%" class="is-light form-primary">
                        <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area"
                          matTooltip="{{getToolTipData(wil.get('area').value, wil.controls['list_area'].value)}}"
                          (selectionChange)="generataList('salespoint', wil.get('area').value, i, 'selection')">
                          <mat-option *ngFor="let item of wil.controls['list_area'].value" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="wil.controls['area'].hasError('required') && wil.controls['area'].touched">
                          {{'global.area.area' | translate}} {{'global.messages.mandatory_text' | translate}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="31%" class="is-light form-primary">
                        <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint"
                          matTooltip="{{getToolTipData(wil.get('salespoint').value, wil.controls['list_salespoint'].value)}}"
                          (selectionChange)="generataList('district', wil.get('salespoint').value, i, 'selection')">
                          <mat-option *ngFor="let item of wil.controls['list_salespoint'].value" [value]="item.id">
                            {{item.name}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="wil.controls['salespoint'].hasError('required') && wil.controls['salespoint'].touched">
                          {{'global.area.salespoint' | translate}} {{'global.messages.mandatory_text' | translate}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="31%" class="is-light form-primary">
                        <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district"
                          matTooltip="{{getToolTipData(wil.get('district').value, wil.controls['list_district'].value)}}"
                          (selectionChange)="generataList('territory', wil.get('district').value, i, 'selection')">
                          <mat-option *ngFor="let item of wil.controls['list_district'].value" [value]="item.id">
                            {{item.name}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="wil.controls['district'].hasError('required') && wil.controls['district'].touched">
                          {{'global.area.district' | translate}} {{'global.messages.mandatory_text' | translate}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field fxFlex="31%" class="is-light form-primary">
                        <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory"
                          matTooltip="{{getToolTipData(wil.get('territory').value, wil.controls['list_territory'].value)}}">
                          <mat-option *ngFor="let item of wil.controls['list_territory'].value" [value]="item.id">
                            {{item.name}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="wil.controls['territory'].hasError('required') && wil.controls['territory'].touched">
                          {{'global.area.territory' | translate}} {{'global.messages.mandatory_text' | translate}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div *ngIf="formProductGroup.get('is_private_label').value">
                      <div class="wilayah" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex="50">
                          <h3 class="">{{'katalog_src.produk.text11' | translate}} {{'global.area.geotree'| translate}} {{i+1}}</h3>
                        </div>
                        <div class="button-row">
                          <button mat-flat-button color="white" matTooltip="{{'manajemen_barang_sku.produk.add_packaging' | translate}}"
                            (click)="addProductPrice(i)">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div>
                        <mat-list style="overflow: hidden;" class="pt-0">
                          <mat-divider></mat-divider>
                          <mat-list-item>
                            <div class="pl-8" fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between center">
                              <span fxFlex="15" class="h6 text-semibold">{{'manajemen_barang_sku.produk.packaging' | translate}}</span>
                              <span fxFlex="15" class="h6 text-semibold">{{'manajemen_barang_sku.produk.amount_per_package' | translate}}</span>
                              <span fxFlex="15" class="h6 text-semibold">{{'katalog_src.produk.text11' | translate}}</span>
                              <span fxFlex="17" class="h6 text-semibold">{{'manajemen_barang_sku.produk.product_price_after_discount' | translate}}</span>
                              <span fxFlex="15" class="h6 text-semibold">{{ls.locale.manajemen_barang_sku.manajemen_koin.text16}}</span>
                              <span fxFlex="15" class="h6 text-semibold">{{'global.label.type' | translate}}</span>
                              <div fxFlex="5" fxLayout="column" fxLayoutAlign="center center">
                                <span class="h6 text-semibold">{{'global.button.delete' | translate}}</span>
                              </div>
                            </div>
                          </mat-list-item>
                          <mat-divider></mat-divider>
                          <div fxFlex="1 0 auto" formArrayName="listProdukPrivateLabel"
                            *ngFor="let item of wil.get('listProdukPrivateLabel')['controls']; let j = index;">
                            <!-- *ngFor="let item of formProductGroup.get('listProdukPrivateLabel')['controls']; let i = index;"> -->
                            <div [formGroupName]="j">
                              <mat-list-item class="custom-height mb-8">
                                <div class="pl-8" fxFlex="auto" fxLayoutAlign="space-between center" fxLayout="row">
                                  <div fxFlex="15">
                                    <mat-form-field class="is-light packaging">
                                      <input matInput type="text" formControlName="packaging">
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['packaging'].hasError('required') && item.controls['packaging'].touched">
                                        {{'manajemen_barang_sku.produk.packaging_name' | translate}} {{'global.messages.mandatory_text' | translate}}
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div fxFlex="15">
                                    <mat-form-field class="is-light packaging-amount">
                                      <input matInput type="number" formControlName="packaging_amount">
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['packaging_amount'].hasError('required') && item.controls['packaging_amount'].touched">
                                        {{'manajemen_barang_sku.produk.amount_per_package' | translate}} {{'global.messages.mandatory_text' | translate}}
                                      </mat-error>
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['packaging_amount'].hasError('min') && item.controls['packaging_amount'].touched">
                                        {{'manajemen_barang_sku.produk.amount_per_package' | translate}} {{'manajemen_barang_sku.produk.min_1' | translate}} 
                                      </mat-error>
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['packaging_amount'].hasError('max') && item.controls['packaging_amount'].touched">
                                        {{'manajemen_barang_sku.produk.amount_per_package' | translate}} {{'manajemen_barang_sku.produk.max_1000' | translate}}
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div fxFlex="15">
                                    <mat-form-field class="is-light packaging">
                                      <input matInput type="tel" currencyMask min="0" formControlName="price">
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['price'].hasError('required') && item.controls['price'].touched">
                                        {{'katalog_src.produk.text11' | translate}} {{'global.messages.mandatory_text' | translate}}
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div fxFlex="17">
                                    <mat-form-field class="is-light packaging">
                                      <input matInput type="tel" currencyMask min="0" formControlName="price_discount">
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['price_discount'].hasError('max') && item.controls['price_discount'].touched">
                                        {{'manajemen_barang_sku.produk.cannot_more_than_product_price' | translate}}
                                      </mat-error>
                                    </mat-form-field>
                                  </div>
                                  <div fxFlex="15">
                                    <mat-form-field class="is-light packaging">
                                      <input matInput [matDatepicker]="dp" (focus)="dp.open()" [min]="minDate"
                                        formControlName="price_discount_expires_at">
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['price_discount_expires_at'].hasError('required') && item.controls['price_discount_expires_at'].touched">
                                        {{ls.locale.manajemen_barang_sku.manajemen_koin.text16}} Diskon {{'global.messages.mandatory_text' | translate}}
                                      </mat-error>
                                      <mat-error style="font-size: .8em"
                                        *ngIf="item.controls['price_discount_expires_at'].hasError('matDatepickerMin') && item.controls['price_discount_expires_at'].touched">
                                        {{'iklan_dalam_aplikasi.spanduk_online.cannot_less_than' | translate}} {{'manajemen_barang_sku.produk.date_today' | translate}}
                                      </mat-error>
                                      <mat-datepicker-toggle matSuffix [for]="dp">
                                        <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                                      </mat-datepicker-toggle>
                                      <mat-datepicker #dp></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  <div fxFlex="15">
                                    <mat-form-field class="is-light packaging">
                                      <mat-select formControlName="tipe">
                                        <mat-option *ngFor="let item of listTipe" [value]="item.value">
                                          {{item.name}}</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                  <div fxFlex="5%" fxLayout="column" fxLayoutAlign="center center">
                                    <button type="button" mat-icon-button color="primary"
                                      (click)="removePackaging(item, j, i)"
                                      [disabled]="wil.get('listProdukPrivateLabel').controls.length === 1">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                  </div>
                                </div>
                              </mat-list-item>
                              <mat-divider></mat-divider>
                            </div>
                          </div>
                        </mat-list>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{'manajemen_barang_sku.produk.product_image' | translate}}">
            <div class="ayo-middle p-24" style="height: 480px;" fxLayout="column">
              <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
                [accept]="'image/*'" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
                (fileChange)="changeImage($event)">
                <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
                  <mat-icon style="width: 48px;height: 48px;font-size: 48px;">add_photo_alternate_outline</mat-icon>
                  <br>
                  <span matPrefix [innerHTML]="'iklan_dalam_aplikasi.spanduk_online.drag_image' | translate">
                  </span>
                  <span matPrefix>{{'manajemen_barang_sku.produk.max_image_size' | translate}}</span>
                </div>
              </div>

              <div *ngIf="files" class="pt-48">
                <div class="">
                  <div class="delete">
                    <mat-icon style="cursor: pointer;" (click)="removeImage()">cancel_outline</mat-icon>
                  </div>
                  <!-- <div class="previewIcon" [ngfBackground]="files"></div> -->
                  <div class="image-sku">
                    <img id="image" [src]='imageSku' />
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </div>
  </div>


  <!-- Generate HTML to canvas-->
  <div style="position: absolute; z-index: -2; top: 0; margin-left: -300px;" id="imageConverted" #screen
    class="image-sku">
    <img id="image" [src]='imageSku' />
  </div>
</div>