<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Buat Paguyuban'">
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="vertical-stepper-wrapper is-thirdquart is-half">

      <!-- VERTICAL STEPPER EXAMPLE -->
      <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">

        <mat-step [stepControl]="verticalStepperStep1">

          <form [formGroup]="verticalStepperStep1">

            <ng-template matStepLabel>Informasi Dasar</ng-template>

            <div fxFlex="1 0 auto" fxLayout="column">

              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="Nama Paguyuban" formControlName="group_name">
                <mat-error
                  *ngIf="verticalStepperStep1.controls['group_name'].hasError('required') && verticalStepperStep1.controls['group_name'].touched ">
                  Nama Paguyuban harus diisi.
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="Nama Pengguna" formControlName="fullname">
                <mat-error
                  *ngIf="verticalStepperStep1.controls['fullname'].hasError('required') && verticalStepperStep1.controls['fullname'].touched ">
                  Nama Pengguna harus diisi.
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="Username" formControlName="username">
                <mat-error
                  *ngIf="verticalStepperStep1.controls['username'].hasError('required') && verticalStepperStep1.controls['username'].touched ">
                  Username harus diisi.
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light mb-24">
                <input matInput type="text" *ngIf="showPassword" formControlName="password" placeholder="Kata Sandi">
                <input matInput type="password" *ngIf="!showPassword" formControlName="password"
                  placeholder="Kata Sandi">
                <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear"
                  (click)="showPassword = !showPassword">
                  <mat-icon *ngIf="!showPassword">remove_red_eye</mat-icon>
                  <mat-icon *ngIf="showPassword">visibility_off</mat-icon>
                </button>
                <mat-error
                  *ngIf="verticalStepperStep1.controls['password'].hasError('required') && verticalStepperStep1.controls['password'].touched">
                  Kata sandi harus diisi.
                </mat-error>
                <!-- <mat-error *ngIf="verticalStepperStep1.controls['password'].hasError('notValid')">
                  Kata sandi Anda setidaknya harus memiliki, Panjang 8 karakter, 1 huruf besar & 1 karakter huruf kecil
                  & 1 angka
                </mat-error> -->
                <mat-error *ngIf="
                (verticalStepperStep1.controls['password'].hasError('minlength') && verticalStepperStep1.controls['password'].touched) ||
                (verticalStepperStep1.controls['password'].hasError('strong') && verticalStepperStep1.controls['password'].touched) ||
                (verticalStepperStep1.controls['password'].hasError('specialchar') && verticalStepperStep1.controls['password'].touched)">
                  Kata sandi Anda setidaknya harus memiliki, Panjang 8 karakter, 1 huruf besar & 1 karakter huruf kecil
                  & 1 angka & 1 spesial karakter
                </mat-error>
                <!-- <mat-error *ngIf="forgotPasswordForm.controls['password'].hasError('strong') && forgotPasswordForm.controls['password'].touched">
                  Kata Sandi harus mengandung huruf besar dan huruf kecil dan angka
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.controls['password'].hasError('specialchar') && forgotPasswordForm.controls['password'].touched">
                  Kata Sandi harus mengandung spesial karakter
                </mat-error> -->
              </mat-form-field>
              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" *ngIf="showConfirmPassword" formControlName="password_confirmation"
                  placeholder="Konfirmasi kata sandi"
                  [errorStateMatcher]="passwordMatcher">
                <input matInput type="password" *ngIf="!showConfirmPassword" formControlName="password_confirmation"
                  placeholder="Konfirmasi kata sandi"
                  [errorStateMatcher]="passwordMatcher">
                <button type="button" mat-button matSuffix mat-icon-button aria-label="Clear"
                  (click)="showConfirmPassword = !showConfirmPassword">
                  <mat-icon *ngIf="!showConfirmPassword">remove_red_eye</mat-icon>
                  <mat-icon *ngIf="showConfirmPassword">visibility_off</mat-icon>
                </button>
                <mat-error
                  *ngIf="verticalStepperStep1.controls['password_confirmation'].hasError('required') && verticalStepperStep1.controls['password_confirmation'].touched">
                  Konfirmasi kata sandi harus diisi.
                </mat-error>
                <!-- <mat-error
                  *ngIf="!verticalStepperStep1.controls['password_confirmation'].hasError('required') && verticalStepperStep1.controls['password_confirmation'].touched && verticalStepperStep1.controls['password_confirmation'].hasError('notSame')">
                  Konfirmasi kata sandi tidak sesuai.
                </mat-error> -->
                <mat-error *ngIf="verticalStepperStep1.hasError('notMatch') && verticalStepperStep1.controls['password_confirmation'].touched">
                  Konfirmasi kata sandi tidak sesuai.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="pt-24" fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button matStepperNext (click)="step1()" type="button" class="confirmation-button">
                Lanjut
              </button>
            </div>

          </form>

        </mat-step>

        <mat-step [stepControl]="wilayah">
          <form [formGroup]="wilayah">
            <ng-template matStepLabel>Area</ng-template>


            <div fxFlex="1 0 auto" fxLayout="column">
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <mat-select placeholder="National" formControlName="national">
                  <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <mat-select placeholder="Zone" formControlName="zone"
                  (selectionChange)="getAudienceArea('region', wilayah.get('zone').value)">
                  <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <mat-select placeholder="Regional" formControlName="region"
                  (selectionChange)="getAudienceArea('area', wilayah.get('region').value)">
                  <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <mat-select placeholder="Area" formControlName="area"
                  (selectionChange)="getAudienceArea('salespoint', wilayah.get('area').value)">
                  <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <mat-select placeholder="Salespoint" formControlName="salespoint"
                  (selectionChange)="getAudienceArea('district', wilayah.get('salespoint').value)">
                  <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <mat-select placeholder="District" formControlName="district"
                  (selectionChange)="getAudienceArea('territory', wilayah.get('district').value)">
                  <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="100" class="is-light form-primary">
                <mat-select placeholder="Territory" formControlName="territory">
                  <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="Latitude (Opsional)" formControlName="latitude">
              </mat-form-field>

              <mat-form-field fxFlex="100" class="is-light">
                <input matInput type="text" placeholder="Longitude (Opsional)" formControlName="longitude">
              </mat-form-field> -->
            </div>

            <div class="pt-24" fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button matStepperNext type="button" class="confirmation-button">
                Lanjut
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="verticalStepperStep2">

          <form [formGroup]="verticalStepperStep2">

            <ng-template matStepLabel>Level Akses Peran</ng-template>

            <div fxFlex="1 0 auto" fxLayout="column">
              <mat-form-field fxFlex="100" class="is-light">
                <mat-select placeholder="Admin HMS" formControlName="principal_id">
                  <mat-option *ngFor="let item of listAdminPrincipal" [value]="item.id">{{item.username}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="verticalStepperStep2.controls['principal_id'].hasError('required') && verticalStepperStep2.controls['principal_id'].touched">
                  Admin HMS harus diisi
                </mat-error>
              </mat-form-field>

              <!-- <dropdown-form [dataCb]="listRole" [dataPlaceholder]="'Peran'" [form]="verticalStepperStep2"
                (selectionChange)="selectionChange($event)"></dropdown-form> -->
            </div>

            <div class="pt-24" fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button matStepperNext (click)="step2()" type="button" class="confirmation-button">
                Lanjut
              </button>
            </div>

          </form>

        </mat-step>

        <mat-step>

          <ng-template matStepLabel>Selesai</ng-template>

          <div class="h2" fxLayout="row" fxLayoutAlign="center center">
            Apakah anda yakin untuk menyelesaikan isian ini ?
          </div>

          <div class="pt-24" fxLayout="row" fxLayoutAlign="start center">
            <button class="mr-8" mat-stroked-button matStepperPrevious type="button" color="accent">
              Kembali
            </button>
            <button mat-raised-button type="button" class="confirmation-button" (click)="submit()">
              <ng-container *ngIf="submitting == false">
                Selesai
              </ng-container>
              <ng-container *ngIf="submitting == true">
                <mat-progress-spinner mode="indeterminate" diameter="32" style="margin:0 auto;"></mat-progress-spinner>
              </ng-container>
            </button>
          </div>

        </mat-step>

      </mat-vertical-stepper>
      <!-- / VERTICAL STEPPER EXAMPLE -->

    </div>
  </div>
</div>