<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="contentTitle">
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column">
      <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="setSelectedTab($event)">
        <mat-tab label="{{ ls.locale.manajemen_konten.daftar_laporan.text1 }}">
          <app-detail-report *ngIf="selectedTab === 0"></app-detail-report>
        </mat-tab>
        <mat-tab label="{{ ls.locale.manajemen_konten.daftar_laporan.text13 }}">
          <app-reporter-list *ngIf="selectedTab === 1"></app-reporter-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>