<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="{{'retailer.detail.page_title' | translate}}" *ngIf="!formOnly">
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">

      <form [formGroup]="formRetailer">
        <div class="ayo-top" fxLayout="row" fxLayoutAlign="space-between center">
          <h3>{{'retailer.detail.page_title' | translate}}</h3>
          <!-- STATUS BUSINESS -->
          <div fxFlex="40" fxLayout="row" fxLayoutAlign="flex-end center" *ngIf="seeStatus">

            <div fxFlex="50" class="px-8">

              <mat-form-field
                [class]="formRetailer.get('status_user').value === 'active' ? 'radius-select green' : 'radius-select red'">
                <mat-select formControlName="status_user">
                  <mat-option [value]="statusUser.value" *ngFor="let statusUser of listStatusUser">{{statusUser.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div fxFlex="50" class="px-8">

              <mat-form-field
                [class]="formRetailer.get('status').value === 'active' ? 'radius-select green' : 'radius-select red'">
                <mat-select formControlName="status">
                  <mat-option [value]="status.value" *ngFor="let status of listStatus">{{status.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

          </div>

        </div>

        <div class="ayo-middle pt-24" fxLayout="column" *ngIf="seeProfile">
          <mat-form-field fxFlex="100" class="is-light">
            <input matInput placeholder="{{'global.label.name' | translate}}" type="text" formControlName="name">
            <mat-error
              *ngIf="formRetailer.controls['name'].hasError('required') && formRetailer.controls['name'].touched ">
              {{'global.label.name' | translate}} {{'global.messages.mandatory_text' | translate}}
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="100" class="is-light">
            <input matInput placeholder="{{'global.label.store_address' | translate}}" type="address" formControlName="address">
            <mat-error
              *ngIf="formRetailer.controls['address'].hasError('required') && formRetailer.controls['address'].touched ">
              {{'global.label.store_address' | translate}} {{'global.messages.mandatory_text' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100" class="is-light">
            <input matInput type="text" placeholder="{{'wholesaler.agent_code' | translate}}" formControlName="business_code">
            <mat-error
              *ngIf="formRetailer.controls['business_code'].hasError('required') && formRetailer.controls['business_code'].touched ">
              {{'wholesaler.agent_code' | translate}} {{'global.messages.mandatory_text' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100" class="is-light">
            <input matInput type="text" placeholder="{{'global.label.owner_name' | translate}}" formControlName="owner">
            <mat-error
              *ngIf="formRetailer.controls['owner'].hasError('required') && formRetailer.controls['owner'].touched ">
              {{'global.label.owner_name' | translate}} {{'global.messages.mandatory_text' | translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="50" class="is-light form-primary">
            <mat-select placeholder="{{'global.label.country' | translate}}" formControlName="country" (selectionChange)="handleCountryPhone($event)">
              <mat-option *ngFor="let item of countryList" [value]="item.code">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ayo-middle pt-24" fxLayout="column">
          <mat-form-field *ngIf="isDetail && seePhone" class="is-light">
            <input matInput type="text" placeholder="{{'global.label.phone' | translate}}" formControlName="phone">
          </mat-form-field>

          <div *ngIf="!isDetail && seePhone" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
            <small>{{'global.label.phone' | translate}}</small>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
              <mat-form-field fxFlex="7" fxFlex.xs="30" class="form-primary">
                <input matInput [value]="country_phone" readonly>
              </mat-form-field>
              <mat-form-field fxFlex="95" fxFlex.xs="70" class="form-primary">
                <input matInput formControlName="phone" type="tel">
              </mat-form-field>
            </div>
            <mat-error
              *ngIf="formRetailer.controls['phone'].hasError('required') && formRetailer.controls['phone'].touched ">
              {{'global.label.phone' | translate}} {{'global.messages.mandatory_text' | translate}}
            </mat-error>
          </div>

          <div fxLayout="row wrap" fxLayout.lt-md="column" class="py-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            fxLayoutAlign="space-between stretch" *ngIf="seeSalestree">

            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.national' | translate}}" formControlName="national"
                matTooltip="{{getToolTipData(formRetailer.get('national').value, listLevelArea)}}">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['national'].hasError('required') && formRetailer.controls['national'].touched">
                {{'global.area.national' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.zone' | translate}}" formControlName="zone"
                matTooltip="{{getToolTipData(formRetailer.get('zone').value, list['zone'])}}"
                (selectionChange)="getAudienceArea('region', formRetailer.get('zone').value)">
                <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['zone'].hasError('required') && formRetailer.controls['zone'].touched">
                {{'global.area.zone' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.regional' | translate}}" formControlName="region"
                matTooltip="{{getToolTipData(formRetailer.get('region').value, list['region'])}}"
                (selectionChange)="getAudienceArea('area', formRetailer.get('region').value)">
                <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['region'].hasError('required') && formRetailer.controls['region'].touched">
                {{'global.area.regional' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.area' | translate}}" formControlName="area"
                matTooltip="{{getToolTipData(formRetailer.get('area').value, list['area'])}}"
                (selectionChange)="getAudienceArea('salespoint', formRetailer.get('area').value)">
                <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['area'].hasError('required') && formRetailer.controls['area'].touched">
                {{'global.area.area' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.salespoint' | translate}}" formControlName="salespoint"
                matTooltip="{{getToolTipData(formRetailer.get('salespoint').value, list['salespoint'])}}"
                (selectionChange)="getAudienceArea('district', formRetailer.get('salespoint').value)">
                <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['salespoint'].hasError('required') && formRetailer.controls['salespoint'].touched">
                {{'global.area.salespoint' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.district' | translate}}" formControlName="district"
                matTooltip="{{getToolTipData(formRetailer.get('district').value, list['district'])}}"
                (selectionChange)="getAudienceArea('territory', formRetailer.get('district').value)">
                <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['district'].hasError('required') && formRetailer.controls['district'].touched">
                {{'global.area.district' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="{{'global.area.territory' | translate}}" formControlName="territory"
                matTooltip="{{getToolTipData(formRetailer.get('territory').value, list['territory'])}}">
                <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['territory'].hasError('required') && formRetailer.controls['territory'].touched">
                {{'global.area.territory' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutAlign="left stretch"
            *ngIf="!onLoad && detailRetailer?.paguyuban">

            <mat-form-field fxFlex="20" class="is-light paguyuban">
              <input matInput type="text" placeholder="{{'retailer.list.text1' | translate}}" disabled>
            </mat-form-field>
            <mat-form-field fxFlex="30" class="is-light paguyuban">
              <input matInput type="text" placeholder="{{'retailer.list.text2' | translate}}" disabled
                [value]="detailRetailer?.paguyuban_name">
            </mat-form-field>

          </div>

          <div fxLayout="column wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px"
            fxLayoutAlign="space-between stretch" *ngIf="seeProfile">
            <mat-form-field fxFlex="100" class="is-light">
              <input matInput type="text" placeholder="Latitude" formControlName="latitude">
              <mat-error
                *ngIf="formRetailer.controls['latitude'].hasError('required') && formRetailer.controls['latitude'].touched ">
                Latitude {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100" class="is-light">
              <input matInput type="text" placeholder="Longitude" formControlName="longitude">
              <mat-error
                *ngIf="formRetailer.controls['longitude'].hasError('required') && formRetailer.controls['longitude'].touched ">
                Longitude {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100" class="is-light">
              <mat-select placeholder="{{'retailer.list.text3' | translate}}" formControlName="InternalClassification"
                (selectionChange)="classificationSelectionChange($event)">
                <mat-option *ngFor="let item of listIC" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['InternalClassification'].hasError('required') && formRetailer.controls['InternalClassification'].touched ">
                {{'retailer.list.text3' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100" class="is-light">
              <mat-select placeholder="{{'retailer.list.gsr' | translate}}" formControlName="gsr" (selectionChange)="gsrChange($event)">
                <mat-option *ngFor="let item of listGSR" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['gsr'].hasError('required') && formRetailer.controls['gsr'].touched ">
                {{'retailer.list.gsr' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="100" class="is-light">
              <mat-select placeholder="{{'retailer.list.gsm_pl' | translate}}" formControlName="gsm_pl">
                <mat-option *ngFor="let item of listGSM" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['gsm_pl'].hasError('required') && formRetailer.controls['gsm_pl'].touched ">
                {{'retailer.list.gsm_pl' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- <div fxLayout="column wrap" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px"
            fxLayoutAlign="space-between stretch" *ngIf="seeAksesKasir">
            <mat-form-field fxFlex="100" class="is-light form-primary">
              <mat-select placeholder="Akses Kasir" formControlName="cashier">
                <mat-option *ngFor="let item of listCashierAccess" [value]="item.value">{{item.name}}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="formRetailer.controls['cashier'].hasError('required') && formRetailer.controls['cashier'].touched ">
                Akses Kasir {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </mat-form-field>
          </div> -->

          <div [formGroup]="formBankAccount" *ngIf="seeRekening">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <div fxLayout="row wrap" fxFlex="50">
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <input matInput type="text" maxlength="16" pattern="[0-9]*" inputmode="numeric"
                    formControlName="account_number" placeholder="{{'global.label.bank_account_number' | translate}}" numericOnly
                    (keyup)="bindFormBankAccountValidator()">
                </mat-form-field>
                <mat-error
                  *ngIf="formBankAccount.controls['account_number'].hasError('required') && formBankAccount.controls['account_number'].touched">
                  {{'global.label.bank_account_number' | translate}} {{'global.messages.mandatory_text' | translate}}
                </mat-error>
              </div>
              <div fxLayout="row wrap" fxFlex="40" style="margin-left: 63px;">
                <mat-form-field fxFlex="40" class="is-light form-primary">
                  <mat-select placeholder="{{'retailer.detail.pkp' | translate}}" [formControl]="pkp">
                    <mat-option *ngFor="let item of pkpOptions" [value]="item.key">{{ item.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <mat-error
                  *ngIf="formBankAccount.controls['pkp'].hasError('required') && formBankAccount.controls['pkp'].touched">
                  PKP {{'global.messages.mandatory_text' | translate}}
                </mat-error> -->
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <div fxLayout="row wrap" fxFlex="50">
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <mat-select placeholder="{{'retailer.list.bank_account_validation' | translate}}" formControlName="bank_final_validation"
                    (selectionChange)="bindFormBankAccountValidator()">
                    <mat-option *ngFor="let item of listBankFinalValidation" [value]="item.value">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <mat-error
                  *ngIf="formRetailer.controls['bank_final_validation'].hasError('required') && formRetailer.controls['bank_final_validation'].touched ">
                  Rekening Bank Tervalidasi {{'global.messages.mandatory_text' | translate}}
                </mat-error> -->
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <div fxLayout="row wrap" fxFlex="55">
                <mat-form-field fxFlex="91" class="is-light form-primary">
                  <mat-select formControlName="bank_name" placeholder="{{'global.label.bank_name' | translate}}" #singleSelect
                    (selectionChange)="bindFormBankAccountValidator()">
                    <ngx-mat-select-search [formControl]="filterBank" placeholderLabel="{{'global.label.search' | translate}} {{'global.label.bank_name' | translate}}"
                      noEntriesFoundLabel="{{'global.messages.data_not_found'}}">
                    </ngx-mat-select-search>
                    <mat-option *ngFor="let item of filteredBanks | async" [value]="item.name">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error
                  *ngIf="formBankAccount.controls['bank_name'].hasError('required') && formBankAccount.controls['bank_name'].touched">
                  {{'global.label.bank_name' | translate}} {{'global.messages.mandatory_text' | translate}}
                </mat-error>
                <div fxFlex="1" *ngIf="!isDetail && formBankAccount.get('bank_name').value">
                  <button mat-icon-button color="" (click)="clearBankName()">
                    <mat-icon class="secondary-text">close</mat-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row wrap" fxFlex="40" *ngIf="pkp.value === 1">
                <mat-form-field fxFlex="100" class="is-light form-primary">
                  <input matInput placeholder="{{'global.label.tax_number' | translate}}" [formControl]="npwp">
                </mat-form-field>
                <!-- <mat-error
                  *ngIf="formBankAccount.controls['npwp'].hasError('required') && formBankAccount.controls['npwp'].touched">
                  NPWP {{'global.messages.mandatory_text' | translate}}
                </mat-error> -->
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field fxFlex="50" class="is-light form-primary">
                <input matInput placeholder="{{'global.label.bank_account_name' | translate}}" formControlName="account_name"
                  (keyup)="bindFormBankAccountValidator()">
              </mat-form-field>
              <mat-error
                *ngIf="formBankAccount.controls['account_name'].hasError('required') && formBankAccount.controls['account_name'].touched">
                {{'global.label.bank_account_name' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field fxFlex="50" class="is-light form-primary">
                <input matInput placeholder="{{'global.label.bank_branch' | translate}}" formControlName="branch" (keyup)="bindFormBankAccountValidator()">
              </mat-form-field>
              <mat-error
                *ngIf="formBankAccount.controls['branch'].hasError('required') && formBankAccount.controls['branch'].touched">
                {{'global.label.bank_branch' | translate}} {{'global.messages.mandatory_text' | translate}}
              </mat-error>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="40" class="is-light form-primary">
              <input matInput placeholder="{{'retailer.list.apps_version_ayo_toko' | translate}}" formControlName="version_retailer">
            </mat-form-field>
            <mat-form-field fxFlex="40" class="is-light form-primary" style="margin-left: 30px;">
              <input matInput placeholder="{{'retailer.list.apps_version_ayo_cashier' | translate}}" formControlName="version_cashier">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="20" class="is-light form-primary">
              <mat-select formControlName="is_chat_bot" placeholder="{{'global.label.chat_bot' | translate}}">
                <mat-option [value]="statusChatBot.value" *ngFor="let statusChatBot of listStatusChatBot">
                  {{statusChatBot.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <mat-label>
                {{'retailer.list.text4' | translate}}:
              </mat-label>
              <mat-radio-group formControlName="order_online" class="radio-group pb-16" fxLayout="row wrap">
                <mat-radio-button class="radio-button" [value]="1">{{'global.label.yes' | translate}}</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="0">{{'global.label.no' | translate}}</mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <div class="ayo-top" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>{{'retailer.detail.detail_pojok_bayar_account' | translate}}</h3>
          </div>

          <div class="table-wrapper" style="box-shadow: none !important; border: 1px solid #e3e3e3;">
            <ngx-datatable class="material" [rows]="detailRetailer?.detail_pojok_bayar" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
              <ngx-datatable-column name="{{'global.label.phone' | translate}} {{'retailer.detail.pojok_bayar' | translate}}" prop="no_pojok_bayar">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.no_pojok_bayar || '-'}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="First Validation" prop="first_validation">
                <ng-template let-column="column" ngx-datatable-header-template> 
                  <span class="datatable-header-cell-wrapper">1<sup>st</sup> Layer Validation</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.first_validation}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Second Validation" prop="second_validation">
                <ng-template let-column="column" ngx-datatable-header-template> 
                  <span class="datatable-header-cell-wrapper">2<sup>nd</sup> Layer Validation</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.second_validation}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Final Validation" [sortable]="false" prop="final_validation">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.final_validation}}</div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>

          <div class="ayo-top" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>{{'retailer.list.text5' | translate}}</h3>
          </div>

          <div class="table-wrapper" style="box-shadow: none !important; border: 1px solid #e3e3e3;">
            <ngx-datatable class="material" [rows]="detailRetailer?.customers" [columnMode]="'force'"
              [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
              <ngx-datatable-column name="{{'retailer.list.text8' | translate}}" prop="fullname"></ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.phone' | translate}}" prop="phone">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.phone || '-'}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.email' | translate}}" prop="email">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.email || '-'}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.city' | translate}}" [sortable]="false" prop="city">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.city_name || '-'}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'global.label.province' | translate}}" [sortable]="false" prop="province">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                  <div class="name-container">{{row.province_name || '-'}}</div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <div class="table-wrapper"
            style="box-shadow: none !important; border: 1px solid #e3e3e3; margin-top: 15px;padding: 15px;"
            [formGroup]="formRefferalCode" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div fxLayout="row wrap" fxFlex="55">
              <mat-form-field fxFlex="91" class="is-light form-primary">
                <input matInput placeholder="{{'retailer.list.text6' | translate}}" formControlName="ref_code">
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxFlex="55">
              <mat-form-field fxFlex="91" class="is-light form-primary">
                <input matInput placeholder="{{'retailer.list.text7' | translate}}" formControlName="customer_code">
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxFlex="55">
              <mat-form-field fxFlex="91" class="is-light form-primary">
                <input matInput placeholder="{{'retailer.list.text8' | translate}}" formControlName="customer_name">
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxFlex="55">
              <mat-form-field fxFlex="91" class="is-light form-primary">
                <input matInput placeholder="{{'retailer.list.text9' | translate}}" formControlName="customer_type">
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxFlex="55">
              <mat-form-field fxFlex="91" class="is-light form-primary">
                <input matInput [matDatepicker]="date" (focus)="date.open()" formControlName="date_ref_code"
                  placeholder="{{'retailer.list.text10' | translate}}">
                <mat-datepicker-toggle matSuffix [for]="date">
                  <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="confirm btn-confirm py-24" fxLayout="row" fxLayoutGap="25px">
            <button *ngIf="!isDetail && !disableSubmit" mat-raised-button type="button" class="confirmation-button"
              fxFlex="20" (click)="submit()">
              {{'global.button.save' | translate}}
            </button>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>