<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Admin Detail'">
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">

      <form [formGroup]="formAdmin">
        <div class="ayo-top" fxLayout="row" fxLayoutAlign="space-between center">
          <h3>Detil Admin</h3>
          <mat-form-field [class]="formAdmin.get('status').value === 'active' ? 'radius-select green' : 'radius-select red'">
            <mat-select formControlName="status">
              <mat-option [value]="status.value" *ngFor="let status of listStatus">{{status.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="ayo-middle pt-24" fxLayout="column">

          <mat-form-field fxFlex="100" class="is-light">
            <input matInput placeholder="Nama" type="text" formControlName="name">
            <mat-error *ngIf="formAdmin.controls['name'].hasError('required') && formAdmin.controls['name'].touched ">
              Nama harus diisi.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="100" class="is-light">
            <input matInput disabled placeholder="Username" type="text" formControlName="username">
          </mat-form-field>

          <mat-form-field fxFlex="100" class="is-light">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="formAdmin.controls['email'].hasError('required') && formAdmin.controls['email'].touched ">
              Alamat email harus diisi.
            </mat-error>
          </mat-form-field>
          <div fxLayout="row wrap" fxLayout.lt-md="column" class="py-16" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="National" formControlName="national">
                <mat-option *ngFor="let item of listLevelArea" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="Zone" formControlName="zone" (selectionChange)="getAudienceArea('region', formAdmin.get('zone').value)">
                <mat-option *ngFor="let item of list['zone']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="Regional" formControlName="region" (selectionChange)="getAudienceArea('area', formAdmin.get('region').value)">
                <mat-option *ngFor="let item of list['region']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="Area" formControlName="area" (selectionChange)="getAudienceArea('salespoint', formAdmin.get('area').value)">
                <mat-option *ngFor="let item of list['area']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="Salespoint" formControlName="salespoint" (selectionChange)="getAudienceArea('district', formAdmin.get('salespoint').value)">
                <mat-option *ngFor="let item of list['salespoint']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="District" formControlName="district" (selectionChange)="getAudienceArea('territory', formAdmin.get('district').value)">
                <mat-option *ngFor="let item of list['district']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="31%" class="is-light form-primary">
              <mat-select placeholder="Territory" formControlName="territory">
                <mat-option *ngFor="let item of list['territory']" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxLayout="row">
            <mat-form-field fxFlex="40" class="is-light">
              <mat-select placeholder="Peran" formControlName="role">
                <mat-option *ngFor="let item of listRole" [value]="item.id">{{item.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formAdmin.controls['role'].hasError('required') && formAdmin.controls['role'].touched ">
                Peran harus diisi.
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <mat-form-field fxFlex="100" class="is-light">
            <input matInput placeholder="Kata Sandi Baru" type="password" formControlName="password">
          </mat-form-field>
          <mat-form-field fxFlex="100" class="is-light">
            <input matInput placeholder="Konfirmasi Kata Sandi" type="password" formControlName="confirmation_password">
          </mat-form-field> -->

          <!-- <div class="btn-confirm" fxLayout="row" fxLayoutGap="25px">
            <button mat-stroked-button>Reset Password</button>
          </div> -->

          <div *ngIf="!isDetail" class="confirm btn-confirm" fxLayout="row" fxLayoutGap="25px">
            <button mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
              SIMPAN
            </button>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>
