<div class="page-layout simple fullwidth" fxLayout="column">
  <!-- HEADER -->
  <page-content-header [contentTitle]="ls.locale.global.button.add + ' Principal Partnership'"></page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="">{{ ls.locale.global.button.add }} Principal Partnership</h2>
      </div>
      <div class="ayo-middle py-24" fxLayout="column">
        <form autocomplete="off" [formGroup]="formPrincipal">
          <div fxLayout="row">
            <mat-form-field fxFlex="45" class="is-light form-primary">
              <input matInput type="text" formControlName="name"
                placeholder="{{ ls.locale.principal_partnership.principal_name }}">
              <mat-error
                *ngIf="formPrincipal.controls['name'].hasError('required') && formPrincipal.controls['name'].touched">
                {{ ls.locale.principal_partnership.principal_name }} {{ ls.locale.global.message.mandatory_text }}
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <div class="confirm pt-24 pb-24" fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button type="button" class="confirmation-button" (click)="submit()" fxFlex="20">
        {{ ls.locale.global.button.save }}
      </button>
    </div>
    <a #downloadLink></a>
  </div>
</div>