<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Audience Trade Program'">
  </page-content-header>
  <!-- / HEADER -->
  <div class="content p-24">
    <div class="ayo-main-wrapper mat-white-bg p-0" fxLayout="column">
      <mat-tab-group [selectedIndex]="selectedTab" (selectedTabChange)="setSelectedTab($event)">
        <mat-tab label="e-Order">
          <app-eorder *ngIf="selectedTab === 0"></app-eorder>
        </mat-tab>
        <mat-tab label="Digital Coupon">
          <app-eorder *ngIf="selectedTab === 1"></app-eorder>
        </mat-tab>
        <mat-tab label="Referral Code">
          <app-eorder *ngIf="selectedTab === 2"></app-eorder>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>