<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="{{'iklan_dalam_aplikasi.spanduk_online.text1' | translate}}">
    <button [routerLink]="['/advertisement','banner', 'sorting']" mat-raised-button type="button">
      <mat-icon>sort</mat-icon> {{ 'iklan_dalam_aplikasi.spanduk_online.text2' | translate }}
    </button>
    <button style="width: 170px" [routerLink]="['/advertisement','banner', 'create']" mat-raised-button type="button">
      <mat-icon>add</mat-icon> {{ 'bantuan.text14' | translate }}
    </button>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{ 'iklan_dalam_aplikasi.spanduk_online.text1' | translate }}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput [placeholder]="ls.locale.global.label.search" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="pagination.total"
        [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)"
        (sort)="onSort($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.global.label.name }}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text3 }}" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text4 }}" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text5 }}" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="{{ ls.locale.global.label.status }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{ ls.locale.global.label.action }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.view_banner'}}"
                (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.edit_banner' | translate}}"
                (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.delete_banner'}}" (click)="deleteSpanduk(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

<!--/ Ticker -->
  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{ 'iklan_dalam_aplikasi.spanduk_online.ticker' | translate }}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput [placeholder]="ls.locale.global.label.search" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="pagination.total"
        [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)"
        (sort)="onSort($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.global.label.name }}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text3 }}" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text4 }}" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text5 }}" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="{{ ls.locale.global.label.status }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{ ls.locale.global.label.action }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.view_banner'}}"
                (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.edit_banner' | translate}}"
                (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.delete_banner'}}" (click)="deleteSpanduk(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <!--/ INFO TERKINI -->
  <div class="content p-24" *ngIf="!infoTerkiniOnLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{'iklan_dalam_aplikasi.spanduk_online.nets'}}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="_onSearch.next({keyword: $event.target.value, searchType: TYPE_BANNER.INFO_TERKINI})" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="infoTerkiniRows" [loadingIndicator]="infoTerkiniLoadingIndicator" [columnMode]="'force'"
        [offset]="infoTerkiniOffsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="infoTerkiniPagination.total"
        [limit]="infoTerkiniPagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPageInfoTerkini($event)"
        (sort)="onSortInfoTerkini($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.global.label.name }}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text3 }}" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text4 }}" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text5 }}" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="{{ ls.locale.global.label.status }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{ ls.locale.global.label.action }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.view_banner'}}"
                (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.edit_banner' | translate}}"
                (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.delete_banner'}}" (click)="deleteSpanduk(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <!--/ INFO TERKINI -->

  <!--/ Toko Terdekat -->
  <div class="content p-24" *ngIf="!terdekatOnLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{'iklan_dalam_aplikasi.spanduk_online.nets'}}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="_onSearch.next({keyword: $event.target.value, searchType: TYPE_BANNER.TERDEKAT})" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="terdekatRows" [loadingIndicator]="terdekatLoadingIndicator" [columnMode]="'force'"
        [offset]="terdekatOffsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="terdekatPagination.total"
        [limit]="terdekatPagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPageTerdekat($event)"
        (sort)="onSortTerdekat($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'global.label.name' | translate}}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text3' | translate}}" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text4' | translate}}" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text5' | translate}}" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="{{'global.label.status' | translate}}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{'global.label.action' | translate}}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.view_banner'}}"
                (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.edit_banner' | translate}}"
                (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.delete_banner'}}" (click)="deleteSpanduk(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <!--/ Toko Terdekat -->

  <!--/ Info SRC -->
  <div class="content p-24" *ngIf="!infoSRCOnLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{'iklan_dalam_aplikasi.spanduk_online.src_info'}}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="_onSearch.next({keyword: $event.target.value, searchType: TYPE_BANNER.INFO_SRC})" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="infoSRCRows" [loadingIndicator]="infoSRCLoadingIndicator" [columnMode]="'force'"
        [offset]="infoSRCOffsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="infoSRCPagination.total"
        [limit]="infoSRCPagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPageInfoSRC($event)"
        (sort)="onSortInfoSRC($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ls.locale.global.label.name}}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text3' | translate}}" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text4' | translate}}" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text5' | translate}}" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="{{'global.label.status' | translate}}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{'global.label.action' | translate}}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.view_banner'}}"
                (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.edit_banner' | translate}}"
                (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.delete_banner'}}" (click)="deleteSpanduk(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <!--/ Info SRC -->

  <!--/ Flying Button -->
  <div class="content p-24" *ngIf="!fbtnOnLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{'iklan_dalam_aplikasi.spanduk_online.flying_button'}}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="{{ls.locale.global.label.search}}" (keyup)="_onSearch.next({keyword: $event.target.value, searchType: TYPE_BANNER.FBTN})" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="fbtnRows" [loadingIndicator]="fbtnLoadingIndicator" [columnMode]="'force'"
        [offset]="fbtnOffsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="fbtnPagination.total"
        [limit]="fbtnPagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPageFbtn($event)"
        (sort)="onSortFbtn($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ls.locale.global.label.name}}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text3' | translate}}" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text4' | translate}}" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{'iklan_dalam_aplikasi.spanduk_online.text5' | translate}}" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="{{'global.label.status' | translate}}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{'global.label.action' | translate}}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.view_banner'}}"
                (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.edit_banner' | translate}}"
                (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.delete_banner'}}" (click)="deleteSpanduk(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <!--/ Flying Button -->

  <!--/ AKTIVASI KONSUMEN -->
  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">{{'iklan_dalam_aplikasi.spanduk_online.consumer_activation'}}</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="{{ ls.locale.global.label.search }}" (keyup)="_onSearch.next({keyword: $event.target.value, searchType: TYPE_BANNER.AKTIVASI_KONSUMEN})" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="aktivasiKonsumenRows" [loadingIndicator]="aktivasiKonsumenLoadingIndicator" [columnMode]="'force'"
        [offset]="aktivasiKonsumenOffsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
        [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="aktivasiKonsumenPagination.total"
        [limit]="aktivasiKonsumenPagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPageAktivasiKonsumen($event)"
        (sort)="onSortAktivasiKonsumen($event)">

        <ngx-datatable-column [width]="68" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
          </ng-template>

          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ID" prop="id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.id}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="140" name="" [canAutoResize]="false" [sortable]="true">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container pl-8 pt-8 pb-8 pr-0">
              <img class="banner-image" *ngIf="row.image_url" [src]="row.image_url">
              <img class="banner-image" *ngIf="!row.image_url"
                [src]="'https://i2.wp.com/www.solidcolore.com/3840/d3d3d3_background.jpg?ssl=1'">
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.global.label.name }}" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text3 }}" prop="user_group">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.user_group | toCapitalize}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text4 }}" prop="target_page">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.target_page?.slug}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="{{ ls.locale.iklan_dalam_aplikasi.spanduk_online.text5 }}" prop="to">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.to | date: 'dd/MM/yyyy'}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="68" name="{{ ls.locale.global.label.status }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="name-container pl-12">
              <mat-icon *ngIf="row.status === 'publish'" class="active-icon mat-green-600-bg s-18">check</mat-icon>
              <mat-icon *ngIf="row.status === 'draft'" class="active-icon mat-red-500-bg s-18">close</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="{{ ls.locale.global.label.action }}" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="button-row" style="margin-left: -10px">
              <button mat-icon-button *ngIf="!permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.view_banner'}}"
                (click)="directDetail(row)">
                <mat-icon class="secondary-text">assignment</mat-icon>
              </button>
              <button mat-icon-button *ngIf="permission?.ubah" color="" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.edit_banner' | translate}}"
                (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" matTooltip="{{'iklan_dalam_aplikasi.spanduk_online.delete_banner'}}" (click)="deleteSpanduk(row.id)"
                [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <!--/ AKTIVASI KONSUMEN -->

</div>