<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Daftar Perusahaan'">
    <div class="button-row" fxLayout="row">
      <button style="width: 170px;" mat-raised-button aria-label="Login" type="button"
        [routerLink]="['/paylater', 'companies', 'create']">
        <mat-icon>add</mat-icon>BUAT
      </button>
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">Daftar Perusahaan</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
        [count]="pagination.total" [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true"
        (page)="setPage($event)" (sort)="onSort($event)" (select)="onSelect($event)">

        <ngx-datatable-column name="Nama" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span class="row-name" (click)="directDetail(row)">{{row.name}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nomor Kontak" prop="contact_number">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.contact_number}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Email" prop="email">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.email}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Flowingly ID" prop="flowingly_id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.flowingly_id}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Minimum Transaksi" prop="minimum_transaction">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <span *ngIf="row.minimum_transaction">{{row.minimum_transaction| rupiahFormater }}</span>
            <span *ngIf="!row.minimum_transaction">-</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="100" name="Status" prop="status">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div class="name-container">
              <p [matMenuTriggerFor]="appMenu" class="status text-truncate h6 p-4" matTooltip="Ubah Status Perusahaan"
                style="cursor: pointer;min-width: 100px !important;min-height: 20px;text-align: center;font-size: .9em;border-radius: 3px; text-transform: uppercase;"
                [ngClass]="row.status == 'active' ? 'mat-green-800-bg' : 'mat-red-900-bg'">
                {{row.status == 'active' ? 'Aktif' : 'Tidak Aktif'}}
              </p>
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item (click)="updateStatus(row, 'active')">Aktif</button>
                <button mat-menu-item (click)="updateStatus(row, 'inactive')">Tidak Aktif</button>
              </mat-menu>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" name="Tindakan" headerClass="textright" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row pl-8">
              <button mat-icon-button color="" matTooltip="Ubah Perusahaan" (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>
              <!-- <button mat-icon-button color="primary" (click)="deleteCompany(row.id)">
                <mat-icon>delete</mat-icon>
              </button> -->
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>