<div id="main-navigation" class="nav"
     [ngClass]="{'horizontal':layout === 'horizontal', 'vertical':layout === 'vertical'}">

    <!-- Vertical Navigation Layout -->
    <ng-container *ngIf="layout === 'vertical'">

        <ng-container *ngFor="let item of navigation">

            <fuse-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></fuse-nav-vertical-group>
            <fuse-nav-vertical-collapse *ngIf="item.type=='collapse'" [item]="item"></fuse-nav-vertical-collapse>
            <fuse-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></fuse-nav-vertical-item>

        </ng-container>

        <div class="nav-item">
            <a class="nav-link" (click)="redirectToPrivacy()"
                routerLinkActive="active" matRipple>
                <mat-icon class="nav-link-icon" >help_outline</mat-icon>
                <span class="nav-link-title">{{ ls.locale.left_navigation.leftnav1 }}</span>
            </a>
        </div>
        
        <div class="nav-item">
            <a class="nav-link" [routerLink]="['syarat-ketentuan']"
                routerLinkActive="active" matRipple>
                <mat-icon class="nav-link-icon" >help_outline</mat-icon>
                <span class="nav-link-title">{{ ls.locale.left_navigation.leftnav2 }}</span>
            </a>
        </div>

        <div class="nav-item">
            <a class="nav-link" id="onetrust-pc-btn-handler"
                routerLinkActive="active" matRipple>
                <mat-icon class="nav-link-icon" >storage</mat-icon>
                <span class="nav-link-title">{{ ls.locale.left_navigation.leftnav3 }}</span>
            </a>
        </div>
        

    </ng-container>
    <!-- / Vertical Navigation Layout -->

    <!-- Horizontal Navigation Layout -->
    <ng-container *ngIf="layout === 'horizontal'">

        <ng-container *ngFor="let item of navigation">

            <fuse-nav-horizontal-collapse *ngIf="item.type=='group'" [item]="item"></fuse-nav-horizontal-collapse>
            <fuse-nav-horizontal-collapse *ngIf="item.type=='collapse'" [item]="item"></fuse-nav-horizontal-collapse>
            <fuse-nav-horizontal-item *ngIf="item.type=='item'" [item]="item"></fuse-nav-horizontal-item>

        </ng-container>

    </ng-container>
    <!-- / Horizontal Navigation Layout -->

</div>
