@import 'src/@fuse/scss/fuse';

fuse-navigation {
    display: flex;
    flex: 1 0 auto;

    #main-navigation {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
:host {

    .folded:not(.unfolded) & {

        .nav-link {

            > .nav-link-title,
            > .nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }
    }

    .nav-link {
        > .nav-link-badge{
            background-color: #fff;
            color: #000;
        }
    }
}
