 <div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <!-- HEADER -->
    <page-content-header [contentTitle]="'Create Access Level'">
    </page-content-header>
    <!-- / HEADER -->

    <div class="content p-24">
        <div class="ayo-main-wrapper mat-white-bg" fxLayout="column">
            <div class="ayo-middle py-24" fxLayout="column">
            <div class="is-half">
                <div fxLayout="column">
                        <mat-form-field fxFlex="100" class="is-light">
                            <input matInput placeholder="Access Level Name" required>
                        </mat-form-field>


                        <mat-form-field fxFlex="100" class="is-light">
                            <mat-select placeholder="Territory" required>
                                <mat-option [value]="'a'">
                                    Territory A
                                </mat-option>
                                <mat-option [value]="'b'">
                                    Territory B
                                </mat-option>
                                <mat-option [value]="'c'">
                                    Territory C
                                </mat-option>
                                <mat-option [value]="'d'">
                                    Territory D
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
                
            </div>
                

                
            </div>
        </div>
    </div>
</div>