<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header contentTitle="Buat Undian">
    <button id="btn-create-trade" style="width: 170px" [routerLink]="['/dte','lottery']" mat-raised-button type="button">
      <mat-icon>save</mat-icon> {{'global.button.save' | translate}}
    </button>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <mat-tab-group>
        <mat-tab label="Undian">
          <div class="ayo-middle py-24" fxLayout="column">
            <form autocomplete="off" [formGroup]="formUndian" fxLayout="row" fxLayoutGap="16px">
              <div fxFlex="70%">
                <div fxLayout="row" class="px-24">
                  <mat-form-field fxFlex class="is-light form-primary">
                    <input matInput type="text" placeholder="Nama Program Kupon Undian" formControlName="name"
                      name="name">
                    <mat-error
                      *ngIf="formUndian.controls['name'].hasError('required') && formUndian.controls['name'].touched">
                      Nama Program Kupon Undian {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" class="px-24">
                  <mat-form-field fxFlex class="is-light form-primary">
                    <input matInput type="number" placeholder="Jumlah Koin yang dibutuhkan per Kupon" formControlName="coin"
                      name="coin">
                      <mat-error
                      *ngIf="formUndian.controls['coin'].hasError('required') && formUndian.controls['coin'].touched">
                      Koin {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutGap.lt-md="0px" class="px-24">
                  <mat-form-field fxFlex="35%" class="is-light form-primary">
                    <input matInput formControlName="start_date" [min]="minDateFrom" (focus)="startDate.open()"
                      [matDatepicker]="startDate" placeholder="Tanggal Awal Penukaran Kupon Undian" (dateChange)="setMinEndDate()">
                    <mat-datepicker-toggle matSuffix [for]="startDate">
                      <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                    <mat-error
                      *ngIf="formUndian.controls['start_date'].hasError('required') && formUndian.controls['start_date'].touched">
                      Tanggal Awal Penukaran Kupon Undian {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
      
                  <mat-form-field fxFlex="35%" class="is-light form-primary">
                    <input matInput formControlName="end_date" (focus)="endDate.open()" [matDatepicker]="endDate"
                      placeholder="Tanggal Akhir Penukaran Kupon Undian" [min]="minDate" (dateChange)="setMinExpireDate()">
                    <mat-datepicker-toggle matSuffix [for]="endDate">
                      <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                    <mat-error
                      *ngIf="formUndian.controls['end_date'].hasError('required') && formUndian.controls['end_date'].touched">
                      Tanggal Akhir Penukaran Kupon Undian {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="35%" class="is-light form-primary">
                    <input matInput formControlName="announcement_date" (focus)="announcmentDate.open()" [matDatepicker]="announcmentDate"
                      placeholder="Tanggal Pengumuman Pemenang Berakhir" [min]="minDate" (dateChange)="setMinExpireDate()">
                    <mat-datepicker-toggle matSuffix [for]="announcmentDate">
                      <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #announcmentDate></mat-datepicker>
                    <mat-error
                      *ngIf="formUndian.controls['announcement_date'].hasError('required') && formUndian.controls['announcement_date'].touched">
                      Tanggal Pengumuman Pemenang Berakhir {{'global.messages.mandatory_text' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutGap.lt-md="0px" class="px-24">
                  <!-- <mat-form-field fxFlex="50" class="is-light form-primary">
                    <mat-select formControlName="group_trade_program" placeholder="{{'dte.group_trade_program.text1' | translate}}" multiple>
                      <ngx-mat-select-search [formControl]="filterGTP" placeholderLabel="{{'global.label.search' | translate}} {{'dte.group_trade_program.text1' | translate}}..."
                        noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"></ngx-mat-select-search>
                      <mat-option *ngFor="let item of filteredGTP | async" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <mat-form-field fxFlex="50" class="is-light form-primary">
                    <mat-select formControlName="sub_group_trade_program" placeholder="Sub Group Trade Program" multiple>
                      <ngx-mat-select-search [formControl]="filterSGTP" placeholderLabel="{{'global.label.search' | translate}} Sub {{'dte.group_trade_program.text1' | translate}}..."
                        noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"></ngx-mat-select-search>
                      <mat-option *ngFor="let item of filteredSGTP | async" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="confirm pt-24 pb-24 px-24" fxLayout="row">
                  <button id="btn-simpan-trade" mat-raised-button type="button" class="confirmation-button" fxFlex="20" (click)="submit()">
                    {{ls.locale.global.button.save}}
                  </button>
                </div>

                <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutGap.lt-md="0px" class="px-24">
                  <mat-form-field fxFlex="100" class="is-light form-primary"> -->
                    <!-- <mat-select formControlName="group_trade_program" placeholder="Group Trade Program">
                      <mat-option *ngFor="let item of listGroupTradeProgram" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select> -->
                    <!-- <mat-select formControlName="group_trade_program" placeholder="{{'dte.group_trade_program.text1' | translate}}" #singleSelect>
                      <ngx-mat-select-search [formControl]="filterGTP" placeholderLabel="{{'global.label.search' | translate}} {{'dte.group_trade_program.text1' | translate}}..."
                        noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"></ngx-mat-select-search>
                      <mat-option *ngFor="let item of filteredGTP | async" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <!-- <mat-form-field fxFlex="50" class="is-light form-primary">
                    <mat-select formControlName="sub_group_trade_program" placeholder="Sub Group Trade Program" #singleSelect>
                      <ngx-mat-select-search [formControl]="filterSGTP" placeholderLabel="{{'global.label.search' | translate}} Sub {{'dte.group_trade_program.text1' | translate}}..."
                        noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"></ngx-mat-select-search>
                      <mat-option *ngFor="let item of filteredSGTP | async" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                <!-- </div> -->
                <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutGap.lt-md="0px" class="px-24">
                  <mat-form-field fxFlex="100" class="is-light form-primary">
                    <mat-select formControlName="sub_group_trade_program" placeholder="Sub Group Trade Program" #singleSelect>
                      <ngx-mat-select-search [formControl]="filterSGTP" placeholderLabel="{{'global.label.search' | translate}} Sub {{'dte.group_trade_program.text1' | translate}}..."
                        noEntriesFoundLabel="{{'global.messages.data_not_found' | translate}}"></ngx-mat-select-search>
                      <mat-option *ngFor="let item of filteredSGTP | async" [value]="item.id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                 -->
              </div>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Audience" [disabled]="true">
          <div class="ayo-middle py-24" fxLayout="column">
           
          </div>
        </mat-tab>
        <mat-tab label="Preview" [disabled]="true">
          <div class="ayo-middle py-24" fxLayout="column">
            
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>