<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <page-content-header [contentTitle]="ls.locale.produk_prinsipal.text2">
  </page-content-header>

  <div class="content p-24">
    <div class="ayo-main-wrapper mat-bg-white p-0">
      <div fxLayout="row" class="p-24 bb" fxLayoutAlign="space-between center">
        <h2 class="m-0">{{ isDetail? 'Detail' : 'Edit' }} Supplier</h2>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-label>Status:</mat-label>
          <mat-form-field class="orders dropdown" [class]="supplierStatusSelected == 'active'? 'orders status-active' : supplierStatusSelected == 'inactive'? 'orders status-nonactive': 'orders status-active'" fxLayout="row" fxLayoutAlign="center center">
            <mat-select [(ngModel)]="supplierStatusSelected" *ngIf="!isDetail">
              <mat-option [value]="item.status" *ngFor="let item of supplierStatusList">{{item.name}}</mat-option>
            </mat-select>
            <mat-select [(ngModel)]="supplierStatusSelected" [disabled]="true" *ngIf="isDetail">
              <mat-option [value]="item.status" *ngFor="let item of supplierStatusList">{{item.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <form [formGroup]="createForm" autocomplete="off">
        <div class="p-24" fxLayout="column">
          <div fxLayout="row">
            <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="is-light">
              <input matInput type="text" placeholder="{{ ls.locale.produk_prinsipal.text4 }}" formControlName="namasupplier" autocomplete="off" #namasupplier *ngIf="!isDetail">
              <input matInput type="text" placeholder="{{ ls.locale.produk_prinsipal.text4 }}" formControlName="namasupplier" autocomplete="off" readonly *ngIf="isDetail">
              <mat-error
                *ngIf="createForm.controls['namasupplier'].hasError('required') && createForm.controls['namasupplier'].touched ">
                {{ ls.locale.produk_prinsipal.text4 }} {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="isFromPrivateLabel();" fxLayout="row">
            <mat-form-field fxFlex="100" fxFlex.gt-sm="50" class="is-light form-primary">
              <mat-chip-list #chipList aria-label="Keyword Selection">
                <mat-chip *ngFor="let product of products" [selectable]="productSelectable"
                  [removable]="productRemovable" (removed)="removeChip(product)">
                  {{product.name}}
                  <mat-icon matChipRemove *ngIf="productRemovable">cancel</mat-icon>
                </mat-chip>
                <input matInput placeholder="{{ ls.locale.produk_prinsipal.text5 }}" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="productSeparatorKeysCodes" [matChipInputAddOnBlur]="productAddOnBlur"
                  (matChipInputTokenEnd)="addChip($event)" [formControl]="productControl" [matAutocomplete]="auto" *ngIf="!isDetail">
                  <input matInput placeholder="{{ ls.locale.produk_prinsipal.text5 }}" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="productSeparatorKeysCodes" [matChipInputAddOnBlur]="productAddOnBlur"
                    (matChipInputTokenEnd)="addChip($event)" [formControl]="productControl" readonly *ngIf="isDetail">
              </mat-chip-list>
              <mat-error *ngIf="products.length == 0">
                {{ ls.locale.produk_prinsipal.text5 }} {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of productOptions | async" [value]="option.name"
                (click)="addProductChip(option)" [disabled]="option.disabled">
                <span *ngIf="isProductFound">{{option.name}}</span>
                <span *ngIf="!isProductFound" title="{{option.text}}">{{ ls.locale.bantuan.text7 }}
                  <span style="font-weight: 800;">"{{option.value}}"</span> {{ ls.locale.produk_prinsipal.text7a }}
                  {{ ls.locale.produk_prinsipal.text7b }}</span>
              </mat-option>
            </mat-autocomplete>
          </div>
          <div fxLayout="column" class="mb-8">
            <label class="field-label" *ngIf="createForm.controls['alamat'].value">{{ ls.locale.global.label.address }}</label>
            <div fxLayout="row" >
              <div class="body-layout" fxFlex="100" fxFlex.gt-sm="50">
                <textarea matInput class="body-text" placeholder="{{ ls.locale.global.label.address }}" formControlName="alamat" wrap="soft" #alamat *ngIf="!isDetail"></textarea>
                <textarea matInput class="body-text" placeholder="{{ ls.locale.global.label.address }}" formControlName="alamat" wrap="soft" readonly *ngIf="isDetail"></textarea>
              </div>
            </div>
            <mat-error *ngIf="createForm.controls['alamat'].hasError('required') && createForm.controls['alamat'].touched">
              {{ ls.locale.global.label.address }} {{ ls.locale.global.messages.mandatory_text }}
            </mat-error>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="50" class="is-light">
              <input matInput type="text" placeholder="{{ ls.locale.bantuan.text10 }}" formControlName="telepon" minlength="6" #telepon *ngIf="!isDetail">
              <input matInput type="text" placeholder="{{ ls.locale.bantuan.text10 }}" formControlName="telepon" minlength="6" readonly *ngIf="isDetail">
              <mat-error
                *ngIf="createForm.controls['telepon'].hasError('required') && createForm.controls['telepon'].touched">
                {{ ls.locale.bantuan.text10 }} {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
              <mat-error
                *ngIf="createForm.get('telepon').errors?.minlength && createForm.controls['telepon'].touched">
                {{ ls.locale.produk_prinsipal.phone_min }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex="50" class="is-light">
              <input matInput type="text" placeholder="{{ ls.locale.global.label.phone }}" formControlName="ponsel" minlength="10" #ponsel *ngIf="!isDetail">
              <input matInput type="text" placeholder="{{ ls.locale.global.label.phone }}" formControlName="ponsel" minlength="10" readonly *ngIf="isDetail">
              <mat-error
                *ngIf="createForm.controls['ponsel'].hasError('required') && createForm.controls['ponsel'].touched">
                {{ ls.locale.global.label.phone }} {{ ls.locale.global.messages.mandatory_text }}
              </mat-error>
              <mat-error
                *ngIf="createForm.get('ponsel').errors?.minlength && createForm.controls['ponsel'].touched">
                {{ ls.locale.produk_prinsipal.phone_min_2 }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <label class="field-label" *ngIf="catatanControl.value">{{ ls.locale.global.label.note }}</label>
            <div fxLayout="row" >
              <div class="body-layout" fxFlex="100" fxFlex.gt-sm="50">
                <textarea matInput class="body-text" placeholder="{{ ls.locale.global.label.note }}" [formControl]="catatanControl" wrap="soft" *ngIf="!isDetail"></textarea>
                <textarea matInput class="body-text" placeholder="{{ ls.locale.global.label.note }}" [formControl]="catatanControl" wrap="soft" readonly *ngIf="isDetail"></textarea>
              </div>
            </div>
          </div>
          <div class="confirm pt-8 pb-24" fxLayout="row" *ngIf="!isDetail">
            <button mat-raised-button type="button" class="confirmation-button" fxFlex="30" fxFlex.gt-xs="20" (click)="onSave()">
              {{ ls.locale.global.button.save }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
