<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'Language'">
    <div class="button-row" fxLayout="row">
      <button *ngIf="true" style="width: 170px;" mat-raised-button aria-label="Login" type="button"
        [routerLink]="['/user-management','languages','create']">
        <mat-icon>add</mat-icon>{{ ls.locale.global.button.add }}
      </button>
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <div class="table-wrapper">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="top-table pt-8">
        <h2 class="pl-8">Language</h2>
        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput [placeholder]="ls.locale.global.label.search" (keyup)="keyUp.next($event.target.value)"
              autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
        [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable"
        [count]="pagination.total" [limit]="pagination.per_page"
        [offset]="offsetPagination" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)">

        <ngx-datatable-column [name]="ls.locale.country_setup.name" prop="name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="200" name="File Name" prop="file_name">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            <div fxFlex="100" fxLayout="column">
              <span fxFlex="100" *ngFor="let file of row.files" fxLayout="row" fxLayoutAlign="space-between">
                <span>{{file.type}} :</span> <span>{{ getFileName(file.path) }}</span>
              </span>
            </div>

          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Updated" prop="updated_at" [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.updated_at }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Export">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">

            <div class="button-row" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between">
              <button mat-icon-button fxFlex (click)="export(row)">
                <mat-icon class="secondary-text">arrow_upward</mat-icon>
                Export File
              </button>
            </div>

          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [width]="98" [name]="ls.locale.admin_principal.text13" headerClass="textright"
          [sortable]="false">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-between">
              <!-- <button mat-icon-button fxFlex (click)="delete(row)">
                <mat-icon class="secondary-text">delete</mat-icon>
              </button> -->

              <button mat-icon-button fxFlex *ngIf="true" color="" (click)="directEdit(row)">
                <mat-icon class="secondary-text">edit</mat-icon>
              </button>

            </div>

          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>