<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="'B2C Voucher'">
    <div class="button-row" fxLayout="row">
      <button style="width: 170px;" mat-raised-button aria-label="Login" type="button"
        [routerLink]="['/b2c-voucher','create']">
        <mat-icon>add</mat-icon>TAMBAH
      </button>
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24">
    <mat-tab-group>
      <mat-tab label="Inject B2C Voucher">
        <div class="table-wrapper">
          <div class="hole-cover"></div>
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [loadingIndicator]="loadingIndicator"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [scrollbarH]="true" 
            [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page" [offset]="offsetPagination" 
            [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)">

            <ngx-datatable-column name="Nama Voucher" prop="name">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <a class="direct-edit" (click)="directDetail(row)">{{row.name}} </a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Jumlah Consumer" prop="audience_customer_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.audience_customer_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Jumlah Retailer" prop="audience_retailer_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.audience_retailer_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Jumlah Voucher Dikirim" prop="qty_voucher_sent">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.qty_voucher_sent | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Consumer Tukar Voucher" prop="customer_redeem_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.customer_redeem_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Toko Terima Voucher" prop="retailer_receive_voucher_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.retailer_receive_voucher_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Jumlah Voucher Ditukar" prop="voucher_redeem_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.voucher_redeem_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tanggal Awal Program" prop="start_date">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.start_date | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tanggal Akhir Program" prop="end_date">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.end_date | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tanggal Awal Pemakaian Voucher" prop="available_at">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.available_at | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tanggal Expiry Voucher" prop="expired_at">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.expired_at | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Nilai Voucher" prop="nominal" >
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.nominal | rupiahFormater }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Tindakan" [sortable]="false" [frozenRight]="true">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <div class="button-row">
                  <button mat-icon-button *ngIf="permission?.ubah" color="" (click)="editVoucher(row)">
                    <mat-icon class="secondary-text">edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="deleteVoucher(row.id)"
                    [ngStyle]="{'cursor': !permission?.hapus ? 'no-drop' : ''}" [disabled]="!permission?.hapus">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </mat-tab>
      <mat-tab label="List Voucher Reimbursement">
        <app-list-voucher-reimbursement></app-list-voucher-reimbursement>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>