<div class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
  <!-- HEADER -->
  <page-content-header [contentTitle]="ls.locale.cn_reward.b2c_voucher.text1">
    <div class="button-row" fxLayout="row">
      <button style="width: 170px;" mat-raised-button aria-label="Login" type="button"
        [routerLink]="['/b2c-voucher','create']">
        <mat-icon>add</mat-icon> {{ ls.locale.global.button.add }}
      </button>
    </div>
  </page-content-header>
  <!-- / HEADER -->

  <div class="content p-24" *ngIf="!onLoad">
    <mat-tab-group>
      <mat-tab label="{{ ls.locale.cn_reward.b2c_voucher.text2 }}">
        <div class="table-wrapper">
          <div class="hole-cover"></div>
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [loadingIndicator]="loadingIndicator"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [scrollbarH]="true" 
            [reorderable]="reorderable" [count]="pagination.total" [limit]="pagination.per_page" [offset]="offsetPagination" 
            [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)" (sort)="onSort($event)">

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2b_voucher.text2 }}" prop="name">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <a class="direct-edit" (click)="directDetail(row)">{{row.name}} </a>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text11 }}" prop="audience_customer_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.audience_customer_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text12 }}" prop="audience_retailer_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.audience_retailer_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text13 }}" prop="qty_voucher_sent">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.qty_voucher_sent | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text14 }}" prop="customer_redeem_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.customer_redeem_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text15 }}" prop="retailer_receive_voucher_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.retailer_receive_voucher_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text16 }}" prop="voucher_redeem_count">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.voucher_redeem_count | rupiahFormaterWithoutRp }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text17 }}" prop="start_date">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.start_date | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text18 }}" prop="end_date">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.end_date | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text19 }}" prop="available_at">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.available_at | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text20 }}" prop="expired_at">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">{{row.expired_at | date: 'dd/MM/yyyy'}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.cn_reward.b2c_voucher.text21 }}" prop="nominal" >
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                {{row.nominal | rupiahFormater}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.global.label.status }}" prop="status" >
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <span [ngStyle]="{'background-color': row.status == 'draft' ? '#ff7722' : row.status == 'draft_saved' ? '#FFC000' : row.status == 'need_approval' ? '#808080' : row.status == 'publish' ? '#388E3C' : row.status == 'reject' ? '#e90000' : '#3FAFFF', 'padding': '5px', 'border-radius': '5px', color: '#fff' }">{{row.status == 'accept' ? 'Approve' : row.status == 'publish' ? 'Published' : row.status | underscoreToCapitalize}}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{ ls.locale.global.label.action }}" [sortable]="false" [frozenRight]="true">
              <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                <div class="button-row">
                  <button mat-icon-button *ngIf="permission?.ubah" color="" (click)="editVoucher(row)" [disabled]="row.status !== 'draft' && row.status !== 'draft_saved' && row.status !== 'reject'" 
                  [ngStyle]="{'cursor': row.status !== 'draft' && row.status !== 'draft_saved' && row.status !== 'reject' ? 'no-drop' : ''}" title='Ubah'>
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="deleteVoucher(row.id)" title="Hapus"
                    [ngStyle]="{'cursor': !permission?.hapus || row.status !== 'draft' && row.status !== 'draft_saved' && row.status !== 'reject' ? 'no-drop' : ''}" [disabled]="!permission?.hapus && row.status !== 'draft' && row.status !== 'draft_saved' && row.status !== 'reject' || row.status !== 'draft' && row.status !== 'draft_saved' && row.status !== 'reject'">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </mat-tab>
      <mat-tab label="{{ ls.locale.cn_reward.b2c_voucher.text3 }}">
        <app-list-voucher-reimbursement></app-list-voucher-reimbursement>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="onLoad">
    <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'"></mat-progress-bar>
  </div>
</div>