<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>{{'global.label.create_entity' | translate:titleParam}}</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="{{'dte.pengaturan_attribute_misi.mission_type_name' | translate}}" required/>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="success" type="submit">{{'global.button.save' | translate}}</button>
    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="dialogRef.close()"
    >
      {{'global.button.cancel' | translate}}
    </button>
  </mat-dialog-actions>
</form>
