
<div class="ayo-middle p-24" fxLayout="column">
  <div>
    <div
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutGap="20px"
      fxLayoutGap.lt-md="10px"
      fxLayoutAlign="end center"
      class="p-16 export"
    >
      <button
        mat-raised-button
        type="button"
        class="is-danger"
        (click)="exportListDetailVoucher()"
      >
        <mat-icon>vertical_align_top</mat-icon> Export XLS
      </button>
    </div>
    <form [formGroup]="formFilter" autoComplete="off">
      <div class="pl-16 pr-16 mt-8 bb" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px">
        <mat-form-field fxLayout="row" fxLayoutAlign="center center">
          <mat-select placeholder="National" formControlName="national">
            <mat-option [value]="item.id" *ngFor="let item of listLevelArea">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxLayout="row" fxLayoutAlign="center center">
          <mat-select placeholder="Zone" formControlName="zone" multiple>
            <mat-option [value]="item.id" *ngFor="let item of filteringGeotree(list['zone'])">{{item.name === 'all' ? 'Semua
              Zona' :
              item.code}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxLayout="row" fxLayoutAlign="center center">
          <mat-select placeholder="Regional" formControlName="region" multiple>
            <mat-option [value]="item.id" *ngFor="let item of filteringGeotree(list['region'])">{{item.name === 'all' ? 'Semua
              Regional' :
              item.code}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxLayout="row" fxLayoutAlign="center center">
          <mat-select placeholder="Area" formControlName="area" multiple>
            <mat-option [value]="item.id" *ngFor="let item of filteringGeotree(list['area'])">{{item.name === 'all' ? 'Semua
              Area' :
              item.code}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="is-light form-primary">
          <mat-select
            placeholder="Via"
            formControlName="via"
          >
            <mat-option
              *ngFor="let item of viaList"
              [value]="item.value"
            >
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="is-light form-primary">
          <mat-select
            placeholder="Status"
            formControlName="status"
          >
            <mat-option
              *ngFor="let item of statusList"
              [value]="item.value"
            >
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="search-field" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>search</mat-icon>
          <mat-form-field class="is-light tab-search">
            <input matInput placeholder="Cari" (keyup)="keyUp.next($event.target.value)" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
    </form>
    <div>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="48"
        [footerHeight]="56"
        [rowHeight]="'auto'"
        [reorderable]="reorderable"
        [count]="pagination.total"
        [limit]="pagination.per_page"
        [externalPaging]="true"
        [externalSorting]="true"
        (page)="setPage($event)"
        [sorts]="[{ prop: 'name', dir: 'asc' }]"
        (sort)="onSort($event)"
        [scrollbarH]="true"
        fusePerfectScrollbar
      >
        <ngx-datatable-column 
          name="{{ ls.locale.cn_reward.b2c_voucher.text68 }}" 
          prop="voucher_id">
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
            {{row.code}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ ls.locale.global.label.phone }} {{ ls.locale.customer.text1 }}"
          prop="phone"
          [sortable]="false"
        ></ngx-datatable-column>
        <ngx-datatable-column 
          name="{{ ls.locale.customer.text2 }}" 
          prop="name">
        </ngx-datatable-column>
        <ngx-datatable-column
          name="Retailer Code"
          prop="business_code"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Toko SRC"
          prop="retailer_name"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="{{ ls.locale.global.area.area }}"
          prop="area"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="{{ ls.locale.global.area.regional }}"
          prop="region"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="Tanggal Transaksi"
          prop="order_date"
          [sortable]="false"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="{{ ls.locale.cn_reward.b2c_voucher.text70 }}"
          prop="from"
          [sortable]="false"
        >
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <div>{{row.from === 'cashier' ? 'Kasir' : row.from}}</div>
        </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ ls.locale.paylater_management.pengajuan_deaktivasi.text7 }}"
          prop="total_transaction_rupiah"
          [sortable]="false"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ ls.locale.cn_reward.b2c_voucher.text69 }}"
          [sortable]="false"
          [frozenRight]="true"
        >
          <ng-template ngx-datatable-cell-template let-row="row" let-value="value"
            style="justify-content: center !important">
            <div class="button-row" *ngIf="row.from === 'cashier'">
              <button mat-icon-button>
                <mat-icon class="secondary-text">visibility</mat-icon>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>