<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="m-0" fxFlex="1 0 auto" fxLayout="row">
    <div fxFlex fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="start center">
      <span>Panel Blast</span>
      <button
        mat-raised-button
        type="button"
        (click)="export()"
      >
        <mat-icon>arrow_upward</mat-icon> Export Template
      </button>
    </div>
    <!-- CLOSE DIALOG BUTTON -->
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog" [disabled]="uploading">
      <mat-icon>close</mat-icon>
    </button>
    <!-- / CLOSE DIALOG BUTTON -->
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <ngx-datatable [rowClass]="getRowClass" class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
      [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="pagination.total"
      [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="setPage($event)">

      <ngx-datatable-column name="Retailer_id" prop="retailer_id">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
          {{ row.retailer_id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Copywrites" prop="copywrites">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.copywrites }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Blasted Time" prop="blasted_time">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.blasted_time | date:'dd/MM/yyyy' }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Coin Submission" prop="coin_submission">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.coin_submission }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Coin Verification" prop="coin_verification">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.coin_verification }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <a #downloadLink></a>
</div>