<div class="dialog-content-wrapper">

  <mat-toolbar matDialogTitle class="m-0" fxFlex="1 0 auto" fxLayout="row">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span>Panel Blast</span>
      </div>
    </div>
    <!-- CLOSE DIALOG BUTTON -->
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog" [disabled]="uploading">
      <mat-icon>close</mat-icon>
    </button>
    <!-- / CLOSE DIALOG BUTTON -->
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <!-- <div ngfDrop selectable="1" class="rectangle-16" [(validDrag)]="validComboDrag" [(file)]="files"
      accept=".xlsx, .xls" [class.invalid-drag]="validComboDrag===false" [class.valid-drag]="validComboDrag"
      (fileChange)="onFileChange($event)">
      <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
        <mat-icon class="secondary-text s-48">attach_file</mat-icon>
        <br>
        <span matPrefix>Tarik File Kesini atau
          <strong>Pilih File</strong>
        </span>
      </div>
    </div> -->
    
    <!-- <div fxLayout="row" fxLayoutAlign="center center" *ngIf="requestingPreview">
      <div fxFlex>
        <span for="" style="font-weight: bolder;">Requesting Preview</span>
        <mat-progress-spinner mode="indeterminate" diameter="32" style="margin:0 auto;"></mat-progress-spinner>
      </div>
    </div> -->

    <!-- <div class="responsive" *ngIf="!requestingPreview"> -->
    <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
      [offset]="offsetPagination" [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true"
      [reorderable]="reorderable" [selectionType]="'checkbox'" [count]="pagination.total"
      [limit]="pagination.per_page" [externalPaging]="true" [externalSorting]="true" (page)="onPageChange($event)">

      <ngx-datatable-column name="Retailer_id" prop="name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Copywrites" prop="code">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.code }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Blasted Time" prop="tipe">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.tipe }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Coin Submission" prop="ff_name">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.ff_name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Coin Verification" prop="registered">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          {{ row.registered }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>