<div class="dialog-content-wrapper" *ngIf="!onLoad">
  <div *ngIf="data.popupType == 'Verification All TSM Mission'">
    <div class="p-16">
      <div fxLayout="row" fxLayoutAlign="center center" class="info">
        Apakah anda yakin untuk verifikasi (sebanyak {{jumlahMisi}}) misi ini?
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="p-8">
        <mat-radio-group [formControl]="verificationConfirm" >
          <mat-radio-button class="radio-button pr-20" *ngFor="let item of listConfirm;" [value]="item.value">
            {{item.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="isDisagree" fxLayout="row" fxLayoutAlign="center center" class="reason-layout">
        <mat-radio-group [formControl]="reasonConfirm">
          <mat-radio-button class="radio-button pr-20" *ngFor="let item of listReason;" [value]="item.value">
            {{item.name}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="p-8">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" >
        <button mat-raised-button [disabled]="isDisagree && !reason || isDisagree == null" *ngIf="isDisagree && !reason || isDisagree == null" style="cursor: no-drop;">
          Simpan
        </button>
        <button mat-raised-button class="primary-green" (click)="saveVerification()" *ngIf="isDisagree !== null && isDisagree && reason || !isDisagree && isDisagree !== null">
          Simpan
        </button>

        <button mat-raised-button class="ml-20" color="primary" (click)="dialogRef.close()">
          Batal
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="data.popupType == 'Release TSM Coin On Index'">
    <div class="p-16">
      <div fxLayout="row" fxLayoutAlign="center center" class="info">
        Apakah anda yakin untuk mengirim coin untuk misi ini (Total {{totalSRC}} SRC)?
      </div>
    </div>

    <div class="p-8">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-raised-button class="primary-green" (click)="saveCoin()" >
          Simpan
        </button>

        <button mat-raised-button class="ml-20" color="primary" (click)="dialogRef.close()">
          Batal
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="data.popupType == 'Release TSM Coin'">
    <div class="p-16">
      <div fxLayout="row" fxLayoutAlign="center center" class="info">
        Apakah anda yakin untuk mengirim coin untuk SRC {{data.name}} - {{data.code}}?
      </div>
    </div>

    <div class="p-8">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-raised-button class="primary-green" (click)="releaseCoinTsm()" >
          Simpan
        </button>

        <button mat-raised-button class="ml-20" color="primary" (click)="dialogRef.close()">
          Batal
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="data.popupType == 'Verifikasi Misi TSM'">
    <mat-toolbar matDialogTitle class="m-0 header-vm" fxFlex="1 0 auto" fxLayout="row" [ngStyle]="{'background-image': 'url(' + environment?.backgroundImage + ')'}">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <img class="logo-icon" src="assets/images/ayo/Horizontal_(Alt_White)@2x.png" srcset="assets/images/ayo/Horizontal_(Alt_White)@2x.png 2x">
      </div>
      <!-- CLOSE DIALOG BUTTON -->
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close Dialog">
        <mat-icon>close</mat-icon>
      </button>
      <!-- / CLOSE DIALOG BUTTON -->
  
    </mat-toolbar>
    <div class="p-16" fusePerfectScrollbar *ngIf="dataSubmission !== null" style="max-height: 600px;">
      <div *ngIf="dataSubmission.data.image" class="mb-8">
        <img src="{{dataSubmission.data.image}}" (click)="previewImage(dataSubmission.data.image)"/>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" style="font-size: 16px;">
        {{dataSubmission.data.name}} </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="title">
       Deadline
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="desc">
        {{dataSubmission.data.end_date}}
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="title">
        Deskripsi
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="desc">
        {{dataSubmission.data.description}}
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="title">
        Coin yang akan diperoleh
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="desc coin">
        <img src="assets/images/ayo/coin.png" width="20" height="20" class="mr-8"/> {{dataSubmission.data.coin_verification}}
      </div>
      <div *ngFor="let item of dataSubmission.data.submissions; let i = index;" fxLayout="row" fxLayoutAlign="start start" class="info mb-8">
        <div class="number" fxLayout="column" fxLayoutAlign="start start">{{i + 1}}.</div>
        <div class="question" fxLayout="column" fxLayoutAlign="start start">
          <video [src]="item.question_video" *ngIf="item.question_video" height="200" controls class="mb-8"></video>
          <img [src]="item.question_image" *ngIf="item.question_image" class="answer-img mb-8" (click)="previewImage(item.question_image)"/>
          <img [src]="dataSubmission.data.questions[i].question_image" *ngIf="!item.question_image && dataSubmission.data.questions[i].question_image" 
          class="answer-img mb-8" (click)="previewImage(dataSubmission.data.questions[i].question_image)"/>
          <span style="text-align: left;">{{item.question}}</span>
          <div *ngIf="item.type == 'radio'" fxLayout="column" fxLayoutAlign="start start">
            <div *ngFor="let answer of item.additional;" fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text" fxFlex="5" *ngIf="answer !== item.answer[0]">
                  {{item.type === 'radio' ? 'radio_button_unchecked' : 'check_box_outline_blank'}}
                </mat-icon>
                <mat-icon class="secondary-text" fxFlex="5" *ngIf="answer === item.answer[0]">
                  {{item.type === 'radio' ? 'radio_button_checked' : 'check_box_outline'}}
                </mat-icon>
                <div>
                  {{answer}}
                </div>
            </div>
          </div>

          <div *ngIf="item.type == 'checkbox'" fxLayout="column" fxLayoutAlign="start start">
            <div *ngFor="let answer of item.answer;" fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
                <!-- <mat-icon class="secondary-text" fxFlex="5" *ngIf="answer !== dataSubmission.data.submission[i].answer[0]">
                  {{'check_box_outline_blank'}}
                </mat-icon> -->
                <mat-icon class="secondary-text" fxFlex="5">
                  {{'check_box_outline'}}
                </mat-icon>
                <div>
                  {{answer}}
                </div>
            </div>
          </div>

          <div *ngIf="item.type == 'text' || item.type == 'textarea' || item.type == 'numeric' || item.type == 'date' || item.type == 'stock_check'" fxLayout="column" fxLayoutAlign="start start">
            <div>
              {{dataSubmission.data.submissions[i].answer[0]}}
            </div>
          </div>

          <div *ngIf="item.type == 'image'" fxLayout="column" fxLayoutAlign="start start">
            <img src="{{item.answer_image}}" class="answer-img" (click)="previewImage(item.answer_image)"/>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="dataSubmission.data.submission_status != 'approved' && dataSubmission.data.submission_status != 'rejected'" class="p-8">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <button mat-raised-button class="primary-green" (click)="verifikasiMisi('setuju')" >
          Setujui
        </button>

        <button mat-raised-button class="ml-20" color="primary" (click)="verifikasiMisi('tolak')">
          Tolak
        </button>
      </div>
    </div>
  </div>

</div>
<div *ngIf="onLoad">
  <mat-progress-bar class="loading-bar" mode="indeterminate"></mat-progress-bar>
</div>
